<section *ngrxLet="useCase$().hero as hero"
         class="relative w-full h-full z-10 pb-10 bg-white">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="w-full h-full" src="../../assets/img/building.jpg" alt="">
    </div>
    <div class="lg:px-10 p-5 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-6 relative">
            <div>
                <h3 class="lg:text-[3rem] text-2xl font-bold leading-[60px] text-[#3e4450]">
                    {{hero.title.plain}}
                    <span *ngIf="hero.title.highlight as highlighted" class="text-primary">{{highlighted}}</span>
                </h3>
                <p *ngFor="let paragraph of hero.content; let index = index" class="my-4 text-base font-normal"> {{paragraph}} </p>
                <div class="flex items-center justify-between">
                    <div class="flex gap-4">
                        <button class="highlight-button primary">
                            {{hero.cta}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="demo-placeholder h-[400px]"></div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="page py-8 flex flex-wrap justify-around gap-4">
        <div *ngFor="let logo of customerLogos">
            <img class="w-32" [src]="logo" alt="">
        </div>
    </div>
</section>

<section class="py-[60px] bg-white">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">Advantages of using <span class="text-primary">EASWORKS</span></h2>
            <p class="my-4 text-base font-normal">Our flexible engagement models allow to have access to some of Top
                Enterprise Tech Leaders in your enterprise domain to help and transform your business.

            </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center">
            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/5bf7837c-438a-4a4e-a94d-7a36e8b9562a/cMaf4XaF50.json"
                                   background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                                   autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We see the person and the engineer.</h4>
                <p class="text-sm leading-6">You are more than your resume and deserve a dedicated Enterprise
                    Application Platform to share your skills and do what you love.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/3a6e85a5-efa3-4b74-8850-f8595245abd1/gfULmGWGsu.json"
                                   background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                                   autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">Grow your client base</h4>
                <p class="text-sm leading-6">We give you the ideal platform to build a client base without too much
                    effort so that you can form long-lasting professional relationships in the enterprise software
                    field.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                                   background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                                   autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We match your paycheck with your experience and skill set.</h4>
                <p class="text-sm leading-6">Find the right opportunity at a salary that reflects your expertise and
                    skills, with room for additional benefits via Deel.</p>
            </div>
        </div>

    </div>
</section>


<section class="py-[60px]">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">How <span class="text-primary">Digital continuity & transformation (DX) works
                    ?</span></h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-start">
            <div class="relative">
                <div class="demo-placeholder h-[400px]"></div>
            </div>
            <div class="relative">
                <ul>
                    <li class="relative border-l border-dashed pl-[50px] pb-[20px] border-black">
                        <div
                             class="absolute w-[45px] min-w-[45px] h-[45px] text-[16px] bg-primary flex items-center justify-center rounded-full top-[-10px] left-[-23px] border">
                            <span class="text-white font-semibold">01</span>
                        </div>
                        <div class="relative">
                            <h1 class="text-[18px] text-black mb-5 font-semibold">Identify the problems you want to
                                solve</h1>
                            <p class="text-base leading-6">The first step is to start with WHY and clearly define your
                                Digital transformation strategic objectives which may be to expand your business? Is it
                                about keeping up with competitors? Or maybe you just want to improve overall efficiency.
                            </p>
                        </div>
                    </li>
                    <li class="relative border-l border-dashed pl-[50px] pb-[20px] border-black">
                        <div
                             class="absolute w-[45px] min-w-[45px] h-[45px] text-[16px] bg-primary flex items-center justify-center rounded-full top-[-10px] left-[-23px] border">
                            <span class="text-white font-semibold">02</span>
                        </div>
                        <div class="relative">
                            <h1 class="text-[18px] text-black mb-5 font-semibold">Create and foster a digital culture
                            </h1>
                            <p class="text-base leading-6">To provide new software onboarding for all your employees to
                                teach them how to use new enterprise application solutions. Continuous support should
                                also be available until they feel comfortable working with these tools.</p>
                        </div>
                    </li>

                    <li class="relative border-l border-dashed pl-[50px] pb-[20px] border-black">
                        <div
                             class="absolute w-[45px] min-w-[45px] h-[45px] text-[16px] bg-primary flex items-center justify-center rounded-full top-[-10px] left-[-23px] border">
                            <span class="text-white font-semibold">03</span>
                        </div>
                        <div class="relative">
                            <h1 class="text-[18px] text-black mb-5 font-semibold">Map and analyze your current business
                                processes</h1>
                            <p class="text-base leading-6">Start with a few impactful and concrete initiatives that will
                                show measurable results within the first few months. Mapping and analyzing existing
                                business processes will help you identify inefficiencies and opportunities for
                                improvement.</p>
                        </div>
                    </li>

                    <li class="relative border-l border-dashed pl-[50px] pb-[20px] border-black">
                        <div
                             class="absolute w-[45px] min-w-[45px] h-[45px] text-[16px] bg-primary flex items-center justify-center rounded-full top-[-10px] left-[-23px] border">
                            <span class="text-white font-semibold">04</span>
                        </div>
                        <div class="relative">
                            <h1 class="text-[18px] text-black mb-5 font-semibold">Invest in the right digital solutions
                            </h1>
                            <p class="text-base leading-6">Redesign your operating processes to get the most out of the
                                new technologies and start creating business value within few months.</p>
                        </div>
                    </li>

                    <li class="relative pl-[50px] pb-[20px] border-black">
                        <div
                             class="absolute w-[45px] min-w-[45px] h-[45px] text-[16px] bg-primary flex items-center justify-center rounded-full top-[-10px] left-[-23px] border">
                            <span class="text-white font-semibold">05</span>
                        </div>
                        <div class="relative">
                            <h1 class="text-[18px] text-black mb-5 font-semibold">Focus on continuous improvement</h1>
                            <p class="text-base leading-6">Reach out to customers, partners, employees, and other
                                relevant stakeholders to ask for their feedback.</p>
                            <p class="text-base leading-6">Digital transformation is not a one-time event. Businesses
                                need to continuously transform to create new value, stay competitive, and thrive in the
                                digital age.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>


<section class="py-[60px] relative z-10 bg-[#494b4e]">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
    </div>
    <div class="page">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center relative">
            <div>
                <h2 class="text-[2rem] leading-[50px] mb-[20px] text-white text-left">Come join 20+ companies that are
                    hiring Enterprise Application software (EAS) Talents On-demand</h2>
                <div class="flex gap-3">
                    <button class="shaded-button primary">HIRE NOW</button>
                </div>

            </div>

            <div class="flex justify-center mt-8 text-center">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_i4kj2vtq.json"
                               background="transparent" speed="1" style="width: 100%; height: 100%" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</section>

<section class="py-[60px]">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold mb-5">The right EAS talent for the job</h2>
            <p class="text-base leading-6">Our Enterprise Application freelancers have years of experience rapidly in implementing Digital continuity and transformation initiatives</p>
        </div>
        <div class="flex justify-center items-center gap-10">
            <div class="columns-sm">
                <div class="bg-white border flex flex-col items-center justify-center px-4 py-5 relative text-center">
                    <div class="text-center">
                        <img class="h-[100px] w-[100px] object-cover rounded-full" src="../../assets/img/profile.jpg" alt="">
                    </div>
                    <div class="relative">
                        <h2 class="text-[18px] font-semibold mb-2">David Jhon Warner</h2>
                        <span class="text-base block font-medium">Web Designer,4 Years</span>
                        <p class="text-[#667488] text-base my-2">Co-Founder of YC Startup, EIR at the VR fund</p>

                        <div class="flex justify-center items-center gap-2">
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Photoshop</a>
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Sketch</a>
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Illustrator</a>
                        </div>
                        <h6 class="mt-5 font-medium">EASWORKS Since 2015</h6>
                    </div>
                </div>
            </div>
            <div class="columns-sm">
                <div class="bg-white border flex flex-col items-center justify-center px-4 py-5 relative text-center">
                    <div class="text-center">
                        <img class="h-[100px] w-[100px] object-cover rounded-full" src="../../assets/img/profile.jpg" alt="">
                    </div>
                    <div class="relative">
                        <h2 class="text-[18px] font-semibold mb-2">Vinoth Kumar</h2>
                        <span class="text-base block font-medium">Product Manager,30 Years</span>
                        <p class="text-[#667488] text-base my-2">Co-Founder of YC Startup, EIR at the VR fund</p>

                        <div class="flex justify-center items-center gap-2">
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Photoshop</a>
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Ux</a>
                            <a href="#" class="py-1 px-3 bg-primary text-white text-[14px] rounded-full hover:text-white">Illustrator</a>
                        </div>
                        <h6 class="mt-5 font-medium">EASWORKS Since 2010</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-[60px] relative z-10 bg-primary">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
    </div>
    <div class="page">
        <div class="grid grid-cols-1 lg:grid-cols-1 items-center relative">
            <div>
                <h2 class="text-[2rem] leading-[50px] mb-[20px] text-white text-center">Helps you to Implement and transform your business with Digital continuity & Transformation Initiatives.</h2>

                <div class="text-center flex justify-center flex-col">
                    <div class="relative mb-6">
                        <button class="shaded-button m-[auto]">START TO IMPLEMENT DIGITAL TRANSFORMATION </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>