<div class="flex flex-wrap">

  <div class="page flex-1">

    <!-- <div class="bg-surface shadow-md shadow-slate-300"> -->
    <h1 class="bg-surface shadow
        rounded-md p-2 px-4
        text-2xl font-bold text-primary-900">Company Profile</h1>
    <!-- </div> -->


    <mat-divider class="!mt-4"></mat-divider>

    <form [formGroup]="form">

      <!-- company details -->
      <div class="page-section mt-4">
        <h2 class="header">Company Details</h2>

        <div class="content mt-4">
          <!-- name -->
          <div *ngrxLet="form.controls.name as control"
               [formFieldControl]="control">
            <label>
              Company Name
              <span class="text-warn">*</span>
            </label>
            <input type="text" [formControl]="control" maxlength="128" placeholder="Name">
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- description -->
          <div *ngrxLet="form.controls.description as control"
               [formFieldControl]="control">
            <label>
              Company Description
              <span class="text-warn">*</span>
            </label>
            <div class="field field-interactive h-64 mt-2">
              <textarea [formControl]="control"
                        placeholder="Summary/Description"
                        class="resize-none"></textarea>
            </div>

            @if(control.hasError('required')){<span class="error">Required</span>}
            @if(control.hasError('maxlength')){<span class="error">{{control.value.length || 0}}/1500</span>}
            <span class="hint">{{control.value.length || 0}}/1500</span>
          </div>

          <!-- company type -->
          <div *ngrxLet="form.controls.type as control"
               [formFieldControl]="control">
            <label>
              Company Type
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Type">
              @for(option of options.clientType; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- business entity type -->
          <div *ngrxLet="form.controls.businessEntityType as control"
               [formFieldControl]="control">
            <label>
              Business Entity Type
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Entity Type">
              @for(option of options.businessType; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- business size by employee -->
          <div *ngrxLet="form.controls.employeeCount as control"
               [formFieldControl]="control">
            <label>
              Company Size
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Size">
              @for(option of options.employeeCount; track option) {
              <mat-option [value]="option">{{option}} employees</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- annual revenue range -->
          <div *ngrxLet="form.controls.annualRevenueRange as control"
               [formFieldControl]="control">
            <label>
              Annual Revenue Range
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Annual Revenue">
              @for(option of options.annualRevenue; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>
        </div>

      </div>

      <!-- enterprise applications and software -->
      <div class="page-section mt-4">
        <h2 class="header">Enterprise Applications & Software</h2>

        <!-- domains -->
        <div class="content mb-4 mt-2 @container">
          <div class="flex gap-2 flex-col justify-between text-sm @xs:flex-row">
            <span class="font-bold self-center">Enterprise Application Domains</span>
            <div class="flex-grow @xs:flex-none flex gap-2 text-slate-500 items-center justify-between">
              <span class="flex gap-2 items-center">
                <fa-icon [icon]="icons.faCircleInfo" class=""></fa-icon>
                <span>Select 1 - {{maxLength.domains}} items</span>
              </span>
              <span *ngrxLet="domains.count$() as count" class="selection-counter" [class.selected]="count > 0">
                {{count}} selected
              </span>
            </div>
          </div>

          @if(domains.count$() > 0) {
          <div class="mt-2 flex flex-wrap gap-4">
            @for(chip of domains.value$(); track chip.id) {
            <div class="chip">
              <span>{{chip.longName}}</span>
              <button type="button" mat-ripple class="icon-button"
                      (click)="domains.remove($index)">
                <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
              </button>
            </div>
            }
          </div>
          }

          @if(domains.allowAdd$()) {
          <div class="mt-2">
            <div class="form-field mb-0">
              <input type="text" [(ngModel)]="domains.query$" [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="searchOptions" clearTriggerOnSelect
                     placeholder="Add Domains">
            </div>

            <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="domains.displayWith"
                              (optionSelected)="domains.onSelect($event)">
              @for(option of domains.results$(); track option.id) {
              <mat-option [value]="option">{{option.longName}}</mat-option>
              }
            </mat-autocomplete>
          </div>
          }
        </div>

        <!-- software -->
        <div class="content mb-4 mt-4 @container">
          <div class="flex gap-2 flex-col justify-between text-sm @xs:flex-row">
            <span class="font-bold self-center">Software Products</span>
            <div class="flex-grow @xs:flex-none flex gap-2 text-slate-500 items-center justify-between">
              <span class="flex gap-2 items-center">
                <fa-icon [icon]="icons.faCircleInfo" class=""></fa-icon>
                <span>Select 1 - {{maxLength.software}} items</span>
              </span>
              <span *ngrxLet="software.count$() as count" class="selection-counter" [class.selected]="count > 0">
                {{count}} selected
              </span>
            </div>
          </div>

          @if(software.count$() > 0) {
          <div class="mt-2 flex flex-wrap gap-4">
            @for(chip of software.value$(); track chip.id) {
            <div class="chip">
              <span>{{chip.name}}</span>
              <button type="button" mat-ripple class="icon-button"
                      (click)="software.remove($index)">
                <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
              </button>
            </div>
            }
          </div>
          }

          @if(software.allowAdd$()) {
          <div class="mt-2">
            <div class="form-field mb-0">
              <input type="text" [(ngModel)]="software.query$" [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="searchOptions" clearTriggerOnSelect
                     placeholder="Add Software Products">
            </div>

            <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="software.displayWith"
                              (optionSelected)="software.onSelect($event)">
              @for(option of software.results$(); track option.id) {
              <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-autocomplete>
          </div>
          }
        </div>
      </div>

      <!-- industry information -->
      <div class="page-section mt-4">
        <h2 class="header">Industry Information</h2>

        <div class="content mt-2 mb-4 @container">
          <div class="flex gap-2 flex-col justify-between text-sm @xs:flex-row">
            <span class="font-bold">Industry</span>
            <div class="flex-grow @xs:flex-none flex gap-2 text-slate-500 items-center justify-between">
              <span class="flex gap-2 items-center">
                <fa-icon [icon]="icons.faCircleInfo" class=""></fa-icon>
                <span>Select 1 item</span>
              </span>
            </div>
          </div>

          @if (industry.value$(); as clientIndustry) {
          <div class="mt-4 flex flex-wrap gap-4">
            <div class="chip">
              <span class="flex gap-4 justify-between items-center">
                <span>{{clientIndustry.name}}</span>
                <span class="text-sm italic text-on-surface-variant/80">{{clientIndustry.group}}</span>
              </span>
              <button type="button" mat-ripple (click)="industry.remove()">
                <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
              </button>
            </div>
          </div>
          }
          @else {
          <div class="mt-4">
            <div class="form-field mb-0">
              <input type="text" [(ngModel)]="industry.query$" [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="searchOptions" clearTriggerOnSelect
                     placeholder="Select Industry">
            </div>

            <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="industry.displayWith"
                              (optionSelected)="industry.onSelect($event)">
              @for(option of industry.results$(); track option) {
              <mat-option [value]="option">
                {{option.name}} - {{option.group}}
              </mat-option>
              }
            </mat-autocomplete>
          </div>
          }
        </div>
      </div>

      <!-- location and timezone -->
      <div class="page-section mt-4">
        <h2 class="header">Location & Timezone</h2>

        <div class="content mt-2 @container">
          <csc-form [control]="form.controls.location"></csc-form>
        </div>
      </div>

      <!-- contact information -->
      <div class="page-section mt-4">
        <h2 class="header">Contact Information</h2>

        <div class="content mb-4 @container">
          <div class="border rounded-md mt-4">
            <div class="p-2 text-sm font-semibold">Primary</div>
            <mat-divider></mat-divider>
            <div class="p-4">
              <client-profile-contact-form [control]="form.controls.contact.controls.primary"></client-profile-contact-form>
            </div>
          </div>

          <div class="border rounded-md mt-4">
            <div class="p-2 text-sm font-semibold">Secondary</div>
            <mat-divider></mat-divider>
            <div class="p-4">
              <client-profile-contact-form [control]="form.controls.contact.controls.secondary"></client-profile-contact-form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  @if (isNew$()) {
  <div class="w-full transition-all @7xl:max-w-lg">
    <client-profile-edit-cards></client-profile-edit-cards>
  </div>
  }


</div>