<div class="flex flex-wrap">

  <div class="page flex-1">
    <form [formGroup]="form">
      <div class="rounded-md bg-surface">
        <h2 class="p-4 text-xl font-semibold">Company Profile</h2>
        <mat-divider></mat-divider>
        <!-- name and summary -->
        <div class="p-4">
          <div *ngrxLet="form.controls.name as control"
               [formFieldControl]="control">
            <label>
              Company Name
              <span class="text-warn">*</span>
            </label>
            <input type="text" [formControl]="control" maxlength="128" placeholder="Name">
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <div *ngrxLet="form.controls.description as control"
               [formFieldControl]="control">
            <label>
              Company Description
              <span class="text-warn">*</span>
            </label>
            <div class="field field-interactive h-64 mt-2">
              <textarea [formControl]="control"
                        placeholder="Summary/Description"
                        class="resize-none"></textarea>
            </div>

            @if(control.hasError('required')){<span class="error">Required</span>}
            @if(control.hasError('maxlength')){<span class="error">{{control.value.length || 0}}/1500</span>}
            <span class="hint">{{control.value.length || 0}}/1500</span>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="p-4">
          <!-- company type -->
          <div *ngrxLet="form.controls.type as control"
               [formFieldControl]="control">
            <label>
              Company Type
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Type">
              @for(option of options.clientType; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>


          <!-- business size by employee -->
          <div *ngrxLet="form.controls.size as control"
               [formFieldControl]="control">
            <label>
              Company Size
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Size">
              @for(option of options.clientSize; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- annual revenue range -->
          <div *ngrxLet="form.controls.annualRevenueRange as control"
               [formFieldControl]="control">
            <label>
              Annual Revenue Range
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" placeholder="Annual Revenue">
              @for(option of options.annualRevenue; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>
        </div>

        <mat-divider></mat-divider>

        <!-- domains -->
        <div class="p-4 @container">
          <div class="flex gap-2 flex-col justify-between @xs:flex-row">
            <span class="font-bold">Domains</span>
            <div class="flex-grow @xs:flex-none flex gap-2 text-sm text-slate-500 items-center justify-between">
              <span class="flex gap-2 items-center">
                <fa-icon [icon]="icons.faCircleInfo" class=""></fa-icon>
                <span>Select 1 - 3 items</span>
              </span>
              <span *ngrxLet="domains.count$() as count" class="selection-counter" [class.selected]="count > 0">
                {{count}} selected
              </span>
            </div>
          </div>

          @if(domains.count$() > 0) {
          <div class="mt-2 flex flex-wrap gap-4">
            @for(chip of domains.value$(); track chip.id) {
            <div class="chip">
              <span>{{chip.longName}}</span>
              <button type="button" mat-ripple class="icon-button"
                      (click)="domains.remove($index)">
                <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
              </button>
            </div>
            }
          </div>
          }

          @if(domains.allowAdd$()) {
          <div class="mt-4">
            <div class="form-field mb-0">
              <input type="text" [(ngModel)]="domains.query$" [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="searchOptions" clearTriggerOnSelect
                     placeholder="Add Domains">
            </div>

            <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="domains.displayWith"
                              (optionSelected)="domains.onSelect($event)">
              @for(option of domains.results$(); track option.id) {
              <mat-option [value]="option">{{option.longName}}</mat-option>
              }
            </mat-autocomplete>
          </div>
          }


        </div>

        <mat-divider></mat-divider>

        <!-- software products -->
        <div class="p-4 @container">
          <div class="flex gap-2 flex-col justify-between @xs:flex-row">
            <span class="font-bold">Software Products</span>
            <div class="flex-grow @xs:flex-none flex gap-2 text-sm text-slate-500 items-center justify-between">
              <span class="flex gap-2 items-center">
                <fa-icon [icon]="icons.faCircleInfo" class=""></fa-icon>
                <span>Select 1 - 3 items</span>
              </span>
              <span *ngrxLet="software.count$() as count" class="selection-counter" [class.selected]="count > 0">
                {{count}} selected
              </span>
            </div>
          </div>

          @if(software.count$() > 0) {
          <div class="mt-2 flex flex-wrap gap-4">
            @for(chip of software.value$(); track chip.id) {
            <div class="chip">
              <span>{{chip.name}}</span>
              <button type="button" mat-ripple class="icon-button"
                      (click)="software.remove($index)">
                <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
              </button>
            </div>
            }
          </div>
          }

          @if(software.allowAdd$()) {
          <div class="mt-4">
            <div class="form-field mb-0">
              <input type="text" [(ngModel)]="software.query$" [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="searchOptions" clearTriggerOnSelect
                     placeholder="Add Software Products">
            </div>

            <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="software.displayWith"
                              (optionSelected)="software.onSelect($event)">
              @for(option of software.results$(); track option.id) {
              <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-autocomplete>
          </div>
          }
        </div>

        <mat-divider></mat-divider>

        <div class="p-4">

          <!-- preferred service type -->
          <div *ngrxLet="form.controls.hiringPreferences.controls.serviceType as control"
               [formFieldControl]="control">
            <label>
              Preferred Service Type
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" multiple placeholder="Service Type">
              @for(option of options.serviceType; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- preferred talent experience -->
          <div *ngrxLet="form.controls.hiringPreferences.controls.experience as control"
               [formFieldControl]="control">
            <label>
              Preferred Talent Experience
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" multiple placeholder="Experience">
              @for(option of options.experience; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>

          <!-- preferred work environment -->
          <div *ngrxLet="form.controls.hiringPreferences.controls.workEnvironment as control"
               [formFieldControl]="control">
            <label>
              Preferred Work Environment
              <span class="text-warn">*</span>
            </label>

            <mat-select [formControl]="control" multiple placeholder="Work Environment">
              @for(option of options.workEnvironment; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
            @if(control.hasError('required')){<span class="error">Required</span>}
          </div>
        </div>



      </div>
    </form>
  </div>

  @if (isNew$()) {
  <div class="w-full transition-all @7xl:max-w-lg">
    <client-profile-edit-cards></client-profile-edit-cards>
  </div>
  }


</div>