<mat-accordion class="block !mt-4">

  @for(panel of accordion.panels.$(); track panel.data.id) {
  <mat-expansion-panel class="!shadow-z1">
    <mat-expansion-panel-header>{{panel.data.name}}</mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <div class="p-4">
      <form *ngrxLet="panel.form as form"
            [formGroup]="form">
        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control">
          <label>Group Name</label>
          <input type="text" [formControl]="control">
        </div>
      </form>

      @if (!panel.unchanged$()) {
      <div class="flex gap-4">
        <button class="stroked-button primary" mat-ripple
                [disabled]="panel.submit.disabled$()"
                (click)="panel.submit.click()">
          <replace-spinner [showSpinner]="panel.submit.loading$()">
            Update
          </replace-spinner>
        </button>
        <button class="stroked-button" mat-ripple
                [disabled]="panel.submit.disabled$()"
                (click)="panel.reset.click()">
          Reset
        </button>
      </div>
      }
      <div></div>
    </div>
    <mat-divider></mat-divider>
    <div class="p-4 flex gap-4 flex-wrap justify-stretch">

      @for(skill of panel.skills; track skill.id) {
      <div class="border rounded-lg p-1 px-4">
        {{skill.name}}
      </div>
      }
    </div>
  </mat-expansion-panel>
  }

</mat-accordion>