@let form = form$();

<div class="grid @xl:grid-cols-2 gap-x-8">

  <div *ngrxLet="form.controls.name as control"
       [formFieldControl]="control">

    <label>
      Name
      <span class="text-warn">*</span>
    </label>

    <input type="text" [formControl]="control" placeholder="Name">
    @if (control.hasError('required')){<span class="error">Required</span>}

  </div>

  <div *ngrxLet="form.controls.email as control"
       [formFieldControl]="control">

    <label> Email </label>

    <input type="text" [formControl]="control" placeholder="Email" [crossValidate]="['requireContact']">
    @if (control.hasError('requireContact')){<span class="error">Either email or phone is required</span>}

  </div>

  <div *ngrxLet="form.controls.phoneNumber as control"
       [formFieldControl]="control">

    <label>Phone Number</label>

    <phone-number-input [formGroup]="control"
                        [options]="phoneCode.options$()"
                        [crossValidate]="['requireContact']">
    </phone-number-input>

    @if (control.controls.code.invalid) {<span class="error">Invalid Code</span>}
    @if (control.controls.number.hasError('pattern')) {<span class="error">Invalid number</span>}
    @if (control.controls.number.hasError('required')) {<span class="error">Number required</span>}
    @if (control.hasError('requireContact')){<span class="error">Either email or phone is required</span>}
  </div>

  <div *ngrxLet="form.controls.website as control"
       [formFieldControl]="control">

    <label>Website</label>

    <input type="text" [formControl]="control" placeholder="Website">

  </div>


</div>