<section class="page mx-auto py-12">
  <div>
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mx-auto"
    >
      Detailed <span class="text-primary-500"> Services</span>
    </h2>

    <img
      src="/assets/public/use-cases/qa-and-testing/overview/border-btm.svg"
      alt="Image not found"
      class="block mx-auto mb-10 mt-3"
    />
  </div>

  <div
    class="grid 6xl:grid-cols-4 4xl:grid-cols-3 2xl:grid-cols-2 my-20 8xl:w-11/12 2xl:w-full lg:w-11/12 mx-auto relative 3xl:gap-y-20 gap-y-28 items-start"
  >
    <div class="bg-img1 px-6 py-10 relative">
      <div class="text-white 7xl:w-3/4">
        <h5 class="text-xl font-bold mb-1">Requirement Analysis</h5>
        <p class="!leading-5 text-sm">
          Understand and define testing requirements.
        </p>
      </div>

      <div
        class="bg-primary-900 p-2 rounded-full absolute -top-12 10xl:right-[8%] 8xl:right-[4.5%] 7xl:right-[2%] 6xl:right-0 5xl:right-2 2xl:right-0 lg:right-[9%] sm:right-[5%] right-0"
      >
        <img
          src="/assets/public/use-cases/qa-and-testing/details/analysis.svg"
          alt="Image not found"
        />
      </div>
    </div>

    <div class="bg-img2 p-10 relative 6xl:mt-20">
      <div class="text-white 7xl:w-3/4">
        <h5 class="text-xl font-bold mb-1">Test Planning</h5>
        <p class="!leading-5 text-sm">Develop detailed test plans and cases.</p>
      </div>

      <div
        class="bg-primary-500 p-2 rounded-full absolute -bottom-12 10xl:right-[8%] 8xl:right-[3.7%] 6xl:-right-1 5xl:right-1 2xl:-right-1 lg:right-[8%] sm:right-[5%] right-0"
      >
        <img
          src="/assets/public/use-cases/qa-and-testing/details/planning.svg"
          alt="Image not found"
        />
      </div>
    </div>

    <div class="bg-img3 px-6 py-10 relative">
      <div class="text-white ps-2">
        <h5 class="text-xl font-bold mb-1">Execution</h5>
        <p class="!leading-5 text-sm">
            Conduct rigorous testing,
            including functional, performance,
            and security testing.
        </p>
      </div>

      <div
        class="bg-primary-900 p-2 rounded-full absolute -top-12 10xl:right-[8%] 8xl:right-[4.5%] 7xl:right-[2%] 6xl:right-0 5xl:right-2 2xl:right-0 lg:right-[9%] sm:right-[5%] right-0"
      >
        <img
          src="/assets/public/use-cases/qa-and-testing/details/execution.svg"
          alt="Image not found"
        />
      </div>
    </div>

    <div class="bg-img4 p-10 relative 6xl:mt-20">
      <div class="text-white 7xl:w-3/4">
        <h5 class="text-xl font-bold mb-1">Reporting</h5>
        <p class="!leading-5 text-sm">Provide detailed reports
            and recommendations.</p>
      </div>

      <div
        class="bg-primary-500 p-2 rounded-full absolute -bottom-12 10xl:right-[8%] 8xl:right-[3.7%] 6xl:-right-1 5xl:right-1 2xl:-right-1 lg:right-[8%] sm:right-[5%] right-0"
      >
        <img
          src="/assets/public/use-cases/qa-and-testing/details/reporting.svg"
          alt="Image not found"
        />
      </div>
    </div>
  </div>
</section>
