<section class="page max-w-full my-10">
  <h2
    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mb-5"
  >
    Process/ <span class="text-primary-500"> Methodology</span>
  </h2>

  <div
    class="8xl:w-4/5 w-11/12 mx-auto grid 7xl:grid-cols-5 5xl:grid-cols-4 3xl:grid-cols-3 xl:grid-cols-2 gap-y-5 mt-3"
  >
    <div class="bg-img1 h-[416px] relative 7xl:mt-40">
      <h5
        class="uppercase text-white text-xl font-semibold w-fit absolute left-2/4 -translate-x-2/4 top-20 -translate-y-2 -rotate-3 tracking-wider"
      >
        Step 1
      </h5>

      <div
        class="mt-1 text-center w-36 mx-auto absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 9xl:-ms-3"
      >
        <h5 class="7xl:text-2xl text-xl font-bold text-primary-500">
          Assessment
        </h5>
        <p class="leading-5 2xl:text-base text-sm">
          Assess current digital capabilities and identify opportunities.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/digital-transformation/process/assessment-img.svg"
        alt="Assessment"
        class="absolute bottom-6 left-2/4 -translate-x-2/4 -ms-2"
      />
    </div>

    <div class="bg-img2 h-[416px] relative 7xl:mt-20">
      <h5
        class="uppercase text-white text-xl font-semibold w-fit absolute left-2/4 -translate-x-2/4 top-20 -translate-y-2 -rotate-3 tracking-wider"
      >
        Step 2
      </h5>

      <div
        class="mt-1 text-center w-36 mx-auto absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 9xl:-ms-3"
      >
        <h5 class="7xl:text-2xl text-xl font-bold text-primary-500">
          Strategy Development
        </h5>
        <p class="leading-5 2xl:text-base text-sm">
          Develop a digital transformation roadmap.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/digital-transformation/process/strategy-img.svg"
        alt="Strategy Development"
        class="absolute bottom-6 left-2/4 -translate-x-2/4 -ms-2"
      />
    </div>

    <div class="bg-img3 h-[416px] relative">
      <h5
        class="uppercase text-white text-xl font-semibold w-fit absolute left-2/4 -translate-x-2/4 top-20 -translate-y-2 tracking-wider"
      >
        Step 3
      </h5>

      <div
        class="mt-1 text-center w-36 mx-auto absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 9xl:-ms-3"
      >
        <h5 class="7xl:text-2xl text-xl font-bold text-primary-500">
          Implemen -tation
        </h5>
        <p class="leading-5 2xl:text-base text-sm">
          Implement advanced digital technologies.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/digital-transformation/process/implementation-img.svg"
        alt="Implemen
        -tation"
        class="absolute bottom-6 left-2/4 -translate-x-2/4 -ms-2"
      />
    </div>

    <div class="bg-img4 h-[416px] relative 7xl:mt-20">
      <h5
        class="uppercase text-white text-xl font-semibold w-fit absolute left-2/4 -translate-x-2/4 top-20 rotate-3 tracking-wider"
      >
        Step 4
      </h5>

      <div
        class="mt-1 text-center w-36 mx-auto absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 9xl:-ms-3"
      >
        <h5 class="7xl:text-2xl text-xl font-bold text-primary-500">
          Change Management
        </h5>
        <p class="leading-5 2xl:text-base text-sm">
          Facilitate smooth transition and adoption.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/digital-transformation/process/management-img.svg"
        alt="Strategy Development"
        class="absolute bottom-6 left-2/4 -translate-x-2/4 -ms-2"
      />
    </div>

    <div class="bg-img5 h-[416px] relative 7xl:mt-40">
      <h5
        class="uppercase text-white text-xl font-semibold w-fit absolute left-2/4 -translate-x-2/4 top-20 rotate-3 tracking-wider"
      >
        Step 5
      </h5>

      <div
        class="mt-1 text-center w-36 mx-auto absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 9xl:-ms-3"
      >
        <h5 class="7xl:text-2xl text-xl font-bold text-primary-500">
          Testing and Quality Assurance
        </h5>
        <p class="leading-5 2xl:text-base text-sm">
          Ensure new digital solutions meet desired outcomes.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/digital-transformation/process/assurance-img.svg"
        alt="Strategy Development"
        class="absolute bottom-6 left-2/4 -translate-x-2/4 -ms-2"
      />
    </div>
  </div>
</section>
