<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="helpcenter-smallbox">
                <div class="help-center-view">
                    <ul class="hcv-type">
                        <li>
                            <a [routerLink]="['/help-center']">Help Center</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="active">Clients Overview</a>
                        </li>
                    </ul>
                </div>

                <div class="hc-view-box">
                    <h4 class="subtitle text-left mt-0">Clients Overview</h4>
                    <ul class="hc-view-type">
                        <li>
                            <label>What is EASWORKS ?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>How does EASWORKS work?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>How is EASWORKS different from other platforms?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>What type of projects can I hire EASWORKS for?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>Does it cost anything to be matched with or interview candidates on EASWORKS?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>How long does the hiring process take at EASWORKS?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>Do you offer a trial period?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>Is there a minimum contract duration?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>Can I hire a full-time worker from EASWORKS and bring him/her into our
                                company?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                        <li>
                            <label>How does payment work -when, how much & for what will be charged?</label>
                            <a [routerLink]="['/help-center-details']">Read More <i class='bx bxs-right-arrow-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!----- Footer ----->
<app-footer></app-footer>
<!----- Footer ----->