<!-- Hero Section Start -->
<section class="bg-white bg-auto bg-no-repeat bg-right hero-sec">
  <div class="page grid 5xl:grid-cols-2 items-center gap-10 py-10">
    <div class="8xl:pe-20">
      <h2
        class="7xl:text-4xl 3xl:text-3xl text-2xl 7xl:leading-tight transition-all font-medium uppercase"
      >
        Optimize Your
      </h2>
      <h1
        class="text-primary-500 7xl:text-6xl 6xl:text-5xl xl:text-4xl text-3xl tracking-wide font-bold !leading-tight"
      >
        Enterprise Application
      </h1>
      <p class="3xl:text-xl text-lg font-medium my-3">
        Enhance your systems with expert
        <span class="font-bold"> consultancy services </span> from
        <span class="font-bold"> EASWORKS.</span>
      </p>
      <button
        class="font-bold text-white bg-primary-500 rounded-xl 3xl:py-3.5 py-2.5 px-24"
      >
        Get Started
      </button>
      <div class="my-4">
        <h6 class="text-lg text-gray-700 font-bold">Join Our Community...</h6>
        <p class="text-black text-sm">
          Stay updated with industry trends, connect with peers, and participate
          in exclusive events Network learn, and grow in the enterprise
          application ecosystem.
        </p>
      </div>
      <div class="flex lg:flex-row flex-col gap-4">
        <button
          class="font-bold hero-btn text-primary-500 bg-no-repeat rounded-xl 3xl:py-3.5 py-2.5 w-full px-5"
        >
          Explore the community
        </button>
        <button
          class="font-bold text-white bg-primary-500 rounded-xl 3xl:py-3.5 py-2.5 w-full px-5"
        >
          Join the Developer community
        </button>
      </div>
    </div>
    <div>
      <img
        src="/assets/public/use-cases/support-maintenance/hero/hero-img.png"
        alt="Hero Image"
        class="w-full"
      />
    </div>
  </div>
</section>
<!-- Hero Section End -->
