<div class="table-container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Long Name</th>
                    <th>Short Name</th>
                    <th>Prefix</th>
                    <!-- <th>Services</th> -->
                    <th>Disabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (row of table.rows$(); track row.data.id) {
                <tr class="dotted">
                    <td *ngrxLet="row.form.controls.id as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" #input [formControl]="control" readonly />
                        </div>
                    </td>
                    <td *ngrxLet="row.form.controls.longName as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <td *ngrxLet="row.form.controls.shortName as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <td *ngrxLet="row.form.controls.prefix as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <!-- <td *ngrxLet="row.form.controls.services as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td> -->
                    <td *ngrxLet="row.form.controls.disabled as control" [formFieldControl]="control"
                        class="p-0 !pl-6 h-4">
                        <mat-checkbox [formControl]="control"></mat-checkbox>
                    </td>
                    <td></td>
                    <td class="actions">
                        <div class="flex">
                            <button class="icon-button small enabled:text-emerald-500" mat-ripple
                                [disabled]="row.disableButtons$()" (click)="row.update()">
                                <replace-spinner [showSpinner]="row.updating$()">
                                    <fa-icon [icon]="icons.faCheck"></fa-icon>
                                </replace-spinner>
                            </button>
                            <button class="icon-button small enabled:text-warn-600" mat-ripple
                                [disabled]="row.disableButtons$()" (click)="row.reset()">
                                <fa-icon [icon]="icons.faRefresh"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label>Services</label>
                        <mat-chip-grid #chipGrid>
                            @for (service of row.services.selected.$(); track service) {
                            <mat-chip-row (removed)="row.services.removeService(service)">
                                <div class="chip">
                                    <span>{{service}}</span>
                                    <button matChipRemove type="button" class="icon-button" title="Remove">
                                        <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
                                    </button>
                                </div>
                            </mat-chip-row>
                            }
                            <input placeholder="Add Services..." [matChipInputFor]="chipGrid"
                                (matChipInputTokenEnd)="row.services.addService($event)" />
                        </mat-chip-grid>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label>Software Product</label>
                        @if (row.sp.selected.count$() > 0) {
                        <div class="grid gap-2 mb-2"
                            style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                            @for(option of row.sp.selected.$(); track option) {
                            <div class="chip">
                                <span>{{option.value.name}}</span>
                                <button type="button" mat-ripple class="icon-button" title="Remove"
                                    (click)="row.sp.removeProduct(option)">
                                    <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
                                </button>
                            </div>
                            }
                        </div>
                        }

                        <div class="form-field mb-0">
                            <input type="text" placeholder="Type to add" [ngModel]="row.sp.query$()"
                                (ngModelChange)="row.sp.query$.set($event)" [matAutocomplete]="productOptions">
                        </div>
                        <mat-autocomplete #productOptions class="!p-0">
                            @for(option of row.sp.filtered$(); track option) {
                            <mat-option [value]="row.sp.query$()" (onSelectionChange)="row.sp.addProduct(option)">
                                {{option.label}}
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label>Domain Modules</label>
                        @if (row.dm.selected.count$() > 0) {
                        <div class="grid gap-2 mb-2"
                            style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                            @for(option of row.dm.selected.$(); track option) {
                            <div class="chip">
                                <span>{{option.value.name}}</span>
                                <button type="button" mat-ripple class="icon-button" title="Remove"
                                    (click)="row.dm.removeDomainModule(option)">
                                    <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
                                </button>
                            </div>
                            }
                        </div>
                        }

                        <div class="form-field mb-0">
                            <input type="text" placeholder="Type to add" [ngModel]="row.dm.query$()"
                                (ngModelChange)="row.dm.query$.set($event)" [matAutocomplete]="domainModules">
                        </div>
                        <mat-autocomplete #domainModules class="!p-0">
                            @for(option of row.dm.filtered$(); track option) {
                            <mat-option [value]="row.dm.query$()" (onSelectionChange)="row.dm.addDomainModule(option)">
                                {{option.label}}
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </td>
                </tr>
                }
                <tr *ngrxLet="table.add.form as form">
                    <td *ngrxLet="form.controls.id as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input placeholder="Add New..." />
                        </div>
                    </td>
                    <td *ngrxLet="form.controls.longName as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <td *ngrxLet="form.controls.shortName as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <td *ngrxLet="form.controls.prefix as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <!-- <td *ngrxLet="form.controls.services as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td> -->
                    <td *ngrxLet="form.controls.disabled as control" [formFieldControl]="control" class="p-0 !pl-6 h-4">
                        <mat-checkbox [formControl]="control"></mat-checkbox>
                    </td>
                    <!-- <td *ngrxLet="form.controls.softwareId as control" [formFieldControl]="control">
              <input type="text" [formControl]="control" readonly>
             <mat-select class="mt-2" [formControl]="control">
                  @for (row of listSkills$(); track row.id) {
                    <mat-option 
                    [value]="row.id">{{row.name}}</mat-option>
                  }
                  
                </mat-select> 
            </td> -->
                    <td class="actions">
                        <div class="flex">
                            <button class="icon-button small enabled:text-emerald-500" mat-ripple
                                [disabled]="table.add.submitDisabled$()" (click)="table.add.submit()">
                                <replace-spinner [showSpinner]="table.add.submitting$()">
                                    <fa-icon [icon]="icons.faCheck"></fa-icon>
                                </replace-spinner>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>