<div class="table-container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (row of table.rows$(); track row.data.code) {
                <tr>
                    <td *ngrxLet="row.form.controls.code as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" #input [formControl]="control" readonly />
                        </div>
                    </td>
                    <td *ngrxLet="row.form.controls.name as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>
                    <td class="actions">
                        <div class="flex">
                            <button class="icon-button small enabled:text-emerald-500" mat-ripple
                                [disabled]="row.disableButtons$()" (click)="row.update()">
                                <replace-spinner [showSpinner]="row.updating$()">
                                    <fa-icon [icon]="icons.faCheck"></fa-icon>
                                </replace-spinner>
                            </button>
                            <button class="icon-button small enabled:text-warn-600" mat-ripple
                                [disabled]="row.disableButtons$()" (click)="row.reset()">
                                <fa-icon [icon]="icons.faRefresh"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                }
                <tr *ngrxLet="table.add.form as form">
                    <td *ngrxLet="form.controls.code as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input placeholder="Add New..." />
                        </div>
                    </td>
                    <td *ngrxLet="form.controls.name as control" [formFieldControl]="control">
                        <div class="field field-interactive" (click)="input.focus()">
                            <input type="text" [formControl]="control" #input />
                        </div>
                    </td>

                    <td class="actions">
                        <div class="flex">
                            <button class="icon-button small enabled:text-emerald-500" mat-ripple
                                [disabled]="table.add.submitDisabled$()" (click)="table.add.submit()">
                                <replace-spinner [showSpinner]="table.add.submitting$()">
                                    <fa-icon [icon]="icons.faCheck"></fa-icon>
                                </replace-spinner>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>