<mat-accordion multi class="block m-4">
    @for (fdp of featured.mapped$(); track fdp.domain.id) {
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fdp.domain.longName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-label>Featured Products</mat-label>
        <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            @for (option of fdp.selected; track option.value.id) {
            <mat-chip class="example-box" cdkDrag>{{option.label}}</mat-chip>
            }
        </mat-chip-set>

        <div class="form-field mt-4 mb-0">
            <label>Add New Featured Product</label>
            <input type="text" placeholder="Type to search"
                   [ngModel]="fdp.add.query$()"
                   (ngModelChange)="fdp.add.onChange($event)"
                   [matAutocomplete]="productOptions">

            <mat-autocomplete #productOptions class="!p-0" [displayWith]="featured.displayFn">
                @for(option of fdp.add.options$(); track option.value.id) {
                <mat-option [value]="option">{{option.label}}</mat-option>
                }
            </mat-autocomplete>

            @if (fdp.add.isValid$()) {
            <button class="icon-button absolute right-0 top-6" mat-ripple>
                <fa-icon class="text-emerald-500 text-xl"
                         [icon]="icons.faCircleCheck"
                         (click)="fdp.add.appendToList()"></fa-icon>
            </button>
            }

        </div>

    </mat-expansion-panel>
    }


    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Select New Featured Domain
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-field mb-0">
            <input type="text" placeholder="Type to search"
                   [ngModel]="domains.query$()"
                   (ngModelChange)="domains.onChange($event)"
                   [matAutocomplete]="domainOptions"
                   [class.!pr-10]="domains.valid$()">

            @if (domains.valid$()) {
            <button class="icon-button absolute right-0 top-0" mat-ripple>
                <fa-icon class="text-emerald-500 text-xl"
                         [icon]="icons.faCircleCheck"
                         (click)="domains.submit()"></fa-icon>
            </button>
            }
        </div>

        <mat-autocomplete #domainOptions class="!p-0" [displayWith]="domains.displayFn">
            @for(option of domains.filtered$(); track option.id) {
            <mat-option [value]="option">
                {{option.longName}}
            </mat-option>
            }
        </mat-autocomplete>

    </mat-expansion-panel>
</mat-accordion>