<mat-accordion>
    <!-- @for (fp of updateProductData; track fp) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fp.domainName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-label>Domains</mat-label>
        <mat-select disabled [(value)]="fp.domainId">
            @for (domain of fp.domainData; track domain) {
            <mat-option [value]="domain.id">{{domain.longName}}</mat-option>
            }
        </mat-select>

        <mat-label>Software Product</mat-label>
        <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropUpdate({e:$event,data:fp})">
            @for (product of fp.softwareProduct; track product) {
            <mat-chip class="example-box" cdkDrag>{{product.name}}</mat-chip>
            }
        </mat-chip-set>

        <button class="icon-button small enabled:text-emerald-500" mat-ripple [disabled]="disable" (click)="submit()">
            <replace-spinner>
                <fa-icon [icon]="icons.faCheck"></fa-icon>
            </replace-spinner>
        </button>

    </mat-expansion-panel>
    } -->


    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Select New Featured Domain
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-field mb-0">
            <input type="text" placeholder="Type to add"
                   [ngModel]="domains.query$()"
                   (ngModelChange)="domains.query$.set($event)"
                   [matAutocomplete]="domainOptions">
        </div>

        <mat-autocomplete #domainOptions class="!p-0" [displayWith]="domains.displayFn">
            @for(option of domains.filtered$(); track option.id) {
            <mat-option [value]="option">
                {{option.longName}}
            </mat-option>
            }
        </mat-autocomplete>

        <button class="icon-button small enabled:text-emerald-500" mat-ripple
                [disabled]="domains.empty$()" (click)="domains.submit()">
            <replace-spinner>
                <fa-icon [icon]="icons.faCheck"></fa-icon>
            </replace-spinner>
        </button>

    </mat-expansion-panel>
</mat-accordion>