<section class="page max-w-full">
  <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mb-5">
    Overview <span class="text-primary-500"> EASWORKS</span>
  </h2>

  <div class="7xl:w-3/4 mx-auto">
    <h5 class="4xl:text-2xl xl:text-xl text-lg text-gray-700 text-center">
      <span class="text-primary-500 font-bold 4xl:text-3xl text-2xl">At EASWORKS,</span>
      we connect you with top talents who can provide digital transformation
      services to help your business leverage the latest technologies. Our
      expert talents ensure a smooth transition to digital processes, enhancing
      your competitive edge.
    </h5>

    <div class="grid 2xl:grid-cols-4 grid-cols-2 gap-y-5 mt-3">
      <div>
        <img src="/assets/public/use-cases/digital-transformation/overview/efficiency-img.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Increased Efficiency
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Automate processes.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/digital-transformation/overview/agility-img.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Enhanced Agility
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Adapt to market changes.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/digital-transformation/overview/decision-img.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Improved Decision Making
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Leverage data-driven insights.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/digital-transformation/overview/competitive-img.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Competitive Advantage
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Stay ahead with cutting-edge tech.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>