<h1 class="font-semibold text-xl">Create New Job Post</h1>
<mat-divider class="!my-2"></mat-divider>

<div class="mt-4 hidden xl:flex">
  <ng-container *ngFor="let group of stepperGroups; let i = index; let first = first; let last = last;">
    <mat-divider *ngIf="!first" class="flex-grow !mt-8"></mat-divider>
    <button type="button" *ngrxLet="group.enabled$() as enabled"
            class="relative grid justify-items-center rounded transition-all
                p-2 pt-4 px-4 gap-2   
                flex-none w-40 lg:w-60 
                hover:enabled:bg-black/10 focus:enabled:bg-black/10"
            [disabled]="!enabled"
            mat-ripple [matRippleDisabled]="!enabled"
            (click)="group.click()">
      <mat-divider *ngIf="!first" class="absolute left-0 top-8 -z-10" style="width: calc(50% - 1.5rem);"></mat-divider>
      <mat-divider *ngIf="!last" class="absolute right-0 top-8 -z-10" style="width: calc(50% - 1.5rem);"></mat-divider>
      <div class="rounded-full grid place-content-center bg-divider text-white
                w-8 h-8 leading-none"
           [class.bg-primary]="enabled">
        <div *ngIf="group.completed$(); else $stepNo">
          <fa-icon [icon]="icons.faCheck"></fa-icon>
        </div>

        <ng-template #$stepNo>{{i + 1}}</ng-template>
      </div>
      <div class="transition-all relative"
           [class]="group.completed$()  ? 'font-medium text-base' : 'text-sm'">
        <span class="w-fit">{{group.label}}</span>
      </div>
    </button>
  </ng-container>
</div>

<div class="stepper-progress w-100 mt-4">
  <ng-container *ngrxLet="stepper.progress$() as progress">
    <span>{{progress.label}}</span>
    <mat-progress-bar [value]="progress.percent" class="mt-2 rounded-full"></mat-progress-bar>
  </ng-container>
</div>

<!-- Stepper container -->
<div class="relative mt-8" *ngrxLet="stepper.step$() as step">

  <div *ngIf="step === 'service-type'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Service Type</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all"> Please select the EASWORK service you want</span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of serviceType.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="service-type-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="serviceType.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'primary-domain'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Enterprise Application Domain</h2>
    <mat-divider></mat-divider>

    <form class="p-4" *ngrxLet="primaryDomain.form as form"
          [formGroup]="form">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
        <span class="font-medium lg:pt-1 transition-all">Please select the primary enterprise application domain</span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div *ngIf="!primaryDomain.loading$(); else $dataLoading"
           class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
        <ng-container *ngFor="let domain of primaryDomain.options$(); trackBy: trackBy.domainOption">
          <div class="primary-domain-option"
               *ngrxLet="primaryDomain.stopInput$() && !domain.selected as disabled"
               [class.disabled]="disabled"
               [class.selected]="domain.selected">
            <label class="flex flex-grow cursor-pointer">
              <mat-checkbox class="primary"
                            [ngModel]="domain.selected"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="disabled"
                            (ngModelChange)="primaryDomain.toggle(domain)">
              </mat-checkbox>
              <div class="flex-grow p-2">{{domain.label}}</div>
            </label>
            <div *ngIf="domain.selected && form.controls.years as control"
                 [formFieldControl]="control" class="px-2">
              <input type="number" [formControl]="control" placeholder="Years of Experience *"
                     min="1" max="30" maxlength="2">
              <span class="error">1-30</span>
              <span class="hint">1-30</span>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>

  <div *ngIf="step === 'services'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Expertise in {{services.stepLabel$()}} Services</h2>
    <mat-divider></mat-divider>
    <ng-container *ngIf="services.$() as services$">
      <form class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Please specify the areas of expertise you require within <span class="text-primary">{{services.stepLabel$()}}</span></span>
          <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
            <span class="flex gap-1 items-center">
              <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
              <span>Select upto 7</span>
            </span>
            <span *ngrxLet="services$.count$() as count"
                  class="selection-counter" [class.selected]="count > 0">
              {{count}} selected
            </span>
          </span>
        </label>

        <div class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
          <ng-container *ngFor="let service of services$.options; trackBy: trackBy.stringOption">
            <div *ngrxLet="services$.stopInput$() && !service.selected as disabled"
                 class="service-option"
                 [class.selected]="service.selected"
                 [class.disabled]="disabled">
              <label class="flex cursor-pointer flex-grow">
                <mat-checkbox class="primary"
                              [ngModel]="service.selected"
                              [ngModelOptions]="{ standalone: true }"
                              [disabled]="disabled"
                              (ngModelChange)="services$.toggle(service)">
                </mat-checkbox>
                <div class="flex-grow p-2">{{service.label}}</div>
              </label>
            </div>
          </ng-container>
        </div>
      </form>
    </ng-container>

  </div>

  <div *ngIf="step === 'modules'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">{{modules.stepLabel$()}} Modules Expertise</h2>
    <mat-divider></mat-divider>
    <ng-container *ngIf="modules.$() as modules$">
      <form class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Indicate the <span class="text-primary">{{modules.stepLabel$()}}</span> modules you require proficiency in</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
            <span class="flex gap-1 items-center">
              <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
              <span>Select up to 7</span>
            </span>
            <span *ngrxLet="modules$.count$() as count"
                  class="selection-counter" [class.selected]="count > 0">
              {{count}} selected
            </span>
          </span>
        </label>

        <div class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
          <ng-container *ngFor="let module of modules$.options; trackBy: trackBy.moduleOption">
            <div *ngrxLet="modules$.stopInput$() && !module.selected as disabled"
                 class="module-option"
                 [class.selected]="module.selected"
                 [class.disabled]="disabled">
              <label class="flex cursor-pointer flex-grow">
                <mat-checkbox class="primary"
                              [ngModel]="module.selected"
                              [ngModelOptions]="{ standalone: true }"
                              [disabled]="disabled"
                              (ngModelChange)="modules$.toggle(module)">
                </mat-checkbox>
                <div class="flex-grow p-2">{{module.label}}</div>
              </label>
            </div>
          </ng-container>
        </div>
      </form>
    </ng-container>
  </div>

  <div *ngIf="step === 'roles'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Required {{roles.stepLabel$()}} Roles</h2>
    <mat-divider></mat-divider>

    <ng-container *ngIf="roles.$() as roles$">
      <form *ngrxLet="roles$.form as form"
            [formGroup]="form">
        <ng-container *ngFor="let kv of form.controls | keyvalue; let last = last">
          <div class="p-4" *ngrxLet="kv.value as form">
            <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
              <span class="font-medium lg:pt-1 transition-all">Please select the role you are hiring for <span class="text-primary">{{kv.key}}</span></span>
            </label>

            <div class="grid gap-x-4 mt-2 transition-all"
                 style="grid-template-columns: repeat(2, minmax(0, 1fr));">
              <div *ngrxLet="form.controls.role as control"
                   [formFieldControl]="control"
                   class="!mb-4">
                <mat-select [formControl]="control" placeholder="Role *">
                  <mat-option *ngFor="let option of roles$.options[kv.key]" [value]="option">{{option}}</mat-option>
                </mat-select>
              </div>
              <div *ngrxLet="form.controls.years as control"
                   [formFieldControl]="control"
                   class="!mb-4">
                <input type="number" [formControl]="control" placeholder="Years of Experience *"
                       min="1" max="30">
                <span class="error">1-30</span>
                <span class="hint">1-30</span>
              </div>
            </div>

          </div>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </form>
    </ng-container>
  </div>

  <div *ngIf="step === 'software'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Proficiency required in {{software.stepLabel$()}} Software</h2>
    <mat-divider></mat-divider>
    <ng-container *ngIf="software.$() as software$">
      <form *ngrxLet="software$.form as form" [formGroup]="form"
            class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Please indicate the requred proficiency level in <span class="text-primary">{{software.stepLabel$()}}</span> software</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
            <span class="flex gap-1 items-center">
              <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
              <span>Select up to 5</span>
            </span>
            <span *ngrxLet="software$.count$() as count"
                  class="selection-counter" [class.selected]="count > 0">
              {{count}} selected
            </span>
          </span>
        </label>

        <div class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
          <ng-container *ngFor="let software of software$.options; trackBy: trackBy.softwareOption">
            <div *ngrxLet="software$.stopInput$() && !software.selected as disabled"
                 class="software-option"
                 [class.selected]="software.selected"
                 [class.disabled]="disabled">
              <label class="flex flex-grow cursor-pointer">
                <mat-checkbox class="primary"
                              [ngModel]="software.selected"
                              [ngModelOptions]="{ standalone: true }"
                              [disabled]="disabled"
                              (ngModelChange)="software$.toggle(software)">
                </mat-checkbox>
                <div class="flex-grow p-2">{{software.label}}</div>
              </label>
              <div *ngIf="software.selected && form.controls[software.value.name] as control"
                   [formFieldControl]="control" class="px-2">
                <input type="number" [formControl]="control" placeholder="Years of Experience *"
                       min="1" max="30">
                <span class="error">1-30</span>
                <span class="hint">1-30</span>
              </div>
            </div>
          </ng-container>

        </div>
      </form>

    </ng-container>

  </div>

  <div *ngIf="step === 'technology-stack'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Describe required Technical Experience</h2>
    <mat-divider></mat-divider>

    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
        <span class="font-medium lg:pt-1 transition-all">Choose the technology stack expertise in <span class="text-primary">{{techExp.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span *ngrxLet="techExp.count$() as count"
                class="selection-counter" [class.selected]="count > 0">
            {{count}} selected
          </span>
        </span>
      </label>

      <ng-container *ngIf="!techExp.loading$(); else $dataLoading">
        <div *ngIf="techExp.count$() > 0"
             class="grid gap-4 mt-4">
          <div *ngFor="let entry of techExp.value$() | keyvalue; trackBy: trackBy.key">
            <label class="font-medium">{{entry.key}}</label>
            <!-- <div class="mt-2 flex flex-wrap gap-2"> -->
            <div class="mt-2 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
              <div *ngFor="let option of entry.value; let i = index; trackBy: trackBy.stringOption"
                   class="tech-option">
                <span>{{option.value}}</span>
                <button type="button" mat-ripple class="icon-button"
                        (click)="techExp.remove(entry.key, i)"
                        title="Remove">
                  <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!techExp.stopInput$()" class="mt-6">
          <div class="form-field mb-0">
            <input type="text" placeholder="Type to filter"
                   [ngModel]="techExp.query$()"
                   (ngModelChange)="techExp.query$.set($event)"
                   [matAutocomplete]="techOptions">
            <span class="hint !relative">If the query matches a category, all items in the category will be shown, otherwise only matching items will be shown.</span>
            <span class="hint !relative">Selected items will be removed from suggestions.</span>
          </div>

          <mat-autocomplete #techOptions class="!p-0">
            <ng-container *ngFor="let group of techExp.options$(); let last = last; trackBy: trackBy.name">
              <mat-optgroup [label]="group.name" class="block pt-2">
                <mat-option *ngFor="let option of group.tech; trackBy: trackBy.stringOption"
                            [value]="techExp.query$()"
                            (onSelectionChange)="techExp.add(group.name, option);">
                  {{option.label}}
                </mat-option>
              </mat-optgroup>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </mat-autocomplete>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="step === 'industry'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Industry Experience</h2>
    <mat-divider></mat-divider>

    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
        <span class="font-medium lg:pt-1 transition-all">Specify required industry-specific experience in <span class="text-primary">{{industries.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select upto 5</span>
          </span>
          <span *ngrxLet="industries.count$() as count"
                class="selection-counter" [class.selected]="count > 0">
            {{count}} selected
          </span>
        </span>
      </label>

      <ng-container *ngIf="!industries.loading$(); else $dataLoading">
        <div *ngIf="industries.count$() > 0"
             class="grid gap-4 mt-4">
          <div *ngFor="let entry of industries.value$() | keyvalue; trackBy: trackBy.key">
            <label class="font-medium">{{entry.key}}</label>
            <!-- <div class="mt-2 flex flex-wrap gap-2"> -->
            <div class="mt-2 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
              <div *ngFor="let option of entry.value; let i = index; trackBy: trackBy.stringOption"
                   class="industry-option">
                <span>{{option.value}}</span>
                <button type="button" mat-ripple class="icon-button"
                        (click)="industries.remove(entry.key, i)"
                        title="Remove">
                  <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!industries.stopInput$()" class="mt-6">
          <div class="form-field mb-0">
            <input type="text" placeholder="Type to filter"
                   [ngModel]="industries.query$()"
                   (ngModelChange)="industries.query$.set($event)"
                   [matAutocomplete]="industryOptions">
            <span class="hint !relative">If the query matches a category, all items in the category will be shown, otherwise only matching items will be shown.</span>
            <span class="hint !relative">Selected items will be removed from suggestions.</span>
          </div>

          <mat-autocomplete #industryOptions class="!p-0">
            <ng-container *ngFor="let group of industries.options$(); let last = last; trackBy: trackBy.name">
              <mat-optgroup [label]="group.name" class="block pt-2">
                <mat-option *ngFor="let option of group.industries; trackBy: trackBy.stringOption"
                            [value]="industries.query$()"
                            (onSelectionChange)="industries.add(group.name, option);">
                  {{option.label}}
                </mat-option>
              </mat-optgroup>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </mat-autocomplete>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="step === 'description'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Job Description</h2>
    <mat-divider></mat-divider>

    <form class="p-4" *ngrxLet="description.form as form"
          [formGroup]="form">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
        <span class="font-medium lg:pt-1 transition-all">Provide a comprehensive job description for <span class="text-primary">{{description.stepLabel$()}}</span></span>
      </label>

      <div *ngrxLet="form.controls.description as control"
           [formFieldControl]="control">
        <div class="field field-interactive h-64 mt-2">
          <textarea [formControl]="control"
                    placeholder="Description *"
                    class="resize-none"></textarea>
        </div>

        <span class="error" *ngIf="control.hasError('required')">Required</span>
        <span class="error" *ngIf="control.hasError('maxlength')">{{control.value.length || 0}}/1500</span>
        <span class="hint">{{control.value.length || 0}}/1500</span>
      </div>
    </form>

  </div>

  <div *ngIf="step === 'project-type'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Project Type</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all"><span class="text-primary">{{projectType.stepLabel$()}}</span> Project Type</span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of projectType.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="project-type-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="projectType.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'required-experience'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Required Experience</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Level of Experience needed for <span class="text-primary">{{requiredExp.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of requiredExp.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="required-exp-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="requiredExp.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'weekly-commitment'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Weekly Commitment</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Estimated no. of hours per week needed from <span class="text-primary">{{weeklyCommitment.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of weeklyCommitment.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="weekly-commitment-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="weeklyCommitment.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'engagement-period'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Engagement Period</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Engagement Period for <span class="text-primary">{{engagementPeriod.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of engagementPeriod.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="engagement-period-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="engagementPeriod.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'hourly-budget'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Hourly Budget</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Estimated hourly budget for <span class="text-primary">{{hourlyBudget.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of hourlyBudget.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="hourly-budget-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="hourlyBudget.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'project-kickoff-timeline'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Project Kickoff</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Please specify the tentative starting timeline for <span class="text-primary">{{projectKickoffTimeline.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of projectKickoffTimeline.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="project-kickoff-timeline-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="projectKickoffTimeline.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'remote-work'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Remote Work</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all">Remote Work for <span class="text-primary">{{remoteWork.stepLabel$()}}</span></span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of remoteWork.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="remote-work-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="remoteWork.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Button Container -->
<div class="flex mt-4">
  <button *ngIf="stepper.prev.visible$()" mat-ripple
          type="button" class="shaded-button mr-auto mat-elevation-z1 disabled:shadow-none 
                enabled:hover:bg-secondary enabled:hover:text-secondary-text
                enabled:focus:bg-secondary enabled:focus:text-secondary-text"
          (click)="this.stepper.prev.click()">
    Previous
  </button>

  <ng-container *ngIf="stepper.next.visible$()">
    <button *ngrxLet="stepper.next.disabled$() as disabled"
            type="button" class="shaded-button ml-auto mat-elevation-z1 disabled:shadow-none 
                  enabled:hover:bg-secondary enabled:hover:text-secondary-text
                  enabled:focus:bg-secondary enabled:focus:text-secondary-text"
            mat-ripple
            [disabled]="disabled"
            (click)="this.stepper.next.click()">
      Next
    </button>
  </ng-container>

  <ng-container *ngIf="stepper.submit.visible$()">
    <button *ngrxLet="stepper.submit.disabled$() as disabled"
            type="button" class="shaded-button primary ml-auto mat-elevation-z1 disabled:shadow-none"
            mat-ripple
            [disabled]="disabled"
            (click)="this.stepper.submit.click()">
      Submit
    </button>
  </ng-container>
</div>

<ng-template #$dataLoading>
  <div class="mt-4 p-2 grid gap-4 justify-items-center">
    <p> Fetching data. Please wait... </p>
    <mat-progress-spinner mode="indeterminate" diameter="32"></mat-progress-spinner>
  </div>
</ng-template>