footer {
    .footer-btn-bg {
        background-image: url(../../assets/public/home/hire-elite-btn-bg.svg);
    }

    // .footer-bg {
    //     background-image: url(../../assets/public/footer/footer-bg3.svg);
    //     background-repeat: no-repeat;
    //     height: 120px;
    //     width: 250px;
    //     top: -8.4rem;
    //     background-size: contain;
    // }

    // .footer-bg2 {
    //     background-image: url(../../assets/public/footer/footer-bg4.svg);
    //     background-repeat: no-repeat;
    //     height: 223px;
    //     width: 170px;
    //     z-index: 10;
    //     right: 45px;
    //     top: -90px;
    //     background-size: contain;
    // }
}

.footer-bg {
    background-image: url('data:image/svg+xml,%3Csvg width="1440" height="782" viewBox="0 0 1440 782" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg filter="url(%23filter0_d_1_3940)"%3E%3Cpath d="M91.9328 220.91H-4V853H1444V83H1399.26C1389.32 83 1381.26 91.0589 1381.26 101V253.376C1381.26 264.422 1372.31 273.376 1361.26 273.376H1270.77C1260.83 273.376 1252.77 281.435 1252.77 291.376V301.345C1252.77 312.391 1243.82 321.345 1232.77 321.345H129.933C118.887 321.345 109.933 312.391 109.933 301.345V238.91C109.933 228.969 101.874 220.91 91.9328 220.91Z" fill="black" shape-rendering="crispEdges"/%3E%3Cpath d="M91.9328 220.91H-4V853H1444V83H1399.26C1389.32 83 1381.26 91.0589 1381.26 101V253.376C1381.26 264.422 1372.31 273.376 1361.26 273.376H1270.77C1260.83 273.376 1252.77 281.435 1252.77 291.376V301.345C1252.77 312.391 1243.82 321.345 1232.77 321.345H129.933C118.887 321.345 109.933 312.391 109.933 301.345V238.91C109.933 228.969 101.874 220.91 91.9328 220.91Z" stroke="url(%23paint0_linear_1_3940)" shape-rendering="crispEdges"/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id="filter0_d_1_3940" x="-77.1" y="0.900002" width="1594.2" height="916.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"%3E%3CfeFlood flood-opacity="0" result="BackgroundImageFix"/%3E%3CfeColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/%3E%3CfeOffset dy="-9"/%3E%3CfeGaussianBlur stdDeviation="36.3"/%3E%3CfeComposite in2="hardAlpha" operator="out"/%3E%3CfeColorMatrix type="matrix" values="0 0 0 0 0.286275 0 0 0 0 0.286275 0 0 0 0 0.988235 0 0 0 0.22 0"/%3E%3CfeBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_3940"/%3E%3CfeBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_3940" result="shape"/%3E%3C/filter%3E%3ClinearGradient id="paint0_linear_1_3940" x1="782.487" y1="300.359" x2="825.286" y2="496.312" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0.73654" stop-color="white"/%3E%3Cstop offset="1" stop-color="%23999999" stop-opacity="0"/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 42.5vw;
    position: relative;
    margin-top: 1rem;

    @media screen and (max-width: 1024px) {
        background: #000;
        background-size: unset;
    }
}