<div class="flex flex-wrap gap-8 gap-x-16 px-10 bg-white py-10 border-t 
          lg:flex-nowrap lg:justify-between">
  <div class="lg:max-w-[20rem] transition-all">
    <img src="/assets/brand/logo-full-dark.png">
    <p class="mt-8 text-base">
      EASWORKS serves as a specialized Enterprise Application Software (EAS) platform that connects businesses,
      startups, and leading companies with a network of highly skilled enterprise software developers.
    </p>
    <p class="mt-8 text-base">
      Our primary goal is to meticulously match our clients with the most suitable technical talent, leveraging
      their deep industry domain knowledge and expertise in enterprise applications.
    </p>
    <div class="mt-8">
      <div class="flex gap-4 text-2xl">
        @for(link of social; track link) {
        <a [routerLink]="link.link" [href]="link.link">
          <fa-icon [icon]="link.icon!"></fa-icon>
        </a>
        }
      </div>
      <p class="mt-4">
        4653 Carmel Mountain Rd, <br>
        Ste 308 PMB 1024 San Diego, <br>
        CA 92130-6650
      </p>
    </div>
  </div>
  <nav class="@container flex-1">
    <div class="w-full lg:w-max lg:m-auto grid gap-4 @lg:gap-x-8 grid-cols-12 grid-flow-row-dense">
      @for (group of footerNav; track group) {
      <div [class]="group.class">
        <p class="m-0 font-semibold @sm:text-lg">{{group.name}}</p>
        <ul class="mt-2 text-sm @sm:text-base">
          @for(item of group.items; track item) {
          <li class="py-1">
            <a [routerLink]="item.link" [fragment]="item.fragment" class="flex gap-2 max-w-fit">
              <fa-icon [icon]="icons.faAngleRight" class="inline-block mt-1"></fa-icon>
              <span>{{item.text}}</span>
            </a>
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </nav>
</div>

<div class="py-4 px-8 text-center text-sm bg-secondary-950 flex justify-between">
  <p class="text-white"> © Copyright 2023 EASWORKS. All Rights Reserved.</p>
  <ul class="flex text-white">
    <li>
      <a href="#" class="border-r pr-2">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="pl-2">Terms of Service</a>
    </li>
  </ul>
</div>