<!-- Footer Section Start -->
<footer class="bg-black border-t-white border-t-2 pt-14 pb-5 relative">
  <div class="grid grid-cols-12 gap-11 page p-0">
    <div
      class="pt-5 pb-9 ps-8 pe-11 col-span-4 rounded-4xl bg-gradient-to-b from-primary-500 from-0% to-black to-100% text-white">
      <img src="/assets/brand/logo-full-light.png" alt="Logo" />
      <p class="font-semibold text-sm my-4">
        ASWORKS is a specialized platform linking businesses with top enterprise
        software developers.
      </p>
      <div class="flex gap-1.5 mb-4">
        <button class="text-sm font-bold footer-btn-bg  text-white rounded-xl py-3 w-full px-5">
          Apply for Jobs
        </button>
        <button class="text-sm font-bold bg-white text-primary-500 rounded-xl py-3 w-full px-5">
          Hire Now
        </button>
      </div>
      <div class="flex items-start text-xs gap-1.5 text-primary-500">
        <img src="/assets/public/footer/ic-location.svg" alt="Location Icon" />
        4653 Carmel Mountain Rd,Ste 308 PMB <br> 1024 San Diego, CA 92130-6650
      </div>
    </div>
    <div class="col-span-2">
      <h6 class="3xl:text-2xl text-primary-500  uppercase mb-4">Companies</h6>
      <ul class=" text-white">
        <li class="text-sm mb-4"><a href="#">Home</a></li>
        <li class="text-sm mb-4"><a href="#">For Clients</a>
        </li>
        <li class="text-sm mb-4"><a href="#">Our Services</a></li>
        <li class="text-sm mb-4"><a href="#">For Talents</a></li>
        <li class="text-sm"><a href="#">Why EASWORKS</a></li>
      </ul>
    </div>
    <div class="col-span-2">
      <h6 class="3xl:text-2xl text-primary-500  uppercase mb-4">Talents</h6>
      <ul class=" text-white">
        <li class="text-sm mb-4"><a href="#">Apply for Jobs</a></li>
        <li class="text-sm mb-4"><a href="#">Freelancer Login</a>
        </li>
        <li class="text-sm"><a href="#">FAQ -Talent</a>
        </li>
      </ul>
    </div>
    <div class="col-span-2">
      <h6 class="3xl:text-2xl text-primary-500  uppercase mb-4">about</h6>
      <ul class=" text-white">
        <li class="text-sm mb-4"><a href="#">About Us</a></li>
        <li class="text-sm mb-4"><a href="#">Blog</a>
        </li>
        <li class="text-sm"><a href="#">Careers</a>
        </li>
      </ul>
    </div>
    <div class="col-span-2">
      <h6 class="3xl:text-2xl text-primary-500  uppercase mb-4">contact us</h6>
      <ul class=" text-white">
        <li class="text-sm mb-4"><a href="#">Contact Us </a></li>
        <li class="text-sm"><a href="#">Help Center </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-11 items-end justify-between page p-0">
    <div class="col-span-4"></div>
    <div class="col-span-3">
      <h6 class="text-primary-500 text-sm text-center">Join Our EAS Community <br>
        <span class="text-white">
          Network with Peers and Access Exclusive Content. </span>
      </h6>
    </div>
    <div class="col-span-1"></div>
    <div class="col-span-4 8xl:ps-20 ps-14 translate-y-5">
      <h6 class="3xl:text-2xl text-primary-500  uppercase mb-2.5">Join a Newsletter</h6>
      <form>
        <div class="flex items-stretch gap-1">
          <input type="email" name="email" id="email" placeholder="Enter Your Email Here"
            class="border-2 border-primary-500 rounded-lg bg-transparent !py-3 !px-4 text-white !ring-0">
          <img src="/assets/public/footer/ic-right-arrow.svg" alt="Right Arrow"
            class="p-3.5 rounded-lg bg-gradient-to-r from-primary-500 to-primary-400 ">
        </div>
      </form>
    </div>
  </div>
  <img src="../../assets/public/home/canvas-to-top.svg" alt="canvas to bottom image" class="w-full mt-5">
  <div class="flex justify-between items-center gap-10 mt-5 page p-0">
    <p class=" text-xs text-white">© Copyright 2024 EASWORKS. All Rights Reserved.</p>
    <p class="text-sm  font-bold text-white -translate-y-5 ">Sh*t i've gone too far, send me back up <span
        class="text-2xl">:point_up_2:</span></p>
    <p class=" text-xs text-white font-medium"><a href="#">Privacy Policy | Terms of Service</a> </p>
  </div>
  <div
    class="flex flex-col gap-7 absolute -top-80 translate-y-4 right-0 p-3 border-s-2 border-t-2 rounded-2xl rounded-b-none rounded-e-none bg-black">
    <a href="#">
      <img src="/assets/public/footer/ic-linkedin.svg" alt="LindedIn Icon">
    </a>
    <a href="#">
      <img src="/assets/public/footer/ic-fb.svg" alt="Facebook Icon">
    </a>
    <a href="#">
      <img src="/assets/public/footer/ic-github.svg" alt="Github Icon">
    </a>
    <a href="#">
      <img src="/assets/public/footer/ic-twitter.svg" alt="twitter Icon">
    </a>
    <a href="#">
      <img src="/assets/public/footer/ic-instagram.svg" alt="Instagram Icon">
    </a>
    <a href="#">
      <img src="/assets/public/footer/ic-youtube.svg" alt="Youtube Icon">
    </a>
  </div>
</footer>
<!-- Footer Section End -->