<section class="page max-w-full">
  <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mb-5">
    Process<span class="text-primary-500">/Methodology</span>
  </h2>
  <img src="/assets/public/use-cases/qa-and-testing/overview/border-btm.svg" alt="Image not found"
    class="block mx-auto mb-10 mt-3" />

  <div class="7xl:w-3/4 mx-auto">
    <div class="grid 2xl:grid-cols-4 grid-cols-2 gap-y-5 mt-3">
      <div>
        <img src="/assets/public/use-cases/software-customization/process/img1.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3 ">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Requirements
            Assessment
            <p class="h-[3px] w-14 bg-primary-900 mx-auto"></p>
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Identify specific
            customization needs.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/software-customization/process/img2.png" alt=""
          class="w-fit block mx-auto" />


        <div class="text-center mt-16 lg:mx-3 ">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Custom Plan Development
            <p class="h-[3px] w-14 bg-primary-900 mx-auto"></p>
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Create a tailored customization plan.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/software-customization/process/img3.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3 ">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Implementation
            <p class="h-[3px] w-14 bg-primary-900 mx-auto"></p>
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Execute the customization plan.
          </p>
        </div>
      </div>

      <div>
        <img src="/assets/public/use-cases/software-customization/process/img4.png" alt=""
          class="w-fit block mx-auto" />

        <div class="text-center mt-16 lg:mx-3 ">
          <h5 class="3xl:text-2xl text-xl text-primary-500 font-bold">
            Ongoing Support
            <p class="h-[3px] w-14 bg-primary-900 mx-auto"></p>
          </h5>
          <p class="text-gray-700 3xl:text-xl 3xl:mt-0 mt-2.5">
            Provide continuous support and optimization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>