<section class="page max-w-full">
  <div class="7xl:max-w-7xl mx-auto py-12">
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto"
    >
      Overview <span class="text-primary-500"> EASWORKS</span>
    </h2>

    <div class="grid 5xl:grid-cols-3 py-12 w-11/12 mx-auto relative items-center gap-y-5">
      <div class="relative">
        <img
          src="../../../../assets/public/use-cases/modernization/overview/circle-img.png"
          alt="Circle Image"
          class="5xl:w-full w-fit mx-auto block"
        />

        <div class="text-center w-60 absolute top-2/4 -translate-y-2/4 6xl:left-0 5xl:-left-10 left-2/4 5xl:-translate-x-0 -translate-x-3/4">
          <h6 class="6xl:text-2xl text-xl font-bold text-primary-500 mb-0">
            At EASWORKS,
          </h6>
          <p class="6xl:text-sm text-xs">
            we connect you with top talents who can modernize your legacy
            enterprise applications to enhance performance and extend their
            lifespan. Our expert talents ensure your systems stay relevant and
            efficient in a rapidly changing technological landscape.
          </p>
        </div>
      </div>

      <div class="5xl:col-span-2">
        <div class="flex items-center 2xl:flex-row flex-col 7xl:mb-16 2xl:mb-10">
          <div
            class="text-primary-500 bg-linear rounded-full shadow-[10px_0px_6px_0px_#00000020] text-center w-24 h-24 flex justify-center items-center flex-col 2xl:translate-x-10 2xl:translate-y-0 translate-y-5"
          >
            <h5 class="text-xl font-semibold">STEP</h5>
            <p class="text-4xl font-black">01</p>
          </div>
          <div
            class="bg-primary-500 rounded-full py-8 2xl:px-14 px-10 w-fit flex gap-5 items-center"
          >
            <div class="w-40 lg:me-12">
              <h6 class="5xl:text-lg text-base font-bold text-white mb-0">
                Improved Performance
              </h6>
              <p class="5xl:text-sm text-xs text-white">
                Boost system efficiency.
              </p>
            </div>

            <div class="border self-stretch"></div>

            <img
              src="../../../../assets/public/use-cases/modernization/overview/performance.svg"
              alt="Improved
            Performance"
            />
          </div>
        </div>

        <div class="flex items-center 7xl:mb-16 2xl:mb-10 5xl:ms-24 3xl:ms-14 2xl:flex-row flex-col">
          <div
            class="text-primary-600 bg-linear rounded-full shadow-[10px_0px_6px_0px_#00000020] text-center w-24 h-24 flex justify-center items-center flex-col 2xl:translate-x-10 2xl:translate-y-0 translate-y-5"
          >
            <h5 class="text-xl font-semibold">STEP</h5>
            <p class="text-4xl font-black">02</p>
          </div>
          <div
            class="bg-primary-600 rounded-full py-8 2xl:px-14 px-10 w-fit flex gap-5 items-center"
          >
            <div class="w-40 lg:me-12">
              <h6 class="5xl:text-lg text-base font-bold text-white mb-0">
                Cost Savings
              </h6>
              <p class="5xl:text-sm text-xs text-white">
                Reduce maintenance
costs.
              </p>
            </div>

            <div class="border self-stretch"></div>

            <img
              src="../../../../assets/public/use-cases/modernization/overview/cost.svg"
                alt="Cost Savings"
            />
          </div>
        </div>

        <div class="flex items-center 7xl:mb-16 2xl:mb-10 5xl:ms-24 3xl:ms-14 2xl:flex-row flex-col">
          <div
            class="text-primary-700 bg-linear rounded-full shadow-[10px_0px_6px_0px_#00000020] text-center w-24 h-24 flex justify-center items-center flex-col  2xl:translate-x-10 2xl:translate-y-0 translate-y-5"
          >
            <h5 class="text-xl font-semibold">STEP</h5>
            <p class="text-4xl font-black">03</p>
          </div>
          <div
            class="bg-primary-700 rounded-full 2xl:py-4 py-8 2xl:px-14 px-10 w-fit flex gap-5 items-center"
          >
            <div class="w-40 lg:me-12">
              <h6 class="5xl:text-lg text-base font-bold text-white mb-0">
                Enhanced User
Experience
              </h6>
              <p class="5xl:text-sm text-xs text-white">
                Modern interfaces increase
satisfaction.
              </p>
            </div>

            <div class="border self-stretch"></div>

            <img
              src="../../../../assets/public/use-cases/modernization/overview/user.svg"
              alt="Enhanced User
              Experience"
            />
          </div>
        </div>

        <div class="flex items-center 2xl:flex-row flex-col">
          <div
            class="text-primary-800 bg-linear rounded-full shadow-[10px_0px_6px_0px_#00000020] text-center w-24 h-24 flex justify-center items-center flex-col 2xl:translate-x-10 2xl:translate-y-0 translate-y-5"
          >
            <h5 class="text-xl font-semibold">STEP</h5>
            <p class="text-4xl font-black">04</p>
          </div>
          <div
            class="bg-primary-800 rounded-full py-8 2xl:px-14 px-10 w-fit flex gap-5 items-center"
          >
            <div class="w-40 lg:me-12">
              <h6 class="5xl:text-lg text-base font-bold text-white mb-0">
                Future-Proofing
              </h6>
              <p class="5xl:text-sm text-xs text-white">
                Ensure relevance and
scalability.
              </p>
            </div>

            <div class="border self-stretch"></div>

            <img
              src="../../../../assets/public/use-cases/modernization/overview/proofing.svg"
              alt="Future-Proofing"
            />
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
