<!-- EASWORKS  Services - Hire Contractors Start -->
<div class="bg-white">
    <!-- Hero Section Start -->
    <section class="bg-white bg-auto bg-no-repeat bg-right 8xl:py-20 5xl:py-12 py-5 hero-sec">
        <div class="page grid 5xl:grid-cols-2 gap-10">
            <div class="8xl:pe-44">
                <h2 class="7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all">
                    Hire Pre-vetted</h2>
                <h1
                    class="text-primary-500 7xl:text-7xl 6xl:text-6xl xl:text-5xl text-4xl tracking-wide font-bold 7xl:leading-tight">
                    .NET Developers</h1>
                <p class="text-sm">From desktop and mobile to web and cloud applications, our talented pool of .NET
                    developers will help you build consistent and reliable multi-platform projects.
                </p>

                <div class="flex lg:flex-row flex-col gap-4 mt-6 mb-5">
                    <button
                        class="font-bold hero-btn text-primary-500 bg-no-repeat rounded-xl 3xl:py-3.5 py-2.5 w-full px-5">
                        Hire for ERP Ops Role </button>
                    <button class="font-bold text-white bg-primary-500 rounded-xl 3xl:py-3.5 py-2.5 w-full px-5"> Apply
                        for ERP Ops Jobs
                    </button>
                </div>

                <div class="mb-2.5">
                    <h6 class="font-bold 3xl:text-xl">
                        <span class="shaded-text">Hire Contractors</span> <span class="text-black">- ERP
                            Applications</span>
                    </h6>
                    <div class="flex gap-5 my-2.5">
                        <ul class="list-disc ms-4">
                            <li class="text-xs mb-1.5">Account Manager
                            </li>
                            <li class="text-xs mb-1.5">Business Analyst
                            </li>
                            <li class="text-xs mb-1.5">Business Intelligence
                                (BI) Analyst
                            </li>
                            <li class="text-xs">Business Process Owner
                            </li>
                        </ul>

                        <ul class="list-disc ms-4">
                            <li class="text-xs mb-1.5">Audit Manager
                            </li>
                            <li class="text-xs mb-1.5">Business Continuity Analyst
                            </li>
                            <li class="text-xs mb-1.5">Business Intelligence Developer
                            </li>
                            <li class="text-xs">Change Analyst
                            </li>
                        </ul>

                        <ul class="list-disc ms-4">
                            <li class="text-xs mb-1.5">Back-end Developer
                            </li>
                            <li class="text-xs mb-1.5">
                                Business Continuity Analyst
                            </li>
                            <li class="text-xs mb-1.5">Business Process Analyst
                            </li>
                            <li class="text-xs">Change Management Specialist
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h6 class="text-lg text-primary-400 font-bold">Join Our Community...</h6>
                    <p class="text-black text-sm">Network, learn, and grow in the enterprise application ecosystem.</p>
                </div>
            </div>

            <div class="relative 5xl:block flex items-center w-full 5xl:overflow-visible overflow-x-auto pb-10">
                <div
                    class="w-fit shadow-[0_4px_20px_0px_rgb(73,73,252)] rounded-xl 5xl:absolute top-2/4 5xl:-translate-y-2/4 left-1/3 5xl:-translate-x-1/3 z-10">
                    <img src="../../../assets/public/hire-contractors/hero-sec/hero-sec-profile1.png"
                        alt="Profile Picture">
                    <div class="p-2.5 bg-white rounded-b-xl">
                        <h5 class="3xl:text-2xl text-xl text-primary-500 font-medium text-nowrap">Kristin Watson</h5>
                        <h6 class="3xl:text-xl text-lg text-slate-700">Senior .NET
                            Architect</h6>
                        <p class="text-xs text-slate-700 text-end mt-1">Latin America</p>
                    </div>
                </div>

                <img src="../../../assets/public/hire-contractors/hero-sec/hero-sec-profile2.png" alt="Profile Picture"
                    class="5xl:absolute bottom-0 7xl:left-1/4 left-0 7xl:-translate-x-3/4">

                <img src="../../../assets/public/hire-contractors/hero-sec/hero-sec-profile5.png" alt="Profile Picture"
                    class="5xl:absolute top-0 7xl:left-2/4 left-3/4 8xl:-translate-x-2/4">

                <img src="../../../assets/public/hire-contractors/hero-sec/hero-sec-profile4.png" alt="Profile Picture"
                    class="5xl:absolute 7xl:top-1/3 7xl:-translate-y-1/3 top-2/4 5xl:-translate-y-2/4  7xl:right-20 5xl:right-0">

                <img src="../../../assets/public/hire-contractors/hero-sec/hero-sec-profile3.png" alt="Profile Picture"
                    class="5xl:absolute bottom-0 7xl:right-40 5xl:right-10">

            </div>

        </div>
    </section>
    <!-- Hero Section End -->

</div>
<!-- EASWORKS  Services - Hire Contractors End -->

<!-- Steps to hire contractors Section start -->
<section class="p-0 steps-sec bg-no-repeat bg-cover bg-center relative">
    <div class="py-16 page">
        <div class="text-center mb-20">
            <h2 class="text-black 7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all font-bold">
                3 Steps to Hire Contractors <br /> for <span class="text-primary-500">Enterprise Apps.
                </span></h2>
        </div>
        <div
            class="grid my-12 gap-x-3 5xl:gap-x-4 6xl:gap-x-6 6xl:gap-y-20 gap-y-7 mx-auto justify-center grid-cols-1 4xl:grid-cols-2 5xl:grid-cols-2 6xl:grid-cols-3 7xl:max-w-7xl">
            <div class="relative flex flex-col gap-y-4 bg-transparent transition-all">
                <div
                    class="card-box p-4 h-full bg-no-repeat rounded-2xl bg-cover bg-white 4xl:bg-transparent 4xl:mx-0 mx-10">
                    <div>
                        <div class=" 7xl:text-5xl 3xl:text-4xl text-3xl text-primary-500 w-fit">#1</div>
                        <div>
                            <img src="/assets/public/hire-contractors/steps-sec/ic1.svg" class="ms-auto"
                                alt="Icon Image" />
                        </div>
                        <div class="mt-5">
                            <h4 class="text-2xl font-semibold text-primary-500 mb-4">Share Your Enterprise
                                App Project Requirements </h4>
                            <p class="text-black text-lg font-normal">Tell us the skills and expertise you need for your
                                enterprise application project. We create a detailed talent persona based on skills,
                                experience, and cultural fit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative flex flex-col gap-y-4 bg-transparent transition-all">
                <div
                    class="card-box p-4 h-full bg-no-repeat rounded-2xl bg-cover bg-white 4xl:bg-transparent 4xl:mx-0 mx-10">
                    <div>
                        <div class=" 7xl:text-5xl 3xl:text-4xl text-3xl text-primary-500 w-fit">#2</div>
                        <div>
                            <img src="/assets/public/hire-contractors/steps-sec/ic2.svg" class="ms-auto"
                                alt="Icon Image" />
                        </div>
                        <div class="mt-5">
                            <h4 class="text-2xl font-semibold text-primary-500 mb-4">Receive Handpicked Contractor
                                Profiles </h4>
                            <p class="text-black text-lg font-normal">Within 3 days, receive profiles of contractors
                                perfectly matched to your enterprise app needs. Get 7 customized resumes every 7 days.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative flex flex-col gap-y-4 bg-transparent transition-all">
                <div
                    class="card-box p-4 h-full bg-no-repeat rounded-2xl bg-cover bg-white 4xl:bg-transparent 4xl:mx-0 mx-10">
                    <div>
                        <div class=" 7xl:text-5xl 3xl:text-4xl text-3xl text-primary-500 w-fit">#3</div>
                        <div>
                            <img src="/assets/public/hire-contractors/steps-sec/ic3.svg" class="ms-auto"
                                alt="Icon Image" />
                        </div>
                        <div class="mt-5">
                            <h4 class="text-2xl font-semibold text-primary-500 mb-4">Interview & Let Us Handle Logistics
                            </h4>
                            <p class="text-black text-lg font-normal">Interview your chosen candidates and let us manage
                                all logistics, including scheduling, prepping, and coordinating offers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-6">
        <img src="/assets/public/hire-contractors/steps-sec/circle-img.svg"
            class="absolute top-10 left-20 -z-[1] mx-auto" alt="gradient-bg Image" />
    </div>
</section>
<!-- Steps to hire contractors Section end -->

<!-- Why choose hire contractors Section starts -->
<section class="p-0 relative">
    <div class="py-16 page">
        <div class="text-center">
            <h2 class="text-black 7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all font-bold">
                Why Choose EASWORKS for <br /> <span class="text-primary-500">Hiring Contractors
                </span></h2>
        </div>
        <div
            class="grid my-12 gap-x-4 6xl:gap-y-20 5xl:gap-y-6 gap-y-0 mx-auto justify-center grid-cols-1 5xl:grid-cols-2 6xl:grid-cols-3 7xl:max-w-7xl">
            <div class="relative flex flex-col gap-y-4 bg-transparent transition-all w-400">
                <div class="why-card-box h-full bg-no-repeat">
                    <div class="m-4">
                        <h4 class="text-xl font-semibold text-primary-500 mt-6 ml-20">Rigorous Vetting Process:</h4>
                        <p class="text-black text-sm font-normal px-4 pt-10">Enable an on-demand workforce, access
                            All talents undergo comprehensive assessments, guaranteeing top-tier, reliable talent
                            for your projects.
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="relative flex flex-col gap-y-4 bg-transparent transition-all w-400 6xl:translate-y-12 6xl:hover:translate-y-0">
                <div class="why-card-box1 h-full bg-no-repeat">
                    <div class="m-4">
                        <h4 class="text-xl font-semibold text-primary-500 mt-6 ml-20">Speed and Efficiency:</h4>
                        <p class="text-black text-sm font-normal px-4 pt-10">Quickly matches you with the right
                            talents, filling skill gaps and addressing positions rapidly to keep your EAS projects on
                            track.
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="relative flex flex-col gap-y-4 bg-transparent transition-all w-400 6xl:translate-y-20 6xl:hover:translate-y-0">
                <div class="why-card-box2 h-full bg-no-repeat">
                    <div class="m-4">
                        <h4 class="text-xl font-semibold text-primary-500 mt-6 ml-20">Flexible Engagement
                            Models:</h4>
                        <p class="text-black text-sm font-normal px-4 pt-10">Offers flexible terms for short-term,
                            long-term, or project-based needs, allowing you to scale your team as needed and adapt to
                            changing demands.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-6">
        <img src="/assets/public/hire-contractors/why-choose-us/why-choose-img.svg"
            class="absolute top-10 right-0 -z-[1]" alt="gradient-bg Image" />
    </div>
</section>
<!-- Why choose hire contractors Section end -->

<!-- Benefits of Hiring Contractors from EASWORKS Section Start -->
<section class="bg-gray-100 hire-contractor-sec py-20">
    <div class="page grid 5xl:grid-cols-2 gap-10">
        <div class="bg-vector-img bg-cover bg-no-repeat py-10 flex items-center justify-center w-full">
            <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
                Benefits of Hiring
                Contractors from
                <span class="grey-shaded-text">EASWORKS</span>
            </h2>
        </div>

        <div>
            <div class="7xl:w-2/4 w-3/4 ms-auto">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-400 mb-2 leading-tight">
                    Fill Skill Gaps with Specialized
                    Expertise
                </h6>
                <p class="leading-5 text-black">Seamlessly integrate specialized digital talent into your team to
                    ensure high-quality project support and successful outcomes.
                </p>
            </div>

            <div class="7xl:w-2/4 w-3/4 me-auto my-12">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-400 mb-2 leading-tight">
                    Hire Multiple Positions Quickly
                </h6>
                <p class="leading-5 text-black">Efficiently fill single or multiple roles with qualified
                    professionals, ensuring your projects remain on track and well-staffed.
                </p>
            </div>

            <div class="7xl:w-2/4 w-3/4 ms-auto">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-400 mb-2 leading-tight">
                    Cost-Effective and Risk-Free
                    Hiring
                </h6>
                <p class="leading-5 text-black">Benefit from competitive pricing and a no-risk trial period,
                    ensuring satisfaction and cost-efficiency in your hiring process.

                </p>
            </div>
        </div>
    </div>
</section>
<!-- Benefits of Hiring Contractors from EASWORKS Section End -->

<!-- Build Enterprise Apps Teams Your Way Section Start  -->
<section class="3xl:py-20 py-10">
    <div class="page flex justify-center items-center">
        <div class="w-fit flex justify-center flex-col items-center gap-1">
            <div
                class="flex flex-col justify-end items-end gap-1 md:w-4/5 ms-auto self-end 7xl:-translate-x-16 7xl:translate-y-7">
                <h6 class="3xl:text-3xl text-2xl">Let's get started!</h6>
                <img src="../../../assets/public/hire-contractors/build-enterprise-apps/custom-border-img.svg"
                    alt="Border Image" class="7xl:translate-x-7">
            </div>
            <h2
                class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-center text-black md:w-4/5 mx-auto">
                Benefits of Hiring Contractors from <span class="text-primary-500">Your Way</span> .</h2>
            <p class="3xl:text-xl text-lg mt-2 font-normal text-center">Access talent on demand to keep projects on
                time and on budget.
            </p>
            <button
                class="font-bold build-app-btn text-primary-500 bg-no-repeat rounded-xl 3xl:text-2xl text-xl 3xl:py-4 py-3 px-12 5xl:mt-12 mt-8 5xl:mb-6 mb-4">
                Let's get started! </button>

            <p class="3xl:text-xl text-lg text-black font-bold">we are ready to
                <span class="text-primary-500">build our team </span>
            </p>
        </div>
    </div>
</section>
<!-- Build Enterprise Apps Teams Your Way Section End  -->


<!-- Dedicated Community Section Start -->
<section class="my-24 3xl:px-8 px-5 relative">
    <div class="page p-0">
        <div class="text-center mb-10">
            <h2 class="text-black 7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all font-bold">
                Handpicking Top Talent for <br /> <span class="text-primary-500">Your EAS Projects**
                </span></h2>
            <p>Access mission-driven enterprise application talent, handpicked through
                our meticulous screening process.</p>
        </div>
        <div class="grid 4xl:grid-cols-2 gap-0 4xl:items-center">
            <div class="flex 4xl:justify-end justify-center">
                <img src="/assets/public/hire-contractors/hand-picking/left-img.png" alt="Left Image"
                    class="4xl:w-3/4 lg:w-2/4 sm:w-3/4">
            </div>
            <div class="6xl:pt-0 lg:pt-12 lg:pb-20 pt-7 pb-14 3xl:ps-9 ps-5 3xl:pe-0 pe-5 4xl:order-1 order-2">
                <div>
                    <p class="text-[#717171] text-sm">Step 1: </p>
                    <div class="flex text-xl text-primary-500 font-bold mb-2">
                        <img src="/assets/public/hire-contractors/hand-picking/wavy-check.png" class="me-2"
                            alt="Check Image">
                        Depth in past work
                    </div>
                    <div class="flex text-xl text-primary-500 font-bold mb-2">
                        <img src="/assets/public/hire-contractors/hand-picking/wavy-check.png" class="me-2"
                            alt="Check Image">
                        Relevant exposure
                    </div>
                    <div class="flex text-xl text-primary-500 font-bold">
                        <img src="/assets/public/hire-contractors/hand-picking/wavy-check.png" class="me-2"
                            alt="Check Image">
                        Complexity of Enterprise Apps Development
                    </div>
                    <p class="text-[#7A7A7A] mt-5">Review candidate's application for depth and complexity of past
                        <br />work. Select those with significant experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/public/home/hire-contractors/big-circle.svg" alt="Circle Image" class="absolute top-0 right-0">
</section>
<!-- Dedicated Community Section Start -->

<!-- Dedicated Community Section Start -->
<section class="3xl:px-8 px-5">
    <div class="page p-0">
        <div
            class="rounded-4xl bg-gradient-to-r from-primary-500 from-1% to-[#4949fc00] to-99.85% grid 4xl:grid-cols-2 gap-0 4xl:items-center">
            <div class="6xl:pt-0 lg:pt-12 lg:pb-20 pt-7 pb-14 3xl:ps-9 ps-5 3xl:pe-0 pe-5 4xl:order-1 order-2">
                <h2 class=" text-white 8xl:text-[56px] 3xl:text-4xl text-3xl 7xl:leading-tight font-bold">Join the <span
                        class="text-black">EASWORKS
                        Community</span></h2>
                <p class="3xl:text-xl text-lg font-medium  text-white lg:my-4 my-2.5">Stay updated with industry
                    trends, connect
                    with peers, and participate in exclusive events. Network, learn, and grow in the enterprise
                    application
                    ecosystem.
                </p>

                <button
                    class="bg-white text-primary-500 3xl:px-10 lg:px-8 px-5 3xl:py-4 py-2.5 rounded-lg 3xl:text-xl text-lg font-bold">Explore
                    the Community</button>

            </div>
            <div class="flex 4xl:justify-end justify-center 4xl:order-2 order-1">
                <img src="/assets/public/home/dedicated-community/join-community-img.png" alt="Join Community Image"
                    class="4xl:w-3/4 lg:w-2/4 sm:w-3/4">
            </div>
        </div>
    </div>

</section>
<!-- Dedicated Community Section Start -->

<!-- Testimonial Section Start -->
<section class="bg-white mt-24 3xl:px-8 px-5 5xl:pb-40 pb-24 testimonial-sec">
    <div class="page p-0 vector-bg bg-no-repeat bg-left-bottom">
        <div class="bg-cover bg-no-repeat bg-center cards-bg-effect py-12">
            <h2
                class="text-primary-500 7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all  text-center font-bold">
                <span class="text-black">Why 100+ of fast-growing companies
                </span><br> love EASWORKS
            </h2>
            <div class="grid 4xl:grid-cols-3 xl:grid-cols-2 gap-4 pt-14 pb-9">
                <div class="py-5 px-3.5 rounded-3xl border-b-8 border-primary-500 bg-gray-100">
                    <div class="flex items-center gap-2 mb-2.5">
                        <img src="/assets/public/home/testimonial/user-profile1.svg" alt="User Profile">
                        <div>
                            <h5 class="3xl:text-xl text-lg text-black font-semibold ">Thomas Israel</h5>
                            <p class="text-neutral-500 text-sm  font-normal mt-0.5">VP Finance, CREO</p>
                        </div>
                    </div>
                    <div class="relative testimonial-divider before:absolute before:inset-0"></div>
                    <p class="text-black font-normal  pt-2.5 px-4">“ Easworks spent a good amount of time
                        understanding
                        our requirements, resulting in accurate recommendations and quick ramp up by developers. We also
                        found
                        them
                        to be much more affordable than other alternatives for the same level of quality. I used to have
                        to remit
                        tax to the EU and with Easworks I somehow don't have to do that anymore.” </p>
                </div>
                <div class="py-5 px-3.5 rounded-3xl border-b-8 border-primary-500 bg-gray-100">
                    <div class="flex items-center gap-2 mb-2.5">
                        <img src="/assets/public/home/testimonial/user-profile2.svg" alt="User Profile">
                        <div>
                            <h5 class="3xl:text-xl text-lg text-black font-semibold ">Thomas Israel</h5>
                            <p class="text-neutral-500 text-sm  font-normal mt-0.5">Operations Manager</p>
                        </div>
                    </div>
                    <div class="relative testimonial-divider before:absolute before:inset-0"></div>
                    <p class="text-black font-normal  pt-2.5 px-4">“ Easworks spent a good amount of time
                        understanding
                        our requirements, resulting in accurate recommendations and quick ramp up by developers. We also
                        found
                        them
                        to be much more affordable than other alternatives for the same level of quality.” </p>
                </div>
                <div class="py-5 px-3.5 rounded-3xl border-b-8 border-primary-500 bg-gray-100">
                    <div class="flex items-center gap-2 mb-2.5">
                        <img src="/assets/public/home/testimonial/user-profile3.svg" alt="User Profile">
                        <div>
                            <h5 class="3xl:text-xl text-lg text-black font-semibold ">Thomas Israel</h5>
                            <p class="text-neutral-500 text-sm  font-normal mt-0.5">Chef</p>
                        </div>
                    </div>
                    <div class="relative testimonial-divider"></div>
                    <p class="text-black font-normal  pt-2.5 px-4">“ It's been great working with Easworks for hiring
                        talented, hardworking folks. We needed a suitable back-end developer and got to know Ankur
                        through
                        Easworks.
                        We are very happy with his commitment and skills and will be working with Easworks going forward
                        as well.”
                    </p>
                </div>
            </div>
            <div class="flex justify-center gap-5">
                <div class="bg-primary-500 w-24 h-1"></div>
                <div class="bg-black w-24 h-1"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->