<!-- EASWORKS  Services - Hire Contractors Start -->
<div class="bg-white">
  <service-type-hero-section></service-type-hero-section>
  <service-type-achievement-section></service-type-achievement-section>
</div>

<service-type-hiring-steps-section></service-type-hiring-steps-section>

<service-type-why-choose-easworks-section></service-type-why-choose-easworks-section>

<div class="bg-vector-img bg-no-repeat relative">
  <service-type-benefit-hiring-contractors-section></service-type-benefit-hiring-contractors-section>

  <service-type-build-enterprise-app-section></service-type-build-enterprise-app-section>

  <img src="/assets/public/hire-contractors/benifit-hiring-easworks/bg-vector-img.png" alt="Border Image"
    class="absolute top-10 bottom-0">
</div>

<service-type-hand-picking-section></service-type-hand-picking-section>

<service-type-discover-elite-enterprise-section></service-type-discover-elite-enterprise-section>

<service-type-erp-operations-section></service-type-erp-operations-section>

<service-type-join-community-section></service-type-join-community-section>

<service-type-industries-use-cases-section></service-type-industries-use-cases-section>

<faq-lists></faq-lists>

<div class="bg-vector-img bg-no-repeat relative">

  <service-type-testimonial-section></service-type-testimonial-section>

  <service-type-schedule-call-section></service-type-schedule-call-section>

  <img src="/assets/public/hire-contractors/benifit-hiring-easworks/bg-vector-img.png" alt="Border Image"
    class="absolute bottom-0 -z-10">
</div>