// New CSS Start
#hero-section {
  @apply min-h-offset-screen relative flex;

  &::before {
    @apply absolute bg-cover h-full w-full -z-10;
    content: '';
    background-color: hsl(from theme('colors.primary.500') h s 10);
  }
}

#achievements {
  > h3 {
    .mat-divider {
      @apply !border-transparent xl:!border-gray-400;
      
    }
  }

  > div {
    @apply text-white max-xl:mt-8;

    @apply flex flex-wrap gap-8 gap-x-16 grid-cols-2 justify-evenly justify-items-center;

    > div  {
      @apply text-center;

      > p {
        &:first-child {
          @apply text-4xl font-bold;

          background: linear-gradient(110.93deg, #EDF1FF -1.39%, #6A6C76 93.3%);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }

        &:last-child {
          @apply mt-2 text-xl;
        }
      }
    }
  }  
}


// Maximize Project section classes
.maximize-project {
  .card-box {
    background-image: url(/assets/public/home/maximize-project/border-shape-img.png);
    background-size: 100% 100%;
  }
}

.gradient-bg {
  background-image: url(/assets/public/home/hire-contractors/hiring-bg-img.png);
  background-size: 100% 100%;
}

.hire-elite-bg {
  background-image: url(/assets/public/home/hire-elite-bg.png);

  .hire-elite-btn {
    background-image: url(/assets/public/home/hire-elite-btn-bg.svg);
  }
}

.gradient-btn {
  background-image: linear-gradient(315deg,
      hsl(216deg 73% 59%) 0%,
      hsl(221deg 36% 20%) 35%,
      hsl(249deg 46% 21%) 65%,
      hsl(240deg 97% 64%) 100%);
}

.border-gradient::before {
  padding: 1px;
  background: linear-gradient(91.19deg, #FFFFFF 12.46%, rgba(255, 255, 255, 0) 100.28%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

// Cases css
.case-card {
  background-image: linear-gradient(252deg, hsl(0, 0%, 0%) 0%, hsl(0deg 0% 72.91%) 70%, hsl(355deg 0% 12.44%) 100%);
}

// ERP services
.erp-operations {
  background: linear-gradient(180deg, rgba(73, 73, 252, 0.28) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.view-more {
  @apply relative text-sm flex items-center text-primary-500 px-4 mt-5 rounded-full hover:hover:text-white hover:duration-500 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px];

  &:before {
    background: linear-gradient(95.23deg, #4B4BF0 28.56%, #F34A02 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.logo-sec-bg {
  background-image: url(/assets/public/home/erp-operations/logo-sec-bg.png);
  background-size: 100% 100%;
}

.enterprise-app-dev {
  &-card {
    @apply text-white relative transition-all w-full;

    &.highlight {
      @apply ring-4 ring-primary-500 4xl:translate-x-12;
    }
  }
}

//Testimonial Css
.testimonial-sec {
  background-image: url(/assets/public/hire-contractors/why-choose-us/why-choose-img.svg);
  background-size: 100% 100%;

  .testimonial-divider::before {
    padding: 1px;
    background: linear-gradient(90deg, rgba(153, 153, 153, 0) 0%, #FFFFFF 51%, rgba(153, 153, 153, 0) 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .testimonial-btn {
    background-image: url(/assets/public/home/hire-elite-btn-bg.svg);
  }
}

.how-easworks {
  .bg-effect {
    background-image: url(/assets/public/home/how-eas-works/main-bg-effect.png);
    background-size: 60%;
  }

  .how-easworks-btn {
    background-image: url(/assets/public/home/hire-elite-btn-bg.svg);
  }
}

// New CSS End