<section class="relative bg-white pb-8">
  <div class="absolute top-0 left-0 w-full h-full ">
    <img class="w-full h-full opacity-5" src="/assets/img/building.jpg" alt="">
  </div>

  <div class="flex gap-4 justify-between 
        flex-wrap-reverse lg:flex-nowrap relative">
    <div class="mt-4 p-4 md:px-8 lg:max-w-2xl lg:mx-auto self-center transition-all">
      <p>
        EASWORKS is an on-demand platform for hiring Enterprise Application
        freelancers with deep expertise in various Enterprise Application
        Software (EAS) technologies and domains.
      </p>
      <h3 class="mt-4 lg:text-4xl text-2xl font-bold">
        Unlock the potential of <span class="text-primary">enterprise
          application development with ease.</span>
      </h3>
      <p class="mt-4">
        Work with top pre-vetted enterprise application software experts with
        deep industry knowledge, extensive project experience, strong
        collaboration skills, and understanding of project requirements.
      </p>
      <div class="flex mt-12 gap-4">
        <button class="shaded-button primary mat-elevation-z1">Hire Us</button>
        <button class="shaded-button mat-elevation-z1"> Work with us</button>
      </div>
    </div>
    <div class="mx-auto self-start max-w-full xl:max-w-5xl
                transition-all">
      <lottie-player src="https://lottie.host/6ba2be73-f581-4302-8a7e-d239af1b177b/i4dV3wJAo2.json"
                     background="transparent" speed="1"
                     loop autoplay
                     class="contents"></lottie-player>
    </div>
  </div>
</section>

<section>
  <div class="page py-8 flex flex-wrap justify-around gap-4">
    <div *ngFor="let logo of customerLogos">
      <img class="w-32" [src]="logo" alt="">
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="page py-8 grid grid-cols-1 lg:grid-cols-2 gap-4 gap-y-8 items-center">
    <div class="relative">
      <h2 class="text-2xl font-bold lg:text-3xl transition-all">
        Adapt and evolve with EASWORKS.
      </h2>
      <p class="my-4">
        EASWORKS recognizes the distinct challenges of enterprise applications and
        meticulously curates a pool of highly skilled freelancers who specialize
        in providing resilient, scalable enterprise application services(EAS).
      </p>
      <p class="my-4">
        EASWORKS empowers you with a global talent pool of experienced freelancers
        who excel in enterprise application development. Whether you need
        assistance with tasks or ongoing support, our platform is dedicated
        to helping you thrive in the evolving enterprise application landscape.
      </p>
      <p class="my-4">
        <strong>Hire an EAS expert today</strong> or let us take your project
        from conception to realisation.
      </p>
      <button class="highlight-button primary mt-8">Get Started</button>
    </div>
    <div>
      <lottie-player src="https://lottie.host/4b583250-12a2-4a40-baa9-45e2701f2c06/sHU0VRjvKR.json"
                     background="transparent" speed="1"
                     loop autoplay></lottie-player>
    </div>
  </div>
</section>

<section>
  <div class="page py-12">
    <h2 class="text-2xl lg:text-3xl text-center font-bold transition-all">EASWORKS promises it all</h2>

    <div class="flex mt-12 flex-wrap gap-8 justify-center">
      <div *ngFor="let promise of promises"
           class="flex flex-col gap-y-4 p-2 px-4 pb-4
           md:max-w-[14rem] lg:max-w-[16rem] xl:max-w-[20rem]
           bg-white shadow-md rounded-md text-center transition-all">
        <lottie-player [src]="promise.lottie"
                       background="transparent"
                       class="w-24 h-24 mx-auto"
                       autoplay loop>
        </lottie-player>
        <h4 class="text-lg font-semibold">{{promise.title}}</h4>
        <p class="text-sm leading-6 text-center">{{promise.content}}</p>
      </div>
    </div>
  </div>
</section>


<section class="bg-white">
  <div class="page py-12">
    <h2 class="text-2xl lg:text-3xl font-bold text-center transition-all">How it Works</h2>

    <div class="flex mt-12 flex-wrap gap-4 md:gap-8 justify-center xl:flex-nowrap">
      <div *ngFor="let hitw of howItWorks"
           class="flex flex-col gap-y-4 p-2 px-4 pb-4  transition-all
           flex-grow w-48 lg:w-72
           bg-white shadow-lg rounded-md text-center">
        <lottie-player [src]="hitw.lottie"
                       background="transparent"
                       class="mx-auto w-20 h-20 md:w-24 md:h-24 transition-all"
                       autoplay loop></lottie-player>
        <h4 class="text-lg font-semibold">{{hitw.title}}</h4>
        <p class="text-sm leading-6">{{hitw.content}}</p>
      </div>

    </div>

    <div class="flex justify-center mt-10 text-center">
      <button class="highlight-button primary mt-5">Describe Your Project
        Needs</button>
    </div>
  </div>
</section>


<section>
  <div class="page py-12">
    <h2 class="text-2xl lg:text-3xl font-bold text-center transition-all">
      Accelerate your Enterprise Application development
      with scalable on-demand tech talent.
    </h2>

    <div class="flex mt-12 flex-wrap lg:flex-nowrap gap-8 justify-center">
      <div *ngFor="let acc of accelerate"
           class="flex flex-col gap-2 p-4 text-center
              flex-grow w-60 lg:w-72
              border border-primary bg-white shadow-md 
              rounded-tr-[2rem] rounded-bl-[2rem] border-b-4">
        <lottie-player [src]="acc.lottie"
                       background="transparent"
                       class="mx-auto w-full h-20 md:w-24 md:h-24 transition-all"
                       autoplay loop></lottie-player>
        <h4 class="text-lg font-semibold">{{acc.title}}</h4>
        <p class="text-sm leading-6 my-auto">{{acc.content}}</p>

        <button class="highlight-button primary max-w-max mx-auto mt-auto">Get Started</button>
      </div>
    </div>
  </div>
</section>

<section class="lg:py-[60px] py-4 bg-white">
  <div class="page">
    <div class="text-left mb-5">
      <h2 class="lg:text-4xl text-2xl font-bold">Hire elite EAS talent based on
        <span
              class="text-primary">Enterprise
          Application Software (EAS).</span>
      </h2>
    </div>
    <div
         class="flex justify-between mb-5 text-left pb-[60px] lg:flex-row flex-col">
      <h2 class="lg:text-[1.625rem] text-2xl font-bold mb-5 lg:mb-0">80+
        Enterprise Application
        Supported</h2>
      <div class="lg:border-l-2 flex gap-4 lg:pl-8">
        <button class="stroked-button">Apply for Jobs</button>
        <button class="highlight-button"> Hire Now</button>
      </div>
    </div>

    <div class="grid gap-8">
      <software-tiles-container *ngFor="let domain of featuredDomains$()" [domain]="domain"></software-tiles-container>
    </div>
  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">EASWORKS supports major critical enterprise
        application
        development use
        cases.</h2>
    </div>
    <div class="text-left mb-5">
      <h2 class="text-2xl font-bold">Hire Elite EAS Talent Based On <span
              class="text-primary">Enterprise
          Application Use Cases.</span>
      </h2>
    </div>

    <div class="flex gap-8 flex-wrap justify-center items-stretch">
      <div *ngFor="let uc of useCases"
           class="bg-white p-2 px-4 rounded-md 
            shadow-md text-center transition-all
            w-40 flex-grow md:w-48 lg:flex-none">
        <div class="flex justify-center mx-auto mb-5">
          <lottie-player [src]="uc.lottie"
                         background="transparent" speed="1"
                         class="w-32"
                         loop autoplay>
          </lottie-player>
        </div>
        <h4 class="font-semibold my-4">{{uc.title}}</h4>
      </div>
    </div>


  </div>
</section>