<section class="relative bg-white pb-8">
  <div class="absolute top-0 left-0 w-full h-full ">
    <img class="w-full h-full opacity-5" src="/assets/img/building.jpg" alt="">
  </div>

  <div class="flex gap-4 justify-between 
        flex-wrap-reverse lg:flex-nowrap relative">
    <div class="p-4 md:px-8 lg:max-w-2xl lg:mx-auto self-center">
      <p>
        EASWORKS is an on-demand platform for hiring Enterprise Application
        freelancers with deep expertise in various Enterprise Application
        Software (EAS) technologies and domains.
      </p>
      <h3 class="mt-4 lg:text-4xl text-2xl font-bold">
        Unlock the potential of <span class="text-primary">enterprise
          application development with ease.</span>
      </h3>
      <p class="mt-4">
        Work with top pre-vetted enterprise application software experts with
        deep industry knowledge, extensive project experience, strong
        collaboration skills, and understanding of project requirements.
      </p>
      <div class="flex mt-12 gap-4">
        <button class="shaded-button primary mat-elevation-z1">Hire Us</button>
        <button class="shaded-button mat-elevation-z1"> Work with us</button>
      </div>
    </div>
    <div class="mx-auto self-start max-w-full xl:max-w-5xl
                transition-all">
      <lottie-player src="https://lottie.host/6ba2be73-f581-4302-8a7e-d239af1b177b/i4dV3wJAo2.json"
                     background="transparent" speed="1"
                     loop autoplay
                     class="contents"></lottie-player>
    </div>
  </div>
</section>

<section>
  <div class="page py-8 flex flex-wrap justify-around gap-4">
    <div *ngFor="let logo of customerLogos">
      <img class="w-32" [src]="logo" alt="">
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="page py-8 grid grid-cols-1 lg:grid-cols-2 gap-4 gap-y-8 items-center">
    <div class="relative">
      <h2 class="text-2xl font-bold lg:text-4xl transition-all">
        Adapt and evolve with EASWORKS.
      </h2>
      <p class="my-4">
        EASWORKS recognizes the distinct challenges of enterprise applications and
        meticulously curates a pool of highly skilled freelancers who specialize
        in providing resilient, scalable enterprise application services(EAS).
      </p>
      <p class="my-4">
        EASWORKS empowers you with a global talent pool of experienced freelancers
        who excel in enterprise application development. Whether you need
        assistance with tasks or ongoing support, our platform is dedicated
        to helping you thrive in the evolving enterprise application landscape.
      </p>
      <p class="my-4">
        <strong>Hire an EAS expert today</strong> or let us take your project
        from conception to realisation.
      </p>
      <button class="highlight-button primary mt-8">Get Started</button>
    </div>
    <div>
      <lottie-player src="https://lottie.host/4b583250-12a2-4a40-baa9-45e2701f2c06/sHU0VRjvKR.json"
                     background="transparent" speed="1"
                     loop autoplay></lottie-player>
    </div>
  </div>
</section>

<section>
  <div class="page py-12">
    <h2 class="lg:text-4xl text-center text-2xl font-bold mb-12">EASWORKS promises it all</h2>

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 items-center">
      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/cdcfdf4a-7f11-46f6-b763-8aa0ddd63cb3/5cIAv6Pb81.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Flexibility</h4>
        <p class="text-sm leading-6">Enables on-demand workforce, accessing global talent, finding specialized skills, adapting to project needs, and optimizing resource utilization, providing agility in resource allocation.</p>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/3203c356-64e8-4201-863e-81282f3506c9/PlX4Ox852r.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Cost-effectiveness</h4>
        <p class="text-sm leading-6">Transform your cost structure by harnessing
          the skills of a
          diverse and
          adept multidisciplinary team that exceeds expectations while adhering
          to your budget.</p>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/7da03309-6e31-4baa-992a-7ee702e4e819/6HgdujnMus.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Accountability</h4>
        <p class="text-sm leading-6">Foster accountability through a quality
          assurance process that
          combines
          technological tools and human interaction to evaluate and monitor
          talents work.</p>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/57b08bd3-d2c8-40a4-a671-9eace5cb0f6a/gmVxmaKxh2.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Business value</h4>
        <p class="text-sm leading-6">Expertise and Specialization: Enterprise
          Application
          Freelancers with deep
          knowledge and experience</p>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/0ab10ae7-b278-4ff2-93c7-12c5702845ba/DyAyVPgYMt.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Speed</h4>
        <p class="text-sm leading-6">Ensure proposals from relevant EAS experts
          within 48 hours,
          allowing
          employers to quickly connect with and engage talents.</p>
      </div>
    </div>
  </div>
</section>


<section class="lg:py-[60px] py-4 bg-white">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="lg:text-4xl text-2xl font-bold">How it Works</h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 items-center">
      <div class="bg-white shadow-lg rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/5bf7837c-438a-4a4e-a94d-7a36e8b9562a/cMaf4XaF50.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Describe your needs</h4>
        <p class="text-sm leading-6">Brief us on your Enterprise Application,
          technology, domain,
          enterprise
          project requirements and describe your project using our job form.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/3a6e85a5-efa3-4b74-8850-f8595245abd1/gfULmGWGsu.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Schedule a meeting to align on
          goals</h4>
        <p class="text-sm leading-6">We always create a unique team augmentation
          strategy based on
          business
          goals.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Interview & Approve</h4>
        <p class="text-sm leading-6">Interview the EAS talent that we match you
          with and approve the
          candidate(s) who will join your enterprise project team.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/f707add6-d1ed-49db-b0d2-224e018b4dca/4LiVNG5Um8.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Start your Enterprise project
          with remote talent</h4>
        <p class="text-sm leading-6">Seal the deal with a contract based on your
          engagement model
          and launch
          your remote team.</p>
      </div>
    </div>

    <div class="flex justify-center mt-10 text-center">
      <button class="highlight-button primary mt-5">Describe Your Project
        Needs</button>
    </div>
  </div>
</section>


<section class="lg:py-[60px] py-4">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="lg:text-4xl text-2xl font-bold">Accelerate your Enterprise
        Application development
        with scalable
        on-demand
        tech talent.</h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center">
      <div
           class="bg-white shadow-md py-8 px-3 text-center h-full rounded-tr-[33px] rounded-bl-[33px] border border-b-4 border-primary">
        <div class="flex justify-center w-[120px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/cdcfdf4a-7f11-46f6-b763-8aa0ddd63cb3/5cIAv6Pb81.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Vetted Individuals</h4>
        <p class="text-sm leading-6">Bridge the EAS Skill Gap in Your Team with
          our pre-vetted EAS
          professionals
          who bring the enterprise application expertise and the skill set
          you're looking for.</p>

        <div class="flex justify-center mt-3 text-center">
          <button class="highlight-button primary mt-5">Get Started</button>
        </div>
      </div>

      <div
           class="bg-white shadow-md py-8 px-3 text-center h-full rounded-tr-[33px] rounded-bl-[33px] border border-b-4 border-primary">
        <div class="flex justify-center w-[120px] m-[auto] mb-5">
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_kcovw7lp.json"
                         background="transparent" speed="1"
                         style="width: 120px; height: 100%" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Full Teams</h4>
        <p class="text-sm leading-6">Hire a fully equipped remote team on a
          per-project basis with
          needed EAS
          skills, ready to start immediately.</p>
        <div class="flex justify-center mt-3 text-center">
          <button class="highlight-button primary mt-5">Get Started</button>
        </div>
      </div>

      <div
           class="bg-white shadow-md py-8 px-3 text-center h-full rounded-tr-[33px] rounded-bl-[33px] border border-b-4 border-primary">
        <div class="flex justify-center w-[170px] m-[auto] mb-5">
          <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_agykieqg.json"
                         background="transparent" speed="1"
                         style="width: 170px; height: 170px" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Enterprise Application Projects
        </h4>
        <p class="text-sm leading-6">EASWORKS platform allows us to pull from
          the elite global
          enterprise
          application talent to create a hand-picked AND fully managed team to
          reliably deliver on
          your
          enterprise project within your budget and deadlines.</p>
        <div class="flex justify-center mt-3 text-center">
          <button class="highlight-button primary mt-5">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lg:py-[60px] py-4 bg-white">
  <div class="page">
    <div class="text-left mb-5">
      <h2 class="lg:text-4xl text-2xl font-bold">Hire elite EAS talent based on
        <span
              class="text-primary">Enterprise
          Application Software (EAS).</span>
      </h2>
    </div>
    <div
         class="flex justify-between mb-5 text-left pb-[60px] lg:flex-row flex-col">
      <h2 class="lg:text-[1.625rem] text-2xl font-bold mb-5 lg:mb-0">80+
        Enterprise Application
        Supported</h2>
      <div class="lg:border-l-2 flex gap-4 lg:pl-8">
        <button class="stroked-button">Apply for Jobs</button>
        <button class="highlight-button"> Hire Now</button>
      </div>
    </div>

    <div class="grid gap-8">
      <software-tiles-container *ngFor="let domain of featuredDomains$()" [domain]="domain"></software-tiles-container>
    </div>
  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">EASWORKS supports major critical enterprise
        application
        development use
        cases.</h2>
    </div>
    <div class="text-left mb-5">
      <h2 class="text-[1.563em] font-bold">Hire Elite EAS Talent Based On <span
              class="text-primary">Enterprise
          Application Use Cases.</span>
      </h2>
    </div>

    <div class="grid grid-cols-5 gap-8 items-center">
      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/4c9690fd-2f7c-4f2d-8d17-189cd10faa13/ZVqeAIMqEv.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Digital Transformation (DX)</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/24cc3e35-b8db-4ea0-a1ba-b32a2f697da6/AgufANxAwn.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Innovation</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/da0ab755-9ffb-44dd-acf1-af038e744642/AbXDubIFQZ.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Prototyping</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/6cd7a0ca-c8e5-4f78-bdcd-25f0d6d8066b/88foE2hAa4.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Enterprise Application Design
        </h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/fbafaf32-a5a8-4a76-ab00-6b0b882e187f/FrPuBm1o9l.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Business Intelligence</h4>
      </div>
    </div>

    <div class="grid grid-cols-5 gap-8 items-center mt-5">
      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/4c9690fd-2f7c-4f2d-8d17-189cd10faa13/ZVqeAIMqEv.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Digital Transformation (DX)</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/24cc3e35-b8db-4ea0-a1ba-b32a2f697da6/AgufANxAwn.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Innovation</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/da0ab755-9ffb-44dd-acf1-af038e744642/AbXDubIFQZ.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Prototyping</h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/6cd7a0ca-c8e5-4f78-bdcd-25f0d6d8066b/88foE2hAa4.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Enterprise Application Design
        </h4>
      </div>

      <div class="bg-white shadow-md rounded-md p-3 text-center h-full">
        <div class="flex justify-center m-[auto] mb-5">
          <lottie-player src="https://lottie.host/fbafaf32-a5a8-4a76-ab00-6b0b882e187f/FrPuBm1o9l.json"
                         background="transparent" speed="1"
                         style="width: 100%; height: 200px;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Business Intelligence</h4>
      </div>
    </div>
  </div>
</section>