<!-- hero section -->
<section id="hero-section">
  <div class="page">
    <div class="flex flex-col 8xl:flex-row gap-16 py-8
          justify-center 8xl:justify-normal items-center transition-all">
      <div>
        <h1 class="text-white font-bold">
          <div class="text-xl 2xl:text-3xl 7xl:text-5xl transition-all text-gray-400">
            Unlock the future of
          </div>
          <div class="text-2xl 2xl:text-4xl 7xl:text-6xl !leading-tight mt-2 transition-all
            text-white">Enterprise Application Development</div>
        </h1>
        <div class="mt-8 2xl:mt-12 max-w-screen-xl">
          <p class="text-gray-400 2xl:text-lg font-bold">Hire Elite Enterprise Application Talents On-Demand.</p>
          <p class="text-sm 2xl:text-base text-gray-300 mt-4">
            EASWORKS connects you with top-tier, pre-vetted talents specializing in diverse
            <span class="font-bold text-gray-100">Enterprise Application Software (EAS) and domains</span>.
            Maximize your project's potential with experts who bring
            deep industry knowledge, extensive experience, and
            superior collaboration skills.
          </p>
          <div class="flex gap-4 mt-12 items-center">
            <button class="filled-button" mat-ripple>
              Hire Now
            </button>
            <button class="outlined-button text-white" mat-ripple>
              Find Jobs
            </button>
          </div>
          <div class="mt-8">
            <button class="tonal-button">Join our community!</button>
            <p class="text-sm 2xl:text-base text-gray-300 mt-4">
              Network, learn, and grow in the enterprise application ecosystem.
            </p>
          </div>
        </div>
      </div>

      <!-- hero asset -->
      <div class="w-full hidden 8xl:block max-w-screen-3xl self-stretch bg-gray-300/50 rounded-md"></div>
    </div>

    <!-- achievements -->
    <div id="achievements">
      <h3 class="mt-16 flex gap-8 items-center">
        <mat-divider class="flex-1"></mat-divider>
        <h3 class="text-gray-400 text-2xl font-bold">ACHIEVEMENTS</h3>
        <mat-divider class="flex-1"></mat-divider>
      </h3>

      <div class="my-4">

        @for(ach of achievements; track ach) {
        <div>
          <p>{{ach.value}}</p>
          <p>{{ach.text}}</p>
        </div>
        }

      </div>
    </div>
  </div>
</section>

<!-- made easy with easworks -->
<section id="made-easy-with-easworks" class="page py-8 md:py-16">
  <h2 class="text-center 
    text-lg 2xl:text-3xl 7xl:text-5xl 
    !leading-snug
    transition-all">
    <span class="font-bold">Enterprise Application Development</span> <br>
    <span class="text-primary-500 2xl:text:2xl 7xl:text-4xl transition-all">
      Made easy with
      <span class="font-bold 
      text-lg 2xl:text-3xl 7xl:text-5xl
      transition-all">EASWORKS</span>
    </span>
  </h2>

  <div class="mt-8 5xl:mt-16 grid gap-16 justify-center justify-items-center
          transition-all
          grid-cols-1 5xl:grid-cols-2
          max-w-screen-7xl mx-auto">
    <div class="order-2  max-w-screen-lg transition-all
          5xl:order-1 5xl:place-content-center
          md:text-xl 
          7xl:text-xl">
      <h3 class="text-primary-700 font-bold">Specialized Skills</h3>
      <p class="mt-2">
        Access professionals with targeted expertise
        and experience in the specific industry domain you require.
      </p>
      <button class="filled-button mt-4 text-base" mat-ripple>
        Get Started
      </button>
    </div>

    <div class="order-1 rounded-md grid gap-6 w-full
          transition-all
          2xl:max-w-screen-lg 
          5xl:order-2 5xl:max-w-screen-2xl 5xl:pr-12">
      @for (dev of madeEasySection.devs; track dev) {
      <div class="enterprise-app-dev-card
                flex gap-4 items-center 
                p-2 px-4 rounded-md
                bg-gradient-to-r from-zinc-800 to-black
                shadow shadow-z8 shadow-black/40" [class.highlight]="dev.highlight">
        <div class="relative">
          <img [src]="dev.image">
          <div class="absolute right-2 top-0.5 
                border border-primary-500 
                rounded-full w-3.5 h-3.5" [class]="dev.badge">
          </div>
        </div>
        <div class="flex-grow flex flex-col gap-2">
          <div>
            <div class="text-xl text-primary-400">{{dev.name}}</div>
            <div class="mt-1">{{dev.role}}</div>
          </div>
          <div class="flex gap-2 items-center justify-between flex-wrap">
            <div class="flex gap-2 items-center">
              <fa-icon [icon]="icons.faLocationDot" class="text-gray-200"></fa-icon>
              <span class="leading-none">{{dev.location}}</span>
            </div>
            <div class="flex gap-2 items-center text-primary-400">
              <fa-icon [icon]="icons.facCertificateCheck" class="text-lg"></fa-icon>
              <span class="leading-none">Excellent Fit</span>
            </div>
          </div>
        </div>
        @if(dev.highlight) {
        <fa-icon [icon]="icons.facCornerRibbon" class="absolute top-0 right-0
                   text-5xl text-primary-600"></fa-icon>
        }
      </div>
      }
    </div>
  </div>
</section>