<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
    <section class="hcd-wrapper">
        <div class="container">
            <div class="help-center-view">
                <ul class="hcv-type">
                    <li>
                        <a [routerLink]="['/help-center']">Help Center</a>
                    </li>
                    <li>
                        <a [routerLink]="['/help-center-view']" class="">Clients Overview</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="active">What is EASWORKS ?</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <h4 class="subtitle text-left mt-0">Clients Overview</h4>
                    <div class="nav hc-detail-nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-one-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-one" type="button" role="tab" aria-controls="v-pills-one"
                            aria-selected="true">What is EASWORKS ?</button>
                        <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-two" type="button" role="tab" aria-controls="v-pills-two"
                            aria-selected="false">How does EASWORKS work?</button>
                        <button class="nav-link" id="v-pills-three-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-three" type="button" role="tab" aria-controls="v-pills-three"
                            aria-selected="false">How is EASWORKS different from other platforms?</button>
                        <button class="nav-link" id="v-pills-four-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-four" type="button" role="tab" aria-controls="v-pills-four"
                            aria-selected="false">What type of projects can I hire EASWORKS for?</button>
                        <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-five" type="button" role="tab" aria-controls="v-pills-five"
                            aria-selected="true">Does it cost anything to be matched with or interview candidates on
                            EASWORKS?</button>
                        <button class="nav-link" id="v-pills-six-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-six" type="button" role="tab" aria-controls="v-pills-six"
                            aria-selected="false">How long does the hiring process take at EASWORKS?</button>
                        <button class="nav-link" id="v-pills-seven-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-seven" type="button" role="tab" aria-controls="v-pills-seven"
                            aria-selected="false">Do you offer a trial period?</button>
                        <button class="nav-link" id="v-pills-eight-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-eight" type="button" role="tab" aria-controls="v-pills-eight"
                            aria-selected="false">Is there a minimum contract duration?</button>
                        <button class="nav-link" id="v-pills-nine-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-nine" type="button" role="tab" aria-controls="v-pills-nine"
                            aria-selected="false">Can I hire a full-time worker from EASWORKS and bring him/her into our
                            company?</button>
                        <button class="nav-link" id="v-pills-ten-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-ten" type="button" role="tab" aria-controls="v-pills-ten"
                            aria-selected="false">How does payment work -when, how much & for what will be
                            charged?</button>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="tab-content hcv-deital-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel"
                            aria-labelledby="v-pills-one-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">What is EASWORKS ?</h4>
                                <p class="common-para">EASWORKS is a platform that connects a network of expert
                                    enterprise software developers with top companies and startups. Our job is to ensure
                                    that we find the most suitable technical talent to give our clients’ projects the
                                    highest chance of success.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">How does EASWORKS work?</h4>
                                <p class="common-para">Our team of experienced technical professionals will take time to
                                    learn about your EAS project and understand your hiring needs to guide you through
                                    the process of finding qualified, high-caliber candidates to integrate seamlessly
                                    into your team.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-three" role="tabpanel"
                            aria-labelledby="v-pills-three-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">How is EASWORKS different from other platforms?</h4>
                                <p class="common-para">Fundamentally there are three major differences when compared to
                                    other platforms:</p>
                                <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                                    <li><i class="icofont-tick-mark"></i> EASWORKS is world’s first niche Enterprise
                                        Application Talent
                                        platform focusing on Enterprise Application which is heart & soul for any
                                        business function of an
                                        organization which is built by enterprise architects.</li>
                                    <li><i class="icofont-tick-mark"></i> We test and interview every EAS developer who
                                        applies to join
                                        our network. Our rigorous screening & vetting process allows ensuring every
                                        client gets to work
                                        with solid professionals who have strong work ethics and soft skills. and we
                                        curate & match you
                                        with best enterprise application talent at a time.</li>
                                    <li><i class="icofont-tick-mark"></i> Commitment to results -we always aim at
                                        candidates who is been
                                        hand selected as right match for you & who we believe suit your EAS project best
                                        and are available
                                        to start right away & the success of your projects is the only metric that
                                        really matters to us.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">What type of projects can I hire EASWORKS for?</h4>
                                <p class="common-para">The EASWORKS network consists of enterprise domain & technical
                                    experts in enterprise software development , design and deployment who can hired for
                                    any simple to complex Enterprise Application software projects.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-five" role="tabpanel" aria-labelledby="v-pills-five-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">Does it cost anything to be matched with or
                                    interview candidates on EASWORKS?</h4>
                                <p class="common-para">No. There are no upfront fees on EASWORKS except the hourly rate
                                    you pay to work with the EAS developer after signing the contract to onboard the
                                    selected talent of your choice.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-six" role="tabpanel" aria-labelledby="v-pills-six-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">How long does the hiring process take at EASWORKS?
                                </h4>
                                <p class="common-para">We typically move as quickly as you'd like. and Technical expert
                                    team is right on the job after you have initiated your requirement on our platform.
                                    There are some candidate specifications that take a bit longer to source than
                                    others, but on average, we'll have your first candidate matches ready for you to
                                    review within next 3-6 days.</p>
                                <p class="common-para">From there, it's up to you how quickly you'd like to interview
                                    your candidates, although we recommend making your interview selection within three
                                    days.
                                    Waiting too long to make a selection will likely mean that the talent is no longer
                                    available or found another opportunity, and we'll need to re-source for you.
                                    Once you decide to hire a candidate, we can have them onboarded and ready to get
                                    started with you within 24 hours</p>
                                <p class="common-para">We guarantee a perfect match within 3-6 days. Your matching
                                    experience will reflect one of the following three scenarios below:</p>
                                <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                                    <li><i class="icofont-tick-mark"></i> We have someone in our professional enterprise
                                        application freelance talent network who is ready to work with you immediately.
                                    </li>
                                    <li><i class="icofont-tick-mark"></i> A candidate is being vetted who matches your
                                        qualifications, and we will notify you of completion of the vetting process to
                                        take forward on the interview.</li>
                                    <li><i class="icofont-tick-mark"></i> We currently do not have a match for your
                                        Enterprise Application job, so our team will be going through the recruiting
                                        process</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-seven" role="tabpanel"
                            aria-labelledby="v-pills-seven-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">Do you offer a trial period?</h4>
                                <p class="common-para">We offer a choice of two trial period options. You can either opt
                                    for a risk-free 20-hour trial where if you’re not satisfied, you pay nothing, or a
                                    40-hour low-risk trial where if you’re not satisfied you pay 50% of the developer’s
                                    rate.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-eight" role="tabpanel"
                            aria-labelledby="v-pills-eight-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">Is there a minimum contract duration?</h4>
                                <p class="common-para">Our minimum engagement is 150 hours or $ xxx USD (approximately
                                    one developer for 1 month). As they are lot of ground-up work and EASWORKS does the
                                    heavy lifting job of sourcing and vetting process , lesser hour below 150 hours is
                                    not viable business option for us.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-nine" role="tabpanel" aria-labelledby="v-pills-nine-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">Can I hire a full-time worker from EASWORKS and
                                    bring him/her into our company?</h4>
                                <p class="common-para">For the most part, yes. We will work with you to fully understand
                                    your specific requirements so that we can establish a mutually beneficial
                                    arrangement.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-ten" role="tabpanel" aria-labelledby="v-pills-ten-tab">
                            <div class="hcv-detail-box">
                                <h4 class="subtitle text-left mt-0">How does payment work -when, how much & for what
                                    will be charged?</h4>
                                <p class="common-para">EASWORKS engagement contract will detail the payment terms of the
                                    agreement, including rate where EASWORKS fees are already baked into the rates you
                                    see, number of hours, payment intervals and due dates.</p>
                                <p class="common-para">We will send invoices to your billing contact in accordance with
                                    upcoming payments, regardless of payment method. If you retain an ACH or credit card
                                    payment method with us, we will process payment on the date specified in the invoice
                                    (or after an approvals process, in some cases).</p>
                                <p class="common-para">Most importantly, You don’t pay a dime until you start working
                                    with a candidate you love.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!----- Footer ----->
<app-footer></app-footer>
<!----- Footer ----->