<section class="page max-w-full">
  <div class="py-12">
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto"
    >
      Overview <span class="text-primary-500"> EASWORKS</span>
    </h2>

    <div
      class="w-full items-center flex 8xl:justify-center gap-y-5 8xl:flex-nowrap flex-wrap 2xl:justify-between justify-center my-12"
    >
      <div
        class="bg-primary-500 w-72 h-72 rounded-full flex justify-center items-center relative"
      >
        <img
          src="/assets/public/use-cases/data-migration/overview/disruption.svg"
          alt="Disruption"
          class="absolute top-0 left-2/4 -translate-x-2/4"
        />
        <div class="text-white text-center w-3/5">
          <h5 class="text-base font-bold">Minimal Disruption</h5>
          <p class="!leading-5 text-sm">
            Ensure business continuity during migration.
          </p>
        </div>
      </div>

      <div
        class="bg-primary-900 w-72 h-72 rounded-full flex justify-center items-center relative"
      >
        <img
          src="/assets/public/use-cases/data-migration/overview/integrity.svg"
          alt="Data integrity"
          class="absolute top-0 left-2/4 -translate-x-2/4"
        />
        <div class="text-white text-center w-3/5">
          <h5 class="text-base font-bold">Data Integrity</h5>
          <p class="!leading-5 text-sm">
            Maintain accuracy and security of data.
          </p>
        </div>
      </div>

      <div
        class="bg-gray-100 md:w-96 w-72 md:h-96 h-72 rounded-full flex justify-center items-center relative border-[20px] border-[#1D1D1D10]"
      >
        <div class="text-center px-5">
          <h4
            class="5xl:text-3xl 2xl:text-2xl text-xl text-primary-500 font-bold"
          >
            At EASWORKS,
          </h4>
          <p class="2xl:text-xl md:text-lg text-gray-600">
            we connect you with top talent who can provide expert consultancy
            services to optimize your enterprise applications. Our consultants
            deliver strategic insights and solutions to enhance your systems.
          </p>
        </div>
      </div>

      <div
        class="bg-primary-500 w-72 h-72 rounded-full flex justify-center items-center relative"
      >
        <img
          src="/assets/public/use-cases/data-migration/overview/efficiency.svg"
          alt="Cost efficiency"
          class="absolute top-0 left-2/4 -translate-x-2/4"
        />
        <div class="text-white text-center w-3/5">
          <h5 class="text-base font-bold">Cost Efficiency</h5>
          <p class="!leading-5 text-sm">
            Optimize costs with efficient migration processes.
          </p>
        </div>
      </div>

      <div
        class="bg-primary-900 w-72 h-72 rounded-full flex justify-center items-center relative"
      >
        <img
          src="/assets/public/use-cases/data-migration/overview/scalability.svg"
          alt="Scalability"
          class="absolute top-0 left-2/4 -translate-x-2/4"
        />
        <div class="text-white text-center w-3/5">
          <h5 class="text-base font-bold">Scalability</h5>
          <p class="!leading-5 text-sm">
            Support future growth with scalable data solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
