<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
    <!--Why AppTalent-->
    <section class="gethire-wraper banner-section pt-5 d-flex">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-lg-7 col-md-7 col-sm-7 col-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column">
                    <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">{{vettedIndividuals.title}}</h1>
                    <div class="vetted" [innerHTML]="vettedIndividuals?.content?.sec_1_desc"></div>
                    <!-- <p class="common-para">Hire Individual top EAS Talents on-demand based on skill or role.</p>
                    <p class="common-para">With the right EAS team members, you can boost the EAS project's
                        performance, outcome, and smoothness to any enterprise projects and, as they enter new phases of
                        maturity, sometimes it’s necessary to add new EAS members or fill the skill gaps who are just
                        right for the job.</p>
                    <p class="common-para">EAS talent can be hire skilled professionals for short term or long-term
                        project based on your EAS projects goal.</p>
                    <p class="common-para">EASWORKS allows you to hire EAS talent on-demand (Talent as a service -
                        TaaS), proven, reliable, and cost-effective way for our enterprise clients.</p> -->
                    <div class="d-flex mt-4">
                        <a href="javascript:void(0)" class="btn-get-started mr-3">Talk to Us</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-12 order-1 order-lg-2 hero-img" data-aos="fade-up"
                    data-aos-delay="600">
                    <img src="assets/img/usercase-1.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- Our Service Section -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-5">
                    Why choose EAS <span class="spantitlecolor">{{vettedIndividuals.title}} ? </span></h2>
            </div>
            <div class="row row-cols-5 justify-content-center">
                <div class="col d-flex align-items-stretch" *ngFor="let list of vettedIndividuals?.content?.sec_2"
                    data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon easpromiseiticon">
                            <lottie-player [src]="list.img" background="transparent" speed="1"
                                style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                        </div>
                        <h4 class="subtitle"><a href="">{{list.title}}</a></h4>
                        <p class="common-para">{{list.desc}}</p>
                    </div>
                </div>

                <!-- <div class="col d-flex align-items-stretch mt-md-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon easpromiseiticon">
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_xoih8e2r.json" background="transparent"
                              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                          </div>
                        <h4 class="subtitle"><a href="">Top EAS Experts</a></h4>
                        <p class="common-para">Integrate EAS experts with domain-centric professionals
                            to add value to their projects.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon easpromiseiticon">
                            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_7ghmdeyc.json" background="transparent"
                              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                          </div>
                        <h4 class="subtitle"><a href="">Cost-effectiveness</a></h4>
                        <p class="common-para">Hire EAS talents at a minimal cost for any EAS specialized skills which otherwise with
                            tradition recruitment process takes time and resources to recruit.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon easpromiseiticon">
                            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_dkhbr8gm.json" background="transparent"
                              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                          </div>
                        <h4 class="subtitle"><a href="">Save Time</a></h4>
                        <p class="common-para">Ready to hire pre-vetted right EAS professionals for every role in less time.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon easpromiseiticon">
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tbhzfws5.json" background="transparent"
                              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                          </div>
                        <h4 class="subtitle"><a href="">Maintain oversight & control</a></h4>
                        <p class="common-para">Integrate into your internal team’s processes, daily/weekly report and participate actively
                            in daily meetings and progress reports.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!--Benefits of Hiring-->
    <section class="services">
        <div class="container position-relative">
            <div class="text-center">
                <h2 class="second-title mb-5 text-dark">Benefits of hiring <span
                        class="spantitlecolor">{{vettedIndividuals.title}}</span></h2>
            </div>
            <div class="row align-items-start section">
                <div *ngIf="vettedIndividuals?.content?.sec_3_img" class="col-lg-6 col-md-6 col-12"
                    data-aos="fade-right" data-aos-delay="200">
                    <lottie-player [src]="vettedIndividuals?.content?.sec_3_img" background="transparent" speed="1"
                        style="width: 100%; height: 100%;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <ul class="stepContent">
                        <li class="step-item" *ngFor="let list of vettedIndividuals?.content?.sec_3_steps">
                            <div class="stepNum">
                                <span>{{list.step}}</span>
                            </div>
                            <div class="step-title">
                                <h1>{{list.title}}</h1>
                                <p>{{list.desc}}</p>
                            </div>
                        </li>

                        <!-- <li class="step-item">
                            <div class="stepNum">
                                <span>02</span>
                            </div>
                            <div class="step-title">
                                <h1>Easy Hiring & scalability</h1>
                                <p>Easily find and hire the specific EAS skill sets needed for each of your projects. No
                                    need to worry about talent retention & other regular employee trainings.</p>
                            </div>
                        </li>

                        <li class="step-item">
                            <div class="stepNum">
                                <span>03</span>
                            </div>
                            <div class="step-title">
                                <h1>Faster Productivity</h1>
                                <p>Smooth out any project road bumps and minimize downtime with the EAS expertise of an
                                    extended team.</p>
                            </div>
                        </li>

                        <li class="step-item">
                            <div class="stepNum">
                                <span>04</span>
                            </div>
                            <div class="step-title">
                                <h1>Flexibility & predictable monthly cost</h1>
                                <p>Increase or decrease the size of your development workforce as needed with on-demand
                                    talent to complete the project within the budget.</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Vetted Individuals best-->
    <section class="services section-bg">
        <div class="container position-relative">
            <div class="text-center">
                <h2 class="second-title mb-5 text-dark">When is <span
                        class="spantitlecolor">{{vettedIndividuals.title}}</span> best?</h2>
            </div>
            <div class="row align-items-start section">
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="defaultTitle" *ngFor="let list of vettedIndividuals?.content?.sec_4_qa">
                        <h1 class="subtitle text-left"> {{list.question}}</h1>
                        <p class="common-para">{{list.ans}}</p>
                    </div>
                    <!-- <div class="defaultTitle">
                        <h1 class="subtitle text-left"> 2. Need reinforce your In-house EAS team</h1>
                        <p class="common-para">While you have In-house Enterprise Application software developers. For
                            some new projects you will need current expertise. In this case, strengthen your IT team.
                        </p>
                    </div>

                    <div class="defaultTitle">
                        <h1 class="subtitle text-left"> 3. Short on deadline</h1>
                        <p class="common-para">The recruitment process takes a lot of time from job advertisement,
                            interviewing to onboarding. Thoroughly vetted EAS talent provides the quick way to hiring
                            extra developers.</p>
                    </div>

                    <div class="defaultTitle">
                        <h1 class="subtitle text-left"> 4. As a bridge for hire</h1>
                        <p class="common-para">Short-term employment may turn into longer employee relations.</p>
                    </div> -->
                </div>
                <div *ngIf="vettedIndividuals?.content?.sec_4_img"
                    class="col-lg-6 col-md-6 col-sm-6 order-1 order-lg-2 hero-img" data-aos="fade-up"
                    data-aos-delay="600">
                    <!-- <img src="assets/img/whyapptalent/Why-EASWORKS.png" class="img-fluid animated" alt="" /> -->
                    <lottie-player [src]="vettedIndividuals?.content?.sec_4_img" background="transparent" speed="1"
                        style="width: 100%; height: 100%;" loop autoplay>
                    </lottie-player>
                </div>
            </div>
        </div>
    </section>

    <!-- Vetted Individuals hire work -->
    <section id="services" class="services ">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-5">
                    How does <span class="spantitlecolor">{{vettedIndividuals.title}}</span> hire work?</h2>
            </div>
            <ng-container *ngFor="let list of vettedIndividuals?.content?.sec_5_title;let i = index;">
                <div class="row align-items-center" [ngClass]="{'flex-row-reverse':i%2}">
                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
                        <div class="how-image">
                            <img [src]="list.img" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                        <div class="how-Under-content">
                            <h1 class="second-title">{{list.title}}</h1>
                            <p class="common-para">{{list.desc}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-image">
                        <img src="assets/img/how/sourcing.svg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-Under-content"> 
                        <h1 class="second-title">Interview talent matches</h1>
                        <p class="common-para">Interview hand selected and pre-screened EAS talent matches based on your project
                            requirement,skills,industry experience.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
                    <div class="how-image">
                        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ureyqxyw.json"
                            background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay>
                        </lottie-player>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-Under-content"> 
                        <h1 class="second-title">Onboarding and work integration</h1>
                        <p class="common-para">Work with EASWORKS team to settling the terms and conditions, signing contracts and NDAs.
                            Introduce the new EAS team members into your company, inform them of technical concepts, and
                            design a work plan cadence.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-image h-auto">
                        <img src="assets/img/how/engagement.svg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-Under-content"> 
                        <h1 class="second-title">Managing the process</h1>
                        <p class="common-para">The last step involves managing the EAS project with your {{vettedIndividuals.title}} EASWORK talent
                            while learning and relearning various aspects. Make sure the roles are apparent and the
                            objectives/goals clearly defined including the needed daily/weekly/monthly reports.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <section class="apptalent-connect">
        <div class="container">
            <div class="apptalent-export-content">
                <p>
                    {{vettedIndividuals?.content?.sec_6_title}}
                </p>
                <div class="apptalent-worldfigure">
                    <ul class="worldfigureType" id="banner-here">
                        <li class="worldfigureList pro1img animated">
                            <img src="assets/img/whyapptalent/pro1.jpg" />
                            <i class="icofont-location-pin"></i>
                        </li>
                        <li class="worldfigureList pro2img animated position-relative">
                            <img src="assets/img/whyapptalent/pro2.jpg" />
                            <i class="icofont-location-pin"></i>
                        </li>
                        <li class="worldfigureList pro5img animated">
                            <img src="assets/img/whyapptalent/pro5.jpg" />
                            <i class="icofont-location-pin"></i>
                        </li>
                        <li class="worldfigureList pro4img animated">
                            <img src="assets/img/whyapptalent/pro4.jpg" />
                            <i class="icofont-location-pin"></i>
                        </li>
                        <li class="worldfigureList pro3img animated">
                            <img src="assets/img/whyapptalent/pro3.jpg" />
                            <i class="icofont-location-pin"></i>
                        </li>
                    </ul>
                </div>
                <div class="defaultTitle text-center mt-5">
                    <a href="javascript:void(0)" class="applytojoin-btn d-inline-flex">Hire Now</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services ">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title text-center mb-5">
                    Compare EASWORKS <span class="spantitlecolor">Services</span></h2>
            </div>

            <div class="apptalent-table-view heightlighttable">
                <table>
                    <thead>
                        <tr class="price-table-head">
                            <th class="pth-first-th"></th>
                            <th>{{vettedIndividuals.title}}</th>
                            <th>Full Teams</th>
                            <th>EAS Project Based</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Scope</p>
                            </td>
                            <td class="text-center">
                                Not set
                            </td>
                            <td class="text-center">
                                Estimated
                            </td>
                            <td class="text-center">
                                Predefined
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p>Timeline</p>
                            </td>
                            <td>
                                Predefined
                            </td>
                            <td>
                                Estimated
                            </td>
                            <td>
                                Predefined
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Control
                                </p>
                            </td>
                            <td class="text-center">
                                High
                            </td>
                            <td class="text-center">
                                Medium
                            </td>
                            <td class="text-center">
                                Low
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Flexibility
                                </p>
                            </td>
                            <td class="text-center">
                                High
                            </td>
                            <td class="text-center">
                                Medium
                            </td>
                            <td class="text-center">
                                Low
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Team Scalability</p>
                            </td>
                            <td>High</td>
                            <td>Medium to high</td>
                            <td>Low</td>
                        </tr>
                        <tr>
                            <td>
                                <p>Responsibility for Execution & Deliverables</p>
                            </td>
                            <td class="text-center">
                                Client
                            </td>
                            <td class="text-center bg-red-300">
                                Shared
                            </td>
                            <td class="text-center bg-red-300">
                                EASWORKS
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Client Involvement</p>
                            </td>
                            <td>High</td>
                            <td>Medium</td>
                            <td>Low</td>

                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Client Technical Expertise/Leadership
                                </p>
                            </td>
                            <td>Required</td>
                            <td class="bg-red-300"> Recommended</td>
                            <td class="bg-red-300">Optional</td>
                        </tr>

                        <tr>
                            <td>
                                <p>
                                    Communication with Outsourced Team
                                </p>
                            </td>
                            <td class="text-center">
                                Daily
                            </td>
                            <td class="text-center">
                                Frequent
                            </td>
                            <td class="text-center">
                                Occasional
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>
                                    Overlap with In-House Team
                                </p>
                            </td>
                            <td>High </td>
                            <td>Some</td>
                            <td>None</td>
                        </tr>

                        <tr>
                            <td>
                                <p>
                                    Product Management
                                </p>
                            </td>
                            <td>Client </td>
                            <td>Shared</td>
                            <td>Client</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    High Level Management
                                </p>
                            </td>
                            <td>Client </td>
                            <td>Shared</td>
                            <td>EASWORKS</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Task Management
                                </p>
                            </td>
                            <td>Client </td>
                            <td>EASWORKS</td>
                            <td>EASWORKS</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Project Management
                                </p>
                            </td>
                            <td>Client </td>
                            <td>EASWORKS</td>
                            <td>EASWORKS</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Operations Supervision
                                </p>
                            </td>
                            <td>Client </td>
                            <td>EASWORKS</td>
                            <td>EASWORKS</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Workflow Development
                                </p>
                            </td>
                            <td>Client </td>
                            <td>EASWORKS</td>
                            <td>EASWORKS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Our apps Section -->
    <section class="signUpFreesection section-bg border-bottom">
        <div class="container">
            <div class="apptalent-export-content">
                <h1 class="second-title text-center mb-4 text-black">
                    Sign up - free to <span class="spantitlecolor">hire thoroughly vetted Individual EAS talents.</span>
                </h1>
                <div class="d-flex justify-content-center flex-wrap"><a href="javascript:void(0)"
                        class="applytojoin-btn">Hire Now</a></div>
                <span class="rftrail text-black mt-1">Risk free trial, pay only if satisfied</span>
            </div>
        </div>
    </section>

</div>

<!--Footer-->
<app-footer></app-footer>