<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
    <!--Why AppTalent-->
    <div class="whyapptalent-full-wraper">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-lg-7 col-md-7 col-sm-7 col-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">Vetted Individuals</h1>

                    <p class="common-para mt-4">Hire Individual top EAS Talents on-demand based on skill or role.</p>
                    <p class="common-para mt-4">With the right EAS team members, you can boost the EAS project's
                        performance, outcome, and smoothness to any enterprise projects and, as they enter new phases of
                        maturity, sometimes it’s necessary to add new EAS members or fill the skill gaps who are just
                        right for the job.</p>
                    <p class="common-para mt-4">EAS talent can be hire skilled professionals for short term or long-term
                        project based on your EAS projects goal.</p>
                    <p class="common-para mt-4">EASWORKS allows you to hire EAS talent on-demand (Talent as a service -
                        TaaS), proven, reliable, and cost-effective way for our enterprise clients.</p>
                    <div class="d-flex mt-4">
                        <a href="javascript:void(0)" class="btn-get-started mr-3">Talk to Us</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-12 order-1 order-lg-2 hero-img" data-aos="fade-up"
                    data-aos-delay="600">
                    <img src="assets/img/usercase-1.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Our Service Section -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>
                    Why choose EAS <span class="spantitlecolor">Vetted Individuals ? </span></h2>
            </div>
            <div class="row row-cols-5 justify-content-center">
                <div class="col d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/img/flexible.png" alt="image" />
                        </div>
                        <h4><a href="">Dedicated EAS individuals</a></h4>
                        <p>Assigned to a particular client and will remain intact over the life cycle of EAS project</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch mt-md-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/img/collaborativeApproch.png" alt="image" />
                        </div>
                        <h4><a href="">Top EAS Experts</a></h4>
                        <p>Integrate EAS experts with domain-centric professionals
                            to add value to their projects.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/img/reliable.png" alt="image" />
                        </div>
                        <h4><a href="">Cost-effectiveness</a></h4>
                        <p>Hire EAS talents at a minimal cost for any EAS specialized skills which otherwise with
                            tradition recruitment process takes time and resources to recruit.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/img/businessValue.png" alt="image" />
                        </div>
                        <h4><a href="">Save Time</a></h4>
                        <p>Ready to hire pre-vetted right EAS professionals for every role in less time.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/img/faster.png" alt="image" />
                        </div>
                        <h4><a href="">Maintain oversight & control</a></h4>
                        <p>Integrate into your internal team’s processes, daily/weekly report and participate actively
                            in daily meetings and progress reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Our Values-->
    <section class="services border-top">
        <div class="container position-relative">
            <div class="section-title text-center">
                <h2 class="text-dark">Benefits of hiring <span class="spantitlecolor">Vetted Individuals</span></h2>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="defaultTitle">
                        <h1 class="costTitle"> 1. Talent & Higher EAS Experts Commitment</h1>
                        <p class="common-para">Quickly integrate outstanding software engineers that increase your
                            team's capacity and add value to your project.</p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="defaultTitle">
                        <h1 class="costTitle"> 2. Easy Hiring & scalability</h1>
                        <p class="common-para">Easily find and hire the specific EAS skill sets needed for each of your
                            projects. No need to worry about talent retention & other regular employee trainings.</p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="defaultTitle">
                        <h1 class="costTitle">3. Faster Productivity</h1>
                        <p class="common-para">Smooth out any project road bumps and minimize downtime with the EAS
                            expertise of an extended team.</p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="defaultTitle">
                        <h1 class="costTitle"> 4. Flexibility & predictable monthly cost</h1>
                        <p class="common-para">Increase or decrease the size of your development workforce as needed
                            with on-demand talent to complete the project within the budget.</p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12 mt-5
         mb-4 text-center">
                    <div class="defaultTitle">
                        <a href="javascript:void(0)" class="applytojoin-btn usecasebtn d-inline-flex">Get Started</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>