.lhs-content {
  background: #2f2e41;
}

.lhs-content,
.rhs-content {
  min-height: 100vh;
  padding-top: 64px !important;
  /* this is to allow for the header */
}

.step-enterprise-application-domain {
  .options-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    li {
      button {
        display: block;
        background-color: transparent;
        outline: none;
        color: black;

        &:focus,
        &:hover {
          border-color: lightgray;
          background-color: lightgray;
          color: black;
        }

        &.selected {
          border-color: black;
          background-color: black;
          color: white;
        }
      }
    }
  }
}