.lhs-content {
  background: #2f2e41;  
}

.rhs-content {
}

.lhs-content,
.rhs-content {
  min-height: 100vh;
  padding-top: 64px !important; /* this is to allow for the header */
}

.step-enterprise-application-domain .options-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.step-enterprise-application-domain .options-wrapper li {
  outline: none;
}

.step-enterprise-application-domain .options-wrapper li:focus,
.step-enterprise-application-domain .options-wrapper li:hover {
  border: 1px solid gray !important;
  background: gray;
  color: white;
}

.wrap-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
  align-items: stretch;
  justify-content: flex-start;
}
.wrap-container li {
  border: 1px solid gray;
  padding: 5px;
}
