.lhs-content {
  background: #2f2e41;
}

.lhs-content,
.rhs-content {
  min-height: 100vh;
  padding-top: 64px !important;
  /* this is to allow for the header */
}

.step-enterprise-application-domain {
  form.selected {
    .domain {
      background-color: black;
      color: white;
    }

    button {
      background-color: transparent;
      border: none;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-content: center;
      padding: 0;

      &:focus,
      &:hover {
        background-color: #cfcfcf;
      }
    }
  }

  .options-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    li {
      button {
        display: block;
        background-color: transparent;
        outline: none;
        color: black;

        &:focus,
        &:hover {
          border-color: lightgray;
          background-color: lightgray;
          color: black;
        }

        &.selected {
          border-color: black;
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.stepper-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: right;

  .skip {
    margin-left: auto;
  }

  .next {}
}