<div class="container-fluid d-flex flex-wrap p-0">

  <!-- LHS content -->
  <div class="lhs-content col-12 col-lg-4 d-flex align-items-center pb-4" style="min-width: min-content;">
    <div>
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8nfvjov1.json" background="transparent"
                     speed="1" style="width: min(300px,75%); height: 100%" loop autoplay></lottie-player>

      <div class="text-white mt-2 mx-auto" style="max-width: 400px;">
        <h1>Welcome to EASWORKS</h1>
        <p class="mt-2">
          The simplest, fastest way to have access & build teams pre-vetted
          enterprise Application talent with global remote team has never been
          this simpler.
        </p>
      </div>

    </div>
  </div>

  <!-- RHS content -->
  <div class="rhs-content col-12 col-lg-8 px-lg-5 d-flex flex-column align-items-start">
    <div class="mx-auto mt-4">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                     background="transparent"
                     speed="1" loop autoplay
                     style="width: 6rem; height: 6rem;"></lottie-player>
    </div>

    <!-- message for all steps -->
    <div class="toastermessage mx-auto">
      <div class="toastContent w-100">
        <p>
          Thanks for your interest in hiring through EASWorks!
          Before we get started, we'd like to ask a few questions to
          better understand your business needs.
        </p>
      </div>
    </div>

    <!-- Stepper container -->
    <div style="flex-grow: 1; width: 100%; position: relative;" *ngIf="step$ | async as step">

      <ng-container *ngIf="step === 'start'">
        <button type="button" class="btn-get-started mt-5 mx-auto" style="display: block;"
                (click)="start.next()">
          Get Started
        </button>
      </ng-container>

      <div *ngIf="step === 'enterprise application domain'"
           class="step-enterprise-application-domain d-flex flex-column">
        <h2 class="main-question">Select Enterprise Application Domain which requires new hiring</h2>

        <div *ngIf="entAppDomain.form.get('domain')!.value as domain"
             class="border rounded d-flex" style="gap: 0.5rem; padding: 0.5rem;">
          <div class="rounded py-1 px-2">{{domain | uppercase}}</div>
        </div>

        <div class="lm-dropdown dropdown mt-3">
          <input type="text" placeholder="Type the desired skills you need in your project"
                 class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" name="filterbasedon"
                 [ngModel]="entAppDomain.filterString$ | async"
                 (ngModelChange)="entAppDomain.filterString$.next($event)"
                 (focus)="triggerDropdownOnFocus($event)" />
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu w-100 p-1">
            <div *ngIf="entAppDomain.gettingOptions$| async; else optionsLoaded"
                 class="d-flex flex-column h-100 align-items-center justify-content-center p-2">
              <p> Fetching data. Please wait... </p>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ng-template #optionsLoaded>
              <ul class="options-wrapper" *ngIf="entAppDomain.filteredOptions$ | async as options">
                <ng-container *ngIf="options.length > 0; else noOptions">
                  <li *ngFor="let option of options" class="border rounded m-1 py-1 px-2"
                      [class.selected]="option.selected"
                      [title]="option.long"
                      role="button" tabindex="0"
                      (click)="entAppDomain.select(option)">
                    {{option.short | uppercase}}
                  </li>
                </ng-container>
                <ng-template #noOptions>
                  <div class="p-2">
                    No matching options
                  </div>
                </ng-template>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>