<div class="container-fluid d-flex flex-wrap p-0">

  <!-- LHS content -->
  <div class="lhs-content col-12 col-lg-4 p-0" style="min-width: min-content;">
    <div style="position: sticky; top: 0;"
         class="d-flex align-items-center pb-4">
      <div>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8nfvjov1.json" background="transparent"
                       speed="1" style="width: min(300px,75%); height: 100%" loop autoplay></lottie-player>

        <div class="text-white mt-2 mx-auto" style="max-width: 400px;">
          <h1>Welcome to EASWORKS</h1>
          <p class="mt-2">
            The simplest, fastest way to access & build teams. Finding pre-vetted
            enterprise application talent with global remote availability has never been
            this easy.
          </p>
        </div>

      </div>
    </div>

  </div>

  <!-- RHS content -->
  <div class="rhs-content mb-5 col-12 col-lg-8 px-lg-5 d-flex flex-column align-items-start">
    <div class="mx-auto mt-4">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                     background="transparent"
                     speed="1" loop autoplay
                     style="width: 6rem; height: 6rem;"></lottie-player>
    </div>

    <!-- message for all steps -->
    <div class="toastermessage mx-auto">
      <div class="toastContent w-100">
        <p>
          Thanks for your interest in hiring through EASWorks!
          Before we get started, we'd like to ask a few questions to
          better understand your business needs.
        </p>
      </div>
    </div>

    <div *ngIf="stepper.showControls$ | async" class="stepper-progress w-100 mt-4">
      <ng-container *ngIf="stepper.progress$ | async as progress">
        <span>Step {{progress}} of {{stepper.totalSteps}}</span>
        <div class="progress-bar mt-2">
          <div class="ui-progress" role="progressbar"
               [style.width]="(((progress - 1) / stepper.totalSteps) * 100).toString()+'%'"></div>
        </div>
      </ng-container>
    </div>

    <!-- Stepper container -->
    <div class="mt-4" style="flex-grow: 1; width: 100%; position: relative;" *ngIf="step$ | async as step">

      <ng-container *ngIf="step === 'start'">
        <button type="button" class="btn-get-started mt-5 mx-auto" style="display: block;"
                (click)="this.stepper.next.click(step)">
          Get Started
        </button>
      </ng-container>

      <div *ngIf="step === 'enterprise application domain'"
           class="step-enterprise-application-domain">
        <h2 class="main-question">Select the Primary Enterprise Application you'd like to hire for</h2>

        <form *ngIf="entAppDomain.form.get('domain')!.value as domain"
              [formGroup]="entAppDomain.form"
              class="selected border rounded d-flex p-2"
              style="gap: 1rem; flex-wrap: wrap;">
          <div class="domain rounded py-1 px-2">{{domain.long}}</div>

          <div class="d-flex align-items-center ml-auto" style="gap: 1rem;">
            <label class="m-0">Years of Experience</label>
            <select formControlName="yearsOfExperience"
                    class="h-100 py-1 px-2 border rounded">
              <option *ngFor="let option of commonOptions.yearsOfExperience"
                      [value]="option">{{option}}</option>
            </select>
          </div>

          <div class="d-flex align-items-center" style="gap: 1rem;">
            <label class="m-0">Expertise</label>
            <select formControlName="expertise"
                    class="h-100 py-1 px-2 border rounded">
              <option *ngFor="let option of commonOptions.expertise"
                      [value]="option.value">{{option.label}}</option>
            </select>
          </div>

          <button type="button"><i class="icofont-close"></i></button>
        </form>

        <div class="mt-3">
          <input type="text" placeholder="Type to filter the list"
                 name="filter"
                 class="border rounded py-2 px-2 w-100"
                 style="outline: none;"
                 [ngModel]="entAppDomain.filterString$ | async"
                 (ngModelChange)="entAppDomain.filterString$.next($event)"
                 (focus)="triggerDropdownOnFocus($event)" />
          <div *ngIf="entAppDomain.gettingOptions$| async; else optionsLoaded"
               class="mt-3 p-2 d-flex flex-column h-100 align-items-center justify-content-center">
            <p> Fetching data. Please wait... </p>
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <ng-template #optionsLoaded>
            <ul class="options-wrapper mt-3" *ngIf="entAppDomain.filteredOptions$ | async as options">
              <ng-container *ngIf="options.length > 0; else noOptions">
                <li *ngFor="let option of options" class="m-1">
                  <button role="button" (click)="entAppDomain.select(option)"
                          class="w-100 h-100 py-1 px-2 border rounded"
                          [class.selected]="option.selected"
                          [disabled]="option.selected"
                          [title]="option.long">{{option.short | uppercase}}</button>
                </li>
              </ng-container>
              <ng-template #noOptions>
                <div class="mt-3 p-2">
                  No matching options
                </div>
              </ng-template>
            </ul>
          </ng-template>
        </div>
      </div>

      <div *ngIf="step === 'enterprise application software'"
           class="step-enterprise-application-software">
        <h2 class="main-question">Select specific Enterprise Application Software (EAS) used</h2>

        <ng-container *ngIf="entAppSoftware.application.selected$ | async as selected">
          <div class="selected-container border rounded p-2">
            <ng-container *ngIf="selected.length > 0; else noItemsSelected">
              <div *ngFor="let item of selected" class="item rounded p-2">
                {{item.domain.value}} - {{item.software.value}}
              </div>
            </ng-container>
            <ng-template #noItemsSelected>
              <i class="mx-auto">No software applications selected</i>
            </ng-template>
          </div>


        </ng-container>

        <div class="d-flex mt-4" style="gap: 1rem;">
          <div class="industry-options rounded">
            <ul>
              <li *ngFor="let option of entAppSoftware.domain.options$ | async">
                <button class="p-2 w-100" [class.selected]="option.selected"
                        (click)="entAppSoftware.domain.select(option)">
                  {{option.label | uppercase}}
                </button>
              </li>
            </ul>
          </div>
          <div class="software-options">
            <input type="text" placeholder="Type to filter the list"
                   name="filter"
                   class="border rounded py-2 px-2 w-100"
                   style="outline: none;"
                   [ngModel]="entAppSoftware.application.filterString$ | async"
                   (ngModelChange)="entAppSoftware.application.filterString$.next($event)"
                   (focus)="triggerDropdownOnFocus($event)" />
            <div>
              <ul class="border rounded">
                <li *ngFor="let option of entAppSoftware.application.filteredOptions$ | async">
                  <button class="p-2 w-100"
                          (click)="entAppSoftware.application.select(option)">{{option.label | uppercase}}</button>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="stepper.showControls$ | async" class="stepper-buttons border-top">
        <button type="button" *ngIf="stepper.previous.visible$ | async"
                class="previous btn-common-border"
                (click)="stepper.previous.click(step)">Previous</button>
        <button type="button" class="skip btn-common-border"
                *ngIf="stepper.skip.visible$ | async">Skip</button>
        <button type="button" class="next btn-common-border nextbtn"
                [disabled]="stepper.next.disabled$ | async"
                (click)="stepper.next.click(step)">Next</button>
      </div>
    </div>
  </div>

</div>