.lhs-content {
  background: #2f2e41;  
}

.rhs-content {
}

.lhs-content,
.rhs-content {
  min-height: 100vh;
  padding-top: 64px !important; /* this is to allow for the header */
}

.step-enterprise-application-domain .options-wrapper {
  display: grid;
  grid-column: repeat(4, 1fr);
  gap: 5px; /* match outer padding */
}

.step-enterprise-application-domain .options-wrapper li {
  border: 1px solid gray;
  padding: 5px;
}

.wrap-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
  align-items: stretch;
  justify-content: flex-start;
}
.wrap-container li {
  border: 1px solid gray;
  padding: 5px;
}
