<div class="fw-input-selectlist" *ngFor="let field of fieldArray; let i = index">
            
    <div class="multi-select-dropdown">
      <ul class="multiselectUlLIst p-0">
        <li class="dropdown-select">
          <label>{{field.value}}</label>
          <div class="description ml-3">
            <span>- No of Years</span>
            <input type="text" class="w-20" (ngModelChange)="onInputNoOfYear($event,field)" name="noOfYear" [(ngModel)]="field.noOfYear">
          </div>
          <div class="description ml-3">
              <span>Expertise</span>
              <select id="selExpert" class="select" (ngModelChange)="onInputSkill($event,field)" [(ngModel)]="field.skill">
                  <option id="0" value="Fresher">Fresher</option>
                  <option id="1" value="intermediate"> intermediate</option>
                  <option id="2" value="Advanced">Advanced</option>
              </select>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="clearbtn" (click)="deleteOption(i,field)">
      <i class="icofont-close"></i>
    </button>
   
  </div>