<!-- Logo -->
<a routerLink="/">
  <img class="h-8 hidden 2xl:block" src="/assets/brand/logo-full-light.png" alt="App Logo" loading="lazy" />
  <img class="h-8 block 2xl:hidden" src="/assets/brand/symbol-white.png" alt="App Logo" loading="lazy" />
</a>
<!-- Logo -->

<!-- Main Navigation container -->
<nav class="flex flex-no-wrap mx-auto items-center gap-4">

  <ul class="flex list-style-none mx-auto gap-4">
    @for(item of menuItems; track item) {
    <li>
      <a [routerLink]="item.link"
         class="text-sm font-bold text-nowrap
        text-primary-400 hover:text-white focus:text-white">
        {{item.text}}
      </a>
    </li>
    }
  </ul>

</nav>
<!-- Main Navigation container -->

<!-- right-side elements -->
<div class="flex flex-nowrap gap-4 text-nowrap items-center">
  <button class="shaded-button border-gradient border-only-btn">
    Find Jobs
  </button>
  <button class="shaded-button gradient-btn border-gradient">
    Hire Now
  </button>

  <mat-divider vertical class="self-stretch"></mat-divider>

  <a class="text-lg font-extrabold 
    text-primary-400 hover:text-white focus:text-white" mat-ripple
     routerLink="/account/sign-in">
    Login
  </a>
  <button class="icon-button" mat-ripple (click)="toggleSidebar()">
    <fa-icon [icon]="icons.faHighTechFourLeaf" class="text-primary-400 hover:text-white focus:text-white 
      text-3xl leading-none"></fa-icon>
  </button>
</div>

<!-- right-side elements -->