<!-- About us Start -->
<section class="mt-5">
    <marquee scrollamount="5" loop="infinite" class="border-t border-b border-primary-300">
        <div class="flex items-center gap-16">
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
            <div class="flex items-center gap-6">
                <h2
                    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-white cursor-pointer text-shadow">
                    Get to Know Us
                </h2>
                <img src="../../assets/public/about-us/ic-star.svg" alt="Star Icon" />
            </div>
        </div>
    </marquee>
</section>
<!-- Get to Know Section End -->

<div>
    <!-- Hero Section Start -->
    <section class="bg-white bg-auto bg-no-repeat bg-right 8xl:py-20 5xl:pb-12 pb-5 hero-sec">
        <div class="page grid 5xl:grid-cols-2 items-center gap-10">
            <div>
                <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
                    EASWORKS <span class="text-primary-500"> Story</span>
                </h2>

                <div class="xl:mt-8 mt-5 mb-3.5">
                    <p class="text-sm leading-4">
                        With decades of experience in the enterprise application domain, we
                        realized that enterprise application project success hinges on
                        adapting to changing business objectives, effective project
                        management, and having the right talent.
                    </p>
                    <p class="text-sm mt-0.5 leading-4">
                        This struggle inspired us to create EASWORKS, focusing specifically
                        on the enterprise application domain due to its crucial role in
                        integrating and optimizing business processes. EASWORKS provides
                        top-tier enterprise applications talent on demand for SMBs,
                        start-ups, and big tech firms.
                    </p>
                </div>

                <div>
                    <h6 class="text-2xl font-normal mb-1 text-black">Who We Are</h6>
                    <p class="text-sm leading-4">
                        At EASWORKS, we connect top-tier talent with enterprise application
                        software (EAS) projects, driving exceptional results for companies
                        and professionals. Our platform seamlessly integrates individuals
                        and projects to achieve excellence.
                    </p>
                </div>
            </div>
            <div>
                <img src="../../assets/public/about-us/hero-img.png" alt="Hero Image" class="w-full" />
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Achievement Section Start -->
    <section class="page 5xl:px-20">
        <div class="page achievement-sec">
            <div class="text-black 3xl:text-lg text-left leading-5">
                See Our <br />
                Achievement
            </div>

            <div class="flex 4xl:justify-between">
                <div class="text-left">
                    <h5 class="3xl:text-5xl text-3xl shaded-text font-bold">97%</h5>
                    <p class="text-black text-xs mt-2">CLIENT RETENTION RATE</p>
                </div>
                <img src="../../assets/public/hire-contractors/achievement-border-r.png" class="4xl:block hidden"
                    alt="Developer image" />
            </div>

            <div class="flex 4xl:justify-between">
                <div class="text-left">
                    <h5 class="3xl:text-5xl text-3xl shaded-text font-bold">12</h5>
                    <p class="text-black text-xs mt-2 ps-2.5">CLIENTS</p>
                </div>
                <img src="../../assets/public/hire-contractors/achievement-border-r.png" class="4xl:block hidden"
                    alt="Developer image" />
            </div>

            <div class="flex 4xl:justify-between">
                <div class="text-left">
                    <h5 class="3xl:text-5xl text-3xl shaded-text font-bold">100+</h5>
                    <p class="text-black text-xs mt-2 ps-2.5">FREELANCERS</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Achievement Section End -->
</div>

<!-- Why EASWORKS Section Start -->
<section class="why-easwork-sec pb-12">
    <div class="page why-easwork-bg bg-right-top bg-no-repeat">
        <div class="grid 4xl:grid-cols-2 3xl:gap-5 gap-2.5">
            <div>
                <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
                    Why <span class="text-primary-500"> EASWORKS</span>
                </h2>
                <h6 class="text-black font-bold mt-2 3xl:text-2xl text-xl">
                    Our Mission
                </h6>
            </div>

            <div>
                <h6 class="text-primary-500 font-bold mt-1 3xl:text-2xl text-xl">
                    Driven by dual objectives:
                </h6>
                <ul class="list-disc ps-4">
                    <li class="font-normal my-4">
                        <span class="font-semibold">
                            To establish ourselves as the foremost platform for enterprise
                            application services,</span>
                        connecting top-tier companies with exceptional EAS developers and
                        professionals while maintaining the highest standards of service
                        quality
                    </li>

                    <li class="font-normal">
                        <span class="font-semibold">
                            To promote global economic equity</span>
                        by identifying and fostering exceptional EAS talent worldwide
                    </li>
                </ul>
            </div>
        </div>

        <div class="relative">
            <table class="w-full">
                <tbody>
                    <tr>
                        <td class="border-b border-neutral-300 py-3 lg:w-20 w-16">
                            <img src="../../assets/public/about-us/why-easworks/client-value-img.svg"
                                alt="Client Value Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-black">
                                Create Client Value
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>

                    <tr>
                        <td class="border-b border-neutral-300 py-3 w-20">
                            <img src="../../assets/public/about-us/why-easworks/focus-img.svg" alt="Focus Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-neutral-300">
                                Focus on Your Success
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>

                    <tr>
                        <td class="border-b border-neutral-300 py-3 w-20">
                            <img src="../../assets/public/about-us/why-easworks/deliver-img.svg"
                                alt="Deliver Excellence Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-neutral-300">
                                Deliver Excellence
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>

                    <tr>
                        <td class="border-b border-neutral-300 py-3 w-20">
                            <img src="../../assets/public/about-us/why-easworks/grow-together-img.svg"
                                alt="Grow Together Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-neutral-300">
                                Grow Together
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>

                    <tr>
                        <td class="border-b border-neutral-300 py-3 w-20">
                            <img src="../../assets/public/about-us/why-easworks/work-img.svg"
                                alt="Reinvent Work Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-neutral-300">
                                Reinvent Work
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>

                    <tr>
                        <td class="border-b border-neutral-300 py-3 w-20">
                            <img src="../../assets/public/about-us/why-easworks/community-img.svg"
                                alt="Build Community Image" />
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-neutral-300">
                                Build Community
                            </h6>
                        </td>
                        <td class="border-b border-neutral-300 py-3">
                            <div
                                class="w-11 h-11 rounded-full border border-neutral-300 flex justify-center items-center fill-neutral-300 hover:fill-primary-500 hover:rotate-45 hover:duration-500 duration-500 hover:border-primary-500 cursor-pointer">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill=""
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.944669 7.25886C0.81149 7.30323 0.693438 7.38409 0.603941 7.49224C0.514445 7.60039 0.457097 7.73149 0.438421 7.87062C0.419746 8.00975 0.440491 8.15133 0.498299 8.27925C0.556107 8.40717 0.648655 8.5163 0.765418 8.59423L7.39773 12.2503C7.52134 12.3184 7.66166 12.3503 7.80257 12.3422C7.94348 12.3342 8.07925 12.2865 8.19428 12.2047L15.2402 7.18037C15.5807 6.95233 15.988 7.35962 15.76 7.70009L10.7356 14.7461C10.6538 14.8611 10.6062 14.9969 10.5981 15.1378C10.59 15.2787 10.6219 15.419 10.69 15.5426L14.3461 22.1749C14.424 22.2917 14.5332 22.3842 14.6611 22.442C14.789 22.4998 14.9306 22.5206 15.0697 22.5019C15.2088 22.4832 15.3399 22.4259 15.4481 22.3364C15.5562 22.2469 15.6371 22.1288 15.6815 21.9957L22.5758 1.3128C22.6197 1.18073 22.6259 1.03907 22.5939 0.903644C22.5618 0.768218 22.4928 0.644378 22.3944 0.545975C22.296 0.447572 22.1721 0.378489 22.0367 0.346452C21.9013 0.314414 21.7596 0.320686 21.6275 0.364566L0.944669 7.25886Z"
                                        fill="" />
                                </svg>
                            </div>
                        </td>
                        <td class="3xl:w-2/4 w-0 border-b border-neutral-300 py-3"></td>
                    </tr>
                </tbody>
            </table>
            <div
                class="3xl:absolute relative 3xl:top-2/4 3xl:-translate-y-2/4 3xl:left-3/4 8xl:-translate-x-3/4 5xl:-translate-x-2/4 3xl:-translate-x-1/3 left-2/4 -translate-x-2/4 w-fit 3xl:mt-0 mt-20">
                <div class="bg-primary-500 relative rounded-md w-80 min-h-60 rotate-6"></div>
                <div class="bg-gray-900 rounded-md w-80 min-h-60 absolute top-0">
                    <div
                        class="bg-gray-900 w-80 min-h-60 rounded-xl absolute top-0 left-2/4 -translate-x-2/4 p-6 !-skew-x-1">
                        <h6 class="5xl:text-4xl 3xl:text-3xl text-2xl font-bold text-white">
                            Exceed client expectations, always.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why EASWORKS Section End -->

<!-- What we do Section Start  -->
<section class="page">
    <div class="text-center mb-10">
        <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
            What <span class="text-primary-500">We Do</span>
        </h2>
        <p class="max-w-3xl mx-auto">
            At EASWORKS, we provide comprehensive enterprise application services
            through our exceptional talent pool. Our platform offers various hiring
            options to meet your needs:
        </p>
    </div>
    <div class="grid grid-cols-1 5xl:grid-cols-3 mx-auto">
        <div class="ms-0 5xl:ms-auto">
            <div>
                <img src="../../assets/public/about-us/what-we-do/what-we-do1.png" alt="what we do image " />
                <div class="-translate-y-16">
                    <p class="text-xl font-bold text-[#717171]">Hire Contractors</p>
                    <p class="max-w-96">
                        Engage specialized contractors for short-term projects or specific
                        tasks.
                    </p>
                </div>
            </div>
            <div>
                <div class="">
                    <p class="text-xl font-bold text-[#717171]">
                        Hire Full-Time Employees:
                    </p>
                    <p class="max-w-96">
                        Engage specialized contractors for short-term projects or specific
                        tasks.
                    </p>
                </div>
                <img src="../../assets/public/about-us/what-we-do/what-we-do2.png" alt="what we do image " />
            </div>
        </div>
        <div class="mx-auto">
            <img src="../../assets/public/about-us/what-we-do/what-we-do-main.png" alt="what we do image" />
        </div>
        <div class="ms-auto 5xl:ms-0">
            <div>
                <img src="../../assets/public/about-us/what-we-do/what-we-do3.png" alt="what we do image " />
                <div class="-translate-y-16 pl-16">
                    <p class="text-xl font-bold text-[#717171]">Fully Managed Teams:</p>
                    <p class="max-w-96">
                        Engage specialized contractors for short-term projects or specific
                        tasks.
                    </p>
                </div>
            </div>

            <div>
                <div class="pl-16">
                    <p class="text-xl font-bold text-[#717171]">End-to-End Solutions</p>
                    <p class="max-w-96">
                        Engage specialized contractors for short-term projects or specific
                        tasks.
                    </p>
                </div>
                <img src="../../assets/public/about-us/what-we-do/what-we-do4.png" alt="what we do image " />
            </div>
        </div>
    </div>
</section>
<!-- What we do Section End  -->

<!-- Range of enterprise applications Section Start -->
<section class="page rounded-4xl bg-gray-100 my-10">
    <h3 class="font-bold text-black 5xl:text-4xl 2xl:text-3xl text-2xl xl:px-8 text-center">
        Our professionals specialize in a wide range of enterprise applications,
        <span class="text-primary-500">including ERP, CRM, PLM, SCM, HCM, BI, and more :</span>
    </h3>

    <div class="xl:w-10/12 w-11/12 mx-auto">
        <div class="border-t-4 border-gray-200 mt-8 mb-5"></div>

        <ul class="list-disc ps-5">
            <li class="3xl:text-2xl text-xl font-normal mb-4">
                <span class="font-bold">Development:</span> Tailored solutions to meet
                your business needs.
            </li>

            <li class="3xl:text-2xl text-xl font-normal mb-4">
                <span class="font-bold">Consulting and Implementation: </span>
                Expert guidance and seamless integration.
            </li>

            <li class="3xl:text-2xl text-xl font-normal mb-4">
                <span class="font-bold">Support and Maintenance: </span>
                Ongoing support to ensure optimal performance
            </li>

            <li class="3xl:text-2xl text-xl font-normal">
                <span class="font-bold">Training and Community Engagement: </span>
                Empowering clients through education and community participation.
            </li>
        </ul>
    </div>
</section>
<!-- Range of enterprise applications Section End -->

<!-- About Our Community Section Start -->
<section class="page">
    <div class="grid 4xl:grid-cols-2 items-center gap-5">
        <div>
            <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
                About <span class="text-primary-500"> Our Community</span>
            </h2>
            <p class="3xl:text-xl text-lg mt-2 5xl:pe-10">
                Our Enterprise Application community is at the heart of what we do. By
                joining EASWORKS, you become part of a vibrant network of professionals
                and businesses committed to excellence in enterprise applications.
                Engage in discussions, share knowledge, and stay updated on the latest
                Enterprise Application industry trends and events. Together, we achieve
                great things.
            </p>

            <button
                class="font-bold text-white bg-primary-500 rounded-xl 3xl:py-3 py-2 3xl:px-12 px-7 w-fit mt-5 3xl:text-2xl text-xl">
                Join Community
            </button>
        </div>
        <div>
            <img src="../../assets/public/about-us/about-community.png" alt="Community Connection Image"
                class="w-full" />
        </div>
    </div>
</section>
<!-- About Our Community Section End -->

<div class="bg-contain bg-no-repeat bg-center empower-enterprises 5xl:py-20 py-12">
    <!-- Empower enterprises Section Start -->
    <section class="page">
        <div class="grid 4xl:grid-cols-2 items-center gap-5">
            <div class="flex">
                <div>
                    <h2
                        class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all font-bold text-black">
                        We empower enterprises in
                        <span class="text-primary-500"> the following industries</span>
                    </h2>
                    <p class="3xl:text-lg mt-2">
                        By creating on-demand EASWORKS platform that leverage top enterprise
                        application professionals with relevant deep industry experience who
                        are specialized in Enterprise Application Services in ERP, CRM, SCM,
                        PLM, Analytics & BI, cloud, AI, and emerging technologies.
                    </p>
                </div>
                <img src="../../assets/public/about-us/empower-enterprises/lady-img.png" alt="Image not Found"
                    class="self-end mt-20" />
            </div>

            <div class="relative flex gap-5 items-start justify-start p-3 7xl:overflow-x-visible overflow-x-auto">
                <div class="w-fit shadow-[0_3px_13px_0px_rgb(73,73,252)] rounded-xl z-10">
                    <img src="/assets/public/hire-contractors/hero-sec/hero-sec-profile1.png" alt="Profile Picture" />
                    <div class="p-2.5 bg-white rounded-b-xl">
                        <h5 class="3xl:text-2xl text-xl text-primary-500 font-medium text-nowrap">
                            Kristin Watson
                        </h5>
                        <h6 class="3xl:text-xl text-lg text-slate-700">
                            Senior .NET Architect
                        </h6>
                        <p class="text-xs text-slate-700 text-end mt-1">Latin America</p>
                    </div>
                </div>

                <div class="w-fit shadow-[0_3px_13px_0px_rgb(73,73,252)] rounded-xl z-10 mt-32">
                    <img src="/assets/public/hire-contractors/hero-sec/hero-sec-profile1.png" alt="Profile Picture" />
                    <div class="p-2.5 bg-white rounded-b-xl">
                        <h5 class="3xl:text-2xl text-xl text-primary-500 font-medium text-nowrap">
                            Kristin Watson
                        </h5>
                        <h6 class="3xl:text-xl text-lg text-slate-700">
                            Senior .NET Architect
                        </h6>
                        <p class="text-xs text-slate-700 text-end mt-1">Latin America</p>
                    </div>
                </div>

                <div class="w-fit shadow-[0_3px_13px_0px_rgb(73,73,252)] rounded-xl z-10 mt-32">
                    <img src="/assets/public/hire-contractors/hero-sec/hero-sec-profile1.png" alt="Profile Picture" />
                    <div class="p-2.5 bg-white rounded-b-xl">
                        <h5 class="3xl:text-2xl text-xl text-primary-500 font-medium text-nowrap">
                            Kristin Watson
                        </h5>
                        <h6 class="3xl:text-xl text-lg text-slate-700">
                            Senior .NET Architect
                        </h6>
                        <p class="text-xs text-slate-700 text-end mt-1">Latin America</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap gap-4 justify-center mt-7">
            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-finance.svg"
                    alt="Finance and Banking" />Finance and Banking
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-healthcare.svg"
                    alt="Healthcare" />Healthcare
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-retail.svg"
                    alt="Retail and E-commerce" />Retail and E-commerce
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-manufacturing.svg"
                    alt="Manufacturing" />Manufacturing
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-telecom.svg"
                    alt="telecommunications" />telecommunications
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-energy.svg"
                    alt="Energy and Utilities" />Energy and Utilities
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-it.svg"
                    alt="Information Technology (IT)" />Information Technology (IT)
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-automotive.svg"
                    alt="Automotive" />Automotive
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-aerospace.svg"
                    alt="Aerospace and Defence" />Aerospace and Defence
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-pharmaceuticals.svg"
                    alt="Pharmaceuticals" />Pharmaceuticals
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-pharmaceuticals.svg"
                    alt="Pharmaceuticals" />Pharmaceuticals
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-travel.svg"
                    alt="Hospitality and Travel" />Hospitality and Travel
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-real-estate.svg" alt="Real Estate" />Real
                Estate
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-insurance.svg" alt="Insurance" />Insurance
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-media.svg"
                    alt="Media and Entertainment" />Media and Entertainment
            </div>

            <div
                class="flex gap-2.5 items-center 5xl:py-3 py-2 px-4 rounded-2xl bg-zinc-100 text-gray-700 5xl:text-2xl 3xl:text-xl text-lg font-semibold">
                <img src="../../assets/public/about-us/empower-enterprises/ic-transport.svg"
                    alt="Transportation and Logistics" />Transportation and Logistics
            </div>
        </div>
    </section>
    <!-- Empower enterprises Section End -->

    <!-- Join Community Section Start -->
    <section class="3xl:px-8 px-5 bg-white py-12">
        <div class="page px-0 join-community-sec bg-no-repeat bg-auto rounded-4xl">
            <div>
                <h2
                    class="text-white 8xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight font-bold xl:pt-8 text-center">
                    Join the <span class="text-black">EASWORKS Community</span>
                </h2>
            </div>
            <div class="rounded-4xl grid 4xl:grid-cols-3 gap-0 4xl:items-center pb-5">
                <div class="text-center text-white px-10">
                    <img src="../../assets/public/generic-roles/join-community/ic-white-commas.svg" alt="Comma Icon" />
                    <h3 class="text-white 8xl:text-3xl text-2xl 7xl:leading-tight font-bold mt-5">
                        Join the Community
                    </h3>
                    <h6 class="text-sm mt-0.5">The Enterprise Application Ecosystem</h6>

                    <p class="my-5 text-sm">
                        Stay updated with industry trends, connect with peers, and participate
                        in exclusive events. Network, learn, and grow in the enterprise
                        application ecosystem.
                    </p>

                    <button
                        class="font-bold text-primary-500 bg-white rounded-xl 3xl:py-2.5 py-1.5 xl:px-7 px-5 text-sm">
                        Explore the Community
                    </button>
                </div>
                <div class="flex justify-center items-center">
                    <img src="../../assets/public/generic-roles/join-community/join-community-connections.png"
                        alt="Easworks Connections" />
                </div>
                <div class="text-center text-primary-500 px-10">
                    <div class="flex justify-end">
                        <img src="../../assets/public/generic-roles/join-community/ic-primary-commas.svg"
                            alt="Comma Icon" />
                    </div>
                    <h3 class="text-primary-500 8xl:text-3xl text-2xl 7xl:leading-tight font-bold mt-5">
                        Join the Community
                    </h3>
                    <h6 class="text-sm mt-0.5">Developers Connect on Stack Overflow</h6>

                    <p class="my-5 text-sm">
                        Millions of developers are on stack overflow where the developers are.
                    </p>

                    <button
                        class="font-bold text-white bg-primary-500 rounded-xl 3xl:py-2.5 py-1.5 xl:px-7 px-5 text-sm">
                        Join the developer commnunity
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Join Community Section ends -->
</div>

<!-- About us End -->