<div class="question-section">
    <div class="question-center">
        <div class="qs-easlogo">
            <img src="assets/img/black-logo.png">
            <button type="button" class="startbtn">Start Section</button>
        </div>
        <div class="qs-table-wraper">
            <h1 class="qsTitle">Numerical Ability - Quantitative Aptitude</h1>
            <div class="qs-counting">
                <ul class="qs-count-section">
                    <li>Section 3</li>
                    <li>Question 7</li>
                    <li>Time 35 min</li>
                </ul>
            </div>
            <div class="qs-instruction">
                <h2 class="ins-title">Take a deep breath and relax, we have designed this test to be fun, quick, and
                    easy!</h2>
                <h1 class="qsTitle">Instruction</h1>
                <ul class="qsInstruction-List">
                    <li>
                        1.It is a time bound section
                    </li>
                    <li>
                        2.It is a time bound section
                    </li>
                    <li>
                        3.It is a time bound section
                    </li>
                    <li>
                        4.It is a time bound section
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>