<div class="form-field mt-4">
  <input type="text" class="field field-interactive" [(ngModel)]="search.query$"
         [matAutocomplete]="searchOptions"
         placeholder="Search Tech Skill">

  <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="search.displayWith">
    @for(option of search.options$(); track option.item.id) {
    <mat-option [value]="option.item">{{option.item.name}} ({{option.score}})</mat-option>
    }
  </mat-autocomplete>
</div>

<mat-accordion class="block !mt-4">

  @for(panel of accordion.panels.$(); track panel.data.id) {
  <mat-expansion-panel class="!shadow-z1">
    <mat-expansion-panel-header>{{panel.data.name}}</mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <div class="p-4">
      <form *ngrxLet="panel.form as form"
            [formGroup]="form">
        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control" class="mb-0">
          <label>Group Name</label>
          <input type="text" [formControl]="control">
        </div>
      </form>

      @if (!panel.unchanged$()) {
      <div class="flex gap-4 mt-4">
        <button class="stroked-button primary" mat-ripple
                [disabled]="panel.submit.disabled$()"
                (click)="panel.submit.click()">
          <replace-spinner [showSpinner]="panel.submit.loading$()">
            Update
          </replace-spinner>
        </button>
        <button class="stroked-button" mat-ripple
                [disabled]="panel.submit.disabled$()"
                (click)="panel.reset.click()">
          Reset
        </button>
      </div>
      }
      <div></div>
    </div>
    <mat-divider></mat-divider>
    <div class="p-4 flex gap-4 flex-wrap justify-stretch"
         *ngrxLet="panel.skills as skills">

      @for(skill of skills.list; track skill.id) {
      <div class="border rounded-lg p-1 px-4">
        {{skill.name}}
      </div>
      }
      @if (skills.create.visible$()) {
      <button class="add-button" mat-ripple
              (click)="skills.create.click()">
        <fa-icon [icon]="icons.faPlus" class="w-4"></fa-icon>
        <span class="leading-none">Add New</span>
      </button>
      }

    </div>
  </mat-expansion-panel>
  }

</mat-accordion>

<button class="icon-button primary large !sticky bottom-4 ml-auto mr-4 mt-4 shadow-z1 shadow-gray-500"
        mat-ripple
        (click)="create.click()">
  <fa-icon [icon]="icons.faPlus"></fa-icon>
</button>