<div class="form-field mt-4">
  <input type="text" [(ngModel)]="search.query$"
         [matAutocomplete]="searchOptions"
         placeholder="Search Tech Skill">

  <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="search.displayWith">
    @for(option of search.options$(); track option.item.id) {
    <mat-option [value]="option.item">{{option.item.name}}</mat-option>
    }
  </mat-autocomplete>
</div>

<div class="mt-4 table-container">
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        @for(row of table.rows.$(); track row.data.id) {
        <tr>
          <td>{{row.data.id}}</td>
          <td *ngrxLet="row.form.controls.name as control" [formFieldControl]="control">
            <input type="text" [formControl]="control">
          </td>
          <td class="actions">
            <div class="flex gap-2">
              <button class="icon-button small enabled:text-emerald-500" mat-ripple
                      [disabled]="row.submit.disabled$()" (click)="row.submit.click()">
                <replace-spinner [showSpinner]="row.submit.loading$()">
                  <fa-icon [icon]="icons.faCheck"></fa-icon>
                </replace-spinner>
              </button>
              <button class="icon-button small enabled:text-warn" mat-ripple
                      [disabled]="row.reset.disabled$()" (click)="row.reset.click()">
                <fa-icon [icon]="icons.faRefresh"></fa-icon>
              </button>
            </div>
          </td>
          <td class="actions">
            <button class="highlight-button font-normal text-sm rounded-full my-1 p-1 px-3"
                    mat-ripple>
              Skills
            </button>

          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<button class="icon-button primary large !sticky bottom-4 ml-auto mr-4 mt-4 shadow-z1 shadow-gray-500"
        mat-ripple
        (click)="create.click()">
  <fa-icon [icon]="icons.faPlus"></fa-icon>
</button>