<!-- Login Page Start -->
<section class="bg-gray-100 min-h-screen">
  <div class="page py-0">
    <img
      src="../../assets/login/logo.svg"
      alt="Logo"
      class="block mx-auto py-8"
    />
    <div
      class="bg-white rounded-md border border-gray-200 px-10 py-6 8xl:w-2/5 6xl:w-2/4 4xl:w-3/5 2xl:w-4/5 w-full mx-auto"
    >
      <h4 class="3xl:text-2xl text-xl uppercase text-center">
        Login to <span class="text-primary-500">your account</span>
      </h4>

      <div
        class="lg:flex grid sm:grid-cols-2 items-center sm:justify-between lg:gap-5 gap-2.5 my-4"
      >
        <div
          class="border border-gray-300 py-3 text-gray-700 lg:w-40 w-full flex items-center gap-2.5 justify-center rounded-sm"
        >
          <img
            src="../../assets/login/ic-github.svg"
            alt="Github Icon"
          />
          Github
        </div>

        <div
          class="border border-gray-300 py-3 text-gray-700 lg:w-40 w-full flex items-center gap-2.5 justify-center rounded-sm"
        >
          <img
            src="../../assets/login/ic-google.svg"
            alt="Google Icon"
          />
          Google
        </div>

        <div
          class="border border-gray-300 py-3 text-gray-700 lg:w-40 w-full flex items-center gap-2.5 justify-center rounded-sm"
        >
          <img
            src="../../assets/login/ic-linkedin.svg"
            alt="LinkedIn Icon"
          />
          LinkedIn
        </div>
      </div>

      <div class="grid grid-cols-11 items-center">
        <div class="border-t border-gray-300 w-full col-span-5"></div>
        <h6 class="3xl:text-2xl text-xl text-gray-400 text-center">or</h6>
        <div class="border-t border-gray-300 w-full col-span-5"></div>
      </div>

      <form>
        <input
          type="text"
          placeholder="User name"
          class="!rounded-sm 3xl:!p-4 !p-3 3xl:!text-xl !text-lg placeholder:3xl:!text-xl my-4 placeholder:!text-lg"
        />

        <div class="relative">
          <input
            type="password"
            placeholder="Password"
            class="!rounded-sm 3xl:!p-4 !p-3 3xl:!text-xl !text-lg placeholder:3xl:!text-xl placeholder:!text-lg"
          />
          <img
            src="../../assets/login/ic-hide-pass.svg"
            alt="Eye Close Icon"
            class="bg-white absolute right-2.5 top-2/4 -translate-y-2/4"
          />
        </div>

        <div class="flex justify-end w-full my-2.5">
          <a href="#" class="font-medium text-primary-500">Forgot Password</a>
        </div>

        <button
          class="3xl:text-2xl text-xl font-semibold bg-primary-500 text-white rounded-lg py-4 w-full px-5"
        >
          Login
        </button>
      </form>

      <div class="text-gray-600 text-center font-medium mt-12 mb-2">
        Don’ t have an account?
        <a href="#" class="text-black">Create one now</a>
      </div>

      <div class="flex gap-x-10 gap-y-2 items-center lg:flex-nowrap flex-wrap">
        <div
          class="border border-gray-300 3xl:py-5 py-3 text-primary-500 font-semibold text-lg flex items-center gap-2.5 justify-center rounded-sm w-full"
        >
          Join as Talent
        </div>

        <div
          class="border border-gray-300 3xl:py-5 py-3 text-primary-500 font-semibold text-lg flex items-center gap-2.5 justify-center rounded-sm w-full"
        >
          Join as Company
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Page End -->