<div class="grid place-content-center py-16 lg:py-32">
  <h2 class="font-bold text-2xl text-center col-span-2">Select Account Type</h2>

  <div class="mt-8 flex flex-wrap gap-8 justify-center">

    <div class="w-80 bg-surface border rounded p-8 text-center max-w-md">
      <p class="text-2xl font-bold">Find Opportunities</p>
      <a class="block shaded-button primary mt-4"
         routerLink="/sign-up/talent"
         [queryParams]="query$()"
         [info]="socialPrefill$()">
        SIGN UP AS TALENT
      </a>

    </div>

    <div class="w-80 bg-surface border rounded p-8 text-center max-w-md">
      <p class="text-2xl font-bold">Find Talent</p>
      <a class="block shaded-button primary mt-4"
         routerLink="/sign-up/client"
         [queryParams]="query$()"
         [info]="socialPrefill$()">
        SIGN UP AS COMPANY
      </a>
    </div>

  </div>

  <p class="mt-4 text-sm col-span-2 text-center text-gray-500">Already have an account? <a routerLink="/account/sign-in" class="text-primary-500">Sign In</a></p>

</div>

<!-- 
<div class="rounded bg-blue-100">

</div>
<div class="h-80 w-80 bg-blue-100"></div> -->