<section class="relative pb-8">
  <div class="absolute inset-0">
    <img class="w-full h-full opacity-5" src="../../assets/img/building.jpg" alt="">
  </div>

  <div class="relative grid gap-4 items-center
          grid-cols-1 lg:grid-cols-2 
          min-h-offset-screen lg:max-h-offset-screen">
    <div class="p-4 md:px-8 lg:max-w-lg lg:mx-auto transition-all">
      <h3 class="text-4xl font-bold">
        Achieve Enterprise Project <span class="text-primary-500">Goals With Ease</span>
      </h3>
      <p class="my-4">
        Dip into the EASWORKs talent pool of Enterprise Application
        developers and select one of our flexible engagement models so that we can recruit and execute for
        your next enterprise application project.
      </p>
      <div class="flex mt-12 gap-4">
        <button class="shaded-button secondary">Start Hiring</button>
      </div>
    </div>
    <div class="mx-auto max-w-full xl:max-w-5xl
                transition-all">
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tacawejm.json" background="transparent"
                     speed="1" loop autoplay></lottie-player>
    </div>

  </div>
</section>

<section class="page py-8">
  <div class="@container">
    <div class="grid grid-cols-12 gap-8 grid-flow-row-dense">
      <div class="col-span-12 @lg:col-span-6 @4xl:col-span-3">
        <h3 class="text-xl font-semibold">Services</h3>
        <div class="mt-4 grid gap-2">
          <a *ngFor="let service of serviceTypes"
             [routerLink]="service.link"
             class="flex gap-2">
            <fa-icon [icon]="icons.faAngleRight" class="text-sm mt-1"></fa-icon>
            {{service.name}}
          </a>
        </div>
      </div>
      <div class="col-span-12 @4xl:col-span-6">
        <h3 class="text-xl font-semibold">Roles</h3>
        <div class="mt-4 grid gap-2 gap-x-4 @lg:grid-cols-2">
          <a *ngFor="let role of genericRoles"
             [routerLink]="role.link"
             class="flex gap-2">
            <fa-icon [icon]="icons.faAngleRight" class="text-sm mt-1"></fa-icon>
            {{role.name}}
          </a>
        </div>
      </div>
      <div class="col-span-12  
        @lg:col-span-6 
        @4xl:col-span-3">
        <h3 class="text-xl font-semibold">Company Types</h3>
        <div class="mt-4 grid gap-2">
          <a *ngFor="let company of companyTypes"
             [routerLink]="company.link"
             class="flex gap-2">
            <fa-icon [icon]="icons.faAngleRight" class="text-sm mt-1"></fa-icon>
            {{company.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page py-8 mt-8 grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
  <img class="max-w-xs m-auto" src="../../assets/img/understanding.svg" alt="">
  <div class="relative">
    <span class="w-12 h-12 flex items-center justify-center rounded-full text-xl font-bold bg-primary-500 text-white">01</span>
    <h2 class="text-4xl font-bold my-5">Understand Your Enterprise Application Project & Talent Needs
    </h2>
    <p class="my-4 text-base font-normal">One of our Enterprise Application experts takes a deep dive into your company's technical needs, culture, and long-term goals to propose the best suited engagement model for your project.</p>
  </div>
</section>

<section class="page py-8 grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
  <div class="relative">
    <span class="w-11 h-11 flex items-center justify-center rounded-full text-xl font-bold bg-primary-500 text-white">02</span>
    <h2 class="text-4xl font-bold my-5">We match you to members in Our Enterprise Application Network</h2>
    <p class="my-4 text-base font-normal">We map your Enterprise Application project requirements to our deep roster and extensive network to quickly shortlist the best candidates.</p>
  </div>
  <img class="max-w-xs m-auto" src="../../assets/img/sourcing.svg" alt="">
</section>

<section id="stages" class="page py-8">
  <div class="relative m-auto">
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ureyqxyw.json"
                   background="transparent" speed="1" loop autoplay></lottie-player>
  </div>
  <div class="relative">
    <span class="w-11 h-11 flex items-center justify-center rounded-full text-xl font-bold bg-primary-500 text-white">03</span>
    <h2 class="text-4xl font-bold my-4">
      Understand Your Enterprise Application Project & Talent Needs
    </h2>
    <p class="my-4 text-base font-normal">One of our Enterprise Application experts takes a deep dive into your company's technical needs, culture, and long-term goals to propose the best suited engagement model for your project.</p>

    <ul class="mt-8 pl-8">
      <li>
        <span class="index">I</span>
        <h3>Individual Assessment</h3>
        <div class="content">
          <p>Each applicant is evaluated on their language and communication skills before participating in a personality assessment to understand their motivations and work ethic..</p>
        </div>
      </li>

      <li>
        <span class="index">II</span>
        <h3>Full Skills Evaluation</h3>
        <div class="content">
          <p>Each applicant is evaluated on their language and communication skills before participating in a personality assessment to understand their motivations and work ethic..</p>
        </div>
      </li>

      <li>
        <span class="index">III</span>
        <h3>Live Technical Interview</h3>
        <div class="content">
          <p>Senior-level Enterprise domain experts interview successful applicants from the previous stage and use live exercises to test how candidates apply their Enterprise Application expertise & domain knowledge, creativity, problem-solving and communication skills in real-world scenarios.</p>
          <p>We conduct background checks of the applicants resume, portfolio and references before moving onto the final stage of vetting.</p>
        </div>
      </li>
      <li>
        <span class="index">IV</span>
        <h3>Client Interview</h3>
        <div class="content">
          <p>Applicants who demonstrate outstanding domain knowledge and technical expertise are presented to our clients.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="page py-8 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
  <div class="relative">
    <span class="w-11 h-11 flex items-center justify-center rounded-full text-xl font-bold bg-primary-500 text-white">04</span>
    <h2 class="text-4xl font-bold my-5">Engagement</h2>
    <p class="my-4 text-base font-normal">After shortlisting Candidates, you decide who you want to interview, and we'll arrange a virtual meeting.</p>

    <p class="my-4 text-base font-normal">Once matched & you're ready, we sign a contract, and each Enterprise Application Freelancer you choose to hire becomes a part of your team.</p>

    <p class="my-4 text-base font-normal">o If you're not satisfied with the candidate after the trial period, you have no obligation to pay.</p>

    <p class="my-4 text-base font-normal">In the rare case that it's not a good fit, we mediate the situation and replace the developer if needed. </p>
  </div>
  <div class="relative w-80 h-80 m-auto">
    <img src="/assets/img/engagement.svg" alt="">
  </div>
</section>

<section class="page py-8 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
  <div class="relative w-80 h-80 m-auto lg:pt-8">
    <img src="/assets/pages/for-clients/onboarding.png">
  </div>
  <div class="relative">
    <span class="w-11 h-11 flex items-center justify-center rounded-full text-xl font-bold bg-primary-500 text-white">05</span>
    <h2 class="text-4xl font-bold my-5">Facilitate Talent Onboarding</h2>
    <p class="my-4 text-base font-normal">Helping our clients onboard the right Enterprise Application talent is part of our mission.</p>
    <p class="my-4 text-base font-normal">We have facilitated remote onboarding for hundreds of engineers for small - large sized companies including start-ups.</p>
  </div>
</section>

<section class="mt-8 py-8 relative bg-primary-500">
  <div class="absolute inset-0 w-full h-full opacity-15">
    <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page relative grid grid-cols-1 lg:grid-cols-1 items-center 
        text-white text-center">
    <h2 class="text-3xl">Grow your Enterprise Application team on demand with EAS global talent today.</h2>
    <h3 class="text-2xl mt-4">Tell us what you are looking for, we'll take care of the rest.</h3>
    <button class="block shaded-button m-auto mt-8 text-black">HIRE TALENT</button>
  </div>
</section>

<section class="mt-8 page py-8">
  <h2 class="text-2xl lg:text-3xl font-bold text-center transition-all">
    Accelerate Enterprise growth with EASWORKS
    by using EAS TALENTS to benefit your entire organization
  </h2>

  <div class="flex mt-12 flex-wrap lg:flex-nowrap gap-8 justify-center">
    <div *ngFor="let acc of accelerate" class="flex flex-col gap-2 p-4 text-center
              flex-grow w-60 lg:w-72
              border border-b-primary-500 bg-white shadow-md 
              rounded-tr-[2rem] rounded-bl-[2rem] border-b-4">
      <lottie-player [src]="acc.lottie" background="transparent"
                     class="mx-auto h-24 transition-all" autoplay loop></lottie-player>
      <h4 class="text-lg font-semibold">{{acc.title}}</h4>
      <p class="text-sm leading-6 my-auto">{{acc.content}}</p>

      <button class="shaded-button secondary max-w-max mx-auto mt-auto">Get Started</button>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="page">
    <h2 class="text-4xl font-bold">Client FAQs</h2>
    <p class="text-gray-500 mt-2">Answers to questions about how EASWORKS engages with clients</p>
    <div *ngFor="let group of faqs$()">
      <h3 class="text-left mt-8 text-2xl font-bold">{{group.name}}</h3>
      <faq-list [faqs]="group.items" class="mt-4"></faq-list>
    </div>
  </div>
</section>

<section class="py-[60px] relative z-10 bg-[#494b4e]">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="w-full h-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page">
    <div class="grid grid-cols-1 items-center relative">
      <h2 class="text-[26px] leading-[40px] text-white text-center">Looking for a Application Experts</h2>


      <div class="flex justify-center mt-8 text-center">
        <button class="shaded-button primary">GET STARTED</button>
      </div>
    </div>
  </div>
</section>