<div class="h-16 p-2 flex mat-elevation-z1 z-10 relative">

  <div class="demo-placeholder h-full w-60"></div>

  <div class="demo-placeholder h-full w-60 mx-auto"></div>

  <div class="flex gap-2 items-center">
    <a href="javascript:void(0)" class="mr-2">Login</a>
    <button class="shaded-button primary" mat-ripple>
      Hire Now
    </button>
    <button class="icon-button" mat-ripple
            (click)="appSidenav.toggle()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</div>

<mat-sidenav-container class="flex-grow !flex flex-col">
  <mat-sidenav #appSidenav fixedInViewport
               class="!top-16" mode="over" position="end">
    <div class="grid gap-2 p-2">
      <div class="demo-placeholder h-48 w-48"></div>
      <div class="demo-placeholder h-64 w-48"></div>
      <div class="demo-placeholder h-24 w-48"></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="flex-grow !flex flex-col">
    <router-outlet class="hidden [&_+_*]:flex-1"></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>