<div>
  @if (isSignedIn$()) {
  <app-authenticated-header></app-authenticated-header>
  }
  @else {
  <app-public-header></app-public-header>
  }

  @if(navigating$()) {
  <mat-progress-bar class="!absolute bottom-0 left-0" mode="indeterminate">
  </mat-progress-bar>
  }
</div>

<mat-sidenav-container class="flex-grow !flex flex-col !overflow-visible">
  <mat-sidenav #appSidenav fixedInViewport
               id="app-sidenav"
               [mode]="sideBarState.mode$()"
               [opened]="sideBarState.opened$()"
               [position]="sideBarState.position$()">
    @if (isSignedIn$()) {
    <authenticated-vertical-menu></authenticated-vertical-menu>
    }
    @else {
    <public-vertical-menu [public]="publicMenu.main.vertical.$()"
                          [static]="publicMenu.static"
                          [about]="publicMenu.about"
                          [social]="publicMenu.social"></public-vertical-menu>
    }
  </mat-sidenav>

  <mat-sidenav-content class="flex-grow !flex flex-col !overflow-visible bg-white">
    <router-outlet class="hidden [&_+_*]:flex-1"></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>