<div class="page flex flex-wrap flex-col sm:flex-row gap-8">
  <div class="sm:w-60 transition-all">
    <img src="/assets/brand/black-logo.png">
    <p class="mt-8">
      EASWORKS connects exceptional companies with exceptional
      enterprise application developers & other talents.
    </p>
  </div>
  <div class="flex flex-col sm:flex-row flex-wrap gap-8
  flex-grow md:justify-evenly">
    <div *ngFor="let group of menus">
      <p class="text-2xl m-0">{{group.group}}</p>
      <ul class="mt-2">
        <li *ngFor="let item of group.items"
            class="py-1">
          <a [href]="item.link">
            <i class="fa-solid fa-angle-right mx-2"></i>
            <span>{{item.name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<mat-divider class="!mt-4"></mat-divider>

<div class="p-4 text-center text-sm">
  © Copyright 2023 EASWORKS. All Rights Reserved.
</div>