<div class="flex gap-4 items-center mt-4">
  <div class="flex-1">
    <div class="form-field">
      <file-upload accept=".json" [(ngModel)]="upload.file$"></file-upload>
    </div>
    <button class="stroked-button max-w-max mx-auto" mat-ripple
            (click)="upload.click()"
            [disabled]="upload.disabled$()">
      <replace-spinner [showSpinner]="upload.loading$()">
        Upload JSON
      </replace-spinner>

    </button>
  </div>
  <mat-divider vertical class="self-stretch"></mat-divider>
  <div class="flex-1 flex justify-center">
    <button class="stroked-button max-w-max" mat-ripple
            (click)="download.click()"
            [disabled]="download.disabled$()">
      <replace-spinner [showSpinner]="download.loading$()">
        Download JSON
      </replace-spinner>
    </button>
  </div>
</div>