<div>
  <div class="mx-4 w-full m-xl h-full border-2 rounded border-blue-800 ">
    <p class = "text-gray-400 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias repudiandae et adipisci ducimus nulla culpa eos quod enim nihil architecto.</p>
    <div class=" grid grid-cols-2 2xl:grid-cols-4 space-x-4  text-blue-800 m-4">
      <div class=" px-10 py-5  flex flex-col  justify-center items-center space-y-2 text-blue-800 border-2 rounded border-blue-800">
        <fa-icon 
          class="text-blue-800 text-4xl"
          [icon]= "icons.faSuitcase"
          ></fa-icon>
        <p 
          class="text-md text-black"
          >Scheduled Interviews</p>
        <p
          class="text-4xl text-blue-800"
          >76</p>
      </div>
      <div class="px-10 py-5 flex flex-col justify-center items-center space-y-2 text-blue-800 border-2 rounded border-black">
        <fa-icon 
          class="text-black text-4xl"
          [icon]= "icons.faPaperPlane"
          ></fa-icon>
        <p 
          class="text-md text-black"
          >Sent applications</p>
        <p
          class="text-4xl text-black"
          >65</p>
      </div>
      <div class=" px-10 py-5 flex flex-col justify-center items-center space-y-2 text-blue-800 border-2 rounded border-blue-800">
        <fa-icon 
          class="text-blue-800 text-4xl"
          [icon]= "icons.faUser"
          ></fa-icon>
        <p 
          class="text-md text-black"
          >Profile viewed by others</p>
        <p
          class="text-4xl text-blue-800"
          >35673</p>
      </div>
      <div class="px-10 py-5 flex flex-col justify-center items-center space-y-2 text-blue-800 border-2 rounded border-black">
        <fa-icon 
          class="text-black text-4xl"
          [icon]= "icons.faEnvelope"
          ></fa-icon>
        <p 
          class="text-md text-black"
          >Message Unread</p>
        <p
          class="text-4xl text-black"
          >83</p>
      </div>
    </div>
    <div>
      <div class="flex felx-col items-center">
        <div class="rounded border-2 border-blue-800">
          <div class="bg-blue-800 h-2 w-2/3 rounded-full"></div>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>