<p class="text-gray-400 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias repudiandae et adipisci ducimus nulla culpa eos quod enim nihil architecto.</p>

<div class="metrics-container mt-4">
  <div class="metric-card">
    <fa-icon [icon]="icons.faSuitcase"></fa-icon>
    <p class="label">Scheduled Interviews</p>
    <p class="value">{{metrics.scheduledInterviews}}</p>
  </div>
  <div class="metric-card">
    <fa-icon [icon]="icons.faPaperPlane"></fa-icon>
    <p class="label">Sent Applications</p>
    <p class="value">{{metrics.applicationCount}}</p>
  </div>
  <div class="metric-card">
    <fa-icon [icon]="icons.faUser"></fa-icon>
    <p class="label">Viewed by Others</p>
    <p class="value">{{metrics.profileViewCount}}</p>
  </div>
  <div class="metric-card">
    <fa-icon [icon]="icons.faEnvelope"></fa-icon>
    <p class="label">Unread Messages</p>
    <p class="value">{{metrics.unreadMessages}}</p>
  </div>
</div>



<div class="mt-2 border rounded">
  <div class="flex felx-col items-center">
    <div class="rounded border-2 border-blue-800">
      <div class="bg-blue-800 h-2 w-2/3 rounded-full"></div>
    </div>
  </div>
  <div>

  </div>
</div>