<div class="welcome-mat min-w-min 
      w-full lg:max-w-2xl transition-all"
     *ngIf="isNew">

  <div class="sticky p-4
        grid place-content-center justify-items-center
        bg-[#2f2e41] text-white"
       style="top: 4rem; height: calc(100vh - 4rem);">

    <div class="max-w-lg text-center">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ureyqxyw.json"
                     loop autoplay class="h-auto"></lottie-player>

      <div class="mt-4">
        <h1 class="text-xl font-semibold">Welcome to EASWORKS</h1>
        <p class="mt-2 text-sm">
          Work With The World's Leading Companies By applying to join EASWORKS
          Enterprise Application software Talent Network,
          you are one step closer to finding your next role,
          advancing your career, and connecting with other
          talented engineers in our community. Cheers to that!
        </p>
      </div>
    </div>

  </div>

</div>

<div class="min-w-min page">
  <div class="mx-auto w-24 h-24">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                   loop autoplay>
    </lottie-player>
  </div>

  <div *ngIf="stepper.showStepControls$()" class="stepper-progress w-100 mt-4">
    <ng-container *ngrxLet="stepper.progress$() as progress">
      <span>{{progress.label}}</span>
      <mat-progress-bar [value]="progress.percent" class="mt-2 rounded-full"></mat-progress-bar>
    </ng-container>
  </div>


  <!-- Stepper container -->
  <div class="relative mt-8" *ngrxLet="stepper.step$() as step">

    <div *ngIf="step === 'start'">
      <p class="text-center">
        Please answer the following questions to complete your EASWorks Freelancer Profile.
      </p>
      <button type="button" class="highlight-button primary mt-4 mx-auto" style="display: block;"
              (click)="this.stepper.next.click()">
        Get Started
      </button>
    </div>

    <div *ngIf="step === 'professional-summary'"
         class="rounded bg-white mat-elevation-z1">
      <h2 class="p-4 text-xl font-semibold">Profile Summary with Enterprise Application Software (EAS) Details</h2>
      <mat-divider></mat-divider>
      <form *ngrxLet="professionalSummary.form as form"
            [formGroup]="form"
            class="p-4 grid gap-4">

        <div *ngrxLet="form.controls.summary as control"
             [formFieldControl]="control">
          <label class="!text-lg">
            Professional Summary
            <span class="text-warn">*</span>
          </label>
          <div class="field field-interactive h-64 mt-2">
            <textarea [formControl]="control"
                      placeholder="Please provide a summary of your professional background and experience in the field"
                      class="resize-none"></textarea>
          </div>
          <span class="error" *ngIf="control.hasError('required')">Required</span>
          <span class="error" *ngIf="control.hasError('wordlength')">{{professionalSummary.summaryWords$()}}/250 words</span>
          <span class="hint">{{professionalSummary.summaryWords$()}}/250 words</span>
          <p class="p-2 px-4 rounded text-sm bg-emerald-400/5 text-emerald-500 mt-8">The Professional Summary will remain confidential and visible exclusively to the EASWORKS screening team.</p>
        </div>

        <div *ngrxLet="form.controls.experience as control"
             [formFieldControl]="control">
          <label class="!text-lg">
            Overall Experience
            <span class="text-warn">*</span>
          </label>
          <p class="text-sm">Select the range that best represents your overall experience</p>
          <mat-select class="mt-2" [formControl]="control">
            <mat-option *ngFor="let opt of professionalSummary.options.all.experience"
                        [value]="opt">{{opt}}</mat-option>
          </mat-select>
        </div>

        <div>
          <label class="text-lg">Your Location and Time Zone</label>

          <button class="highlight-button mt-4 flex gap-2 items-center"
                  type="button" mat-ripple
                  (click)="professionalSummary.useCurrentLocation()">
            <i class="fas fa-location"></i>
            <span class="text-sm">Use current location</span>
          </button>

          <div class="mt-4">
            <div class="grid grid-cols-2 gap-x-4 md:gap-x-8 transition-all">
              <div *ngrxLet="form.controls.country as control"
                   [formFieldControl]="control"
                   [class.show-spinner]="professionalSummary.loading.geo$()">
                <label>
                  Country
                  <span class="text-warn" *ngIf="control.enabled">*</span>
                </label>
                <span class="font-emoji absolute left-2 top-8" *ngIf="control.value as value">{{value.flag}}</span>
                <input type="text" [formControl]="control" [matAutocomplete]="countryOptions"
                       placeholder="Type to filter"
                       class="transition-all" [class.!pl-10]="professionalSummary.showFlag$()">
                <mat-autocomplete #countryOptions [displayWith]="professionalSummary.displayWith.country">
                  <mat-option *ngFor="let country of professionalSummary.options.filtered.country$(); trackBy: professionalSummary.trackBy.country"
                              [value]="country">
                    <div class="flex gap-4 items-center">
                      <span class="font-emoji">{{country.flag}}</span>
                      <span>{{country.name}}</span>
                    </div>
                  </mat-option>
                </mat-autocomplete>
                <mat-progress-spinner class="field-spinner right-6 top-8"
                                      mode="indeterminate" diameter="24"></mat-progress-spinner>
              </div>

              <div *ngrxLet="form.controls.state as control"
                   [formFieldControl]="control"
                   [class.show-spinner]="professionalSummary.loading.geo$()">
                <label>
                  State/Province
                  <span class="text-warn" *ngIf="control.enabled">*</span>
                </label>

                <input type="text" [formControl]="control" [matAutocomplete]="stateOptions"
                       placeholder="Type to filter">
                <mat-autocomplete #stateOptions [displayWith]="professionalSummary.displayWith.state">
                  <mat-option *ngFor="let state of professionalSummary.options.filtered.state$(); trackBy: professionalSummary.trackBy.state"
                              [value]="state">
                    {{state.name}}
                  </mat-option>
                </mat-autocomplete>
                <span class="error" *ngIf="control.hasError('required')">Required</span>
                <span class="error" *ngIf="control.hasError('invalid')">Invalid</span>


                <mat-progress-spinner class="field-spinner right-6 top-8"
                                      mode="indeterminate" diameter="24"></mat-progress-spinner>
              </div>

              <div *ngrxLet="form.controls.city as control"
                   [formFieldControl]="control"
                   [class.show-spinner]="professionalSummary.loading.geo$()">
                <label>
                  City/Area
                  <span class="text-warn" *ngIf="control.enabled">*</span>
                </label>
                <input type="text" [formControl]="control" [matAutocomplete]="cityOptions"
                       placeholder="Type to filter">
                <mat-autocomplete #cityOptions [displayWith]="professionalSummary.displayWith.city">
                  <mat-option *ngFor="let city of professionalSummary.options.filtered.city$()"
                              [value]="city">
                    {{city.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-progress-spinner class="field-spinner right-6 top-8"
                                      mode="indeterminate" diameter="24"></mat-progress-spinner>
              </div>

              <div *ngrxLet="form.controls.timezone as control"
                   [formFieldControl]="control"
                   [class.show-spinner]="professionalSummary.loading.geo$()">
                <label>
                  Time Zone
                  <span class="text-warn" *ngIf="control.enabled">*</span>
                </label>
                <input type="text" [formControl]="control" [matAutocomplete]="tzOptions"
                       placeholder="Type to filter">
                <mat-autocomplete #tzOptions [displayWith]="professionalSummary.displayWith.timezone">
                  <mat-option *ngFor="let tz of professionalSummary.options.filtered.timezone$()"
                              [value]="tz">
                    {{tz.zoneName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-progress-spinner class="field-spinner right-6 top-8"
                                      mode="indeterminate" diameter="24"></mat-progress-spinner>
              </div>

              <div class="col-span-2 rounded bg-warn/10 p-2 px-4 text-center text-warn">
                Need to integrate the Google API as well
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="step === 'primary-domains'"
         class="rounded bg-white mat-elevation-z1">
      <h2 class="p-4 text-xl font-semibold">Primary Enterprise Application Domain Skills</h2>
      <mat-divider></mat-divider>

      <form *ngrxLet="primaryDomains.form as array"
            class="p-4">
        <label>Select your primary domain of expertise in enterprise applications.</label>

        <ng-container *ngIf="array.length; else noItemsSelected">
          <div class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
            <div *ngFor="let form of array.controls; let i = index; trackBy: primaryDomains.trackBy.controls"
                 class="border rounded p-2 pl-4 flex gap-2 items-stretch">

              <div class="flex-grow flex flex-col gap-4">
                <span class="flex-grow pt-2">{{form.value.domain?.value?.longName}}</span>
                <div *ngrxLet="form.controls.years as control" [formFieldControl]="control">
                  <input type="number" [formControl]="control" placeholder="Years of Experience"
                         min="1" max="30">
                  <span class="hint">1-30</span>
                </div>
              </div>

              <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                      type="button" (click)="primaryDomains.remove(i)"
                      title="Remove">
                <i class="fas fa-circle-minus"></i>
              </button>
            </div>
          </div>
        </ng-container>

        <ng-template #noItemsSelected>
          <div class="mt-4 border rounded p-2 mx-auto text-center">
            <i>Please select from the list below</i>
          </div>
        </ng-template>
      </form>

      <div class="p-4" *ngIf="primaryDomains.options.visible$()">
        <input type="text" placeholder="Type to filter"
               [ngModel]="primaryDomains.options.filterText$()"
               (ngModelChange)="primaryDomains.options.filterText$.set($event)">

        <ul *ngIf="!loadingData$(); else $dataLoading"
            class="mt-4 grid gap-4 primary-domain-options"
            style="grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));">
          <li *ngFor="let option of primaryDomains.options.filtered$(); trackBy: primaryDomains.trackBy.options">
            <button class="stroked-button w-full h-full" mat-ripple
                    [title]="option.title"
                    [class.selected]="option.selected"
                    [disabled]="option.selected"
                    (click)="primaryDomains.select(option)">
              {{option.label}}
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="step === 'services'"
         class="rounded bg-white mat-elevation-z1">
      <ng-container *ngIf="services.$() as services$">
        <h2 class="p-4 text-xl font-semibold">Expertise in {{services$.domainLabel}} Services</h2>
        <mat-divider></mat-divider>

        <form *ngrxLet="services$.form as array" class="grid">

          <ng-container *ngFor="let domain of array.controls; let di = index; let last = last; trackBy: services.trackBy.domain">
            <div class="grid gap-4 p-4">
              <label>Please specify your areas of expertise within {{domain.value.domain?.longName}}</label>
              <div *ngrxLet="domain.controls.services as array">

                <div *ngIf="array.length; else noItemsSelected"
                     class="grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                  <div *ngFor="let service of array.controls; let si = index; trackBy: services.trackBy.controls"
                       class="border rounded p-2 pl-4 flex gap-2 items-stretch">
                    <div class="flex-grow flex flex-col gap-4">
                      <span class="flex-grow pt-2">{{service.value.service?.value}}</span>
                      <div *ngrxLet="service.controls.years as control" [formFieldControl]="control">
                        <input type="number" [formControl]="control" placeholder="Years of Experience"
                               min="1" max="30">
                        <span class="hint">1-30</span>
                      </div>
                    </div>

                    <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                            type="button" (click)="services$.options[di].remove(si)"
                            title="Remove">
                      <i class="fas fa-circle-minus"></i>
                    </button>
                  </div>
                </div>

                <ng-template #noItemsSelected>
                  <div class="border rounded p-2 mx-auto text-center">
                    <i>Please select from the list below</i>
                  </div>
                </ng-template>
              </div>

              <div *ngIf="services$.options[di].visible$()">
                <input type="text" placeholder="Type to filter"
                       [ngModel]="services$.options[di].query$()"
                       (ngModelChange)="services$.options[di].query$.set($event)"
                       [ngModelOptions]="{ standalone: true }"
                       [matAutocomplete]="serviceOptions">

                <mat-autocomplete #serviceOptions [displayWith]="services.displayWith.none"
                                  (optionSelected)="services$.options[di].add($event.option.value)">
                  <mat-option *ngFor="let service of services$.options[di].filtered$(); trackBy: services.trackBy.service" [value]="service">{{service.label}}</mat-option>
                </mat-autocomplete>
              </div>

            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>

        </form>
      </ng-container>
    </div>

    <div *ngIf="step === 'modules'"
         class="rounded bg-white mat-elevation-z1">
      <ng-container *ngIf="modules.$() as modules$">
        <h2 class="p-4 text-xl font-semibold">{{modules$.domainLabel}} Modules Expertise</h2>
        <mat-divider></mat-divider>
        <form *ngrxLet="modules$.form as array" class="grid">
          <ng-container *ngFor="let domain of array.controls; let di = index; let last = last; trackBy: modules.trackBy.domain">
            <div class="grid gap-4 p-4">
              <label>Indicate the {{domain.value.domain?.longName}} modules you are proficient in.</label>

              <div *ngrxLet="domain.controls.modules as array">

                <div *ngIf="array.length; else noItemsSelected"
                     class="grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                  <div *ngFor="let module of array.controls; let mi = index; trackBy: modules.trackBy.controls"
                       class="border rounded p-2 pl-4 flex gap-2 items-stretch">
                    <span class="flex-grow pt-2">{{module.value.value.name}}</span>

                    <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                            type="button" (click)="modules$.options[di].remove(mi)"
                            title="Remove">
                      <i class="fas fa-circle-minus"></i>
                    </button>
                  </div>
                </div>

                <ng-template #noItemsSelected>
                  <div class="border rounded p-2 mx-auto text-center">
                    <i>Please select from the list below</i>
                  </div>
                </ng-template>
              </div>

              <div *ngIf="modules$.options[di].visible$()">
                <input type="text" placeholder="Type to filter"
                       [ngModel]="modules$.options[di].query$()"
                       (ngModelChange)="modules$.options[di].query$.set($event)"
                       [ngModelOptions]="{ standalone: true }"
                       [matAutocomplete]="moduleOptions">

                <mat-autocomplete #moduleOptions [displayWith]="modules.displayWith.none"
                                  (optionSelected)="modules$.options[di].add($event.option.value)">
                  <mat-option *ngFor="let module of modules$.options[di].filtered$(); trackBy: modules.trackBy.module" [value]="module">{{module.label}}</mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </form>
      </ng-container>
    </div>

    <div *ngIf="step === 'software'"
         class="rounded bg-white mat-elevation-z1">
      <ng-container *ngIf="software.$() as software$">
        <h2 class="p-4 text-xl font-semibold">Proficiency in {{software$.domainLabel}} Software</h2>
        <mat-divider></mat-divider>
        <form *ngrxLet="software$.form as array" class="grid">
          <ng-container *ngFor="let domain of array.controls; let di = index; let last = last; trackBy: software.trackBy.domain">
            <div class="grid gap-4 p-4">
              <label>Please indicate your proficiency level in {{domain.value.domain?.longName}} software</label>
              <div *ngrxLet="domain.controls.software as array">

                <div *ngIf="array.length; else noItemsSelected"
                     class="grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                  <div *ngFor="let software of array.controls; let si = index; trackBy: software.trackBy.controls"
                       class="border rounded p-2 pl-4 flex gap-2 items-stretch">
                    <div class="flex-grow flex flex-col gap-4">
                      <span class="flex-grow pt-2">{{software.value.software?.value?.name}}</span>
                      <div *ngrxLet="software.controls.years as control" [formFieldControl]="control">
                        <input type="number" [formControl]="control" placeholder="Years of Experience"
                               min="1" max="30">
                        <span class="hint">1-30</span>
                      </div>
                    </div>

                    <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                            type="button" (click)="software$.options[di].remove(si)"
                            title="Remove">
                      <i class="fas fa-circle-minus"></i>
                    </button>
                  </div>
                </div>

                <ng-template #noItemsSelected>
                  <div class="border rounded p-2 mx-auto text-center">
                    <i>Please select from the list below</i>
                  </div>
                </ng-template>
              </div>

              <div *ngIf="software$.options[di].visible$()">
                <input type="text" placeholder="Type to filter"
                       [ngModel]="software$.options[di].query$()"
                       (ngModelChange)="software$.options[di].query$.set($event)"
                       [ngModelOptions]="{ standalone: true }"
                       [matAutocomplete]="softwareOptions">

                <mat-autocomplete #softwareOptions [displayWith]="services.displayWith.none"
                                  (optionSelected)="software$.options[di].add($event.option.value)">
                  <mat-option *ngFor="let software of software$.options[di].filtered$(); trackBy: software.trackBy.software" [value]="software">{{software.label}}</mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </form>
      </ng-container>

    </div>

    <div *ngIf="step === 'roles'"
         class="rounded bg-white mat-elevation-z1">
      <ng-container *ngIf="roles.$() as roles$">
        <h2 class="p-4 text-xl font-semibold">Roles</h2>
        <mat-divider></mat-divider>
        <form *ngrxLet="roles$.form as array" class="grid">
          <ng-container *ngFor="let domain of array.controls; let di = index; let last = last; trackBy: roles.trackBy.domain">
            <div class="grid gap-4 p-4">
              <label>Please select the {{roles$.labels[di]}} roles you have worked in</label>
              <div *ngrxLet="domain.controls.roles as array">

                <div *ngIf="array.length; else noItemsSelected"
                     class="grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                  <div *ngFor="let role of array.controls; let ri = index; trackBy: roles.trackBy.controls"
                       class="border rounded p-2 pl-4 flex gap-2 items-stretch">
                    <div class="flex-grow flex flex-col gap-4">
                      <span class="flex-grow pt-2">{{role.value.role?.value}}</span>
                      <div *ngrxLet="role.controls.years as control" [formFieldControl]="control">
                        <input type="number" [formControl]="control" placeholder="Years of Experience"
                               min="1" max="30">
                        <span class="hint">1-30</span>
                      </div>
                    </div>

                    <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                            type="button" (click)="roles$.options[di].remove(ri)"
                            title="Remove">
                      <i class="fas fa-circle-minus"></i>
                    </button>
                  </div>
                </div>

                <ng-template #noItemsSelected>
                  <div class="border rounded p-2 mx-auto text-center">
                    <i>Please select from the list below</i>
                  </div>
                </ng-template>
              </div>

              <div *ngIf="roles$.options[di].visible$()">
                <input type="text" placeholder="Type to filter"
                       [ngModel]="roles$.options[di].query$()"
                       (ngModelChange)="roles$.options[di].query$.set($event)"
                       [ngModelOptions]="{ standalone: true }"
                       [matAutocomplete]="roleOptions">

                <mat-autocomplete #roleOptions [displayWith]="roles.displayWith.none"
                                  (optionSelected)="roles$.options[di].add($event.option.value)">
                  <mat-option *ngFor="let role of roles$.options[di].filtered$(); trackBy: roles.trackBy.role" [value]="role">{{role.label}}</mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </form>
      </ng-container>
    </div>

    <div *ngIf="step === 'technology-stack'"
         class="rounded bg-white mat-elevation-z1">
      <h2 class="p-4 text-xl font-semibold">Technical Software Experience</h2>
      <mat-divider></mat-divider>
      <ng-container *ngIf="!loadingData$(); else $dataLoading">

        <ng-container *ngIf="techExp.showInput$()">
          <div class="p-4">
            <div *ngIf="!techExp.form.length" class="rounded mb-4 p-2 px-4 bg-emerald-400/5 text-emerald-500">
              <button class="underline" (click)="stepper.next.click()">Skip this question</button> if it is irrelevant to your enterprise application experience and skills.
            </div>
            <label>Please choose the tech stack you have expertise in</label>
            <div class="tech-selector">
              <div class="groups">
                <button *ngFor="let group of techExp.group.all$()"
                        type="button"
                        (click)="techExp.group.select(group)"
                        [class.selected]="group.selected">
                  {{group.value}}
                </button>
              </div>
              <div class="tech">
                <div class="p-2">
                  <input type="text" placeholder="Type to search products"
                         [ngModel]="techExp.tech.query$()"
                         (ngModelChange)="techExp.tech.query$.set($event)"
                         [ngModelOptions]="{ standalone: true }">
                </div>

                <div class="filtered">
                  <div>
                    <button *ngFor="let tech of techExp.tech.filtered$(); trackBy: techExp.trackBy.tech"
                            type="button"
                            [class.selected]="tech.selected"
                            (click)="techExp.tech.add(tech)">{{tech.value}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngrxLet="techExp.form as array">
          <form *ngIf="array.length" class="mt-4">
            <ng-container *ngFor="let group of array.controls; let gi = index; let last = last; trackBy: techExp.trackBy.group">
              <mat-divider></mat-divider>
              <div class="p-4">
                <label>{{group.value.group}}</label>
                <div class="grid gap-2 my-4" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">

                  <div *ngFor="let tech of group.controls.tech.controls; let ti = index; trackBy: techExp.trackBy.controls"
                       class="border rounded p-2 pl-4 flex gap-2 items-stretch">
                    <div class="flex-grow flex flex-col gap-4">
                      <span class="flex-grow pt-2">{{tech.value.tech?.value}}</span>
                      <div *ngrxLet="tech.controls.years as control" [formFieldControl]="control">
                        <input type="number" [formControl]="control" placeholder="Years of Experience"
                               min="1" max="30">
                        <span class="hint">1-30</span>
                      </div>
                    </div>

                    <button class="icon-button h-10 w-10 flex-none text-warn/80" mat-ripple
                            type="button" (click)="techExp.tech.remove(gi,ti)"
                            title="Remove">
                      <i class="fas fa-circle-minus"></i>
                    </button>
                  </div>

                </div>
              </div>
            </ng-container>
          </form>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Button Container -->
  <ng-container *ngIf="stepper.showStepControls$()">
    <div class="flex mt-4">
      <button *ngIf="stepper.prev.visible$()" mat-ripple
              type="button" class="stroked-button mr-auto enabled:bg-white enabled:border-transparent mat-elevation-z1 disabled:shadow-none"
              (click)="this.stepper.prev.click()">
        Previous
      </button>

      <button *ngIf="stepper.next.visible$()" mat-ripple
              type="button" class="stroked-button ml-auto enabled:bg-white enabled:border-transparent mat-elevation-z1 disabled:shadow-none"
              [disabled]="stepper.next.disabled$()"
              (click)="this.stepper.next.click()">
        Next
      </button>

      <button *ngIf="stepper.submit.visible$()"
              type="button" class="shaded-button ml-auto"
              [disabled]="stepper.submit.disabled$()"
              (click)="this.stepper.submit.click()">
        Submit
      </button>
    </div>
  </ng-container>

</div>

<ng-template #$dataLoading>
  <div class="mt-4 p-2 grid gap-4 justify-items-center">
    <p> Fetching data. Please wait... </p>
    <mat-progress-spinner mode="indeterminate" diameter="32"></mat-progress-spinner>
  </div>
</ng-template>