<mat-progress-spinner *ngIf="isLoadingProfile$()" diameter="32" mode="indeterminate" class="mx-auto"></mat-progress-spinner>

<ng-container *ngIf="data.profile$() as profile">
  <div class="grid grid-cols-4 gap-4 transition-all">

    <section *ngrxLet="data.basic$()! as basic"
             class="col-span-4 lg:col-span-2 transition-all
              section mat-elevation-z1 p-2 
              flex flex-wrap gap-4">
      <div class="h-32 w-32 rounded bg-divider grid place-content-center mx-auto">
        <img *ngIf="basic.image as image; else $noImage" [src]="image">
        <ng-template #$noImage>
          <i class="fa-solid fa-user text-white text-8xl"></i>
        </ng-template>
      </div>

      <div class="grid content-start
            gap-1 gap-x-4 flex-grow
            text-sm md:text-base transition-all"
           style="grid-template-columns: auto 1fr auto;">
        <div class="col-span-3 font-semibold text-xl">
          {{basic.name}}
        </div>

        <label>Current Role:</label>
        <div>{{basic.currentRole}}</div>
        <i class="fa-solid fa-pen-to-square mt-[0.05rem]"></i>

        <label>Location:</label>
        <div>{{basic.location}}</div>
        <i class="fa-solid fa-pen-to-square mt-[0.05rem]"></i>

        <label>Preferred Role:</label>
        <div>{{basic.preferredRole}}</div>
        <i class="fa-solid fa-pen-to-square mt-[0.05rem]"></i>
      </div>

    </section>

    <section *ngrxLet="data.profileCompletionPie$()! as completed"
             class="col-span-4 lg:col-span-1 transition-all
              section mat-elevation-z1">
      <div class="header">Profile Strength</div>
      <mat-divider></mat-divider>
      <div class="p-4 flex flex-wrap gap-4 justify-center items-center">
        <canvas chart-js [config]="completed.config"
                class="!w-40 !h-40"></canvas>
        <p class="text-center">
          Your profile is {{completed.percentage | number: '0.0-0'}}% complete
        </p>
      </div>
    </section>

    <div class="grid gap-4 col-span-4 lg:col-span-1 lg:col-start-4 lg:row-start-1 lg:row-end-[9] transition-all">
      <div class="section mat-elevation-z1" *ngIf="data.profileCompletionBars$() as indicators">
        <div class="header">Profile Completeness</div>
        <mat-divider></mat-divider>
        <div class="profile-indicator-bars">
          <div *ngFor="let pci of indicators">
            <label>{{pci.label}}</label>
            <mat-progress-bar [value]="pci.percentage" class="rounded-full"></mat-progress-bar>
          </div>
        </div>
      </div>
      <div class="demo-placeholder">
        Contact Info
      </div>
    </div>

    <div class=" col-span-4 lg:col-span-3 transition-all 
        section mat-elevation-z1">
      <div class="header">Profile Summary</div>
      <mat-divider></mat-divider>
      <div class="p-2">
        <textarea [(ngModel)]="profile.summary"
                  placeholder="Profile Summary"
                  class="h-40 resize-none"></textarea>
      </div>
    </div>

    <div class="col-span-4 lg:col-span-3 transition-all
        section mat-elevation-z1">
      <div class="header">Primary Enterprise Application Domain</div>
      <mat-divider></mat-divider>
      <div class="p-4 flex justify-start">
        <div *ngrxLet="profile.primaryDomainExperience as exp"
             class="exp-data">
          <div class="label">{{exp.name}}</div>
          <div class="data">
            <span>{{exp.years}}</span>
            <span>{{exp.skill.charAt(0)}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-4 lg:col-span-3 transition-all
        section mat-elevation-z1">
      <div class="header">Enterprise Application Softaware Experience</div>
      <mat-divider></mat-divider>
      <div class="p-4 flex justify-start">
        <div *ngrxLet="profile.primaryDomainExperience as exp"
             class="exp-data">
          <div class="label">{{exp.name}}</div>
          <div class="data">
            <span>{{exp.years}}</span>
            <span>{{exp.skill.charAt(0)}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
      Top Modules Experience
    </div>
    <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
      System Phases Worked
    </div>
    <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
      Industry
    </div>
    <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
      Top Development Skills
    </div>

  </div>
</ng-container>