<div class="welcome-mat min-w-min 
      w-full lg:max-w-2xl transition-all"
     *ngIf="isNew">

  <div class="sticky p-4
        grid place-content-center justify-items-center
        bg-[#2f2e41] text-white"
       style="top: 4rem; height: calc(100vh - 4rem);">

    <div class="max-w-lg text-center">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ureyqxyw.json"
                     loop autoplay class="h-auto"></lottie-player>

      <div class="mt-4">
        <h1 class="text-xl font-semibold">Welcome to EASWORKS</h1>
        <p class="mt-2 text-sm">
          Work With The World's Leading Companies By applying to join EASWORKS
          Enterprise Application software Talent Network,
          you are one step closer to finding your next role,
          advancing your career, and connecting with other
          talented engineers in our community. Cheers to that!
        </p>
      </div>
    </div>

  </div>

</div>

<div class="min-w-min page">
  <div class="mx-auto w-24 h-24">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                   loop autoplay>
    </lottie-player>
  </div>


  <!-- Stepper container -->
  <div class="relative mt-8" *ngrxLet="stepper.step$() as step">

    <div *ngIf="step === 'start'">
      <p class="text-center">
        Please answer the following questions to complete you EASWorks Freelancer Profile.
      </p>
      <button type="button" class="shaded-button primary mt-4 mx-auto" style="display: block;"
              (click)="this.stepper.step$.set('end')">
        Get Started
      </button>
    </div>


  </div>
</div>