<div class="welcome-mat min-w-min 
      w-full lg:max-w-2xl transition-all"
     *ngIf="isNew">

  <div class="sticky p-4
        grid place-content-center justify-items-center
        bg-[#2f2e41] text-white"
       style="top: 4rem; height: calc(100vh - 4rem);">

    <div class="max-w-lg text-center">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ureyqxyw.json"
                     loop autoplay class="h-auto"></lottie-player>

      <div class="mt-4">
        <h1 class="text-xl font-semibold">Welcome to EASWORKS</h1>
        <p class="mt-2 text-sm">
          Work With The World's Leading Companies By applying to join EASWORKS
          Enterprise Application software Talent Network,
          you are one step closer to finding your next role,
          advancing your career, and connecting with other
          talented engineers in our community. Cheers to that!
        </p>
      </div>
    </div>

  </div>

</div>

<div class="min-w-min demo-placeholder page">
  Stepper stuff
</div>