<div class="grid grid-cols-4 grid-flow-dense gap-4 transition-all">
  <div class="demo-placeholder col-span-4 lg:col-span-2 transition-all">
    Name/Picture
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-1 transition-all">
    Profile Completion Pie
  </div>
  <div class="grid gap-4 col-span-4 lg:col-span-1 transition-all">
    <div class="demo-placeholder">
      Profile completeness
    </div>
    <div class="demo-placeholder">
      Contact Info
    </div>
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3  transition-all">
    Profile strength
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    Top Enterprise Application Domain Experience
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    Top EAS Experience
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    Top Modules Experience
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    System Phases Worked
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    Industry
  </div>
  <div class="demo-placeholder col-span-4 lg:col-span-3 transition-all">
    Top Development Skills
  </div>

</div>