<div class="question-section">
    <div class="question-center">
        <div class="qs-easlogo">
            <img src="assets/img/black-logo.png">
        </div>
        <div class="qs-table-wraper">
            <h1 class="qsTitle">Test Name:Demo Test-eastalent</h1>
            <span>Composition</span>
            <table class="qsTable">
                <thead>
                    <tr>
                        <th>Section 3</th>
                        <th>Question 7</th>
                        <th>Time 35 min</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Numerical Ability - Quantitative Aptitude</td>
                        <td>5</td>
                        <td>10 min</td>
                    </tr>
                    <tr>
                        <td>Sample Coding</td>
                        <td>5</td>
                        <td>10 min</td>
                    </tr>
                    <tr>
                        <td>Sample AI-LogicBox</td>
                        <td>5</td>
                        <td>10 min</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="qs-instruction">
            <h1 class="qsTitle">Instruction</h1>
            <ul class="qsInstruction">
                <li>
                    <img src="../../assets/img/web-programming.png" />
                    <div class="qs-code">
                        <span>Code</span>
                        <p>This test contains coding question which must be attempted by writing coding manuals.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>