<section class="page max-w-full">

    <div class="bg-center bg-no-repeat centred-bg py-12">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto">
            Detailed <span class="text-primary-500"> Services</span>
        </h2>

        <div
            class="grid mt-12 gap-y-7 mx-auto justify-center grid-cols-1 4xl:grid-cols-2 5xl:grid-cols-2 6xl:grid-cols-5">
            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail1.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon1.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="text-xl">Requirements
                        Gathering</h6>
                    <p>Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail2.png" alt="Image Shape" />

                <div class="absolute right-28 -bottom-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon2.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-20 left-3 px-14 mt-3 text-center">
                    <h6 class="text-xl">Requirements
                        Gathering</h6>
                    <p>Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail3.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon3.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="text-xl">Requirements
                        Gathering</h6>
                    <p>Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail4.png" alt="Image Shape" />

                <div class="absolute right-28 -bottom-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon4.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-20 left-3 px-14 mt-3 text-center">
                    <h6 class="text-xl">Requirements
                        Gathering</h6>
                    <p>Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail5.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon5.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="text-xl">Requirements
                        Gathering</h6>
                    <p>Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>
        </div>
    </div>
</section>