<section class="page max-w-full">

    <div class="bg-center bg-no-repeat centred-bg py-12">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto">
            Detailed <span class="text-primary-500"> Services</span>
        </h2>

        <div
            class="grid mt-12 gap-y-7 mx-auto justify-center grid-cols-1 4xl:grid-cols-2 5xl:grid-cols-2 6xl:grid-cols-5 py-12">
            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail1.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon1.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="3xl:text-2xl text-xl font-bold">Requirements
                        Gathering</h6>
                    <p class="3xl:text-xl 3xl:leading-6">Understand your
                        objectives and
                        specifications.</p>
                </div>
            </div>

            <div class="relative w-[330px] 5xl:mt-40 mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail2.png" alt="Image Shape" />

                <div class="absolute right-28 -bottom-10">
                    <img src="/assets/public/use-cases/prototyping/details/ic2.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-20 left-3 px-14 mt-3 text-center">
                    <h6 class="3xl:text-2xl text-xl font-bold">Conceptualization</h6>
                    <p class="3xl:text-xl 3xl:leading-6">Design interactive
                        prototypes.</p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail3.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon3.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="3xl:text-2xl text-xl font-bold px-3">Iterative
                        Development</h6>
                    <p class="3xl:text-xl 3xl:leading-6">Refine prototypes
                        based on feedback.</p>
                </div>
            </div>

            <div class="relative w-[330px] 5xl:mt-40 mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail4.png" alt="Image Shape" />

                <div class="absolute right-28 -bottom-10">
                    <img src="/assets/public/use-cases/prototyping/details/ic4.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-20 left-3 px-14 mt-3 text-center">
                    <h6 class="3xl:text-2xl text-xl font-bold">UX Design</h6>
                    <p class="3xl:text-xl 3xl:leading-6">Create user-friendly
                        interfaces.
                    </p>
                </div>
            </div>

            <div class="relative w-[330px] mb-10">
                <img src="/assets/public/use-cases/prototyping/details/detail5.png" alt="Image Shape" />

                <div class="absolute right-28 -top-10">
                    <img src="/assets/public/use-cases/prototyping/details/icon5.svg" class="w-[100px]"
                        alt="Image Shape" />
                </div>

                <div class="absolute text-white top-16 left-3 px-14 mt-3 text-center">
                    <h6 class="3xl:text-2xl text-xl font-bold">Functional
                        Demonstration</h6>
                    <p class="3xl:text-xl 3xl:leading-6">Showcase core
                        features.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>