<section class="page max-w-full">

    <div class="7xl:max-w-7xl mx-auto bg-center bg-no-repeat centred-bg py-12">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto">
            Detailed <span class="text-primary-500"> Services</span>
        </h2>

        <div
            class="grid mt-12 gap-y-7 mx-auto justify-center grid-cols-1 4xl:grid-cols-2 5xl:grid-cols-2 6xl:grid-cols-5">
            <div class="relative">
                <img src="../../../../assets/public/use-cases/prototyping/details/img1.png" alt="Image Shape" />
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>