<!----- Header ----->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="logo mr-auto">
            <a class="black-logo" [routerLink]="['/index']">
                <img src="assets/img/white-logo.png" />
            </a>
            <a class="white-logo" [routerLink]="['/index']">
                <img src="assets/img/black-logo.png" />
            </a>
        </h1>
        <nav class="nav-menu profile-creat-nav d-none d-lg-block">
            <ul>
                <li><a href="javascript:void(0)">Profile</a></li>
                <li><a href="javascript:void(0)">Workskill</a></li>
                <li><a href="javascript:void(0)">Your Jobs</a></li>
                <li><a href="javascript:void(0)">Interviews</a></li>
                <li class="user-details dropdown">
                    <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxs-user-circle'></i>
                    </a>
                    <div class="user-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bxs-cog'></i>Settings</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-help-circle'></i>Help</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-log-in'></i>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!----- Header ----->

<div class="common-space">
    <section class="employer-profile-edit">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="view-res-btngroup mb-2 justify-content-end">
                        <button type="button" class="resumebtn ml-2" data-bs-toggle="modal" data-bs-target="#addmembers" (click)="members()">Members</button>
                        <button type="button" class="resumebtn bgcolor4f4ffc ml-2 mr-2" (click)="startHiring()">Start Hiring</button>
                        <button type="button" class="resumebtn" (click)="dashboard()">Dashboard</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-12 text-center">
                    <div class="profile-card mb-3 p-3">
                        <div class="employee-profile-logo">

                            <figure class="emp-profileImg m-auto">
                                <img src="../../assets/img/profile.jpg" />
                                <div class="edit-profile">
                                    <input type="file" id="fileupload">
                                    <label for="fileupload"><i class="bx bxs-edit"></i>Edit</label>
                                </div>
                            </figure>
                            <h1 class="profiletitle mt-2">Company Name</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                    <div class="profile-card mb-3 p-3">
                        <div class="common-title d-flex justify-content-end pr-0 mb-3">
                            <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Website URL</label>
                                    <div class="login-form-input">
                                        <input type="text" class="inputview" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Industry Group</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">Administrative Services</option>
                                            <option value="2">Advertising</option>
                                            <option value="3">Agriculture and Farming</option>
                                            <option value="4">Apps</option>
                                            <option value="5">Artificial Intelligence</option>
                                            <option value="6">Biotechnology</option>
                                            <option value="7">Clothing and Apparel</option>
                                            <option value="8">Commerce and Shopping</option>
                                            <option value="9">Consumer Electronics</option>
                                            <option value="10">Consumer Goods</option>
                                            <option value="11">Content and Publishing</option>
                                            <option value="12">Data and Analytics</option>
                                            <option value="13">Design</option>
                                            <option value="14">Education</option>
                                            <option value="15">Energy</option>
                                            <option value="16">Events</option>
                                            <option value="17">Banking & Financial Services</option>
                                            <option value="18">Food and Beverage</option>
                                            <option value="19">Government and Military</option>
                                            <option value="20">Hardware</option>
                                            <option value="21">Health Care</option>
                                            <option value="22">Information Technology</option>
                                            <option value="23">Internet Services</option>
                                            <option value="24">Lending and Investments</option>
                                            <option value="25">Manufacturing</option>
                                            <option value="26">Media and Entertainment</option>
                                            <option value="27">Messaging and Telecommunications</option>
                                            <option value="28">Mobile</option>
                                            <option value="29">Oil,Gas and Chemicals</option>
                                            <option value="30">Navigation and Mapping</option>
                                            <option value="31">Other</option>
                                            <option value="32">Payments</option>
                                            <option value="33">Privacy and Security</option>
                                            <option value="34">Professional Services</option>
                                            <option value="35">Real Estate</option>
                                            <option value="36">Sales and Marketing</option>
                                            <option value="37">Science and Engineering</option>
                                            <option value="38">Software</option>
                                            <option value="39">Sports</option>
                                            <option value="40">Sustainability</option>
                                            <option value="41">Transportation</option>
                                            <option value="42">Travel and Tourism</option>
                                            <option value="43">Video</option>
                                            <option value="44">Insurance</option>
                                            <option value="45">Aerospace and Defense (A&D)</option>
                                            <option value="46">Automotive</option>
                                            <option value="47">Life science</option>
                                            <option value="48">Utilities</option>
                                            <option value="49">Distribution</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Industry</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">Archiving Service</option>
                                            <option value="2">Call Center</option>
                                            <option value="3">Collection Agency</option>
                                            <option value="4">College Recruiting</option>
                                            <option value="5">Courier Service</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Location</label>
                                    <div class="login-form-input">
                                        <select class="inputview" readOnly>
                                            <option value="1">Chennai</option>
                                            <option value="2">Kovai</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Phone Contact</label>
                                    <div class="login-form-input">
                                        <input type="text" class="inputview" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Company Summary</label>
                                    <div class="login-form-input">
                                        <textarea class="inputview textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="profile-card mb-3 p-3">
                        <div class="common-title d-flex justify-content-end pr-0 mb-3">
                            <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Stage of Development</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">Development</option>
                                            <option value="2">Development</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Number of Values</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Financing</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">Financing</option>
                                            <option value="2">Financing</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Engineering Team Size</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Company Growth Plan</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Annual Revenue</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                <div class="login-form-group">
                                    <label class="label-text mb-1">Annual Growth Rate</label>
                                    <div class="login-form-input">
                                        <select class="inputview">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="profile-card mb-3">
                        <div class="common-title d-flex justify-content-between">
                            <h2 class="card-title mb-0">Company Technology Details</h2>
                            <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                        </div>
                        <div class="profile-body p-3">
                            <h5 class="emp-smallTile">Enterprise Application Software (EAS)</h5>
                            <ul class="app-soft-type">
                                <ng-container *ngIf="employerQuestionData && employerQuestionData[2].option">
                                <ng-container *ngFor="let data of employerQuestionData[2].option">
                                    <li *ngIf="data.selected === true" class="app-soft-list"> {{data.value}} </li>
                                </ng-container>
                                </ng-container>
                                <li class="app-soft-list"> ERP </li>
                                <li class="app-soft-list"> PLM </li>
                                <li class="app-soft-list"> Big Data </li>
                                <li class="app-soft-list"> HRM </li>
                                <li class="app-soft-list"> LMS </li>
                                <li class="app-soft-list"> CRM </li>

                            </ul>
                            <h5 class="emp-smallTile">Tech Stack</h5>
                            <ul class="app-soft-type">
                                <li class="app-soft-list" *ngFor="let data of randomTechData">
                                    {{data.value}}
                                  </li>
                                <li class="app-soft-list"> Node Js </li>
                                <li class="app-soft-list"> CSS </li>
                                <li class="app-soft-list"> JavaScript </li>
                                <li class="app-soft-list"> GIT </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="profile-card mb-3">
                        <div class="common-title d-flex justify-content-between">
                            <h2 class="card-title mb-0">Company Members</h2>
                            <button type="button" class="resumebtn update-resume ml-2" data-bs-toggle="modal"
                                data-bs-target="#addmembers"><i class='bx bx-plus-circle add-mem'></i>Add
                                Members</button>
                        </div>
                        <div class="profile-body p-3">

                            <ul class="app-soft-type">
                                <li class="app-soft-list"> HR Team </li>
                                <li class="app-soft-list"> Engineering Team </li>
                                <li class="app-soft-list"> Others </li>
                                <li class="app-soft-list"> Owner </li>
                                <li class="app-soft-list"> Admin </li>

                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="profile-card mb-3">
                        <div class="common-title d-flex justify-content-between">
                            <h2 class="card-title mb-0">Current Hiring Needs</h2>
                            <button type="button" class="resumebtn update-resume ml-2">Start New Hiring</button>
                        </div>
                        <div class="profile-body p-3">
                            <table class="emp-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Job Role</th>
                                        <th>Job Type</th>
                                        <th>Enterprise Domain</th>
                                        <th>EAS</th>
                                        <th>Duration</th>
                                        <th>Posted Date</th>
                                        <th>Status</th>
                                        <th>Posted By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>SAP Developer</td>
                                        <td>Individual</td>
                                        <td>Enterprise Resource Management</td>
                                        <td>SAP</td>
                                        <td>6 Month</td>
                                        <td>05-Jan-2022</td>
                                        <td>
                                            <button type="button" class="status-btn blue">Open</button>
                                        </td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>SAP Developer</td>
                                        <td>Individual</td>
                                        <td>Enterprise Resource Management</td>
                                        <td>SAP</td>
                                        <td>6 Month</td>
                                        <td>05-Jan-2022</td>
                                        <td>
                                            <button type="button" class="status-btn red">Expired</button>
                                        </td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>SAP Developer</td>
                                        <td>Individual</td>
                                        <td>Enterprise Resource Management</td>
                                        <td>SAP</td>
                                        <td>6 Month</td>
                                        <td>05-Jan-2022</td>
                                        <td>
                                            <button type="button" class="status-btn green">Review</button>
                                        </td>
                                        <td>John Doe</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<!--Add Members-->

<!-- Modal -->
<div class="modal fade" id="addmembers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Members</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="login-form-group">
                            <label class="label-text mb-1">Enter Members Email ID</label>
                            <div class="login-form-input">
                                <input type="text" class="inputview" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="login-form-group">
                            <label class="label-text mb-1">Members Role</label>
                            <div class="login-form-input">
                                <select class="inputview">
                                    <option value="1">HR Team</option>
                                    <option value="2">Engineering Team</option>
                                    <option value="3">Others</option>
                                    <option value="4">Owner</option>
                                    <option value="5">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="resumebtn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="resumebtn update-resume ml-2">Invite</button>
            </div>
        </div>
    </div>
</div>