<section class="page mx-auto py-12">
    <div class="7xl:max-w-7xl mx-auto mb-20">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mx-auto">
            Overview <span class="text-primary-500"> EASWORKS</span>
        </h2>
        <p class="text-center text-2xl"><span class="text-primary-500 text-xl font-bold">At EASWORKS,</span> we connect
            you with
            top
            talents who
            can develop
            enterprise
            applications
            tailored to your business needs. Our expert talents ensure robust, scalable solutions that
            maximize value.</p>
        <img src="/assets/public/use-cases/software-dev/overview/border-btm.svg" class="mx-auto"
            alt="Image Shape" />
    </div>

    <div
        class="grid my-12 lg:gap-y-20 gap-y-7 mx-auto justify-center grid-cols-1 lg:grid-cols-2 5xl:grid-cols-4 7xl:max-w-7xl">
        <div class="bg-1 bg-contain bg-center bg-no-repeat relative">
            <img src="/assets/public/use-cases/software-dev/overview/top-img1.png" class="w-20 mx-auto"
                alt="Image Shape" />

            <div class="text-center mt-4">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Enhanced <br />
                    Efficiency</h6>
                <p class="mb-0 px-4">Streamline operations <br />
                    with custom features.</p>
            </div>
        </div>
        <div class="bg-2 bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -bottom-4 w-full">
                <img src="/assets/public/use-cases/software-dev/overview/top-img2.png" class="w-20 mx-auto"
                    alt="Image Shape" />
            </div>
            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Improved User <br />
                    Adoption</h6>
                <p class="mb-0 px-4">Increase satisfaction <br />
                    with well-designed <br />
                    applications.
                </p>
            </div>

        </div>
        <div class="bg-3 bg-contain bg-center bg-no-repeat relative">
            <img src="/assets/public/use-cases/software-dev/overview/top-img3.png" class="w-20 mx-auto"
                alt="Image Shape" />
            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Cost Efficiency</h6>
                <p class="mb-0 px-4">Invest in impactful <br />
                    functionalities.
                </p>
            </div>
        </div>
        <div class="bg-4 bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -bottom-4 w-full">
                <img src="/assets/public/use-cases/software-dev/overview/top-img4.png" class="w-20 mx-auto"
                    alt="Image Shape" />
            </div>
            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Competitive <br />
                    Advantage</h6>
                <p class="mb-0 px-4">Gain bespoke solutions <br />
                    tailored to your needs.</p>
            </div>
        </div>
    </div>
</section>