<h1 class="font-semibold">Tech Skills</h1>
<mat-divider class="!my-2 "></mat-divider>

<div class="mt-4 table-container border rounded">
  <div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(row of table.rows.$(); track row.data.id) {
        <tr>
          <td>{{row.data.id}}</td>
          <td *ngrxLet="row.form.controls.name as control" [formFieldControl]="control">
            <input type="text" [formControl]="control">
          </td>
          <td class="actions">
            <div class="flex">
              <button class="icon-button small enabled:text-emerald-500" mat-ripple
                      [disabled]="row.submit.disabled$()" (click)="row.submit.click()">
                <replace-spinner [showSpinner]="row.submit.loading$()">
                  <fa-icon [icon]="icons.faCheck"></fa-icon>
                </replace-spinner>
              </button>
              <button class="icon-button small enabled:text-warn" mat-ripple
                      [disabled]="row.reset.disabled$()" (click)="row.reset.click()">
                <fa-icon [icon]="icons.faRefresh"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        }

      </tbody>
    </table>
  </div>
</div>

<button class="icon-button primary large !sticky bottom-4 ml-auto mr-4 mt-4 shadow-z1 shadow-gray-500"
        mat-ripple
        (click)="create.click()"
        [disabled]="create.disabled$()">
  <replace-spinner [showSpinner]="create.loading$()">
    <fa-icon [icon]="icons.faPlus"></fa-icon>
  </replace-spinner>
</button>