<section class="mt-2 w-full page py-2">
  <div class=" flex flex-row items-center justify-between">
    <div>
      <h2 class="text-2xl lg:text-3xl font-bold  transition-all">
        DashBoard
      </h2>
      <span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="flex flex-row gap-2  items-center">
      <div class="flex items-between justify-center">
        <button
          class=" bg-purple-600 text-white text-xl px-4 py-2 rounded-lg hover:bg-purple-700 justify-around items-center flex flex-row ">
          <div class="size-xl mr-2">
            <fa-icon [icon]="icons.faAdd"></fa-icon>
          </div>
          <p>Hire Talents</p>
        </button>
      </div>
      <div class="text-4xl text-purple-700"> 
        <fa-icon [icon]="icons.faBell"></fa-icon>
      </div>
    </div>
  </div>

  <div class="flex mt-8 flex-wrap lg:flex-nowrap gap-8 justify-center">
    <div *ngFor="let acc of accelerate" class="flex flex-row gap-2 p-4 text-center
              flex-grow w-60 lg:w-72
              border border-b-primary-500 bg-white shadow-md 
              rounded-tr-4xl rounded-bl-4xl border-b-1">
      <div class=" p-3 bg-gray-300 rounded-full">
        <fa-icon [icon]="acc.lottie" class="text-blue-500 text-2xl"></fa-icon>
        <!-- <img class="w-[40px]" src={{acc.lottie}} alt=""> -->
      </div>
      <div class=" text-left ml-2">
        <h4 class="text-xl font-bold">{{acc.title}}</h4>
        <p class="text-sm font-semibold leading-6 my-auto">{{acc.content}}</p>
      </div>
    </div>
  </div>

  <section class=" flex flex-row pt-16 items-center justify-between">
    <div>
      <h2 class="text-lg lg:text-3xl font-bold  transition-all">
        Job Posted
      </h2>

    </div>
    <div class="">
      <span class=" text-blue-400">View All</span>
    </div>
  </section>

  <div class="grid grid-cols-12 gap-8 @container pt-8 justify-center">
    <div *ngFor="let item of items"
      class="max-w-full col-span-12 @sm:col-span-6 @md:col-span-4 @xl:col-span-4  bg-white flex border-gray-200 border-2 flex-col rounded-xl  overflow-hidden shadow-lg">
      <job-post-card [item]="item"></job-post-card>
    </div>
  </div>
</section>