<div class="info mat-elevation-z1">
  <h2>Why Enterprises Love EASWORKS</h2>
  <ul class="mt-4">
    <li>
      <i class="fa-solid fa-check"></i>
      <span>We are a niche platform dedicated to Enterprise Application Talent.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>EASWorkers are not just tech experts. They are vetted for communication and domain-specific knowledge as well.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Our globally sourced, remote team works across time zones.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>You save up to 42% by outsourcing enterprise software development to us without skimping on quality.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Take time to consider your investment with one of our risk-free trial period offers.</span>
    </li>
  </ul>

  <h2 class="mt-8">Find Your Next Enterprise Application Freelancer Here</h2>
  <div class="mt-4 demo-placeholder h-72"></div>
</div>

<div class="sign-up-form mat-elevation-z1 max-w-xl"></div>