<div class="sign-up-form mat-elevation-z1 max-w-xl">
  <h2 class="text-xl font-bold text-center">Try EASWORKS For Free</h2>
  <p class="text-center mt-2 text-sm">We have thousands of qualified candidates waiting for you!</p>

  <div class="social">
    <h2 class="text-center col-span-2">Sign Up With</h2>
    <button mat-ripple (click)="auth.signin.github()">
      <img src="/assets/github/github-mark.svg">
      <span>GitHub</span>
    </button>
    <button mat-ripple (click)="auth.signin.linkedIn()">
      <img src="/assets/linkedin/LI-In-Bug.png">
      <span>LinkedIn</span>
    </button>
    <button mat-ripple (click)="auth.signin.google()">
      <img src="/assets/google/colored.svg">
      <span>Google</span>
    </button>
  </div>

  <form [formGroup]="form" class="mt-8">
    <div class="grid grid-flow-col gap-4">
      <div *ngrxLet="form.controls.firstName as control"
           [formFieldControl]="control">
        <label>First Name</label>
        <input type="text" [formControl]="control" placeholder="First Name">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>

      <div *ngrxLet="form.controls.lastName as control"
           [formFieldControl]="control">
        <label>Last Name</label>
        <input type="text" [formControl]="control" placeholder="Last Name">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>
    </div>

    <div *ngrxLet="form.controls.company as control"
         [formFieldControl]="control">
      <label>Company</label>
      <input type="text" [formControl]="control" placeholder="Company Name">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
    </div>

    <div *ngrxLet="form.controls.email as control"
         [formFieldControl]="control">
      <label>Work Email</label>
      <input type="email" [formControl]="control" placeholder="Email Address">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('pattern')">Invalid email</span>
      <span class="error" *ngIf="control.hasError('blacklisted')">Please enter a business email</span>
    </div>

    <div *ngrxLet="form.controls.password as control"
         [formFieldControl]="control" class="mb-12">
      <label>Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Enter your Password">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('pattern')">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
      <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
      <span class="hint">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
    </div>

    <div *ngrxLet="form.controls.confirmPassword as control"
         [formFieldControl]="control">
      <label>Confirm Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Confirm your Password">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
    </div>

    <div class="border rounded p-2 flex gap-2">
      <mat-checkbox [formControl]="form.controls.tncAgreement"></mat-checkbox>
      <p class="flex-grow text-sm w-min">
        You acknowledge that the EASWORKS screening process is confidential and that you will not publicly disclose details about this process.
        By submitting this form, you acknowledge that you have read and agreed to our
        <a class="text-primary">Terms of Use</a>,
        <a class="text-primary">Privacy Policy</a> and
        <a class="text-primary">Cookie Policy</a>.
      </p>
    </div>

    <button type="submit"
            class="shaded-button primary w-full mt-6 font-medium">
      Get Started
    </button>
  </form>
</div>

<div class="info mat-elevation-z1">
  <h2>Why Enterprises Love EASWORKS</h2>
  <ul class="mt-4">
    <li>
      <i class="fa-solid fa-check"></i>
      <span>We are a niche platform dedicated to Enterprise Application Talent.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>EASWorkers are not just tech experts. They are vetted for communication and domain-specific knowledge as well.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Our globally sourced, remote team works across time zones.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>You save up to 42% by outsourcing enterprise software development to us without skimping on quality.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Take time to consider your investment with one of our risk-free trial period offers.</span>
    </li>
  </ul>

  <h2 class="mt-8">Find Your Next Enterprise Application Freelancer Here</h2>
  <img src="/assets/img/enterprise-signup.gif" class="rounded mt-4 w-full">
</div>