<div class="sign-up-form mat-elevation-z1">
  <h2 class="text-xl font-bold text-center">Apply To Join</h2>
  <p class="text-center mt-2">The World's Top Talent Enterprise Application Network & work with the world's leading Companies</p>

  <form [formGroup]="form" class="mt-8">

    <div class="grid grid-flow-col gap-4">
      <div *ngrxLet="form.controls.firstName as control"
           [formFieldControl]="control">
        <label>First Name</label>
        <input type="text" [formControl]="control" placeholder="First Name">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>

      <div *ngrxLet="form.controls.lastName as control"
           [formFieldControl]="control">
        <label>Last Name</label>
        <input type="text" [formControl]="control" placeholder="Last Name">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>
    </div>


    <div *ngrxLet="form.controls.email as control"
         [formFieldControl]="control">
      <label>Email</label>
      <input type="email" [formControl]="control" placeholder="Email Address">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('email')">Invalid email</span>
    </div>


    <div *ngrxLet="form.controls.password as control"
         [formFieldControl]="control">
      <label>Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Enter your Password">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
    </div>

    <div *ngrxLet="form.controls.confirmPassword as control"
         [formFieldControl]="control">
      <label>Confirm Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Confirm your Password">
      <span class="error" *ngIf="control.hasError('required')">Required</span>
      <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
    </div>

    <button type="submit"
            class="shaded-button primary">
      Sign Up
    </button>
  </form>
</div>

<div class="info mat-elevation-z1">
  <h2>Why Freelancers Love EASWORKS</h2>
  <ul class="mt-4">
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Look for the Enterprise Application roles that match what you love to do, where you want to do it.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Expand your network of clients by connecting with industry-leading companies in our network.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>A salary that reflects your Enterprise Application expertise and your skill</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Rewarding, long-term roles where you can hone your skills and grow your career.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>Our anonymous job applications allow clients to focus solely on skills and qualifications.</span>
    </li>
    <li>
      <i class="fa-solid fa-check"></i>
      <span>It's free!</span>
    </li>
  </ul>

  <h2 class="mt-8">We Bring Enterprise Application Job Offers To You</h2>
  <div class="relative mt-4 max-w-lg mx-auto">
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_l0l7b2uy.json"
                   loop autoplay background="transparent"></lottie-player>
  </div>

</div>