<div class="rounded shadow bg-white mx-auto"
     style="width: min(25rem, 100%);">
  <h2 class="text-xl text-center p-4">Reset Your Password</h2>
  <mat-divider></mat-divider>

  <ng-container *ngIf="mode$() === 'send link'; else $setPassword">

    <div *ngIf="sendLink.sent$() as sent; else $notSent"
         class="p-4">

      <fa-icon [icon]="icons.faCircleCheck" class="mx-auto text-emerald-400 text-2xl"></fa-icon>
      <p class="text-center mt-4">
        A link has been sent to your registered email address.
        You can use that link to reset your password.
      </p>
    </div>

    <ng-template #$notSent>
      <form [formGroup]="sendLink.form" (ngSubmit)="sendLink.submit()">
        <div *ngrxLet="sendLink.form.controls.email as control"
             [formFieldControl]="control"
             class="p-4">
          <label>Email</label>
          <input type="email" [formControl]="control" placeholder="Your registered email address">
          <span class="error" *ngIf="control.hasError('required')">Required</span>
          <span class="error" *ngIf="control.hasError('pattern')">Invalid Email</span>
          <span class="error" *ngIf="control.hasError('server')">{{control.getError('server')}}</span>
        </div>

        <mat-divider></mat-divider>

        <button *ngrxLet="loading.any$() as loading"
                class="stroked-button mx-auto m-4"
                [disabled]="loading" mat-ripple>
          <replace-spinner [showSpinner]="loading">
            Send Reset Link
          </replace-spinner>
        </button>
      </form>
    </ng-template>
  </ng-container>


  <ng-template #$setPassword>
    Link received, show reset form
  </ng-template>
</div>