<ng-container *ngIf="state.user$() as user; else $noUser">
  <div class="bg-white rounded mat-elevation-z1 p-4">
    <div class="text-center p-4">
      <i class="fa-solid fa-circle-check text-2xl text-emerald-400"></i>
      <p class="my-1">
        Signed in as:
      </p>
      <p class="italic mb-2">{{user.role | uppercase}}</p>
      <p>{{user.firstName}} {{user.lastName}}</p>
      <p>({{user.email}})</p>
    </div>

    <button mat-ripple
            class="stroked-button mx-auto my-4 block"
            (click)="signOut()">
      Sign Out
    </button>
  </div>
</ng-container>

<ng-template #$noUser>
  <div class="social">
    <h2 class="text-center text-lg col-span-2">Sign In With</h2>
    <button class="mat-elevation-z1" mat-ripple
            (click)="auth.signin.github()">
      <img src="/assets/github/github-mark.svg">
      <span>GitHub</span>
    </button>
    <button class="mat-elevation-z1" mat-ripple
            (click)="auth.signin.linkedIn()">
      <img src="/assets/linkedin/LI-In-Bug.png">
      <span>LinkedIn</span>
    </button>
    <button class="mat-elevation-z1" mat-ripple
            (click)="auth.signin.google()">
      <img src="/assets/google/colored.svg">
      <span>Google</span>
    </button>
  </div>

  <div class="flex items-center gap-2 my-4">
    <mat-divider class="flex-grow"></mat-divider>
    <div class="px-4 text-slate-400 italic">OR</div>
    <mat-divider class="flex-grow"></mat-divider>
  </div>

  <h2 class="text-center text-lg">Sign In With Email</h2>
  <div class="email-sign-in bg-white rounded p-4 mat-elevation-z1 mt-4">

    <form [formGroup]="emailLogin.form"
          (ngSubmit)="emailLogin.submit()">

      <div *ngrxLet="emailLogin.form.controls.email as control"
           [formFieldControl]="control">
        <label>Email</label>
        <input type="email" [formControl]="control" placeholder="Enter your Email ID">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
        <span class="error" *ngIf="control.hasError('pattern')">Invalid email</span>
      </div>

      <div *ngrxLet="emailLogin.form.controls.password as control"
           [formFieldControl]="control">
        <label>Password</label>
        <input type="password" [formControl]="control" placeholder="Enter your Password">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>

      <button type="submit"
              class="shaded-button primary w-full font-medium mt-4"
              mat-ripple
              [disabled]="loading.any$()">
        <replace-spinner [showSpinner]="loading.any$()">
          Sign In
        </replace-spinner>
      </button>

    </form>

    <div class="flex flex-col gap-2 mt-4 items-center text-sm">
      <a routerLink="../reset-password" class="text-primary hover:!text-primary-dark focus:!text-primary-dark">Reset Your Password</a>
      <p class="mt-2"> Don't have an account? </p>
      <a routerLink="../sign-up/freelancer" class="text-primary hover:!text-primary-dark focus:!text-primary-dark">
        Sign Up as Freelancer
      </a>
      <a routerLink="../sign-up/enterprise" class="text-primary hover:!text-primary-dark focus:!text-primary-dark">
        Sign Up as Enterprise
      </a>
    </div>

  </div>
</ng-template>