<p class="text-center">
  A verification link has been sent to the email address you provided.
  Please follow the link in that email to activate your account.
  Once activated, you can then sign in to your account.
</p>

<div class="mt-8">
  <p class="text-center">
    Alternatively, you can also paste the link below to activate your account
  </p>

  <form [formGroup]="form" class="mt-4"
        (ngSubmit)="submit()">
    <div *ngrxLet="form.controls.link as control"
         [formFieldControl]="control">
      <input type="text" [formControl]="control" placeholder="Verification Link">
      @if(control.hasError('required')) {<span class="error">Required</span>}
      @if(control.hasError('cannot-parse')) {<span class="error">Invalid link</span>}
    </div>

    <button type="submit"
            class="block mx-auto shaded-button primary"
            [disabled]="loading.any$()">
      <replace-spinner [showSpinner]="submitting$()">
        Verify
      </replace-spinner>
    </button>
  </form>
</div>