<section class="page max-w-full">

    <div class="7xl:max-w-7xl mx-auto bg-center bg-no-repeat centred-bg py-12">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto">
            Overview <span class="text-primary-500"> EASWORKS</span>
        </h2>

        <div class="6xl:flex justify-center">
            <div class="mx-auto">
                <div class="relative mb-6">
                    <div class="mx-auto">
                        <img src="../../../../assets/public/use-cases/prototyping/overview/img1.png"
                            alt="Image Shape" />

                        <div class="absolute top-11 left-14">
                            <div class="flex">
                                <img src="../../../../assets/public/use-cases/prototyping/overview/validation-ic.svg"
                                    alt="Image Shape" />

                                <div class="ms-3">
                                    <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Early
                                        Validation</h6>
                                    <p class="mb-0">Gather feedback to reduce <br />
                                        costly changes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative mb-6">
                    <img src="../../../../assets/public/use-cases/prototyping/overview/img2.png" alt="Image Shape" />

                    <div class="absolute top-11 left-14">
                        <div class="flex">
                            <img src="../../../../assets/public/use-cases/prototyping/overview/risk.svg"
                                alt="Image Shape" />

                            <div class="ms-3">
                                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Risk Mitigation</h6>
                                <p class="mb-0">Address potential issues
                                    early.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative mb-6 mx-auto w-fit">
                <img src="../../../../assets/public/use-cases/prototyping/overview/centred-img.png"
                    alt="Centred Image" />

                <div class="absolute text-center top-0 flex items-center justify-center h-full">
                    <div>
                        <h6 class="3xl:text-3xl text-xl font-bold text-primary-500 mb-0">At EASWORKS, </h6>
                        <p class=" px-20">we connect you with top talents who can provide rapid prototyping services to
                            visualize and
                            validate your enterprise application concepts. Our expert talents ensure early feedback and
                            faster time-to-market.</p>
                    </div>

                </div>
            </div>

            <div class="mx-auto">
                <div class="relative mb-6">
                    <img src="../../../../assets/public/use-cases/prototyping/overview/img3.png" alt="Image Shape" />

                    <div class="absolute top-11 left-14">
                        <div class="flex">
                            <img src="../../../../assets/public/use-cases/prototyping/overview/development.svg"
                                alt="Image Shape" />

                            <div class="ms-3">
                                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Accelerated <br />
                                    Development</h6>
                                <p class="mb-0">Provide a clear roadmap.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <img src="../../../../assets/public/use-cases/prototyping/overview/img4.png" alt="Image Shape" />

                    <div class="absolute top-11 left-14">
                        <div class="flex">
                            <img src="../../../../assets/public/use-cases/prototyping/overview/validation-ic.svg"
                                alt="Image Shape" />

                            <div class="ms-3">
                                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Cost Efficiency</h6>
                                <p class="mb-0">Focus on valuable
                                    features.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>