<h2 class="text-center font-black text-lg">APPLY TO JOIN</h2>
<p class="mt-2 text-center text-sm text-gray-400">
  The Worlds Top Talent Enterprise Application Network &
  work with the worlds leading Companies.
</p>

<mat-stepper orientation="vertical" linear #stepper>
  <mat-step label="Account Basics" [completed]="accountBasics.valid$()">
    @if (accountBasics.showSocial$()) {
    <p class="mt-2 text-sm text-center">
      SIGN UP WITH
    </p>

    <div class="mt-4 grid gap-4 grid-cols-2 @xl:grid-cols-4">
      <button class="social-button" mat-ripple
              (click)="socialSignUp('google')">
        <fa-icon [icon]="icons.faGoogle"></fa-icon>
        <span>Google</span>
      </button>
      <button class="social-button" mat-ripple>
        <fa-icon [icon]="icons.faGithub"></fa-icon>
        <span>Github</span>
      </button>
      <button class="social-button" mat-ripple>
        <fa-icon [icon]="icons.faLinkedinIn"></fa-icon>
        <span>LinkedIn</span>
      </button>
    </div>

    <div class="flex gap-4 items-center my-4">
      <mat-divider class="w-full"></mat-divider>
      <span class="italic text-divider">OR</span>
      <mat-divider class="w-full"></mat-divider>
    </div>
    }
    @else {
    <p class="mt-2 mb-4 rounded-md flex gap-2 bg-green-100 p-2 text-sm border-green-500 text-green-600 border-2 items-start">
      We used your social account to pre-fill the information
    </p>
    }

    <form *ngrxLet="accountBasics.form as form"
          [id]="accountBasics.formId"
          [formGroup]="form" class="mt-2"
          (ngSubmit)="accountBasics.submit.click(stepper)">

      <div *ngrxLet="form.controls.username as control"
           [formFieldControl]="control">
        <label>Username</label>
        <input type="text" [formControl]="control" placeholder="Username">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
      </div>

      <div class="grid grid-flow-col gap-4">
        <div *ngrxLet="form.controls.firstName as control"
             [formFieldControl]="control">
          <label>First Name</label>
          <input type="text" [formControl]="control" placeholder="First Name">
          <span class="error" *ngIf="control.hasError('required')">Required</span>
        </div>

        <div *ngrxLet="form.controls.lastName as control"
             [formFieldControl]="control">
          <label>Last Name</label>
          <input type="text" [formControl]="control" placeholder="Last Name">
          <span class="error" *ngIf="control.hasError('required')">Required</span>
        </div>
      </div>

      <div *ngrxLet="form.controls.email as control"
           [formFieldControl]="control">
        <label>Email</label>
        <input type="email" [formControl]="control" placeholder="Email Address"
               [readOnly]="accountBasics.readOnly$()">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
        <span class="error" *ngIf="control.hasError('pattern')">Invalid email</span>
      </div>

      @if (form.controls.password.enabled) {
      <div *ngrxLet="form.controls.password as control"
           [formFieldControl]="control" class="mb-12">
        <label>Password</label>
        <input type="password" [formControl]="control"
               placeholder="Enter your Password">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
        <span class="error" *ngIf="control.hasError('pattern')">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
        <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
        <span class="hint">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
      </div>

      <div *ngrxLet="form.controls.confirmPassword as control"
           [formFieldControl]="control">
        <label>Confirm Password</label>
        <input type="password" [formControl]="control"
               placeholder="Confirm your Password">
        <span class="error" *ngIf="control.hasError('required')">Required</span>
        <span class="error" *ngIf="control.hasError('passwordMismatch')">Passwords do not match</span>
      </div>
      }

      <button type="submit" class="stroked-button" mat-ripple
              [disabled]="accountBasics.submit.disabled$()">
        <replace-spinner [showSpinner]="accountBasics.submit.loading$()">
          Next
        </replace-spinner>
      </button>

    </form>
  </mat-step>

  <mat-step label="Domains" [completed]="domains.valid$()">

    <div class="mt-2 flex-none flex gap-2 text-slate-500 items-center justify-between">
      <span class="flex gap-2 items-center">
        <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
        <span>Select 1 - 3 items</span>
      </span>
      <span *ngrxLet="domains.count$() as count" class="selection-counter" [class.selected]="count > 0">
        {{count}} selected
      </span>
    </div>

    @if(domains.count$() > 0) {
    <div class="mt-2 flex flex-wrap gap-4">
      @for(chip of domains.chips$(); track chip.id) {
      <div class="chip">
        <span>{{chip.name}}</span>
        <button type="button" mat-ripple class="icon-button"
                (click)="domains.remove($index)">
          <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
        </button>
      </div>
      }
    </div>
    }

    @if(domains.add.allowed$()) {
    <div class="mt-4">
      <div class="form-field mb-0">
        <input type="text" [(ngModel)]="domains.add.query$" [matAutocomplete]="searchOptions" clearTriggerOnSelect
               placeholder="Add Domains">
      </div>

      <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="domains.add.displayWith"
                        (optionSelected)="domains.add.onSelect($event)">
        @for(option of domains.add.results$(); track option.id) {
        <mat-option [value]="option">{{option.longName}}</mat-option>
        }
      </mat-autocomplete>
    </div>
    }

    <button type="button" class="mt-4 stroked-button" mat-ripple
            [disabled]="domains.submit.disabled$()"
            (click)="domains.submit.click(stepper)">
      Next
    </button>
  </mat-step>

  <mat-step label="Software" [completed]="software.valid$()">

    <div class="mt-2 flex-none flex gap-2 text-slate-500 items-center justify-between">
      <span class="flex gap-2 items-center">
        <fa-icon [icon]="icons.faCircleInfo" class="text-lg"></fa-icon>
        <span>Select 1 - 10 items</span>
      </span>
      <span *ngrxLet="software.count$() as count" class="selection-counter" [class.selected]="count > 0">
        {{count}} selected
      </span>
    </div>

    @if(software.count$() > 0) {
    <div class="mt-2 flex flex-wrap gap-4">
      @for(chip of software.chips$(); track chip.id) {
      <div class="chip">
        <span>{{chip.name}}</span>
        <button type="button" mat-ripple class="icon-button"
                (click)="software.remove($index)">
          <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
        </button>
      </div>
      }
    </div>
    }

    @if(software.add.allowed$()) {
    <div class="mt-4">
      <div class="form-field mb-0">
        <input type="text" [(ngModel)]="software.add.query$" [matAutocomplete]="searchOptions" clearTriggerOnSelect
               placeholder="Add Software">
      </div>

      <mat-autocomplete #searchOptions hideSingleSelectionIndicator [displayWith]="software.add.displayWith"
                        (optionSelected)="software.add.onSelect($event)">
        @for(option of software.add.results$(); track option.id) {
        <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </div>
    }

    <button type="button" class="mt-4 stroked-button" mat-ripple
            [disabled]="software.submit.disabled$()"
            (click)="software.submit.click(stepper)">
      Next
    </button>

  </mat-step>

  <mat-step label="Consent">

    <p class="mt-2 text-sm text-center">
      By signing up, you agree to our
      <a routerLink="/terms-of-use" class="text-primary-500 font-medium">Terms of Use</a>,
      <a routerLink="/privacy-policy" class="text-primary-500 font-medium">Privacy Policy</a> and
      <a routerLink="/cookie-policy" class="text-primary-500 font-medium">Cookie Policy</a>.
    </p>

    <button class="mt-4 shaded-button primary w-full"
            mat-ripple
            (click)="consent.submit.click()"
            [disabled]="consent.submit.disabled$()">
      <replace-spinner [showSpinner]="consent.submit.loading$()">
        SIGN UP
      </replace-spinner>
    </button>

    <p class="mt-4 text-center">
      Already have an an account?
      <a routerLink="/sign-in" [queryParams]="query$()" [info]="socialPrefill$()" class="font-medium">Sign In</a>
    </p>

  </mat-step>

  <ng-template matStepperIcon="edit">
    <fa-icon [icon]="icons.faCheck" class="text-sm"></fa-icon>
  </ng-template>
</mat-stepper>