<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
  <div class="whyEasworks text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h1 class="main-title text-white">Why EASWORKS</h1>
          <p data-aos="fade-up" data-aos-delay="400" class="common-para text-white fontWeight-300">
            Enterprise Software Development is extremely different & challenging when compared to standard software
            development which meets the needs of an organization to improve efficiency, productivity, and business
            functionality and always developed in the context of specific organization and work in homogenized way for
            their
            process.
          </p>
          <p data-aos="fade-up" data-aos-delay="400" class="common-para  text-white  fontWeight-300">
            Traditional Enterprise software hiring is slow and expensive. Typical Developer Freelancer marketplace are
            mostly
            generic technical skills & cluttered with poor performers. EASWORKS focuses on niche Enterprise Application
            software talent market & addresses the problems with other staffing approaches to scale on demand.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Tabs Content-->
  <div class="whyEasworksTabs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="whyEasNavTabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="whyEasworks-tab" data-bs-toggle="tab" data-bs-target="#whyEasworks"
                  type="button" role="tab" aria-controls="home" aria-selected="true">Why EASWORKS</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="vittingProcess-tab" data-bs-toggle="tab" data-bs-target="#vittingProcess"
                  type="button" role="tab" aria-controls="profile" aria-selected="false">Vetting process</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="matchinProcess-tab" data-bs-toggle="tab" data-bs-target="#matchinProcess"
                  type="button" role="tab" aria-controls="contact" aria-selected="false">Matching process</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="talentGuarentee-tab" data-bs-toggle="tab" data-bs-target="#talentGuarentee"
                  type="button" role="tab" aria-controls="talentGuarentee" aria-selected="false">Talent
                  Guarantee</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="whyEasworks" role="tabpanel" aria-labelledby="whyEasworks-tab">
                <!--How do we compare-->
                <section class="appTalent-Table">
                  <div class="section-title text-center">
                    <h2>How do we Compare?</h2>
                    <p>
                      Traditional hiring is slow and expensive. Typical Developer Freelancer
                      marketplace are mostly generic technical skills & cluttered with poor
                      performers. EASWORKS focuses on niche Enterprise Application
                      software talent market & addresses the problems with other staffing
                      approaches.
                    </p>
                  </div>
                  <div class="apptalent-table-view">
                    <table>
                      <tr class="price-table-head">
                        <th class="pth-first-th"></th>
                        <th>EASWORKS</th>
                        <th>Typical Employment</th>
                        <th>Freelance Marketplaces</th>
                      </tr>

                      <tr>
                        <td>
                          <p><i class="icofont-tick-mark"></i>Expert Vetted</p>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick"><i class="icofont-tick-mark"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <p><i class="icofont-tick-mark"></i>Lead time to start</p>
                        </td>
                        <td>
                          <div class="price-week"><span>0-2</span><span>/ Weeks</span></div>
                        </td>
                        <td>
                          <div class="price-week">
                            <span>1-5</span><span>/ Months</span>
                          </div>
                        </td>
                        <td>
                          <div class="price-week"><span>1-4</span><span>/ Weeks</span></div>
                        </td>

                        <!-- <td>
              <button type="button" class="combtn green-laybtn">High</button>
            </td>
            <td>
              <button type="button" class="combtn red-laybtn">
                Unpredictable
              </button>
            </td>
            <td>
              <button type="button" class="combtn red-laybtn">
                Unpredictable
              </button>
            </td> -->
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Enterprise Application Talent Platform
                          </p>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick"><i class="icofont-tick-mark"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <!-- <td>
              <button type="button" class="combtn green-laybtn">Yes</button>
            </td>
            <td>Yes</td>
            <td>
              <button type="button" class="combtn red-laybtn">
                Unpredictable
              </button>
            </td> -->
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Trial period (20/40 hours)
                          </p>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick"><i class="icofont-tick-mark"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><i class="icofont-tick-mark"></i>Domain/Industry specific profiles</p>
                        </td>
                        <td>Very High</td>
                        <td>Low</td>
                        <td>Low</td>
                      </tr>
                      <tr>
                        <td>
                          <p><i class="icofont-tick-mark"></i>Talent Guarantee</p>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick"><i class="icofont-tick-mark"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><i class="icofont-tick-mark"></i>Recruiting Fees</p>
                        </td>
                        <td>0</td>
                        <td>18-28%</td>
                        <td>0</td>
                        <!-- <td>
              <button type="button" class="combtn green-laybtn">Yes</button>
            </td>
            <td><button type="button" class="combtn red-laybtn">No</button></td>
            <td><button type="button" class="combtn red-laybtn">No</button></td> -->
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Failure Rate
                          </p>
                        </td>
                        <td>Less than 1%</td>
                        <td>Low</td>
                        <td>Very High</td>
                      </tr>

                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Pre-Screened Matches
                          </p>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick"><i class="icofont-tick-mark"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                        <td class="text-center">
                          <button type="button" class="succTick succclose"><i class="icofont-close"></i></button>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Overhead Costs
                          </p>
                        </td>
                        <td>Low </td>
                        <td>High</td>
                        <td>High</td>
                      </tr>

                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Quality of work
                          </p>
                        </td>
                        <td>High </td>
                        <td>High</td>
                        <td>Low</td>
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <i class="icofont-tick-mark"></i>Termination Costs
                          </p>
                        </td>
                        <td>None </td>
                        <td>Very High</td>
                        <td>None</td>
                      </tr>
                      <tr>
                        <td class="border-0 bg-white"></td>
                        <td>
                          <a href="javascript:void(0)" class="applytojoin-btn">Start Now</a>
                        </td>
                        <td class="border-0 bg-white"></td>
                        <td class="border-0 bg-white"></td>
                      </tr>
                    </table>
                  </div>
                </section>
                <!--Outcome you can expect with Easworks-->
                <section class="talent-outcomes border-top overflow-visible">
                  <div class="position-relative">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6 col-12 pt-4 pt-lg-0 content section-title" data-aos="fade-up"
                        data-aos-delay="400">
                        <h2 class="text-black">
                          Outcome you can expect with EASWORKS
                        </h2>
                        <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                          <li>
                            <i class="icofont-tick-mark"></i>Scale your Enterprise Application team with an elastic,
                            dedicated team of
                            top Enterprise Application Talents.
                          </li>
                          <li>
                            <i class="icofont-tick-mark"></i>Add adequate capacity during busy times and big projects of
                            Enterprise
                            Applications, without increasing headcount
                          </li>
                          <li>
                            <i class="icofont-tick-mark"></i>Reduce your time-to-hire as well as your design overhead
                            and costs
                          </li>
                          <li>
                            <i class="icofont-tick-mark"></i>Get continuous Business process improvement suggestions
                            from Top
                            Enterprise Application domain experts.
                          </li>
                          <li>
                            <i class="icofont-tick-mark"></i>Motivate your in-house Enterprise Developers and keep them
                            focused on
                            strategic, long-term projects
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12 text-center" data-aos="fade-left" data-aos-delay="500">
                        <img src="assets/img/consequence.png" class="img-fluid" alt="" />
                      </div>
                    </div>
                  </div>
                </section>

                <!--Our Values-->
                <section class="services border-top">
                  <div class="position-relative">
                    <div class="section-title text-center">
                      <h2 class="text-dark">EASWORKS Talent support Enterprise project Team</h2>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/DigitalTransformation.png" />
                          <h2>Digital Continuity & Digital Transformation</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/POC.png" />
                          <h2>COTS Product evaluation / POC</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/customEnterpriseapplicatio.png" />
                          <h2>New Enterprise Application Software Development</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/applicationEnhancement.png" />
                          <h2>Enhancement to Existing Enterprise Software Implementation</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/ApplicationModernization.png" />
                          <h2>Application Modernization</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/DataMigration.png" />
                          <h2>Enterprise Data Migration</h2>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid border">
                          <img src="assets/img/whyapptalent/MaintenanceSupport.png" />
                          <h2>Maintenance & Support</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="apptalent-connect pt-4 pb-4">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2 hero-img text-left">
                        <div class="apptalent-export-content talktous-content">
                          <h1 class="text-white text-left">
                            Come join 20+ companies that are hiring Enterprise Application
                            software (EAS) Talents On-demand
                          </h1>
                          <a href="javascript:void(0)" class="applytojoin-btn whyapp-applytojoin">Hire Now</a>
                        </div>
                      </div>
                      <div class="
            col-lg-6 col-md-6 col-12
            order-1 order-lg-2
            hero-img
            text-center
          " data-aos="fade-up" data-aos-delay="600">
                        <img src="assets/img/Enterprise-Application.png" class="img-fluid animated" alt="" />
                      </div>
                    </div>
                  </div>
                </section>

                <!---Building Enterprise Team in our DNA-->
                <section class="team-dna">
                  <div class="container">
                    <div class="section-title text-center">
                      <h2>Building enterprise Application Team is our DNA</h2>
                      <p>
                        With a proven history of matching clients and freelancers and building distributed workforce on
                        demand. we
                        create strong working relationships that benefit both sides and stand the test of time.
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="ourvalue-grid beteam-dna job-border border">
                          <img src="assets/img/whyapptalent/customer-service.png" />
                          <div class="beteam-box">
                            <h2>PERSONALIZED SERVICE</h2>
                            <p class="text-center">
                              It's hard to describe a complex enterprise application project over email. One of our
                              Senior Enterprise
                              Application experts will call you to discuss your exact requirements
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="ourvalue-grid beteam-dna border">
                          <img src="assets/img/whyapptalent/speed.png" class="ovimg-defultSize" />
                          <div class="beteam-box">
                            <h2>ACCELERATED RESULTS</h2>
                            <p class="text-center">
                              Using traditional hiring methods, it can take weeks or months to pull together the right
                              team. We
                              present you with pre- qualified candidates in 6-10 days in most cases.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="ourvalue-grid beteam-dna job-border border">
                          <img src="assets/img/whyapptalent/talent.png" />
                          <div class="beteam-box">
                            <h2>PRE-QUALIFIED TALENT</h2>
                            <p class="text-center">
                              We never use automated matching. Its human curated and we personally interview and test
                              every candidate,
                              presenting only those who are a technical and cultural fit for your Enterprise Application
                              project.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="ourvalue-grid beteam-dna border">
                          <img src="assets/img/whyapptalent/risk.png" />
                          <div class="beteam-box">
                            <h2>RISK-FREE TRIAL</h2>
                            <p class="text-center">
                              Try EASWORKS enterprise application freelancer for up to 20/40 hours of work, and if
                              you're not
                              satisfied, you don't pay a cent during trial period evaluation.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="tab-pane fade" id="vittingProcess" role="tabpanel" aria-labelledby="vittingProcess-tab">
                <section class="apptalent-connect">
                  <div class="container">
                    <div class="apptalent-export-content">
                      <p>
                        EASWORKS Connects the elite Enterprise Application Talent
                        <span>Talent All Over The World.</span>
                      </p>
                      <div class="apptalent-worldfigure">
                        <ul class="worldfigureType" id="banner-here">
                          <li class="worldfigureList pro1img animated">
                            <img src="assets/img/whyapptalent/pro1.jpg" />
                            <i class="icofont-location-pin"></i>
                          </li>
                          <li class="worldfigureList pro2img animated position-relative">
                            <img src="assets/img/whyapptalent/pro2.jpg" />
                            <i class="icofont-location-pin"></i>
                          </li>
                          <li class="worldfigureList pro5img animated">
                            <img src="assets/img/whyapptalent/pro5.jpg" />
                            <i class="icofont-location-pin"></i>
                          </li>
                          <li class="worldfigureList pro4img animated">
                            <img src="assets/img/whyapptalent/pro4.jpg" />
                            <i class="icofont-location-pin"></i>
                          </li>
                          <li class="worldfigureList pro3img animated">
                            <img src="assets/img/whyapptalent/pro3.jpg" />
                            <i class="icofont-location-pin"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="tab-pane fade" id="matchinProcess" role="tabpanel" aria-labelledby="matchinProcess-tab">
                <!--Why AppTalent-->
                <div class="whyapptalent-full-wraper">
                  <div class="container">
                    <div class="row">
                      <div class="
            col-lg-7
            pt-5 pt-lg-0
            order-2 order-lg-1
            d-flex
            flex-column
            justify-content-center
          ">
                        <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">
                          EASWORKS is your one-stop-shop for hiring Enterprise Application
                          Software (EAS) developers.
                        </h1>
                        <p data-aos="fade-up" data-aos-delay="400" class="common-para">
                          Helps to hire Right Enterprise Application global vibrant talent for
                          the Enterprise Application projects at right time and at right cost
                          with flexible engagement model .
                        </p>
                        <div class="d-flex mt-3" data-aos="fade-up" data-aos-delay="500">
                          <a href="javascript:void(0)" class="btn-get-started mr-3">Start Hiring</a>
                        </div>
                      </div>
                      <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="600">
                        <img src="assets/img/whyapptalent/Why-EASWORKS.png" class="img-fluid animated" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="talentGuarentee" role="tabpanel" aria-labelledby="talentGuarentee-tab">
                Talent Guarantee</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--Footer-->
<app-footer></app-footer>