<section class="page mx-auto my-20 py-12">
  <div class="grid 8xl:grid-cols-5 7xl:grid-cols-4 4xl:grid-cols-3 2xl:grid-cols-2 gap-y-10 items-center">
    <div class="bg-img2 h-64 p-10 flex justify-end items-center relative 2xl:order-1 order-3">
      <div class="w-40 ms-auto">
        <h5 class="text-xl text-primary-500 font-bold">L2 Support</h5>
        <p class="text-gray-600 mt-1 !leading-5 text-sm">
          Advanced troubleshooting for more complex technical problems.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/support-maintenance/details/support.svg"
        alt="Support"
        class="absolute left-4 top-2/4 -translate-y-2/4"
      />
    </div>

    <div class="order-2">
      <div
        class="bg-img1 h-64 p-10 flex justify-end items-center relative mb-10"
      >
        <div class="w-40 ms-auto">
          <h5 class="text-xl text-primary-500 font-bold">L1 Support</h5>
          <p class="text-gray-600 mt-1 !leading-5 text-sm">
            Basic helpdesk assistance for resolving common issues promptly.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/support-maintenance/details/support.svg"
          alt="Support"
          class="absolute left-4 top-2/4 -translate-y-2/4"
        />
      </div>

      <div class="bg-img3 h-64 p-10 flex justify-end items-center relative">
        <div class="w-40 ms-auto">
          <h5 class="text-xl text-primary-500 font-bold">L32 Support</h5>
          <p class="text-gray-600 mt-1 !leading-5 text-sm">
            Expert-level support for critical and intricate issues, leveraging
            deep technical expertise.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/support-maintenance/details/support.svg"
          alt="Support"
          class="absolute left-4 top-2/4 -translate-y-2/4"
        />
      </div>
    </div>

    <div class="bg-heading h-72 flex justify-center items-center 2xl:order-3 order-1">
      <h2
        class="7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all text-center font-bold text-black"
      >
      Detailed
        <span class="text-primary-500"> Services</span>
      </h2>
    </div>

    <div class="order-4">
      <div
        class="bg-img4 h-64 p-10 flex justify-start items-center relative mb-10"
      >
        <div class="w-40 me-auto text-end">
          <h5 class="text-xl text-primary-500 font-bold">Regular Updates</h5>
          <p class="text-gray-600 mt-1 !leading-5 text-sm">
            Ensure applications are up to date.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/support-maintenance/details/updates.svg"
          alt="Updates"
          class="absolute right-4 top-2/4 -translate-y-2/4"
        />
      </div>

      <div class="bg-img6 h-64 p-10 flex justify-start items-center relative">
        <div class="w-40 me-auto text-end">
          <h5 class="text-xl text-primary-500 font-bold">
            Performance Monitoring
          </h5>
          <p class="text-gray-600 mt-1 !leading-5 text-sm">
            Continuously monitor system health.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/support-maintenance/details/updates.svg"
          alt="Updates"
          class="absolute right-4 top-2/4 -translate-y-2/4"
        />
      </div>
    </div>

    <div class="bg-img5 h-64 p-10 flex justify-start items-center relative order-5">
      <div class="w-40 me-auto text-end">
        <h5 class="text-xl text-primary-500 font-bold">Issue Resolution</h5>
        <p class="text-gray-600 mt-1 !leading-5 text-sm">
          Quickly address and resolve problems.
        </p>
      </div>

      <img
        src="/assets/public/use-cases/support-maintenance/details/resolution.svg"
        alt="Issue Resolution"
        class="absolute right-4 top-2/4 -translate-y-2/4"
      />
    </div>
  </div>
</section>
