<section class="page max-w-full">
  <div class="bg-center bg-no-repeat centred-bg py-12">
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto"
    >
      Detailed <span class="text-primary-500"> Services</span>
    </h2>

    <div
      class="grid 7xl:grid-cols-5 5xl:grid-cols-4 3xl:grid-cols-3 lg:grid-cols-2 mt-12 gap-y-5 8xl:w-11/12 mx-auto items-start 7xl:gap-x-0 gap-x-3"
    >
      <div class="bg-img1 min-h-72 flex flex-col justify-center items-center">
        <img
          src="../../../../assets/public/use-cases/system-integration/details/analysis.svg"
          alt="Needs Analysis"
          class="w-fit mx-auto"
        />

        <div class="w-52 mx-auto text-center text-white">
          <h5 class="7xl:text-2xl 3xl:text-xl text-lg font-bold mt-2 mb-1">
            Needs Analysis
          </h5>
          <p class="!leading-5 2xl:text-base text-sm px-5">
            Identify integration requirements.
          </p>
        </div>
      </div>

      <div
        class="bg-img2 min-h-72 flex flex-col justify-center items-center 7xl:mt-48"
      >
        <img
          src="../../../../assets/public/use-cases/system-integration/details/strategy.svg"
          alt="Strategic Planning"
          class="w-fit mx-auto"
        />

        <div class="w-52 mx-auto text-center text-white">
          <h5 class="7xl:text-2xl 3xl:text-xl text-lg font-bold mt-2 mb-1">
            Strategic Planning
          </h5>
          <p class="!leading-5 2xl:text-base text-sm px-5">
            Develop an integration strategy.
          </p>
        </div>
      </div>

      <div class="bg-img3 min-h-72 flex flex-col justify-center items-center">
        <img
          src="../../../../assets/public/use-cases/system-integration/details/implementation.svg"
          alt="Implementation"
          class="w-fit mx-auto"
        />

        <div class="w-52 mx-auto text-center text-white">
          <h5 class="7xl:text-2xl 3xl:text-xl text-lg font-bold mt-2 mb-1">
            Implementation
          </h5>
          <p class="!leading-5 2xl:text-base text-sm px-5">
            Connect systems using APIs and middleware.
          </p>
        </div>
      </div>

      <div
        class="bg-img4 min-h-72 flex flex-col justify-center items-center 7xl:mt-48"
      >
        <img
          src="../../../../assets/public/use-cases/system-integration/details/synchronization.svg"
          alt="Data 
          Synchronization"
          class="w-fit mx-auto"
        />

        <div class="w-52 mx-auto text-center text-white">
          <h5 class="7xl:text-2xl 3xl:text-xl text-lg font-bold mt-2 mb-1">
            Data Synchronization
          </h5>
          <p class="!leading-5 2xl:text-base text-sm px-5">
            Ensure data consistency.
          </p>
        </div>
      </div>

      <div class="bg-img5 min-h-72 flex flex-col justify-center items-center">
        <img
          src="../../../../assets/public/use-cases/system-integration/details/assurance.svg"
          alt="Testing and
          Quality Assurance"
          class="w-fit mx-auto"
        />

        <div class="w-52 mx-auto text-center text-white">
          <h5 class="7xl:text-2xl 3xl:text-xl text-lg font-bold mt-2 mb-1">
            Testing and Quality Assurance
          </h5>
          <p class="!leading-5 2xl:text-base text-sm px-5">
            Verify integration accuracy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
