<h1 class="font-semibold text-xl">Create New Job Post</h1>
<mat-divider class="!my-2"></mat-divider>

<div class="stepper-progress w-100 mt-4">
  <ng-container *ngrxLet="stepper.progress$() as progress">
    <span>{{progress.label}}</span>
    <mat-progress-bar [value]="progress.percent" class="mt-2 rounded-full"></mat-progress-bar>
  </ng-container>
</div>

<!-- Stepper container -->
<div class="relative mt-8" *ngrxLet="stepper.step$() as step">

  <div *ngIf="step === 'post-type'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Service Type</h2>
    <mat-divider></mat-divider>
    <div class="p-4">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-center transition-all">
        <span class="font-medium lg:pt-1 transition-all"> Please select the EASWORK service you want</span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div class="grid gap-4 mt-4 lg:max-w-md">
        <button *ngFor="let option of postType.options; let i = index; trackBy: trackBy.stringOption"
                type="button" class="post-type-option"
                mat-ripple
                [class.selected]="option.selected"
                (click)="postType.toggle(option)">
          <div class="grid gap-1">
            {{option.label}}
          </div>
          <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'primary-domain'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Enterprise Application Domain</h2>
    <mat-divider></mat-divider>

    <form class="p-4" *ngrxLet="primaryDomain.form as form"
          [formGroup]="form">
      <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
        <span class="font-medium lg:pt-1 transition-all">Please select the primary enterprise application domain</span>
        <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
          <span class="flex gap-1 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </span>
      </label>

      <div *ngIf="!primaryDomain.loading$(); else $dataLoading"
           class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
        <ng-container *ngFor="let domain of primaryDomain.options$(); trackBy: trackBy.domainOption">
          <div class="primary-domain-option"
               *ngrxLet="primaryDomain.stopInput$() && !domain.selected as disabled"
               [class.disabled]="disabled"
               [class.selected]="domain.selected">
            <label class="flex flex-grow cursor-pointer">
              <mat-checkbox class="primary"
                            [ngModel]="domain.selected"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="disabled"
                            (ngModelChange)="primaryDomain.toggle(domain)">
              </mat-checkbox>
              <div class="flex-grow p-2">{{domain.label}}</div>
            </label>
            <div *ngIf="domain.selected && form.controls.years as control"
                 [formFieldControl]="control" class="px-2">
              <input type="number" [formControl]="control" placeholder="Years of Experience *"
                     min="1" max="30" maxlength="2">
              <span class="error">1-30</span>
              <span class="hint">1-30</span>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>

  <div *ngIf="step === 'services'"
       class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Expertise in {{services.stepLabel$()}} Services</h2>
    <mat-divider></mat-divider>
    <ng-container *ngIf="services.$() as services$">
      <form class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Please specify areas of expertise you require within <span class="text-primary">{{services.stepLabel$()}}</span></span>
          <span class="flex-none flex gap-2 text-slate-500 items-center justify-between">
            <span class="flex gap-1 items-center">
              <span class="fa-solid fa-circle-info text-lg"></span>
              <span>Select at least 1</span>
            </span>
            <span *ngrxLet="services$.count$() as count"
                  class="selection-counter" [class.selected]="count > 0">
              {{count}} selected
            </span>
          </span>
        </label>

        <div class="mt-4 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
          <ng-container *ngFor="let service of services$.options; trackBy: trackBy.stringOption">
            <div *ngrxLet="services$.stopInput$() && !service.selected as disabled"
                 class="service-option"
                 [class.selected]="service.selected"
                 [class.disabled]="disabled">
              <label class="flex cursor-pointer flex-grow">
                <mat-checkbox class="primary"
                              [ngModel]="service.selected"
                              [ngModelOptions]="{ standalone: true }"
                              [disabled]="disabled"
                              (ngModelChange)="services$.toggle(service)">
                </mat-checkbox>
                <div class="flex-grow p-2">{{service.label}}</div>
              </label>
            </div>
          </ng-container>
        </div>
      </form>

    </ng-container>

  </div>
</div>

<!-- Button Container -->
<div class="flex mt-4">
  <button *ngIf="stepper.prev.visible$()" mat-ripple
          type="button" class="shaded-button mr-auto mat-elevation-z1 disabled:shadow-none 
                enabled:hover:bg-secondary enabled:hover:text-secondary-text
                enabled:focus:bg-secondary enabled:focus:text-secondary-text"
          (click)="this.stepper.prev.click()">
    Previous
  </button>

  <ng-container *ngIf="stepper.next.visible$()">
    <button *ngrxLet="stepper.next.disabled$() as disabled"
            type="button" class="shaded-button ml-auto mat-elevation-z1 disabled:shadow-none 
                  enabled:hover:bg-secondary enabled:hover:text-secondary-text
                  enabled:focus:bg-secondary enabled:focus:text-secondary-text"
            mat-ripple
            [disabled]="disabled"
            (click)="this.stepper.next.click()">
      Next
    </button>
  </ng-container>

  <ng-container *ngIf="stepper.submit.visible$()">
    <button *ngrxLet="stepper.submit.disabled$() as disabled"
            type="button" class="shaded-button primary ml-auto mat-elevation-z1 disabled:shadow-none"
            mat-ripple
            [disabled]="disabled"
            (click)="this.stepper.submit.click()">
      Submit
    </button>
  </ng-container>
</div>

<ng-template #$dataLoading>
  <div class="mt-4 p-2 grid gap-4 justify-items-center">
    <p> Fetching data. Please wait... </p>
    <mat-progress-spinner mode="indeterminate" diameter="32"></mat-progress-spinner>
  </div>
</ng-template>