<!----- Header ----->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="logo mr-auto">
            <a class="black-logo" [routerLink]="['/index']">
                <img src="assets/img/white-logo.png" />
            </a>
            <a class="white-logo" [routerLink]="['/index']">
                <img src="assets/img/black-logo.png" />
            </a>
        </h1>
        <nav class="nav-menu profile-creat-nav d-none d-lg-block">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="workstyle.html">WorkStyle</a></li>
                <li><a class="active" href="yourjobs.html">Your Jobs</a></li>
                <li><a href="interviewsList.html">Interviews</a></li>
                <li class="user-details dropdown">
                    <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxs-user-circle'></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="common-space">
    <div class="message-wrapper">
        <div class="message-sidebar">
            <div class="m-sidebar-head">
                <div class="m-searchbox">
                    <input type="text" placeholder="Search" />
                    <i class='bx bx-search'></i>
                </div>
                <div class="m-toogle-group">
                    <button type="button" class="tooglebtn"><i class='bx bx-dots-horizontal-rounded'></i></button>
                </div>
            </div>
            <div class="m-userlist">
                <ul class="m-uset-Type">
                    <li class="m-user-list">
                        <div class="m-user-card">
                            <div class="m-userIcon">
                                <span class="m-user-icon">NK</span>
                                <span class="status green"></span>
                            </div>
                            <div class="m-user-details">
                                <div class="m-user-name">
                                    <h4 class="textelipse">Nandha Kumar</h4>
                                    <span class="m-user-timer">01:30 pm</span>
                                </div>
                                <p class="textelipse">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                <span class="sendmsg-indicate textelipse">You: Lorem Ipsum is simply dummy text</span>
                            </div>
                        </div>
                    </li>
                    <li class="m-user-list">
                        <div class="m-user-card">
                            <div class="m-userIcon">
                                <span class="m-user-icon">NK</span>
                                <span class="status green"></span>
                            </div>
                            <div class="m-user-details">
                                <div class="m-user-name">
                                    <h4 class="textelipse">Nandha Kumar</h4>
                                    <span class="m-user-timer">01:30 pm</span>
                                </div>
                                <p class="textelipse">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                <span class="sendmsg-indicate textelipse">You: Lorem Ipsum is simply dummy text</span>
                            </div>
                        </div>
                    </li>
                    <li class="m-user-list">
                        <div class="m-user-card">
                            <div class="m-userIcon">
                                <span class="m-user-icon">NK</span>
                                <span class="status green"></span>
                            </div>
                            <div class="m-user-details">
                                <div class="m-user-name">
                                    <h4 class="textelipse">Nandha Kumar</h4>
                                    <span class="m-user-timer">01:30 pm</span>
                                </div>
                                <p class="textelipse">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                <span class="sendmsg-indicate textelipse">You: Lorem Ipsum is simply dummy text</span>
                            </div>
                        </div>
                    </li>
                    <li class="m-user-list">
                        <div class="m-user-card">
                            <div class="m-userIcon">
                                <span class="m-user-icon">NK</span>
                                <span class="status green"></span>
                            </div>
                            <div class="m-user-details">
                                <div class="m-user-name">
                                    <h4 class="textelipse">Nandha Kumar</h4>
                                    <span class="m-user-timer">01:30 pm</span>
                                </div>
                                <p class="textelipse">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                <span class="sendmsg-indicate textelipse">You: Lorem Ipsum is simply dummy text</span>
                            </div>
                        </div>
                    </li>
                    <li class="m-user-list">
                        <div class="m-user-card">
                            <div class="m-userIcon">
                                <span class="m-user-icon">NK</span>
                                <span class="status green"></span>
                            </div>
                            <div class="m-user-details">
                                <div class="m-user-name">
                                    <h4 class="textelipse">Nandha Kumar</h4>
                                    <span class="m-user-timer">01:30 pm</span>
                                </div>
                                <p class="textelipse">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                <span class="sendmsg-indicate textelipse">You: Lorem Ipsum is simply dummy text</span>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="message-content">content</div>
        <div class="message-profile">profile</div>
    </div>
</div>