<div class="welcome-mat min-w-min 
      w-full lg:max-w-2xl transition-all"
     *ngIf="isNew">

  <div class="sticky p-4
        grid place-content-center justify-items-center
        bg-[#2f2e41] text-white"
       style="top: 4rem; height: calc(100vh - 4rem);">

    <div class="max-w-lg text-center">
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8nfvjov1.json"
                     loop autoplay
                     class="h-auto m-auto w-60 md:w-80 lg:w-96 transition-all">
      </lottie-player>
      <div class="mt-4">
        <h1 class="text-xl font-semibold">Welcome to EASWORKS</h1>
        <p class="mt-2 text-sm">
          The simplest & fastest way to access & build teams with pre-vetted
          Enterprise Application Talent.
          Creating a global remote team has never been this easy.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="min-w-min page">
  <div class="mx-auto w-24 h-24">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                   loop autoplay>
    </lottie-player>
  </div>

  <div class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Enterprise Details</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
      <div class="p-4">
        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control">
          <label>
            Enterprise Name
            <span class="text-warn">*</span>
          </label>
          <input type="text" [formControl]="control" maxlength="300" placeholder="Name">
          <span class="error" *ngIf="control.hasError('required')">Required</span>
        </div>

        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control">
          <label>
            Brief Enterprise Description
            <span class="text-warn">*</span>
          </label>
          <div class="field field-interactive h-64 mt-2">
            <textarea [formControl]="control"
                      placeholder="Summary/Description"
                      class="resize-none"></textarea>
          </div>

          <span class="error" *ngIf="control.hasError('required')">Required</span>
          <span class="error" *ngIf="control.hasError('maxlength')">{{control.value.length || 0}}/1500</span>
          <span class="hint">{{control.value.length || 0}}/1500</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Business Type</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </label>

        <div class="grid gap-4 mt-4 lg:max-w-md">
          <button *ngFor="let option of options.type; let i = index; trackBy: trackBy.stringOption"
                  type="button" class="business-type-option"
                  mat-ripple
                  [class.selected]="option.selected"
                  (click)="type.toggle(option)">
            <div class="grid gap-1">
              <span>{{option.label}}</span>
              <span *ngIf="option.description as description"
                    class="text-sm">{{description}}</span>
            </div>
            <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Number of Employees</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </label>

        <div class="grid gap-4 mt-4 lg:max-w-md">
          <button *ngFor="let option of options.employeeSize; let i = index; trackBy: trackBy.stringOption"
                  type="button" class="employee-size-option"
                  mat-ripple
                  [class.selected]="option.selected"
                  (click)="employeeSize.toggle(option)">
            <div class="grid gap-1">
              <span>{{option.label}}</span>
              <span *ngIf="option.description as description"
                    class="text-sm">{{description}}</span>
            </div>
            <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="p-4" *ngrxLet="form.controls.industry as form">

        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Industry Group and Industry</span>
        </label>

        <mat-progress-spinner class="mx-auto mt-4" mode="indeterminate" diameter="24"
                              *ngIf="industry.loading$(); else $industryLoaded"></mat-progress-spinner>

        <ng-template #$industryLoaded>
          <div class="mt-4">
            <ng-container *ngIf="form.valid; else $selectIndutry">
              <label>{{form.value.group?.name}}</label>
              <div class="mt-2 industry-option max-w-md">
                <span>{{form.value.name}}</span>
                <button type="button" mat-ripple class="icon-button"
                        (click)="industry.clear()"
                        title="Remove">
                  <i class="fa-solid fa-square-xmark"></i>
                </button>
              </div>
            </ng-container>

            <ng-template #$selectIndutry>
              <input type="text" placeholder="Type to filter"
                     [ngModel]="industry.query$()"
                     (ngModelChange)="industry.query$.set($event)"
                     [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="indGroupOptions">

              <mat-autocomplete #indGroupOptions hideSingleSelectionIndicator>
                <ng-container *ngFor="let group of industry.filteredOptions$(); let last = last; trackBy: trackBy.name">
                  <mat-optgroup [label]="group.name">
                    <mat-option *ngFor="let option of group.industries"
                                (onSelectionChange)="$event.source.deselect(); industry.select(group,option)">
                      {{option}}
                    </mat-option>
                  </mat-optgroup>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-container>

              </mat-autocomplete>
            </ng-template>
          </div>
        </ng-template>

      </div>
    </form>
  </div>
</div>