<div class="welcome-mat min-w-min 
      w-full lg:max-w-2xl transition-all"
     *ngIf="isNew">

  <div class="sticky p-4
        grid place-content-center justify-items-center
        bg-[#2f2e41] text-white"
       style="top: 4rem; height: calc(100vh - 4rem);">

    <div class="max-w-lg text-center">
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8nfvjov1.json"
                     loop autoplay
                     class="h-auto m-auto w-60 md:w-80 lg:w-96 transition-all">
      </lottie-player>
      <div class="mt-4">
        <h1 class="text-xl font-semibold">Welcome to EASWORKS</h1>
        <p class="mt-2 text-sm">
          The simplest & fastest way to access & build teams with pre-vetted
          Enterprise Application Talent.
          Creating a global remote team has never been this easy.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="min-w-min page">
  <div class="mx-auto w-24 h-24">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                   loop autoplay>
    </lottie-player>
  </div>

  <div class="rounded bg-white mat-elevation-z1">
    <h2 class="p-4 text-xl font-semibold">Enterprise Details</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
      <!-- name and summery -->
      <div class="p-4">
        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control">
          <label>
            Enterprise Name
            <span class="text-warn">*</span>
          </label>
          <input type="text" [formControl]="control" maxlength="300" placeholder="Name">
          <span class="error" *ngIf="control.hasError('required')">Required</span>
        </div>

        <div *ngrxLet="form.controls.name as control"
             [formFieldControl]="control">
          <label>
            Brief Enterprise Description
            <span class="text-warn">*</span>
          </label>
          <div class="field field-interactive h-64 mt-2">
            <textarea [formControl]="control"
                      placeholder="Summary/Description"
                      class="resize-none"></textarea>
          </div>

          <span class="error" *ngIf="control.hasError('required')">Required</span>
          <span class="error" *ngIf="control.hasError('maxlength')">{{control.value.length || 0}}/1500</span>
          <span class="hint">{{control.value.length || 0}}/1500</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- business type -->
      <div class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Business Type</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </label>

        <div class="grid gap-4 mt-4 lg:max-w-md">
          <button *ngFor="let option of type.options; let i = index; trackBy: trackBy.stringOption"
                  type="button" class="business-type-option"
                  mat-ripple
                  [class.selected]="option.selected"
                  (click)="type.toggle(option)">
            <div class="grid gap-1">
              <span>{{option.label}}</span>
              <span *ngIf="option.description as description"
                    class="text-sm">{{description}}</span>
            </div>
            <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- business size by employee -->
      <div class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Number of Employees</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </label>

        <div class="grid gap-4 mt-4 lg:max-w-md">
          <button *ngFor="let option of employeeSize.options; let i = index; trackBy: trackBy.stringOption"
                  type="button" class="employee-size-option"
                  mat-ripple
                  [class.selected]="option.selected"
                  (click)="employeeSize.toggle(option)">
            <div class="grid gap-1">
              <span>{{option.label}}</span>
              <span *ngIf="option.description as description"
                    class="text-sm">{{description}}</span>
            </div>
            <mat-pseudo-checkbox class="primary ml-auto" [state]="displayWith.checkbox(option.selected)"></mat-pseudo-checkbox>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- select industry -->
      <div class="p-4" *ngrxLet="form.controls.industry as form">

        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Industry Group and Industry</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span class="fa-solid fa-circle-info text-lg"></span>
            <span>Select 1</span>
          </span>
        </label>

        <mat-progress-spinner class="mx-auto mt-4" mode="indeterminate" diameter="24"
                              *ngIf="industry.loading$(); else $industryLoaded"></mat-progress-spinner>

        <ng-template #$industryLoaded>
          <div class="mt-4">
            <ng-container *ngIf="form.valid; else $selectIndutry">
              <label>{{form.value.group?.name}}</label>
              <div class="mt-2 industry-option lg:max-w-md">
                <span>{{form.value.name}}</span>
                <button type="button" mat-ripple class="icon-button"
                        (click)="industry.clear()"
                        title="Remove">
                  <i class="fa-solid fa-square-xmark"></i>
                </button>
              </div>
            </ng-container>

            <ng-template #$selectIndutry>
              <div class="form-field mb-0">
                <input type="text" placeholder="Type to filter"
                       [ngModel]="industry.query$()"
                       (ngModelChange)="industry.query$.set($event)"
                       [ngModelOptions]="{ standalone: true }"
                       [matAutocomplete]="indGroupOptions">
                <span class="hint !relative">If the query matches a category, all items in the category will be shown, otherwise only matching items will be shown.</span>
              </div>

              <mat-autocomplete #indGroupOptions hideSingleSelectionIndicator>
                <ng-container *ngFor="let group of industry.options$(); let last = last; trackBy: trackBy.name">
                  <mat-optgroup [label]="group.name">
                    <mat-option *ngFor="let option of group.industries"
                                (onSelectionChange)="$event.source.deselect(); industry.select(group,option)">
                      {{option}}
                    </mat-option>
                  </mat-optgroup>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-container>

              </mat-autocomplete>
            </ng-template>
          </div>
        </ng-template>

      </div>

      <mat-divider></mat-divider>

      <!-- select software -->
      <div class="p-4">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Enterprise Application Software in use</span>
          <span class="flex-none flex gap-2 text-slate-500 items-center">
            <span *ngrxLet="software.count$() as count"
                  class="selection-counter"
                  [class.selected]="count > 0">
              {{count}} selected
            </span>
          </span>
        </label>

        <mat-progress-spinner class="mx-auto mt-4" mode="indeterminate" diameter="24"
                              *ngIf="software.loading$(); else $softwareLoaded"></mat-progress-spinner>

        <ng-template #$softwareLoaded>
          <div *ngIf="software.hasItems$()" class="grid gap-4 mt-4">
            <div *ngFor="let entry of software.value$() | keyvalue; trackBy: trackBy.key">
              <label class="font-medium">{{entry.key}}</label>
              <div class="mt-2 grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));">
                <div *ngFor="let option of entry.value; let i = index; trackBy: trackBy.stringOption"
                     class="software-option">
                  <span>{{option.value}}</span>
                  <button type="button" mat-ripple class="icon-button"
                          (click)="software.remove(entry.key, i)"
                          title="Remove">
                    <i class="fa-solid fa-square-xmark"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="form-field !mb-0">
              <input type="text" placeholder="Type to filter"
                     [ngModel]="software.query$()"
                     (ngModelChange)="software.query$.set($event)"
                     [ngModelOptions]="{ standalone: true }"
                     [matAutocomplete]="softwareOptions">
              <span class="hint !relative">If the query matches a category, all items in the category will be shown, otherwise only matching items will be shown.</span>
              <span class="hint !relative">Selected items will be removed from suggestions.</span>
            </div>

            <mat-autocomplete #softwareOptions>
              <ng-container *ngFor="let group of software.options$(); let last = last; trackBy: trackBy.name">
                <mat-optgroup [label]="group.name">
                  <mat-option *ngFor="let option of group.software"
                              (onSelectionChange)="software.add(group.name, option); $event.source.deselect(); ">
                    {{option.value}}
                  </mat-option>
                </mat-optgroup>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-container>
            </mat-autocomplete>
          </div>
        </ng-template>

      </div>

      <mat-divider></mat-divider>

      <!-- contact -->

      <div class="p-4" *ngrxLet="form.controls.contact as form">
        <label class="flex gap-1 flex-col justify-between lg:flex-row lg:gap-12 lg:items-start transition-all">
          <span class="font-medium lg:pt-1 transition-all">Contact Information</span>
        </label>

        <div *ngrxLet="form.controls.email as control"
             [formFieldControl]="control"
             class="mt-4">
          <label>
            Email
            <span class="text-warn">*</span>
          </label>
          <input type="email" [formControl]="control" placeholder="Email Address">
        </div>

        <div *ngrxLet="form.controls.phoneNumber as form"
             [formFieldControl]="form">
          <label>Phone Number</label>
          <div class="flex gap-2 justify-start">
            <div *ngrxLet="form.controls.code as control" class="relative">
              <input type="tel" class="!w-24 !pr-4"
                     [matAutocomplete]="codeOptions"
                     [formControl]="control" placeholder="ISD Code">
              <drop-down-indicator class="absolute top-2 right-0"></drop-down-indicator>

              <mat-autocomplete #codeOptions panelWidth="auto" hideSingleSelectionIndicator>
                <mat-option *ngFor="let country of contact.options.phoneCode$(); trackBy: trackBy.country"
                            [value]="country.phonecode" (onSelectionChange)="$event.source.deselect();">
                  <div class="flex gap-4 items-center">
                    <span class="font-emoji">{{country.emoji}}</span>
                    <span>{{country.phonecode}}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </div>

            <input type="tel"
                   *ngrxLet="form.controls.number as control"
                   [formControl]="control" placeholder="Number">
          </div>
          <span class="error" *ngIf="form.controls.code.invalid">Invalid Code</span>
          <span class="error" *ngIf="form.controls.number.hasError('pattern')">Invalid number</span>
          <span class="error" *ngIf="form.controls.number.hasError('required')">Number required</span>
        </div>
      </div>
    </form>
  </div>
</div>