<section class="page mx-auto pb-20">
    <div class="7xl:max-w-7xl mx-auto">
        <div class="relative">
            <div
                class="h-[12vw] w-[12vw] rounded-full bg-primary-500 mx-auto text-white text-[1.2vw] font-bold text-center flex items-center translate-y-[7vw]">
                Process/
                Methodology</div>


            <div class="translate-y-[5vw] text-right absolute left-0">
                <h6 class="text-xl font-bold text-primary-500 mb-0">Enhanced <br />
                    Efficiency</h6>
                <p class="mb-0">Streamline operations <br />
                    with custom features.</p>
            </div>

            <div class="translate-y-[16vw] text-right absolute left-0">
                <h6 class="text-xl font-bold text-primary-500 mb-0">Custom
                    <br />
                    Development
                </h6>
                <p class="mb-0">Build and customize <br />
                    the application.</p>
            </div>

            <div
                class="text-center absolute left-0 bottom-0 w-full flex items-center justify-center translate-y-[6.5vw] ">
                <div>
                    <h6 class="text-xl font-bold text-primary-500 mb-0">User-Centric Design
                    </h6>
                    <p class="mb-0">Design intuitive and <br />
                        user-friendly interfaces.</p>
                </div>
            </div>

            <div class="translate-y-[5vw] text-left absolute right-0">
                <h6 class="text-xl font-bold text-primary-500 mb-0">Testing and
                    <br />
                    Quality Assurance
                </h6>
                <p class="mb-0">Rigorously test for
                    <br />
                    functionality and security.
                </p>
            </div>

            <div class="translate-y-[16vw] text-left absolute right-0">
                <h6 class="text-xl font-bold text-primary-500 mb-0">Scalability and

                    <br />
                    Flexibility
                </h6>
                <p class="mb-0">Ensure the application can <br />
                    grow with your business.</p>
            </div>


            <img src="/assets/public/use-cases/software-dev/process/software-process.png"
                class="mx-auto w-[42vw]" alt="Software Process Image" />

        </div>
    </div>
</section>