<mat-accordion>
  <mat-expansion-panel #panel *ngFor="let faq of faqs">
    <mat-expansion-panel-header class="group hover:!bg-primary-light hover:!text-primary-text
                                  transition-all"
                                [class.!bg-primary]="panel.expanded"
                                [class.!text-primary-text]="panel.expanded">
      <mat-panel-title class="group-hover:!text-primary-text"
                       [class.!text-primary-text]="panel.expanded">
        {{faq.question}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider class="absolute left-0 w-full"></mat-divider>
    <div class="mt-4">
      <p *ngFor="let paragraph of faq.content; let first = first">{{paragraph}}</p>
    </div>
  </mat-expansion-panel>

</mat-accordion>