<section class="py-[60px] bg-white">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="lg:text-4xl text-2xl font-bold">
        Hire top
        <span class="text-primary">{{comboText}}</span>
        talent
      </h2>
    </div>

    <div class="relative before:content-[''] before:text-red-500 before:absolute before:h-[5px] before:bg-primary before:top-[19px] before:left-0 before:right-0 before:m-[auto] before:w-[70%]">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">01</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">
                Post your
                <span class="text-primary">{{comboText}}</span>
                Job needs.
              </h3>
            </div>
            <p class="text-base font-normal">
              Simply post your enterprise application hiring requirement and
              talk to our industry expert.
            </p>
          </div>
        </div>

        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">02</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">
                Thoroughly Vetted
                <span class="text-primary">{{comboText}}</span>
              </h3>
            </div>
            <p class="text-base font-normal">
              We will provide you the best suited {{comboText}} Talent
              to interview based on your requirement from our talent network.
            </p>
          </div>
        </div>


        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">03</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">
                Pay for
                <span class="text-primary">{{comboText}}</span>
                only when you are satisfied (Risk-Free)
              </h3>
            </div>
            <p class="text-base font-normal">
              Hire {{comboText}} Talent for up to 20 hours
              of trial work. Release payments when it has been completed
              and you're 100% satisfied.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>