<ul class="columns-2">
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
  <li class="pb-2"><a href="#"><i class="fa-solid fa-chevron-right text-[14px]"></i> Oracle ERP
      Cloud - ERP Ops Account Manager</a></li>
</ul>

<div class="text-center mt-5">
  <button class="highlight-button primary">See More</button>
</div>