<h3 class="text-[1.25em] font-bold mb-5">{{label$()}}</h3>

<div class="grid gap-4 mb-3 text-sm" style="grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));">

  <a *ngFor="let s of software$()"
     [routerLink]="s.link" [title]="s.name"
     class="p-2  px-4 flex items-center justify-center relative 
              rounded-md hover:ring-1 hover:ring-primary transition-all
              shadow-md">
    <img class="h-16 object-contain"
         [src]="s.image" alt="">
  </a>

  <a [routerLink]="customSoftwareLink$()"
     title="Custom / Legacy Application for {{shortName$()}}"
     class="p-2 px-4 flex items-center justify-center relative
              bg-primary/5 text-primary
              rounded-md ring-1 ring-primary/5 hover:ring-primary transition-all
              shadow-md">
    <div class="h-16 flex flex-col gap-2 text-center">
      <i class="fa-solid fa-gear text-xl"></i>
      <span class="text-sm">Custom / Legacy Application</span>
    </div>
  </a>

</div>

<button class="shaded-button mr-auto mt-4
    flex items-center
    hover:text-primary focus:text-primary">
  <i class="fa-solid fa-circle-chevron-right mr-2 text-xl"></i>
  See more {{shortName$()}} software
</button>