<div class="container-fluid d-flex flex-wrap p-0">
  <!-- LHS content -->
  <div class="lhs-content col-12 col-lg-4 p-0" style="min-width: min-content;">
    <div style="position: sticky; top: 0;"
         class="d-flex align-items-center pb-4">
      <div>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8nfvjov1.json" background="transparent"
                       speed="1" style="width: min(300px,75%); height: 100%" loop autoplay></lottie-player>

        <div class="text-white mt-2 mx-auto" style="max-width: 400px;">
          <h1>Welcome to EASWORKS</h1>
          <p class="mt-2">
            The simplest, fastest way to access & build teams. Finding pre-vetted
            enterprise application talent with global remote availability has never been
            this easy.
          </p>
        </div>

      </div>
    </div>
  </div>


  <!-- RHS content -->
  <div class="rhs-content mb-5 col-12 col-lg-8 px-lg-5 d-flex flex-column align-items-start">
    <div class="mx-auto mt-4">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_m4gdjtfv.json"
                     background="transparent"
                     speed="1" loop autoplay
                     style="width: 6rem; height: 6rem;"></lottie-player>
    </div>

    <!-- message for all steps -->
    <div class="toastermessage mx-auto">
      <div class="toastContent w-100">
        <p>
          Thanks for your interest in hiring through EASWorks!
          Before we get started, we'd like to ask a few questions to
          better understand your business needs.
        </p>
      </div>
    </div>

    <div *ngIf="stepper.showControls$ | async" class="stepper-progress w-100 mt-4">
      <ng-container *ngIf="stepper.progress$ | async as progress">
        <span>Step {{progress}} of {{stepper.totalSteps}}</span>
        <div class="progress-bar mt-2">
          <div class="ui-progress" role="progressbar"
               [style.width]="(((progress - 1) / stepper.totalSteps) * 100).toString()+'%'"></div>
        </div>
      </ng-container>
    </div>

    <div class="mt-4" style="flex-grow: 1; width: 100%; position: relative;" *ngIf="step$ | async as step">

      <ng-container *ngIf="step === 'start'">
        <button type="button" class="btn-get-started mt-5 mx-auto" style="display: block;"
                (click)="this.stepper.next.click(step)">
          Get Started
        </button>
      </ng-container>

      <div *ngIf="step === 'organization info'"
           class="step-organization-info">
        <h2 class="main-question">Tell us about your Organization</h2>

        <form [formGroup]="orgInfo.form" class="mt-4">
          <div>
            <label>Company Name</label>
            <input type="text" formControlName="name"
                   class="input-container py-2 px-3 border rounded">
          </div>

          <div>
            <label>Company Summary</label>
            <textarea formControlName="summary" rows="7"
                      class="input-container py-2 px-3 border rounded"></textarea>
          </div>

          <div>
            <label>Phone Number</label>
            <div class="phone-inputs input-container">
              <select formControlName="phoneCountryCode"
                      class="py-2 px-3 border rounded">
                <option *ngFor="let opt of orgInfo.options.dialCodes$ | async"
                        [value]="opt.value"
                        [title]="opt.title">
                  {{opt.label}}
                </option>
              </select>
              <input type="tel" formControlName="phoneNumber"
                     class="py-2 px-3 border rounded">
            </div>
          </div>

          <div>
            <label>Email</label>
            <input type="email" formControlName="email"
                   class="input-container py-2 px-3 border rounded">
          </div>

          <div>
            <label>Location</label>
            <select formControlName="location"
                    class="input-container py-2 px-3 border rounded">
              <option *ngFor="let opt of orgInfo.options.countries$ | async"
                      [value]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div *ngIf="step === 'primary domains'">
        Primary Domains
      </div>

      <div *ngIf="step === 'enterprise software'">
        Enterprise Software
      </div>


      <div *ngIf="stepper.showControls$ | async" class="stepper-buttons border-top">
        <button type="button" *ngIf="stepper.previous.visible$ | async"
                class="previous btn-common-border"
                (click)="stepper.previous.click(step)">Previous</button>
        <button type="button" class="next btn-common-border nextbtn"
                [disabled]="stepper.next.disabled$ | async"
                (click)="stepper.next.click(step)">Next</button>
      </div>
    </div>

  </div>
</div>