<div class="text-center">
  <h1 class="text-4xl font-bold">How can we help you today?</h1>
  <p class="mt-4">Get information about setting up and using EASWORKS to its fullest.</p>
</div>

<section class="mt-16">
  <h2 class="text-2xl text-center font-bold">Help for Employers</h2>

  <div class="help-group-list mt-8">
    <div *ngFor="let group of employer$();"
         class="help-group">
      <a class="title" [href]="group.link">{{group.title}}</a>
      <ul class="item-list">
        <li *ngFor="let item of group.items">
          <a [href]="item.link">{{item.title}}</a>
        </li>
      </ul>

      <a [href]="group.link" class="group-link">
        View All <fa-icon [icon]="icons.faCircleArrowRight"></fa-icon>
      </a>
    </div>
  </div>
</section>

<section class="mt-16">
  <h2 class="text-2xl text-center font-bold">Help for Freelancers</h2>

  <div class="help-group-list mt-8">
    <div *ngFor="let group of freelancer$();"
         class="help-group">
      <a class="title" [href]="group.link">{{group.title}}</a>
      <ul class="item-list">
        <li *ngFor="let item of group.items">
          <a [href]="item.link">{{item.title}}</a>
        </li>
      </ul>

      <a [href]="group.link" class="group-link">
        View All <fa-icon [icon]="icons.faCircleArrowRight"></fa-icon>
      </a>
    </div>
  </div>
</section>