<div class="flex gap-2 items-center flex-wrap text-sm md:text-base">
  <a routerLink="/help-center">Help Center</a>
  <fa-icon [icon]="icons.faChevronRight" class="text-xs"></fa-icon>
  <a routerLink="./">{{group$().title}}</a>
  <fa-icon [icon]="icons.faChevronRight" class="text-xs"></fa-icon>
  <a *ngrxLet="item$() as item"
     routerLink="./" [fragment]="item.slug">{{item.title}}</a>
</div>

<div class="flex mt-4 gap-8 flex-col md:flex-row">
  <section *ngrxLet="group$() as group">
    <h1 class="font-bold text-xl">{{group.title}}</h1>
    <ul class="mt-4 on-this-page" *ngrxLet="item$() as selected">
      <li *ngFor="let item of group.items">
        <a routerLink="./" [fragment]="item.slug"
           [class.active]="selected.slug === item.slug">
          {{item.title}}
        </a>
      </li>
    </ul>
  </section>

  <div *ngrxLet="group$() as group"
       class="grid gap-8">
    <section *ngFor="let item of group.items"
             [id]="item.slug">
      <h2 class="font-bold text-xl">{{item.title}}</h2>
      <div class="mt-4 grid gap-2">
        <p *ngFor="let para of item.content">{{para}}</p>
      </div>
    </section>
  </div>
</div>