<div class="text-center">
  <h1 class="text-4xl font-bold">How can we help you today?</h1>
  <p class="mt-4">Get information about setting up and using EASWORKS to its fullest.</p>
</div>

<nav mat-tab-nav-bar [tabPanel]="$helpContent" class="mt-16">
  @for(category of categories$(); track category.slug) {
  <a mat-tab-link [routerLink]="category.slug"
     routerLinkActive="mdc-tab--active">{{category.title}}</a>
  }
</nav>
<mat-tab-nav-panel #$helpContent class="block mt-8">
  <router-outlet></router-outlet>
</mat-tab-nav-panel>