<section class="py-[60px]">
  <div class="page">
    <div class="flex justify-center items-center flex-col">
      <h1 class="text-black text-[2.441rem] font-bold mb-5">Clients Overview</h1>
    </div>
  </div>
</section>

<section class="bg-white py-[60px]">
  <div class="page">
    <div class="flex TabsHelpPage">
      <mat-tab-group animationDuration="0ms">
        <mat-tab *ngFor="let ClientsOverviewContent of ClientsOverview" [label]="ClientsOverviewContent.title">
          <h4 class="text-[18px] font-semibold mb-4 text-black">{{ClientsOverviewContent.title}}</h4>
          <p *ngFor="let content of ClientsOverviewContent.content" class="text-base text-black mb-3">{{content}}</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>