<section class="flex h-96 items-center relative">
  <div class="absolute inset-0 bg-black">
    <img class="w-full h-full object-cover opacity-20 object-top" src="/assets/img/banner-bg.jpg" alt="">
  </div>

  <div class="page">
    <div class="flex gap-4 justify-between 
          flex-wrap-reverse lg:flex-nowrap relative">
      <div class="mt-4 lg:max-w-2xl self-center transition-all">
        <p class="text-white">
          Contact us
        </p>
        <h3 class="mt-4 lg:text-5xl text-2xl text-white transition-all">
          We'd love to hear from you
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="page grid grid-cols-1 lg:grid-cols-2 gap-4 gap-y-8">
      <div class=" text-white p-6 rounded-lg shadow-lg max-w-2xl w-full">
 
          <div class="mb-6">
              <h2 class="text-lg font-semibold text-black">Contact us</h2>
              <h1 class="text-3xl font-bold text-blue-800">Excellence starts with a conversation</h1>
          </div>
          <div class="mb-6">
              <p class="text-black mb-4">Welcome to EASWORKS, a community dedicated to professionals in enterprise application software.</p>
              <p class="text-black mb-4">At EASWORKS, we are dedicated to delivering top-notch Enterprise Application Services (EAS) across various industries, utilizing a flexible engagement model. Our goal is to enhance the digital landscape for enterprise technologists and organizations alike.</p>
              <p class="font-bold text-black mb-4">Got a question? We’re here to help.</p>
              <p class="text-black">Whether you're exploring EAS services, considering joining as EAS talent, or seeking press details, fill out the form below, and we’ll respond as soon as possible.</p>
          </div>
          <div class="mb-6">
              <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4 border-1 border-green-800 ">
                  <div class="flex items-center">
                      <i class="fas fa-info-circle text-xl mr-2"></i>
                      <span class="flex flex-row items-center gap-1"> <span class="text-green-800"> <fa-icon [icon]="icons.faCircleInfo"></fa-icon> </span>For self-help, <a href="#" class="font-semibold text-green-900">check our Knowledge Base</a></span>
                  </div>
              </div>
              <div>
                  <span class="text-black space-x-1"> For self-help, check our<a href="#" class="underline font-semibold text-blue-800 ml-1">Help center</a></span>
              </div>
          </div>
        </div>

    <contact-form></contact-form>
  </div>
</section>