<section class="flex h-96 items-center relative">
  <div class="absolute inset-0 bg-black">
    <img class="w-full h-full object-cover opacity-20 object-top" src="/assets/img/banner-bg.jpg" alt="">
  </div>

  <div class="page">
    <div class="flex gap-4 justify-between 
          flex-wrap-reverse lg:flex-nowrap relative">
      <div class="mt-4 lg:max-w-2xl self-center transition-all">
        <p class="text-white">
          Contact us
        </p>
        <h3 class="mt-4 lg:text-5xl text-2xl text-white transition-all">
          We'd love to hear from you
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="page grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="relative">
      <h3 class="mb-5 lg:text-3xl text-2xl text-black font-medium leading-[50px]">
        Exploring EAS Services or <span class="text-primary font-semibold block">Thinking of Joining as EAS Talent?</span>
      </h3>
      <p class="text-base font-semibold leading-8">From Enterprise Application service details, no-obligation trials, to joining our talent pool or seeking press details — we're here to address all your queries.</p>
    </div>

    <div class="relative">
      <form action="#" class="space-y-8">
        <div class="demo-placeholder bg-primary h-[50px]"></div>

        <div class="demo-placeholder bg-primary h-[50px]"></div>

        <div class="demo-placeholder bg-primary h-[50px]"></div>

        <div class="demo-placeholder bg-primary h-[50px]"></div>

        <div class="demo-placeholder bg-primary h-[200px]"></div>

        <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
      </form>
    </div>
  </div>
</section>