<section class="flex h-96 items-center relative">
  <div class="absolute inset-0 bg-black">
    <img class="w-full h-full object-cover opacity-20 object-top" src="/assets/img/banner-bg.jpg" alt="">
  </div>

  <div class="page">
    <div class="flex gap-4 justify-between 
          flex-wrap-reverse lg:flex-nowrap relative">
      <div class="mt-4 lg:max-w-2xl self-center transition-all">
        <p class="text-white">
          Contact us
        </p>
        <h3 class="mt-4 lg:text-5xl text-2xl text-white transition-all">
          We'd love to hear from you
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="page grid grid-cols-1 lg:grid-cols-2 gap-4 gap-y-8">
    <div class="relative">
      <h3 class="mb-5 lg:text-3xl text-2xl text-black font-medium">
        <div>Exploring EAS Services or</div>
        <div class="text-primary-500 font-semibold">Thinking of Joining as EAS Talent?</div>
      </h3>
      <p>From Enterprise Application service details, no-obligation trials, to joining our talent pool or seeking press details — we're here to address all your queries.</p>
    </div>

    <contact-form></contact-form>
  </div>
</section>