<section class="page border border-black max-w-full">
  <h2
    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10"
  >
    Overview <span class="text-primary-500"> EASWORKS Works</span>
  </h2>

  <!-- <div class="relative flex">
    <div class="3xl:w-96 2xl:w-72 w-64 absolute 4xl:left-32 2xl:left-20 left-8 top-2/4 -translate-y-2/4">
      <h4 class="5xl:text-3xl 2xl:text-2xl text-xl  text-primary-500 font-bold">At EASWORKS, </h4>
      <p class="5xl:text-2xl 2xl:text-xl text-lg text-gray-600">we connect you with top talent who can provide expert consultancy services to optimize your enterprise applications. Our consultants deliver strategic insights and solutions to enhance your systems.</p>
    </div>
    <img src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/main-img.png" alt="Image not found" >

    <div class="grid">
      <div>
        <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">Expert Insights</h5>

        <p class="text-xl text-gray-600">Leverage industry expertise.</p>
      </div>

      <div>
        <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">Optimized Performance</h5>

        <p class="text-xl text-gray-600">Improve system efficiency.</p>
      </div>

      <div>
        <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">Cost Savings</h5>

        <p class="text-xl text-gray-600">Identify cost-effective solutions</p>
      </div>

      <div>
        <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">Strategic Growth</h5>

        <p class="text-xl text-gray-600">Align technology with business goals.</p>
      </div>
    </div>

  </div> -->

  <div class="flex items-center">
    <div class="test bg-no-repeat bg-contain sm:py-40 py-28">
      <div
        class="xl:w-96 sm:w-80 w-72 5xl:ms-28 lg:ms-20 md:ms-12 sm:ms-5 sm:pe-0 pe-5"
      >
        <h4
          class="5xl:text-3xl 2xl:text-2xl text-xl text-primary-500 font-bold"
        >
          At EASWORKS,
        </h4>
        <p class="5xl:text-2xl 2xl:text-xl md:text-lg text-gray-600">
          we connect you with top talent who can provide expert consultancy
          services to optimize your enterprise applications. Our consultants
          deliver strategic insights and solutions to enhance your systems.
        </p>
      </div>
    </div>

    <div class="grid gap-10">
      <div class="flex items-center">
        <img
          src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-connector.svg"
          alt=""
        />
        <div class="flex items-center gap-5">
          <div class="p-2 w-fit testu rounded-full">
            <img
              src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-expert.svg"
              alt="Expert Insights"
            />
          </div>

          <div>
            <h5
              class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500"
            >
              Expert Insights
            </h5>

            <p class="text-xl text-gray-600">Leverage industry expertise.</p>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <img
          src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-connector.svg"
          alt=""
        />
        <div class="flex items-center gap-5">
          <div class="p-2 w-fit testu rounded-full">
            <img
              src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-optimize.svg"
              alt="Optimized Performance"
            />
          </div>

          <div>
            <h5
              class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500"
            >
              Optimized Performance
            </h5>

            <p class="text-xl text-gray-600">Improve system efficiency.</p>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <img
          src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-connector.svg"
          alt=""
        />
        <div class="flex items-center gap-5">
          <div class="p-2 w-fit testu rounded-full">
            <img
              src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-savings.svg"
              alt="Cost Savings"
            />
          </div>

          <div>
            <h5
              class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500"
            >
              Cost Savings
            </h5>

            <p class="text-xl text-gray-600">
              Identify cost-effective solutions
            </p>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <img
          src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-connector.svg"
          alt=""
        />
        <div class="flex items-center gap-5">
          <div class="p-2 w-fit testu rounded-full">
            <img
              src="../../../../assets/public/use-cases/advisory-and-consultancy/overview/ic-growth.svg"
              alt="Strategic Growth"
            />
          </div>

          <div>
            <h5
              class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500"
            >
              Strategic Growth
            </h5>

            <p class="text-xl text-gray-600">
              Align technology with business goals.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
