<div class="space-y-6">
  <div class="grid  grid-cols-3 gap-4">
      <div>
          <label class="block text-sm font-medium text-gray-700">Full name</label>
          <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="steve">
      </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">Email ID</label>
          <input type="email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="userswork121@gmail.com" readonly>
      </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">Mobile number</label>
          <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="+91 997292992022">
      </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">Job title</label>
          <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter here">
      </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">Date of Birth</label>
          <input type="date" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter here">
     </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">Gender</label>
          <select class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>Prefer not to say</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
          </select>
      </div>
      <div class="sm:col-span-2">
          <label class="block text-sm font-medium text-gray-700">LinkedIn</label>
          <input type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter here">
      </div>
  </div>
</div>
