<div class="h-screen p-5 bg-gray-100">
    <div class="flex justify-between">
        <div class="">
            <h1 class="font-bold text-black text-2xl">Gen AI Vetting</h1>
            <p class="text-xs text-gray-400">complete skill assigement to get matched with right job</p>
        </div>
        <svg class="w-5 h-5" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0">
            </path>
        </svg>
    </div>
    <div class="flex justify-between space-x-5 mt-10">
        <div class="w-[50%]  py-2 bg-white rounded-md shadow-lg px-4 flex justify-between">
            <div class="flex space-x-4 py-3 ">
                <svg class="w-7 h-7 text-[#492A99] bg-[#F0EAFF] p-1 rounded-full " data-slot="icon" fill="none"
                    stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3">
                    </path>
                </svg>
                <h2 class="text-[#492A99] text-lg">Core skills</h2>
            </div>
            <div class="py-2">
                <h2 class="text-[#492A99] text-sm">Vetted skills</h2>
                <h2 class="text-[#492A99] text-xs text-center">12/2</h2>
            </div>
        </div>
        <div class="w-[50%]  py-2 bg-white rounded-md shadow-lg px-4 flex justify-between">
            <div class="flex space-x-4 py-3 ">
                <svg class="w-7 h-7 text-[#492A99] bg-[#F0EAFF] p-1 rounded-full " data-slot="icon" fill="none"
                    stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3">
                    </path>
                </svg>
                <h2 class="text-[#492A99] text-lg">Core skills</h2>
            </div>
            <div class="py-2">
                <h2 class="text-[#492A99] text-sm">Vetted skills</h2>
                <h2 class="text-[#492A99] text-xs text-center">12/2</h2>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-8 my-10 p-6">
            <div>
                <h3 class="text-lg font-semibold text-gray-800 mb-4">Core Skills</h3>
                <div class="space-y-4 mb-8">

                    <div class="grid grid-cols-12 gap-4">
                        <input type="text" placeholder="Node.js"
                            class="col-span-6 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <input type="number" placeholder="Years of Experience"
                            class="col-span-5 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                    </div>
                    <div class="grid grid-cols-12 gap-4">
                        <input type="text" placeholder="Android"
                            class="col-span-6 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <input type="number" placeholder="Years of Experience"
                            class="col-span-5 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <button class="bg-blue-600 text-white col-span-1 rounded-lg px-4 py-2">Start Test</button>
                    </div>
                    <a href="#" class="text-blue-600 pt-8">+ Add more skills</a>
                </div>
            </div>
            <div>
                <h3 class="text-lg font-semibold text-gray-800 mb-4">Additional Skills</h3>
                <div class="space-y-4">

                    <div class="grid grid-cols-12 gap-4">
                        <input type="text" placeholder="Ruby on Rails"
                            class="col-span-6 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <input type="number" placeholder="Years of Experience"
                            class="col-span-5 border rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <button class="bg-blue-600 text-white col-span-1 rounded-lg px-4 py-2">Start Test</button>
                    </div>
                    <a href="#" class="text-blue-600">+ Add more skills</a>
                </div>
            </div>
        </div>
    </div>
</div>