<div>

    <div class=" flex flex-row w-full items-center justify-between">
        <div>
            <h2 class="text-xl lg:text-2xl font-bold  transition-all">
                My Saved job
            </h2>
            <span class=" text-gray-400"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
    
    </div>
    <div class="flex items-center justify-center min-h-screen">
        <div class="text-center">
          <p>you have not applied any job yet</p>
        </div>
      </div>
</div>

