<swiper [options]="swiperOptions" [modules]="['autoplay']">
  <div class="swiper-wrapper">

    <!-- What EASWORKS Screen Start -->
    <div class="swiper-slide">
      <div class="bg-img bg-no-repeat bg-cover relative pt-12">
        <div class="5xl:w-10/12 w-11/12 mx-auto text-center z-10 relative">
          <h3 class="text-2xl text-white uppercase">What We Do</h3>
          <h4 class="text-3xl text-white font-bold">
            Explore <span class="text-primary-400">Our Offerings:</span>
          </h4>

          <div
               class="grid 6xl:grid-cols-2 5xl:grid-cols-1 3xl:grid-cols-3 lg:grid-cols-2 gap-x-5 gap-y-3 mt-5 text-white relative">
            <div class="relative bg-[#FFFFFF08]">
              <div
                   class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
                <img src="../../assets/sign-up/employer-signup/contractors.svg" alt="Contractor" class="mx-auto block" />

                <h6 class="text-xl font-bold mt-3">Hire Contractors</h6>
                <p class="text-sm mt-1">
                  <span class="font-semibold text-primary-400">Flexible Talent Solutions: <br /></span>
                  Quickly find and hire skilled contractors for short-term or
                  project-based needs.
                </p>
              </div>
            </div>

            <div class="relative bg-[#FFFFFF08]">
              <div
                   class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
                <img src="../../assets/sign-up/employer-signup/full-time.svg" alt="Hire Full-Time" class="mx-auto block" />

                <h6 class="text-xl font-bold mt-3">Hire Full-Time</h6>
                <p class="text-sm mt-1">
                  <span class="font-semibold text-primary-400">
                    Permanent Positions: <br />
                  </span>
                  Connect with top EAS talent for long-term, full-time roles within
                  your organization.
                </p>
              </div>
            </div>

            <div class="relative 6xl:col-span-2 bg-[#FFFFFF08]">
              <div
                   class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
                <img src="../../assets/sign-up/employer-signup/full-team.svg" alt="Fully Managed Team" class="mx-auto block" />

                <h6 class="text-xl font-bold mt-3">Fully Managed Team</h6>
                <p class="text-sm mt-1">
                  <span class="font-semibold text-primary-400">
                    Dedicated Teams:
                  </span>
                  Assemble and manage a team of experts dedicated to your enterprise
                  apps project, ensuring seamless collaboration and delivery.
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- What EASWORKS Screen End -->

    <!-- 20K Vetted Talent Screen Start -->
    <div class="swiper-slide">
      <div class="bg-img bg-no-repeat bg-cover 5xl:col-span-5 relative pt-4 w-full">
        <div class="text-center z-10 relative">
          <h3 class="text-2xl text-white uppercase">What EASWORKS</h3>
          <h4 class="text-3xl text-white font-bold">20K+ Vetted Talent On Demand</h4>

          <div class="mt-7 w-full px-4">
            <div
                 class="relative w-full grid xl:justify-between justify-center place-items-center items-center xl:grid-cols-3 sm:grid-cols-2 gap-x-2.5 gap-y-4">
              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile1.png"
                       alt="Profile"
                       class="relative top-5 elite-enterprise-img" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">
                      Cameron Williamson
                    </h6>
                    <p class="text-[9px] text-gray-600">Paid Social Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Facebook Ads Manager, LinkedIn Ads Marketing Strategy, Campaign
                    Management, Inbound Marketing Lead Generation,
                    <span class="text-primary-500">+5 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-3 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/mailchimp-logo.svg"
                       alt="Mailchimp logo"
                       class="mx-auto block w-fit h-4" />
                </div>
              </div>

              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile2.png"
                       alt="Profile"
                       class="relative elite-enterprise-img h-[161px] top-5" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">Ken W.</h6>
                    <p class="text-[9px] text-gray-600">Paid Social Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Marketing Strategy, Campaign Management, Inbound Marketing Lead
                    Generation,
                    <span class="text-primary-500">+5 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-6 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/microsoft-logo.png"
                       alt="Microsoft logo"
                       class="mx-auto block w-fit h-3" />
                </div>
              </div>

              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile3.png"
                       alt="Profile"
                       class="relative elite-enterprise-img h-[161px] top-5" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">Stacey W.</h6>
                    <p class="text-[9px] text-gray-600">Social Media Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Social Media Marketing, Sprout Social HubSpot, Copywriting,
                    Graphic Design
                    <span class="text-primary-500">+7 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-6 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/airbnb-logo.svg"
                       alt="Airbnb logo"
                       class="mx-auto block w-fit h-3.5" />
                </div>
              </div>

              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile1.png"
                       alt="Profile"
                       class="relative top-5 elite-enterprise-img" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">
                      Cameron Williamson
                    </h6>
                    <p class="text-[9px] text-gray-600">Paid Social Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Facebook Ads Manager, LinkedIn Ads Marketing Strategy, Campaign
                    Management, Inbound Marketing Lead Generation,
                    <span class="text-primary-500">+5 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-3 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/mailchimp-logo.svg"
                       alt="Mailchimp logo"
                       class="mx-auto block w-fit h-4" />
                </div>
              </div>

              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile2.png"
                       alt="Profile"
                       class="relative elite-enterprise-img h-[161px] top-5" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">Ken W.</h6>
                    <p class="text-[9px] text-gray-600">Paid Social Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Marketing Strategy, Campaign Management, Inbound Marketing Lead
                    Generation,
                    <span class="text-primary-500">+5 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-6 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/microsoft-logo.png"
                       alt="Microsoft logo"
                       class="mx-auto block w-fit h-3" />
                </div>
              </div>

              <div
                   class="bg-gradient-to-b from-gray-200 to-white rounded-3xl relative elite-enterprise-card grid w-[166px]">
                <div class="relative elite-enterprise-img-sec">
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/profile3.png"
                       alt="Profile"
                       class="relative elite-enterprise-img h-[161px] top-5" />
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/logo.svg"
                       alt="Image not found"
                       class="absolute -bottom-4 left-[15px] w-7 elite-enterprise-logo-img rounded-full z-20" />

                  <h6
                      class="text-lg font-bold text-white absolute -rotate-90 top-2/4 -translate-y-2/4 -right-8 elite-enterprise-text">
                    EASWORKS
                  </h6>
                </div>
                <div
                     class="elite-enterprise-bg bg-no-repeat p-1.5 rounded-b-3xl z-10 relative text-left">
                  <div class="pb-1 ms-12 text-left">
                    <h6 class="text-[11px] font-bold text-primary-500">Stacey W.</h6>
                    <p class="text-[9px] text-gray-600">Social Media Marketer</p>
                  </div>
                  <h6 class="font-bold text-black text-[9px]">In Demand Skills</h6>
                  <p class="text-[9px]">
                    Social Media Marketing, Sprout Social HubSpot, Copywriting,
                    Graphic Design
                    <span class="text-primary-500">+7 More</span>
                  </p>
                  <button
                          class="shaded-button block relative rounded-md text-white w-full py-1 px-5 bg-primary-500 mt-6 text-[9px] font-bold">
                    Start Hiring
                  </button>
                  <button class="text-gray-500 font-bold w-full px-5 my-1 text-[9px]">
                    Previous
                  </button>
                  <img
                       src="/assets/sign-up/discover-elite-enterprise/airbnb-logo.svg"
                       alt="Airbnb logo"
                       class="mx-auto block w-fit h-3.5" />
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 20K Vetted Talent Screen End -->

  </div>
</swiper>

<marquee scrollamount="5" loop="infinite" class="bg-primary-500 py-3.5 px-7 mt-14 fixed bottom-0 z-10">
  <div class="flex items-center gap-14">
    <img src="../../assets/sign-up/okta-logo.svg" alt="Image not found" />
    <img src="../../assets/sign-up/deckers-logo.svg" alt="Image not found" />
    <img src="../../assets/sign-up/hearst.svg" alt="Image not found" />
    <img src="../../assets/sign-up/okta-logo.svg" alt="Image not found" />
    <img src="../../assets/sign-up/deckers-logo.svg" alt="Image not found" />
    <img src="../../assets/sign-up/hearst.svg" alt="Image not found" />
  </div>
</marquee>