<!-- What EASWORKS Screen Start -->
<div class="bg-img bg-no-repeat bg-cover relative pt-12 hidden">
  <div class="5xl:w-10/12 w-11/12 mx-auto text-center z-10 relative">
    <h3 class="text-2xl text-white uppercase">What We Do</h3>
    <h4 class="text-3xl text-white font-bold">
      Explore <span class="text-primary-400">Our Offerings:</span>
    </h4>

    <div
      class="grid 6xl:grid-cols-2 5xl:grid-cols-1 3xl:grid-cols-3 lg:grid-cols-2 gap-x-5 gap-y-3 mt-5 text-white relative">
      <div class="relative bg-[#FFFFFF08]">
        <div
          class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
          <img src="../../assets/sign-up/slide2/contractors.svg" alt="Contractor" class="mx-auto block" />

          <h6 class="text-xl font-bold mt-3">Hire Contractors</h6>
          <p class="text-sm mt-1">
            <span class="font-semibold text-primary-400">Flexible Talent Solutions: <br /></span>
            Quickly find and hire skilled contractors for short-term or
            project-based needs.
          </p>
        </div>
      </div>

      <div class="relative bg-[#FFFFFF08]">
        <div
          class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
          <img src="../../assets/sign-up/slide2/full-time.svg" alt="Hire Full-Time" class="mx-auto block" />

          <h6 class="text-xl font-bold mt-3">Hire Full-Time</h6>
          <p class="text-sm mt-1">
            <span class="font-semibold text-primary-400">
              Permanent Positions: <br />
            </span>
            Connect with top EAS talent for long-term, full-time roles within
            your organization.
          </p>
        </div>
      </div>

      <div class="relative 6xl:col-span-2 bg-[#FFFFFF08]">
        <div
          class="rounded-md custom-border p-4 before:content-[''] before:absolute before:inset-0 before:rounded-xl before:p-[1px]">
          <img src="../../assets/sign-up/slide2/full-team.svg" alt="Fully Managed Team" class="mx-auto block" />

          <h6 class="text-xl font-bold mt-3">Fully Managed Team</h6>
          <p class="text-sm mt-1">
            <span class="font-semibold text-primary-400">
              Dedicated Teams:
            </span>
            Assemble and manage a team of experts dedicated to your enterprise
            apps project, ensuring seamless collaboration and delivery.
          </p>
        </div>
      </div>
    </div>
  </div>

  <marquee scrollamount="5" loop="infinite" class="bg-primary-500 py-3.5 px-7 mt-14">
    <div class="flex items-center gap-14">
      <img src="../../assets/sign-up/okta-logo.svg" alt="Image not found" />
      <img src="../../assets/sign-up/deckers-logo.svg" alt="Image not found" />
      <img src="../../assets/sign-up/hearst.svg" alt="Image not found" />
      <img src="../../assets/sign-up/okta-logo.svg" alt="Image not found" />
      <img src="../../assets/sign-up/deckers-logo.svg" alt="Image not found" />
      <img src="../../assets/sign-up/hearst.svg" alt="Image not found" />
    </div>
  </marquee>
</div>
<!-- What EASWORKS Screen End -->