  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->
  <div class="common-space">
    <div class="login-wraper">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="login-box">
              <div class="tabs-view">
                <ul class="customer-type d-flex">
                  <!-- <li class="customer-list">
                    <a [routerLink]="['/Sign-Up']">Talent</a>
                  </li> -->
                  <li class="customer-list">
                    <a class="active" [routerLink]="['/Employer-Signup']">Employer</a>
                  </li>
                </ul>
                <div class="job-tabs-body">
                  <h1 class="login-te-title">Try EASWORKS for free</h1>
                  <p class="login-te-para">We have thousands of qualified candidates waiting for you!</p>
                  <div class="job-firsttabs" id="secondtab">
                    <form>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="login-form-group">
                            <label class="label-text">First Name</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="First Name" class="inputview" formControlName="firstName" />
                              <span class="error-message d-none" *ngIf="submitted && signUpFormControl.firstName.errors">Please enter your Fullname</span>
                              <i class='bx bxs-user i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Last Name</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="Last Name" class="inputview" formControlName="lastName" />
                              <span class="error-message d-none" *ngIf="submitted && signUpFormControl.lastName.errors">Please enter your Lastname</span>
                              <i class='bx bxs-user i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Work Email Address</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="Email Address" class="inputview" formControlName="email" />
                              <div *ngIf="submitted && signUpFormControl.email.errors">
                                <span class="error-message" *ngIf="signUpFormControl.email.errors.required">Email is required</span>
                                <span class="error-message" *ngIf="signUpFormControl.email.errors.pattern">Please enter the valid email address</span>
                            </div>
                              <i class='icofont-email i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Password</label>
                            <div class="login-form-input">
                              <input type="password" placeholder="Password" class="inputview"  formControlName="password"  />
                              <div *ngIf="submitted && signUpFormControl.password.errors">
                                <span class="error-message" *ngIf="signUpFormControl.password.errors.required">Please enter the password</span>
                                <span class="error-message" *ngIf="signUpFormControl.password.errors.pattern">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character:</span>
                              </div>
                              <i class='bx bxs-lock-alt i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Confirm Password</label>
                            <div class="login-form-input">
                              <input type="password" placeholder="Confirm Password" class="inputview" formControlName="confirmPassword" />
                              <div *ngIf="submitted && signUpFormControl.confirmPassword.errors">
                                <span class="error-message" *ngIf="signUpFormControl.confirmPassword.errors.required">Please enter the confirm password</span>
                                <span class="error-message" *ngIf="signUpFormControl.confirmPassword.errors.mustMatch">Password must match</span>
                                <!-- <span class="error-message" *ngIf="signUpFormControl.confirmPassword.errors.pattern">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character:</span> -->
                              </div>
                              <i class='bx bxs-lock-alt i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <div class="checkbox-group">
                              <input type="checkbox" id="terms-condition" />
                              <label for="terms-condition">You acknowledge that the EASWORKS screening process is
                                confidential
                                and that you will not
                                publicly disclose: details about this process. By submitting you acknowledge that you
                                ilave read an agreed to our<a href="javascript:void(0)">Terms of Use</a> and <a
                                  href="javascript:void(0)">Privacy Policy</a> and <a href="javascript:void(0)">Cookie
                                  Policy</a></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <button type="button" class="loginbtn" (click)="getStarted()">Get Started</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-7 col-12">
            <div class="signin-content">
              <h1>Why clients love EASWORKS</h1>
              <ul class="twowaysstreet-type mt-3 p-0 mb-0">
                <li><i class="icofont-tick-mark"></i>We are not your regular software engineers: we are a niche platform dedicated to Enterprise Application Talent, so you know exactly who we are but most importantly, who we aren’t!</li>
                <li><i class="icofont-tick-mark"></i>Our remote Enterprise Application developers are not just tech experts but pre-vetted for communication and interpersonal skills as well.</li>
                <li><i class="icofont-tick-mark"></i>We work across time-zones with our globally sourced, remote team.</li>
                <li><i class="icofont-tick-mark"></i>We give you more for less with our high quality/cost ratio. Save up to 42% by outsourcing enterprise software development to us without skimping on quality.</li>
                <li><i class="icofont-tick-mark"></i>Try before you buy! Take up to 40 hours to consider your investment with one of our risk-free trial periods offers.</li>
              </ul>
              <h1>Find Your Next Enterprise Application Freelancer Here</h1>
              <div class="signup-talent-img mt-4">
                <img src="assets/img/Employer_Login.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>