<section class="page max-w-full">
  <div class="py-12">
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto">
      Overview <span class="text-primary-500"> EASWORKS</span>
    </h2>

    <div class="grid 5xl:grid-cols-4 gap-5 items-center my-12">
      <div
        class="flex 5xl:justify-end 5xl:items-end items-center justify-between 5xl:flex-col xl:flex-row flex-col 8xl:gap-40 5xl:gap-32 gap-10">
        <div class="w-60 5xl:text-end ms-auto xl:me-0 me-auto">
          <h5 class="text-xl text-primary-500 font-bold">Personalized Solutions</h5>
          <p class="text-gray-700 !leading-5">
            Tailor applications to fit your
            specific business processes.
          </p>
        </div>

        <div class="w-60 5xl:text-end ms-auto 5xl:me-0 me-auto">
          <h5 class="text-xl text-primary-500 font-bold">Scalability</h5>
          <p class="text-gray-700 !leading-5">
            Prepare your systems for
            future growth and changes.
          </p>
        </div>
      </div>

      <div class="relative 5xl:col-span-2">
        <div class="relative">
          <img src="../../../../assets/public/use-cases/software-customization/overview/center-img.png"
            alt="Image not found" class="w-full" />

          <div class="absolute top-[40%] w-full">
            <div class="w-1/3 mx-auto text-center">
              <h6 class="6xl:text-2xl text-xl font-bold text-primary-500 mb-0">
                At EASWORKS,
              </h6>
              <p class="6xl:text-sm text-xs">
                we connect you with top talents who can modernize your legacy
                enterprise applications to enhance performance and extend their
                lifespan. Our expert talents ensure your systems stay relevant and
                efficient in a rapidly changing technological landscape.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div
        class="flex 5xl:justify-end 5xl:items-end items-center justify-between 5xl:flex-col xl:flex-row flex-col 8xl:gap-40 5xl:gap-32 gap-10">
        <div class="w-60 me-auto 5xl:ms-0 ms-auto">
          <h5 class="text-xl text-primary-500 font-bold">Enhanced Efficiency</h5>
          <p class="text-gray-700 !leading-5">
            Streamline operations and
            reduce manual work.
          </p>
        </div>

        <div class="w-60 me-auto xl:ms-0 ms-auto">
          <h5 class="text-xl text-primary-500 font-bold">
            Increased User Adoption
          </h5>
          <p class="text-gray-700 !leading-5">
            Improve user experience
            and satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>