<div class=" p-6 space-y-20">
    <div class=" flex flex-col space-y-4">
        <div class=" flex flex-row w-full items-center justify-between">
            <div>
                <h2 class="text-md font-semibold  transition-all">
                    Working Type
                </h2>
            </div>
        </div>
        <div class=" grid grid-cols-3 gap-6 py-4">
            <div class=" space-y-2">
                <h2 class=" text-sm font-semibold">Method of Working</h2>
                <button class=" bg-purple-400 rounded-md px-2 py-1 text-xs">Remote</button>
            </div>
            <div class=" space-y-2">
                <h2 class=" text-sm font-semibold">Preferred working hours</h2>
                <button class=" bg-purple-400 rounded-md px-2 py-1 text-xs">CST-UTs-6</button>
            </div>
        </div>

        <div class=" flex flex-row w-full pt-6 items-center justify-between">
            <div>
                <h2 class="text-md font-semibold  transition-all">
                    Job Status
                </h2>
            </div>
        </div>
        <div class=" grid grid-cols-3 gap-6 py-2">
            <div class=" space-y-2">
                <h2 class=" text-xs text-gray-400 ">Current Employement Status</h2>
                <p class=" text-sm font-semibold">Contract</p>
            </div>
            <div class=" space-y-2">
                <h2 class=" text-xs text-gray-400 ">Notice Period</h2>
                <p class=" text-sm font-semibold">30 Days</p>
            </div>
        </div>

        <div class=" flex flex-row w-full pt-6 items-center justify-between">
            <div>
                <h2 class="text-md font-semibold  transition-all">
                    Job Role
                </h2>
            </div>
        </div>
        <div class=" grid grid-cols-3 gap-6 py-2">
            <div class=" space-y-2">
                <h2 class=" text-xs text-gray-400 ">Current Role</h2>
                <p class=" text-sm font-semibold">Backend</p>
            </div>
            <div class=" space-y-2">
                <h2 class=" text-sm font-semibold">Preferred working hours</h2>
                <button class=" bg-purple-400 rounded-md px-2 py-1 text-xs">CST-UTs-6</button>
            </div>
        </div>

        <div class=" flex flex-row w-full pt-6 items-center justify-between">
            <div>
                <h2 class="text-md font-semibold  transition-all">
                    Compensation
                </h2>
            </div>
        </div>
        <div class=" grid grid-cols-3 gap-6 py-2">
            <div class=" space-y-2">
                <h2 class=" text-xs text-gray-400 ">Compensation</h2>
                <p class=" text-sm font-semibold">$10000 / annum</p>
            </div>
            <div class=" space-y-2">
                <h2 class=" text-xs text-gray-400 ">Aspected annual Sallery</h2>
                <p class=" text-sm font-semibold">$12000 / annum</p>
            </div>
        </div>
      
    </div>

</div>
