<section class="page relative 7xl:block grid">
  <div class="grid 7xl:grid-cols-4 3xl:grid-cols-3 xl:grid-cols-2 8xl:gap-20 5xl:gap-16 gap-10 mt-10 7xl:order-1 order-2">
    <div
      class="px-3 pt-4 pb-10 rounded-3xl bg-primary-500 border-8 border-white shadow-[0px_4px_12px_0px_#0000005E] flex flex-col items-center justify-center gap-4 text-center relative my-5"
    >
      <img
        src="../../../../assets/public/use-cases/advisory-and-consultancy/process/ic-analysis.svg"
        alt="Needs Analysis"
        class="w-fit mx-auto block"
      />

      <h5 class="font-bold text-white 3xl:text-2xl text-xl">Needs Analysis</h5>

      <p class="text-white font-medium">
        Understand client requirements and business objectives
      </p>

      <div
        class="text-primary-500 w-fit 5xl:text-9xl text-8xl font-bold absolute left-2/4 -translate-x-2/4 5xl:-top-28 -top-20 translate-y-1.5"
        style="-webkit-text-stroke: 4px white"
      >
        01
      </div>
    </div>

    <div
      class="px-3 pt-4 pb-10 rounded-3xl bg-primary-900 border-8 border-white shadow-[0px_4px_12px_0px_#0000005E] flex flex-col items-center justify-center gap-4 text-center relative my-5"
    >
      <img
        src="../../../../assets/public/use-cases/advisory-and-consultancy/process/ic-planning.svg"
        alt="Strategic Planning"
        class="w-fit mx-auto block"
      />

      <h5 class="font-bold text-white 3xl:text-2xl text-xl">
        Strategic Planning
      </h5>

      <p class="text-white font-medium">
        Develop a tailored strategy to meet client goals
      </p>

      <div
        class="text-primary-900 w-fit 5xl:text-9xl text-8xl font-bold absolute left-2/4 -translate-x-2/4 5xl:-top-28 -top-20  translate-y-1.5"
        style="-webkit-text-stroke: 4px white"
      >
        02
      </div>
    </div>

    <div
      class="px-3 pt-4 pb-10 rounded-3xl bg-primary-500 border-8 border-white shadow-[0px_4px_12px_0px_#0000005E] flex flex-col items-center justify-center gap-4 text-center relative my-5"
    >
      <img
        src="../../../../assets/public/use-cases/advisory-and-consultancy/process/ic-support.svg"
        alt="Implementation 
      Support
      "
        class="w-fit mx-auto block"
      />

      <h5 class="font-bold text-white 3xl:text-2xl text-xl">
        Implementation Support
      </h5>

      <p class="text-white font-medium">
        Assist in executing the strategic plan effectively.
      </p>

      <div
        class="text-primary-500 w-fit 5xl:text-9xl text-8xl font-bold absolute left-2/4 -translate-x-2/4 5xl:-top-28 -top-20 translate-y-1.5"
        style="-webkit-text-stroke: 4px white"
      >
        03
      </div>
    </div>

    <div
      class="px-3 pt-4 pb-10 rounded-3xl bg-primary-900 border-8 border-white shadow-[0px_4px_12px_0px_#0000005E] flex flex-col items-center justify-center gap-4 text-center relative my-5"
    >
      <img
        src="../../../../assets/public/use-cases/advisory-and-consultancy/process/ic-monitoring.svg"
        alt="Performance 
        Monitoring"
        class="w-fit mx-auto block"
      />

      <h5 class="font-bold text-white 3xl:text-2xl text-xl">
        Performance Monitoring
      </h5>

      <p class="text-white font-medium">
        Track progress and make necessary adjustments.
      </p>

      <div
        class="text-primary-900 w-fit 5xl:text-9xl text-8xl font-bold absolute left-2/4 -translate-x-2/4 5xl:-top-28 -top-20  translate-y-1.5"
        style="-webkit-text-stroke: 4px white"
      >
        04
      </div>
    </div>
  </div>

  <img src="../../../../assets/public/use-cases/advisory-and-consultancy/process/connector-line.svg" alt="Connector line" class="w-fit absolute left-1/4 -translate-x-2/4 7xl:block hidden">

  <img src="../../../../assets/public/use-cases/advisory-and-consultancy/process/connector-line-small.svg" alt="Connector line" class="w-fit absolute left-1/2 -translate-x-[160%] 7xl:block hidden">

  <img src="../../../../assets/public/use-cases/advisory-and-consultancy/process/connector-line-small.svg" alt="Connector line" class="w-fit absolute right-[37%] 7xl:block hidden" style="transform: rotateY(180deg);">

  <img src="../../../../assets/public/use-cases/advisory-and-consultancy/process/connector-line.svg" alt="Connector line" class="w-fit absolute 8xl:right-[13%] right-[10%] 7xl:block hidden" style="transform: rotateY(180deg);">

  <div
    class="7xl:text-6xl 3xl:text-5xl xl:text-4xl text-2xl  7xl:leading-tight transition-all font-bold text-center text-white bg-primary-500 py-4 3xl:px-12 px-5 w-fit mx-auto rounded-full shadow-[0px_4px_14px_0px_#00000073] border-4 border-white 7xl:mt-32 7xl:mb-0 5xl:mb-20 3xl:mb-16 mb-10  7xl:order-2 order-1"
  >
    Process/Methodology
  </div>
</section>
