<section class="py-[60px] bg-white" *ngrxLet="ServiceType$().herosection as hero">
  <div class="page">
    <div class="text-center max-w-xxl m-auto">
      <h3 class="lg:text-[2rem] text-2xl font-bold leading-[40px] text-black"> {{hero.title.plain}} <span
          class="text-primary"> {{hero.title.highlight}} </span> {{hero.title.plainLast}}
      </h3>
      <p class="my-4 text-base font-normal text-black">{{hero.content}}</p>
      <div class="flex items-center justify-center mt-10">
        <button class="shaded-button primary"> Start Hiring </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="page py-8 flex flex-wrap justify-around gap-4">
    <div *ngFor="let logo of customerLogos">
      <img class="w-32" [src]="logo" alt="">
    </div>
  </div>
</section>

<section class="py-[60px] bg-white">
  <div class="page">
    <div class="grid lg:grid-cols-4 grid-cols-1 gap-10 items-center">
      <div class="border rounded-md overflow-hidden h-full" *ngFor="let Talent of EASTalent">
        <div class="flex justify-center p-5 bg-[#cbd5e1]">
          <img [src]="Talent.image" class="w-[120px] h-[120px] rounded-full blur-[3px]" alt="">
        </div>
        <div class="py-4 px-5 text-center bg-white h-full">
          <div class="mb-3">
            <h4 class="text-[20px] text-primary">
              <a href="">{{Talent.name}}</a>
            </h4>
          </div>
          <div class="mb-3">
            <h4 class="text-[14px] text-gray-400">
              <a href="">{{Talent.position}}</a>
            </h4>
          </div>
          <div class="mb-3">
            <h4 class="text-[14px] text-gray-400">
              <a href="">{{Talent.Skills}}</a>
            </h4>
          </div>
          <div>
            <h4 class="text-[18px] text-primary">
              <a href="">{{Talent.moreword}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-[60px]" *ngrxLet="ServiceType$().ApplicationData as application">
  <div class="page">
    <div class="text-left mb-12">
      <h3 class="lg:text-[2rem] text-2xl font-bold leading-[40px] text-black">{{application.title.plain}} <span
          class="text-primary"> {{application.title.highlight}} </span> {{application.title.plainLast}}
      </h3>
    </div>
    <div class="grid lg:grid-cols-1 grid-cols-1 gap-10">
      <p *ngFor="let pera of application.content">{{pera}}</p>
    </div>
  </div>
</section>


<section class="py-[60px] bg-white" *ngrxLet="ServiceType$().ProfessionalsBased as Professional">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">{{Professional.title.plain}}<span class="text-primary">
          {{Professional.title.highlight}} </span>{{Professional.title.plainLast}}</h2>

      <p class="my-4 text-[20px] font-normal">{{Professional.content}}</p>
    </div>

    <div class="mt-4 grid gap-2 grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
      <div *ngFor="let prolist of Professional.ProfessionalList">
        <a class="flex gap-2 max-w-max" href="">
          <fa-icon [icon]="icons.faAngleRight" class="text-sm mt-1"></fa-icon>
          {{prolist.title}}
        </a>
      </div>
    </div>

  </div>
</section>

<section class="py-[60px]" *ngrxLet="ServiceType$().ForSteps as Steps">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">{{Steps.title.plain}} <span class="text-primary"> {{Steps.title.highlight}} </span>
        {{Steps.title.plainLast}}</h2>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-1 gap-8 items-center">

      <div *ngFor="let StepsBox of Steps.ContentBox"
        class="bg-white shadow-[0px_0px_20px_rgba(0,0,0,0.1)] rounded-md p-3 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5 items-center">
          <fa-icon [icon]="icons.faFileLines" class="text-[60px] mt-1 text-primary"></fa-icon>
        </div>
        <h4 class="text-lg font-semibold my-5">{{StepsBox.title}}</h4>
        <p class="text-sm leading-6">{{StepsBox.content}}</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-[60px]">
  <div class="page">
    <div class="mt-4 grid gap-3 grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
      <div class="border rounded-lg overflow-hidden" *ngFor="let profile of ProfessionalProfile">
        <div class="flex justify-center bg-[#cbd5e1]">
          <img [src]="profile.image" class="w-full h-full" alt="">
        </div>
        <div class="p-4 bg-white">
          <div class="mb-3">
            <h4 class="text-[20px] text-primary font-semibold">
              {{profile.name}}
            </h4>
          </div>
          <div>
            <ul class="text-[16px] text-gray-400">
              <li>{{profile.position}}</li>
              <li>{{profile.localtion}}</li>
              <li>{{profile.experience}}</li>
              <li>{{profile.industry}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="ServiceType$().TeamsOnDemand.title">
  <section class="py-[60px] bg-white" *ngrxLet="ServiceType$().TeamsOnDemand as TeansOn">
    <div class="page">
      <div class="text-center m-auto">
        <h3 class="lg:text-[2rem] text-2xl font-bold leading-[40px] text-black">
          {{TeansOn.title}}
        </h3>
        <p>{{TeansOn.content}}</p>
      </div>
  
      <div class="pt-10">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-lg">
            <tr>
              <th scope="col" class="px-6 py-3 text-primary">
                
              </th>
              <th scope="col" class="px-6 py-3 text-primary text-center">
                Teams On-Demand	
              </th>
              <th scope="col" class="px-6 py-3 text-primary text-center">
                Fully-Managed, Fixed Bid
              </th>
            </tr>
          </thead>
          <tbody class="border">
            <tr class="bg-white border" *ngFor="let TabData of TeansOn.TableData">
              <td class="px-6 py-5 border text-black text-left text-[14px] font-semibold">
                {{TabData.TableTitle}}
              </td>
              <td class="px-6 py-5 border text-black text-center text-[14px] font-semibold">
                {{TabData.contentA}}
              </td>
              <td class="px-6 py-5 border text-black text-center text-[14px] font-semibold">
                {{TabData.contentB}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
</ng-container>


<section class="bg-primary py-[60px]" *ngrxLet="ServiceType$().BottomHireSection as BottomHireSection">
  <div class="page">
    <div class="text-center max-w-xxl m-auto">
      <h3 class="lg:text-[2rem] text-2xl font-bold leading-[40px] text-white">
        {{BottomHireSection.title.plain}}
      </h3>
      <div class="flex items-center justify-center mt-10">
        <button class="shaded-button"> {{BottomHireSection.cta}}</button>
      </div>
    </div>
  </div>
</section>

<section class="py-[60px] bg-white" *ngrxLet="ServiceType$().BenefitBusiness as BenefitBusiness">
  <div class="page">
    <div class="text-center max-w-xxl m-auto">
      <h3 class="lg:text-[3rem] text-2xl font-bold leading-[50px] text-black">
        {{BenefitBusiness.title.plain}} <span class="text-primary"> {{BenefitBusiness.title.highlight}} </span> {{BenefitBusiness.title.plainLast}}
      </h3>
      <p class="my-4 text-[25px] font-normal">Reach out to us at <a href="tel:+1 858 753 3467">+1 858 753 3467</a> or
        email us at <a href="mailto:info@easworks.com">info@easworks.com</a> </p>
    </div>
  </div>
</section>