<section class="page max-w-full">
  <h2
    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mb-5"
  >
    Overview <span class="text-primary-500"> EASWORKS</span>
  </h2>

  <div class="7xl:w-3/4 mx-auto">
    <h5 class="4xl:text-2xl xl:text-xl text-lg text-gray-700 text-center">
      <span class="text-primary-500 font-bold 4xl:text-3xl text-2xl"
        >At EASWORKS,</span
      >
      we connect you with top talents who can provide comprehensive support and
      maintenance for enterprise applications. Our expert talents ensure your
      systems operate smoothly and efficiently.
    </h5>

    <img
      src="/assets/public/use-cases/qa-and-testing/overview/border-btm.svg"
      alt=""
      class="block mx-auto mb-10 mt-3"
    />

    <div class="grid 4xl:grid-cols-4 2xl:grid-cols-3 lg:grid-cols-2 lg:gap-5 gap-10 mt-3">
      <div>
        <div class="flex flex-col justify-center items-center gap-3">
          <div class="bg-img-dark w-32 h-32 flex justify-center items-center">
            <img
              src="/assets/public/use-cases/support-maintenance/overview/downtime.svg"
              alt="Downtime"
            />
          </div>
          <img
            src="/assets/public/use-cases/support-maintenance/overview/dashed-border.svg"
            alt="Dashed border"
          />

          <div class="w-full h-2 bg-primary-900"></div>
        </div>

        <div class="text-center lg:mt-20 mt-10 w-56 mx-auto">
          <h5 class="5xl:text-2xl text-xl text-primary-500 font-bold">
            Reduced Downtime
          </h5>

          <p class="text-gray-600 mt-1 !leading-6 5xl:text-xl">
            Minimize system outages.
          </p>
        </div>
      </div>

      <div>
        <div class="text-center lg:mb-[103px] mb-10 w-56 mx-auto">
          <h5 class="5xl:text-2xl text-xl text-primary-500 font-bold">
            Enhanced Security
          </h5>

          <p class="text-gray-600 mt-1 !leading-6 5xl:text-xl">
            Keep systems secure and compliant.
          </p>
        </div>

        <div class="flex flex-col justify-center items-center gap-3">
          <div class="w-full h-2 bg-primary-500"></div>
          <img
            src="/assets/public/use-cases/support-maintenance/overview/dashed-border.svg"
            alt="Dashed border"
          />
          <div class="bg-img-light w-32 h-32 flex justify-center items-center">
            <img
              src="/assets/public/use-cases/support-maintenance/overview/security.svg"
              alt="Security"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col justify-center items-center gap-3">
          <div class="bg-img-dark w-32 h-32 flex justify-center items-center">
            <img
              src="/assets/public/use-cases/support-maintenance/overview/saving.svg"
              alt="Saving"
            />
          </div>
          <img
            src="/assets/public/use-cases/support-maintenance/overview/dashed-border.svg"
            alt="Dashed border"
          />

          <div class="w-full h-2 bg-primary-900"></div>
        </div>

        <div class="text-center lg:mt-20 mt-10 w-60 mx-auto">
          <h5 class="5xl:text-2xl text-xl text-primary-500 font-bold">
            Cost Savings
          </h5>

          <p class="text-gray-600 mt-1 !leading-6 5xl:text-xl">
            Lower maintenance costs with proactive support.
          </p>
        </div>
      </div>

      <div>
        <div class="text-center lg:mb-[103px] mb-10 w-60 mx-auto">
          <h5 class="5xl:text-2xl text-xl text-primary-500 font-bold">
            Reliable Performance
          </h5>

          <p class="text-gray-600 mt-1 !leading-6 5xl:text-xl">
            Ensure consistent system performance.
          </p>
        </div>

        <div class="flex flex-col justify-center items-center gap-3">
          <div class="w-full h-2 bg-primary-500"></div>
          <img
            src="/assets/public/use-cases/support-maintenance/overview/dashed-border.svg"
            alt="Dashed border"
          />
          <div class="bg-img-light w-32 h-32 flex justify-center items-center">
            <img
              src="/assets/public/use-cases/support-maintenance/overview/performance.svg"
              alt="Performance"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
