<!-- Header -->

<!-- Section to show breakdown as per status -->

<!-- List of job posts 
      - grid view of cards
      - each card will be 'job-post-card' component
      - card appearance will be combination of owow and tailwind ui
      - card data will be mock data for now
      - sample job-post can be found in 'apps/web-client/employer/job-post/view/mock-job-post.ts'
 -->

<!-- <div class="grid grid-cols-12 @container">
  @for(job of jonPosts$(); track job.id) {
    <job-post-card [job]="job" class="col-span-12 @sm:col-span-6 @md:col-span-4 @xl:col-span-3"></job-post-card>
  }
 </div> -->