<div class="common-space">
    <section class="gethire-wraper banner-section d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12 pt-5 d-flex flex-column">

                    <h3 class="main-title mb-3" data-aos="fade-up" data-aos-delay="200">
                        Unlock Enterprise Application Talent for Small Businesses
                    </h3>

                    <p class="mt-2 common-para" data-aos="fade-up" data-aos-delay="400">Simplified Hiring for Exceptional Enterprise Developers, Business Analyst, and Project Managers. Unlock On-Demand Access Like Never Before.</p>
                    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="500">
                        <a href="javascript:void(0)" class="btn-get-started mr-3">Hire Us</a>

                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="600">

                </div>
            </div>
        </div>
    </section>

    <!--Clients section-->
    <section id="cliens" class="cliens section-bg pt-4 pb-4">
        <div class="container">
            <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-2.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-3.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-4.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-5.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!--Clients section End-->

    <section id="services" class="services">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-2">
                    Why EASWORKS?
                </h2>
                <p class="common-para  mb-4">Facilitating On-Demand Talent Acquisition for Small Businesses.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="ourvalue-grid beteam-dna job-border border">
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_mcqtv0qr.json" background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                        </lottie-player>
                        <div class="beteam-box">
                            <h1 class="subtitle">Tailored Support</h1>
                            <p class="common-para text-center">
                                Connect with Our Senior Enterprise Application Experts for Detailed Enterprise Application Project Discussions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="ourvalue-grid beteam-dna border">
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_mlfv646z.json" background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                        </lottie-player>
                        <div class="beteam-box">
                            <h1 class="subtitle">Accelerated Results</h1>
                            <p class="common-para text-center">
                                Using traditional hiring methods, it can take weeks or months to pull together the right team. We present you with pre- qualified candidates in 6-10 days in most cases.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="ourvalue-grid beteam-dna job-border border">
                        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_6ln47dih.json" background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                        </lottie-player>
                        <div class="beteam-box">
                            <h1 class="subtitle">Pre-Qualified Talent</h1>
                            <p class="common-para text-center">
                                We never use automated matching. Its human curated and we personally interview and test every candidate, presenting only those who are a technical and cultural fit for your Enterprise Application project.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="ourvalue-grid beteam-dna border">
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ssmd5ixl.json" background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                        </lottie-player>
                        <div class="beteam-box">
                            <h1 class="subtitle">Risk-Free Trial</h1>
                            <p class="common-para text-center">
                                Try EASWORKS enterprise application freelancer for up to 20/40 hours of work, and if you're not satisfied, you don't pay a cent during trial period evaluation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="all-developers section-bg">
        <div class="container position-relative">
            <h1 class="thirdTitle">Hire Freelancers by role and skills</h1>
            <p class="common-para">Discover a diverse range of Freelancer on the EASWORKS network. Find the perfect fit for short or long-term engagements.</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">

                    <ul class="developer-type d-block">
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> Enterprise Application Developer
                            </a>
                        </li>
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> Solution Architect
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Full Stack Developer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> Data Analyst
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Quality Assurance (QA) Engineer
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-3 col-md-3 col-12">

                    <ul class="developer-type d-block">
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Business Analyst
                            </a>
                        </li>
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Mobile App Developer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Cloud Engineer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>DevOps Engineer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Project Manager
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-3 col-md-3 col-12">

                    <ul class="developer-type d-block">
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Database Administrator (DBA)
                            </a>
                        </li>
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Software Engineer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Front-end Developer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> Back-end Developer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Test Automation Engineer
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-3 col-md-3 col-12">

                    <ul class="developer-type d-block">
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> Integration Specialist
                            </a>
                        </li>
                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> System Administrator
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>Security Engineer
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i> IT Infrastructure Architect
                            </a>
                        </li>

                        <li class="developer-list w-100">
                            <a class="cursor-pointer">
                                <i class="icofont-simple-right"></i>UI/UX Designer
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-5">
                    How EASWORKS works
                </h2>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="ourvalue-grid beteam-dna job-border border  pt-3">
                        <div class="countnum"><span>1</span></div>
                        <div class="beteam-box">
                            <h1 class="subtitle">Specify Your Requirements</h1>
                            <p class="common-para text-center">
                                Clearly outline your project needs, objectives, and expectations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="ourvalue-grid beteam-dna border  pt-3">
                        <div class="countnum"><span>2</span></div>
                        <div class="beteam-box">
                            <h1 class="subtitle">Talent Screening and Assessment</h1>
                            <p class="common-para text-center">
                                Freelancing platforms conduct rigorous screening and evaluate freelancers' skills, expertise, industry experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="ourvalue-grid beteam-dna job-border border  pt-3">
                        <div class="countnum"><span>3</span></div>
                        <div class="beteam-box">
                            <h1 class="subtitle">Meet the Matches</h1>
                            <p class="common-para text-center">
                                Review Talent profiles, portfolios, and performance metrics to identify the best matches for your project.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="ourvalue-grid beteam-dna border pt-3">
                        <div class="countnum"><span>4</span></div>
                        <div class="beteam-box">
                            <h1 class="subtitle">Seamless Integration</h1>
                            <p class="common-para text-center">
                                Once you have selected the freelancers who align with your needs, you seamlessly integrate them into your project team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12  team-dna d-flex">
                    <div class="user-card">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>