<div class="bg-gray-100">
  <div class=" p-8 bg-white shadow-md rounded-lg mt-10">
    <div class="text-2xl font-bold mb-2">Cost Calculator</div>
    <div class="text-gray-500 mb-6">
      You can review the cost and time savings when hiring through Owow.
    </div>
    <form>
      <div class="grid grid-cols-3 gap-6 mb-8">
        <div>
          <label for="role" class="block mb-2 text-sm font-medium text-gray-700">Role</label>
          <select id="role" class="block w-full p-3 border border-gray-300 rounded-lg">
            <option>Role</option>
            <!-- Add other options as needed -->
          </select>
        </div>
        <div>
          <label for="seniority" class="block mb-2 text-sm font-medium text-gray-700">Seniority</label>
          <select id="seniority" class="block w-full p-3 border border-gray-300 rounded-lg">
            <option>Seniority</option>
            <!-- Add other options as needed -->
          </select>
        </div>
        <div>
          <label for="country" class="block mb-2 text-sm font-medium text-gray-700">Country</label>
          <select id="country" class="block w-full p-3 border border-gray-300 rounded-lg">
            <option>USA</option>
            <!-- Add other options as needed -->
          </select>
        </div>
      </div>
      <div class="flex justify-center mb-4">
        <svg class="w-64 h-64" data-slot="icon" fill="none" stroke-width="0.5" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.5 8.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v8.25A2.25 2.25 0 0 0 6 16.5h2.25m8.25-8.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-7.5A2.25 2.25 0 0 1 8.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 0 0-2.25 2.25v6">
          </path>
        </svg>
      </div>
      <div class="text-center text-gray-700">
        Please select above things to take a glimpse of your savings you can do with owow.
      </div>
    </form>
  </div>
  <table class="w-full rounded-2xl border-collapse border border-gray-300">
    <thead>
      <tr class=" bg-white">
        <th class=" p-4 border border-gray-300"></th>
        <th class="p-4 border border-gray-300 flex flex-row justify-center space-x-4">
          <p class="bg-purple-300 text-gray-800 text-center py-2 px-2 rounded-lg">Salary</p>
          <p class="bg-purple-600 text-gray-800 text-center ml-5 py-2 px-2 rounded-lg">Benefits+Indirect Cost</p>
        </th>
        <th class="p-4 border border-gray-300">Employer Cost</th>
        <th class="p-4 border border-gray-300">Time To Hire</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border  font-bold-xl p-5 border-gray-300">
        <td class="p-4 border border-gray-300">
          <div class="flex items-center relative">
            <p class="font-bold-xl">USA</p>
            <div class="ml-2 transform -translate-y-1/2 group">
              <button class="text-gray-500 focus:outline-none">
                <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
              </button>
              <div class="absolute bg-white p-2 left-10 rounded-lg shadow-lg border border-gray-200 opacity-0 group-hover:opacity-100 transition-opacity duration-300 right-0 mt-2 w-72">
                <div class="flex flex-col w-full rounded-md border border-gray-200">
                  <div class="flex justify-between px-4 py-2 bg-gray-200 text-left">
                    <div>Total Employer Cost</div>
                    <div>Salary + Benefits + Indirect Costs</div>
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div class="font-medium">Salary (Wages and Salaries)</div>
                    <div>$171k</div> <!-- Placeholder for actual value -->
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div>Benefits:</div>
                    <div class="pl-8">Legally Required Benefits, Insurance, Paid Leave, Retirement and Savings, Annual Bonus/401K Supplemental Pay, Employment Training</div>
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div>Indirect Cost:</div>
                    <div class="pl-8">Overhead, General & Administrative</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>


        <td class="p-4 border border-gray-300 flex flex-row justify-center items-center">
          <div class="bg-purple-300 text-black font-bold text-center rounded-l-full" style="width: 60%;">
            $171k
          </div>
          <div class="bg-purple-800 text-white font-bold text-center rounded-r-full" style="width: 40%;">
            $130k
          </div>
        </td>
        <td class="p-4 border border-gray-300 text-center">
          $301k
        </td>
        <td class="p-4 border border-gray-300 text-center">
          45-60 days
        </td>
      </tr>
      <tr class="border border-gray-300">
        <td class="p-4 border border-gray-300">
          <div class="flex items-center relative">
            <p class="font-bold-xl">EASWORKS</p>
            <div class="ml-2 transform -translate-y-1/2 group">
              <button class="text-gray-500 focus:outline-none">
                <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
              </button>
              <div class="absolute bg-white p-2 left-10 rounded-lg shadow-lg border border-gray-200 opacity-0 group-hover:opacity-100 transition-opacity duration-300 right-0 mt-2 w-72">
                <div class="flex flex-col w-full rounded-md border border-gray-200">
                  <div class="flex justify-between px-4 py-2 bg-gray-200 text-left">
                    <div>Total Employer Cost</div>
                    <div>Salary + Benefits + Indirect Costs</div>
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div class="font-medium">Salary (Wages and Salaries)</div>
                    <div>$171k</div> <!-- Placeholder for actual value -->
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div>Benefits:</div>
                    <div class="pl-8">Legally Required Benefits, Insurance, Paid Leave, Retirement and Savings, Annual Bonus/401K Supplemental Pay, Employment Training</div>
                  </div>
                  <div class="flex justify-between px-4 py-2 text-gray-700">
                    <div>Indirect Cost:</div>
                    <div class="pl-8">Overhead, General & Administrative</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="p-4 border border-gray-300 flex flex-row justify-center  items-center">
          <div class="w-[30%] flex flex-row justify-center  items-center">

            <div class="bg-purple-300 text-black font-bold text-center rounded-l-full" style="width: 60%;">
              $55k
            </div>
            <div class="bg-purple-800 text-white font-bold text-center rounded-r-full" style="width: 40%;">
              $35k
            </div>
          </div>

        </td>
        <td class="p-4 border border-gray-300 text-center">
          $90k
        </td>
        <td class="p-4 border border-gray-300 text-center">
          30-45 days
        </td>
      </tr>
      <tr class="bg-purple-200">
        <td class="p-4 border border-gray-300" colspan="2">
          <div class="flex items-center">
            <img src="easworks-logo.png" alt="EASWORKS" class="w-6 h-6 mr-2">
            <span>EASWORKS Savings</span>
          </div>
        </td>
        <td class="p-4 border border-gray-300 text-center flex flex-col tems-center space-y-2">
          <span>$211k</span>
          <span class="bg-green-200 text-green-700 rounded-lg py-1 px-2">70% Savings</span>
        </td>
        <td class="p-4 border border-gray-300 text-center tems-center space-y-2">
          <span>15-30 days</span>
          <span class="bg-green-200 text-green-700 rounded-lg py-1 px-2">35% Savings</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>