<!--Step-1-->
<div class="question-steps">
  <h2 class="main-question">{{ getQuestion() }}</h2>
  <div class="form-wizard-answer">
    
    <app-talent-question-select-item [fieldArray]="fieldArray" [isSingleControl]="false"
    (deleteFieldValue)="deleteFieldValue($event)" ></app-talent-question-select-item>

    <ul class="form-wizard-type mt-3 d-flex flex-wrap">
      <li *ngFor="let option of talentOption" (click)="selectOption(option)">
        <a href="javascript:void(0)"> {{option}}</a>
      </li>
    </ul>
  </div>
</div>