<!--Step-1-->
<div class="question-steps" [ngClass]="{'d-none':currentPage!= 2}">
  <h2 class="main-question">Select your Primary Enterprise Application</h2>
  <div class="form-wizard-answer">
    <div class="fw-input-selectlist  mt-4">
      <!--Input-->
      <div class="multi-select-dropdown">
        <ul class="multiselectUlLIst p-0">
          <li class="dropdown-select">
            <label>PST</label>
            <div class="description ml-3">
              <span>- No of Years</span>
              <input type="text" class="w-20">
            </div>
            <div class="description ml-3">
              <span>Expertise</span>
              <input type="text">
            </div>
          </li>
        </ul>
      </div>
      <button type="button" class="clearbtn">
        <i class="icofont-close"></i>
      </button>
      <!--Input-->
    </div>

    <ul class="form-wizard-type mt-3 d-flex flex-wrap">
      <li>
        <a href="javascript:void(0)" >ERP</a>
      </li>
      <li>
        <a href="javascript:void(0)">PLM</a>
      </li>
      <li>
        <a href="javascript:void(0)">BIG DATA</a>
      </li>
      <li>
        <a href="javascript:void(0)">HRM</a>
      </li>
      <li>
        <a href="javascript:void(0)">LMS</a>
      </li>
      <li>
        <a href="javascript:void(0)">CRM</a>
      </li>
      <li>
        <a href="javascript:void(0)">MES</a>
      </li>
      <li>
        <a href="javascript:void(0)">SCM</a>
      </li>
      <li>
        <a href="javascript:void(0)">DW/EDW</a>
      </li>
      <li>
        <a href="javascript:void(0)">ETL</a>
      </li>
      <li>
        <a href="javascript:void(0)">QMS</a>
      </li>
      <li>
        <a href="javascript:void(0)">IOT</a>
      </li>
      <li>
        <a href="javascript:void(0)">MDM</a>
      </li>
      <li>
        <a href="javascript:void(0)">CMS</a>
      </li>
      <li>
        <a href="javascript:void(0)">EAM</a>
      </li>
      <li>
        <a href="javascript:void(0)">DBA</a>
      </li>
      <li>
        <a href="javascript:void(0)">BI</a>
      </li>
      <li>
        <a href="javascript:void(0)">CMS</a>
      </li>
      <li>
        <a href="javascript:void(0)">Custom Application</a>
      </li>
      <li>
        <a href="javascript:void(0)">EAI</a>
      </li>
    </ul>
  </div>
</div>