<div>
    <span> Candidate Name: <b>Neha</b> </span> <span> Date: <b>29-Jan-2020</b> </span>
</div>
<div>
    <span> Assessment Name: <b>Sales Manager</b> </span> <span> Client Name: <b>INSAAS</b> </span>
</div>
<div>
    <p class="bg-light score-paragraph">OVERALL SCORE ANALYSIS</p>
    <section class="score-analysis-section">
        <div>
            <span> Candidate Name: <b>Neha</b> </span> <span> Date: <b>29-Jan-2020</b> </span>
        </div>
        <div>
            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
                [options]="options" [name]="name" [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
        <div>
            <span> Assessment Name: <b>Sales Manager</b> </span> <span> Client Name: <b>INSAAS</b> </span>
        </div>
    </section>
</div>
<div>
    <p class="bg-light score-paragraph">SCORE ANALYSIS</p>
    <section class="score-analysis-section score-analysis">
        <div class="gauge-chart-score">
            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
                [options]="options" [name]="name" [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
        <div class="gauge-chart-score">
            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
                [options]="options" [name]="name" [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
        <div class="gauge-chart-score">
            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
                [options]="options" [name]="name" [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
    </section>
</div>
<div>
    <p class="bg-light score-paragraph">SECTION ANALYSIS</p>
    <section class="score-analysis-section">
        <div>Section 1: <b>Domain Specific</b>-<span>ERP</span></div>
        <div>
            <span>Total Score:</span> <b>2/10</b>
            <span>Negative Points:</span> <b>0</b>
            <span>Time Taken:</span> <b>12 min /12 min</b>
        </div>
        <div>
            <b>Question Analysis:</b>
        </div>
        <div>
            <span>Total Question: <b>6</b></span>
            <span>Correct: <b>2</b></span>
            <span>Wrong: <b>3</b></span>
            <span>Skipped: <b>2</b></span>
            <span>Not Answered: <b>1</b></span>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Skills</th>
                        <th>#Questions</th>
                        <th>Skill Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Domain Specific - </b><span>ERP</span></td>
                        <td>5</td>
                        <td>2/5</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>
</div>