@if (showDynamicItems$()) {
<nav class="public-menu">
  <ul class="grid">
    @for(item of dynamicItems$(); track item) {

    @if (item.children?.length) {
    <li class="has-submenu" #listItem>
      <a class="p-2 px-4 rounded hover:bg-slate-500/10 focus:bg-slate-500/10
                  flex justify-between items-center"
         href="javascript:void(0)" mat-ripple
         (click)="toggleOpen(listItem)">
        <span>{{item.text}}</span>
        <fa-icon [icon]="icons.faAngleDown"></fa-icon>
      </a>
      <ul class="hidden overflow-hidden">
        <li *ngFor="let subItem of item.children">
          <a class="p-2 px-4 pl-8 rounded hover:bg-slate-500/10 focus:bg-slate-500/10
                                  flex justify-between items-center"
             [routerLink]="subItem.link" [fragment]="item.fragment" mat-ripple>
            <span>{{subItem.text}}</span>
          </a>
        </li>
      </ul>
    </li>
    }
    @else {
    <li>
      <a class="p-2 px-4 block rounded hover:bg-slate-500/10 focus:bg-slate-500/10"
         [routerLink]="item.link" [fragment]="item.fragment" mat-ripple>
        {{item.text}}
      </a>
    </li>
    }

    }
  </ul>

</nav>

<mat-divider></mat-divider>
}

<nav>
  <ul>
    @for(item of staticItems; track item) {
    <li>
      <a class="p-2 px-4 block rounded hover:bg-slate-500/10 focus:bg-slate-500/10"
         [routerLink]="item.link">
        <span>{{item.text}}</span>
      </a>
    </li>
    }
  </ul>
</nav>

<mat-divider></mat-divider>

<nav>
  <p class="text-lg m-0">About Us</p>
  <ul class="mt-2">
    @for(item of aboutItems; track item) {
    <li>
      <a class="p-2 px-4 block rounded hover:bg-slate-500/10 focus:bg-slate-500/10"
         [routerLink]="item.link">
        <span>{{item.text}}</span>
      </a>
    </li>
    }
  </ul>
</nav>

<mat-divider></mat-divider>

<div class="text-center">
  <p class="font-bold">Looking for Help or Support?</p>
  <a routerLink="/help-center" class="block mt-2 mx-auto max-w-fit shaded-button primary">Help Center</a>
</div>

<mat-divider></mat-divider>

<div>
  <p>Follow Us</p>
  <div class="flex gap-2">
    @for (item of socialItems; track item) {
    <a class="icon-button" [routerLink]="item.link" mat-ripple>
      <fa-icon [icon]="item.icon!"></fa-icon>
    </a>
    }
  </div>
</div>