<section class="page mx-auto py-12">
  <div>
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mx-auto">
      Process <span class="text-primary-500"> /Methodology</span>
    </h2>
  </div>

  <div class="grid mt-12 gap-y-7 mx-auto justify-center grid-cols-1 4xl:grid-cols-2 5xl:grid-cols-2 6xl:grid-cols-5">
    <div>
      <div class="h-[300px] bg-no-repeat relative bg-center bg-contain bg1">
        <div class="absolute flex justify-center items-center w-full h-full">
          <img src="../../../../assets/public/use-cases/prototyping/process/ic1.svg" alt="Icon 1" />
        </div>
      </div>

      <div class="text-center">
        <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Requirements <br />
          Gathering</h6>
        <p class="mb-0">Identify and document <br />
          business needs.</p>
      </div>
    </div>
    <div>
      <div class="h-[300px] bg-no-repeat relative bg-center bg-contain bg2">
        <div class="absolute flex justify-center items-center w-full h-full">
          <img src="../../../../assets/public/use-cases/prototyping/process/ic2.svg" alt="Icon 1" />
        </div>
      </div>

      <div class="text-center">
        <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Conceptualization</h6>
        <p class="mb-0">Create initial design <br />
          and mockups.</p>
      </div>
    </div>
    <div>
      <div class="h-[300px] bg-no-repeat relative bg-center bg-contain bg3">
        <div class="absolute flex justify-center items-center w-full h-full">
          <img src="../../../../assets/public/use-cases/prototyping/process/ic3.svg" alt="Icon 1" />
        </div>
      </div>

      <div class="text-center">
        <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Iterative <br />
          Development</h6>
        <p class="mb-0">Develop prototypes <br />
          in iterative cycles.</p>
      </div>
    </div>
    <div>
      <div class="h-[300px] bg-no-repeat relative bg-center bg-contain bg4">
        <div class="absolute flex justify-center items-center w-full h-full">
          <img src="../../../../assets/public/use-cases/prototyping/process/ic4.svg" alt="Icon 1" />
        </div>
      </div>

      <div class="text-center">
        <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">UX Design</h6>
        <p class="mb-0">Enhance user interface <br />
          and experience.</p>
      </div>
    </div>
    <div>
      <div class="h-[300px] bg-no-repeat relative bg-center bg-contain bg5">
        <div class="absolute flex justify-center items-center w-full h-full">
          <img src="../../../../assets/public/use-cases/prototyping/process/ic5.svg" alt="Icon 1" />
        </div>
      </div>

      <div class="text-center">
        <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Functional <br />
          Demonstration</h6>
        <p class="mb-0">Present functional
          <br />
          prototypes for
          feedback
        </p>
      </div>
    </div>
  </div>
</section>