<!-- FAQ section start -->
<section class="page py-18 relative">
  <div class="4xl:p-12 p-8 bg-secondary-100 rounded-2xl">
    <div class="font-bold 4xl:text-5xl transition-all text-xl 2xl:text-2xl text-black">
      FAQ
      <img src="/assets/public/hire-contractors/faq/title-border.png" alt="Border Image" />
    </div>

    <p class="font-bold text-3xl mt-3 mb-0.5">Answers to questions about</p>
    <p class="font-bold mb-5 text-3xl">
      how Scalable Path engages with clients.
    </p>

    <mat-accordion>
      <!-- Question Panel 1 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 1 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">1.</div>
                <div>
                  What is EASWORKS's process to hire an ERP Solution Architect ?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5">Lorem Ipsum</p>
      </mat-expansion-panel>


      <!-- Question Panel 2 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 2 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">2.</div>
                <div>
                  What is the cost of hiring an ERP Solution Architect through EASWORKS?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5">Lorem Ipsum</p>
      </mat-expansion-panel>

      <!-- Question Panel 3 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 3 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">3.</div>
                <div>
                  How soon can I expect to start working with an ERP Solution Architect ?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5"> Lorem Ipsum</p>
      </mat-expansion-panel>

      <!-- Question Panel 4 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 4 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">4.</div>
                <div>
                  How does EASWORKS match you with the right ERP Solution
                  Architect talent?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5"> Lorem Ipusm</p>
      </mat-expansion-panel>

      <!-- Question Panel 5 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 5 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">5.</div>
                <div>
                  What are the payment terms for an ERP Solution Architect ?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5">Lorem Ipsum</p>
      </mat-expansion-panel>

      <!-- Question Panel 6 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 6 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">6.</div>
                <div>
                  Are there any extra charges for an ERP Solution Architect ?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" />
          </div>
        </mat-expansion-panel-header>
        <p class="p-5">Lorem Ipusm</p>
      </mat-expansion-panel>

      <!-- Question Panel 7 -->
      <mat-expansion-panel class="!shadow-none !bg-transparent" (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header
          class="!shadow-none !bg-transparent w-full !px-0 !font-normal !5xl:text-2xl !text-sm">
          <!-- Question 7 -->
          <div class="pt-6 5xl:text-2xl text-sm w-full">
            <div class="flex items-center justify-between question">
              <div class="flex items-center text-secondary-600">
                <div class="me-5">7.</div>
                <div>
                  What support does EASWORKS provide during the engagement with
                  an ERP
                  Solution
                  Architect ?
                </div>
              </div>
              <div>
                <img src="/assets/public/hire-contractors/faq/q-title.svg" alt="Arrow Image" />
              </div>
            </div>

            <!-- <img src="/assets/public/hire-contractors/faq/q-btm-img.svg" class="mt-6 w-full"
              alt="Border Bottom Image" /> -->
          </div>
        </mat-expansion-panel-header>
        <p class="p-5">Lorem Ipusm</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</section>
<!-- FAQ section end -->