<section class="page max-w-full">
  <div class="bg-center bg-no-repeat centred-bg py-12">
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto"
    >
      Detailed <span class="text-primary-500"> Services</span>
    </h2>

    <div
      class="grid 6xl:grid-cols-5 5xl:grid-cols-4 3xl:grid-cols-3 xl:grid-cols-2 mt-12 gap-y-5 w-11/12 mx-auto"
    >
      <div class="relative 6xl:mt-20">
        <img
          src="/assets/public/use-cases/modernization/details/bg-img1.png"
          alt="Image not found"
          class="w-fit block mx-auto"
        />

        <div class="w-56 mx-auto text-center">
          <h5 class="7xl:text-2xl text-xl font-bold text-primary-500 mt-2 mb-1">
            Assessment
          </h5>
          <p class="!leading-5 2xl:text-base text-sm">
            Evaluate and identify improvement areas.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/modernization/details/assessment.svg"
          alt="Assessment"
          class="absolute top-20 left-2/4 -translate-x-2/4"
        />
      </div>

      <div class="relative">
        <img
          src="/assets/public/use-cases/modernization/details/bg-img2.png"
          alt="Image not found"
          class="w-fit block mx-auto"
        />

        <div class="w-56 mx-auto text-center">
          <h5 class="7xl:text-2xl text-xl font-bold text-primary-500 mt-2 mb-1">
            Strategic Planning
          </h5>
          <p class="!leading-5 2xl:text-base text-sm">
            Develop a modernization strategy.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/modernization/details/strategy.svg"
          alt="Strategic "
          class="absolute top-20 left-2/4 -translate-x-2/4"
        />
      </div>

      <div class="relative 6xl:mt-20">
        <img
          src="/assets/public/use-cases/modernization/details/bg-img3.png"
          alt="Image not found"
          class="w-fit block mx-auto"
        />

        <div class="w-56 mx-auto text-center">
          <h5 class="7xl:text-2xl text-xl font-bold text-primary-500 mt-2 mb-1">
            Migration and Upgrades
          </h5>
          <p class="!leading-5 2xl:text-base text-sm">
            Transition to modern platforms.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/modernization/details/migration.svg"
          alt="Migration and
          Upgrades"
          class="absolute top-20 left-2/4 -translate-x-2/4"
        />
      </div>

      <div class="relative">
        <img
          src="/assets/public/use-cases/modernization/details/bg-img4.png"
          alt="Image not found"
          class="w-fit block mx-auto"
        />

        <div class="w-56 mx-auto text-center">
          <h5 class="7xl:text-2xl text-xl font-bold text-primary-500 mt-2 mb-1">
            UI/UX Enhancements
          </h5>
          <p class="!leading-5 2xl:text-base text-sm">
            Update interfaces for better usability.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/modernization/details/ui-ux.svg"
          alt="UI/UX Enhancements"
          class="absolute top-20 left-2/4 -translate-x-2/4"
        />
      </div>

      <div class="relative 6xl:mt-20">
        <img
          src="/assets/public/use-cases/modernization/details/bg-img5.png"
          alt="Image not found"
          class="w-fit block mx-auto"
        />

        <div class="w-56 mx-auto text-center">
          <h5 class="7xl:text-2xl text-xl font-bold text-primary-500 mt-2 mb-1">
            Testing and Quality Assurance
          </h5>
          <p class="!leading-5 2xl:text-base text-sm">
            Ensure compatibility and performance.
          </p>
        </div>

        <img
          src="/assets/public/use-cases/modernization/details/assurance.svg"
          alt="Testing and Quality
          Assurance"
          class="absolute top-20 left-2/4 -translate-x-2/4"
        />
      </div>
    </div>
  </div>
</section>
