<section class="page max-w-full bg-white">
  <h2
    class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10">
    Overview <span class="text-primary-500"> EASWORKS</span>
  </h2>
  <div class="flex items-center justify-center 7xl:flex-row flex-col 7xl:gap-0 gap-5 7xl:pe-9">
    <div class="flex items-center">
      <div class="xl:w-96 sm:w-80 w-72 flex items-center justify-center h-full">
        <div class="text-center 3xl:translate-x-24">
          <h4 class="5xl:text-3xl 2xl:text-2xl text-xl text-primary-500 font-bold px-10">
            At EASWORKS,
          </h4>
          <p class="text-lg text-gray-600">
            we connect you with top talent who can provide expert consultancy
            services to optimize your enterprise applications. Our consultants
            deliver strategic insights and solutions to enhance your systems.
          </p>
        </div>
      </div>
      <img src="/assets/public/use-cases/system-integration/overview/shape-img.png" alt="" class="block" />
    </div>

    <div class="grid gap-10">
      <div class="flex items-center 7xl:-translate-x-20">
        <img src="/assets/public/use-cases/system-integration/overview/ic-connector.svg" alt=""
          class="7xl:block hidden" />
        <div class="flex items-center">
          <div class="ps-2 w-fit">
            <img src="/assets/public/use-cases/system-integration/overview/seprator.png"
              alt="Seprator icon" />
          </div>

          <div class="bg-gray-50 p-6 rounded-lg">
            <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">
              Operational <br />
              Efficiency
            </h5>

            <p class="text-xl text-gray-600">Streamline workflows.</p>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <img src="/assets/public/use-cases/system-integration/overview/ic-connector2.svg" alt=""
          class="7xl:block hidden" />
        <div class="flex items-center">
          <div class="ps-2 w-fit">
            <img src="/assets/public/use-cases/system-integration/overview/seprator2.png"
              alt="Seprator icon" />
          </div>

          <div class="bg-gray-50 p-6 rounded-lg">
            <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">
              Data Accuracy
            </h5>

            <p class="text-xl text-gray-600">Reduce errors with <br />
              synchronized data.</p>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <img src="/assets/public/use-cases/system-integration/overview/ic-connector.svg" alt=""
          class="7xl:block hidden" />
        <div class="flex items-center">
          <div class="ps-2 w-fit">
            <img src="/assets/public/use-cases/system-integration/overview/seprator.png"
              alt="Seprator icon" />
          </div>

          <div class="bg-gray-50 p-6 rounded-lg">
            <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">
              Cost Savings
            </h5>

            <p class="text-xl text-gray-600">Lower IT and <br />
              operational costs.</p>
          </div>
        </div>
      </div>

      <div class="flex items-center 7xl:-translate-x-20">
        <img src="/assets/public/use-cases/system-integration/overview/ic-connector2.svg" alt=""
          class="7xl:block hidden" />
        <div class="flex items-center">
          <div class="ps-2 w-fit">
            <img src="/assets/public/use-cases/system-integration/overview/seprator2.png"
              alt="Seprator icon" />
          </div>

          <div class="bg-gray-50 p-6 rounded-lg">
            <h5 class="5xl:text-3xl 3xl:text-2xl text-xl font-bold text-primary-500">
              Scalability
            </h5>

            <p class="text-xl text-gray-600">Ensure integrated <br />
              systems grow <br />
              with your business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>