<section class="relative w-full h-full z-10 pb-10 bg-white">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="w-full h-full" src="../../assets/img/building.jpg" alt="">
    </div>
    <div class="lg:px-10 px-4 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 relative">
            <div>
                <h3 class="text-4xl font-bold leading-[50px]">
                    Connecting Enterprise Application <span class="text-primary">Talent with Opportunity</span>
                </h3>
                <p class="my-4 text-base font-normal">We bridge the top Enterprise Application talent out there with a
                    world of opportunity.</p>

                <p class="my-4 text-base font-normal">Our mission at EASWORKS is to build the world's first Enterprise
                    Application talent network that connects innovative companies with highly skilled enterprise
                    application engineers like yourself.</p>

                <p class="my-4 text-base font-normal">As an EASWORKS member, you get unlimited access to our in-house
                    support and global community to grow your career with one of our flexible engagement models.</p>

                <div class="flex mt-[45px] gap-4">
                    <button class="highlight-button primary">Apply As Freelancer</button>
                </div>
            </div>
            <div><lottie-player src="https://assets1.lottiefiles.com/packages/lf20_gm0l0bbp.json"
                    background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</section>

<section class="py-[60px]">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">Why join the <span class="text-primary">EASWORKS network</span></h2>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center">
            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/5bf7837c-438a-4a4e-a94d-7a36e8b9562a/cMaf4XaF50.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We see the person and the engineer.</h4>
                <p class="text-sm leading-6">You are more than your resume and deserve a dedicated Enterprise
                    Application Platform to share your skills and do what you love.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/3a6e85a5-efa3-4b74-8850-f8595245abd1/gfULmGWGsu.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">Grow your client base</h4>
                <p class="text-sm leading-6">We give you the ideal platform to build a client base without too much
                    effort so that you can form long-lasting professional relationships in the enterprise software
                    field.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We match your paycheck with your experience and skill set.</h4>
                <p class="text-sm leading-6">Find the right opportunity at a salary that reflects your expertise and
                    skills, with room for additional benefits via Deel.</p>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center lg:pt-10">
            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/5bf7837c-438a-4a4e-a94d-7a36e8b9562a/cMaf4XaF50.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We work with you.</h4>
                <p class="text-sm leading-6">We believe in working with each other and not for each other. We work with
                    you to identify the client role with the best overall fit, catering to your work schedule, tech
                    stacks, and team dynamics among other factors.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/3a6e85a5-efa3-4b74-8850-f8595245abd1/gfULmGWGsu.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">You’ll never get bored.</h4>
                <p class="text-sm leading-6">We work with innovative companies around the world and match our
                    consultants with enterprise projects they're passionate about.</p>
            </div>

            <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
                <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
                    <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                        background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                        autoplay></lottie-player>
                </div>
                <h4 class="text-lg font-semibold my-5">We value our freelancers and clients equally.</h4>
                <p class="text-sm leading-6">We give our freelancers full transparency around the vetting and hiring
                    process to ensure all parties are on the same page when it comes to how we work.</p>
            </div>
        </div>

        <div class="flex justify-center mt-10 text-center">
            <button class="highlight-button primary mt-5">Apply to Join</button>
        </div>

    </div>
</section>

<section class="py-[60px] bg-white">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">Getting started is <span class="text-primary">simple & easy!</span></h2>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
            <div>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tzqodrys.json"
                    background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                <div class="flex justify-center mt-10 text-center">
                    <button class="highlight-button primary mt-5">Apply to Join</button>
                </div>
            </div>
            <div class="relative">
                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">01</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">CREATE AN ENTERPRISE APPLICATION TALENT
                                    PROFILE</h4>
                                <p class="text-[13px] pb-[8px]">Opportunity to work with elite global clients on
                                    Enterprise Application projects. </p>
                                <p class="text-[13px] pb-[8px]">Complete & accurate profile will help you to apply for
                                    more jobs</p>
                                <p class="text-[13px] pb-[8px]">Honestly assess your skills for suitability</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">02</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">WE INVITE YOU TO ENTERPRISE APPLICATION
                                    PROJECTS</h4>
                                <p class="text-[13px] pb-[8px]">Invitation by us to apply for a job that matches your
                                    Enterprise Application skill set.</p>
                                <p class="text-[13px] pb-[8px]">All the profiles will be screened for each opportunity.
                                </p>
                                <p class="text-[13px] pb-[8px]">Criteria to invite you will be based on skill set, time
                                    zone and your availability.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">03</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">APPLY TO PROJECTS</h4>
                                <p class="text-[13px] pb-[8px]">You always have the choice to apply for a job or accept
                                    one that you’ve been invited to.</p>
                                <p class="text-[13px] pb-[8px]">Based on the role & opportunity, you will need to answer
                                    a few questions to help the client arrange interviews.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">04</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">INTERVIEWS</h4>
                                <p class="text-[13px] pb-[8px]">Potential Enterprise Application candidates will go
                                    through a three-part interview (Suitability/Assessment/Technical/Client Interview)
                                </p>
                                <p class="text-[13px] pb-[8px]">The Suitability Assessment & Technical will be conducted
                                    by us.</p>
                                <p class="text-[13px] pb-[8px]">The most promising Enterprise Application candidate who
                                    passes the Suitability Assessment/Technical Interview will be presented to the
                                    client</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">05</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">WORK DIRECTLY</h4>
                                <p class="text-[13px] pb-[8px]">If you pass the client interview, you will work directly
                                    with elite global clients</p>
                                <p class="text-[13px] pb-[8px]">You will be part of the client's remote team and have
                                    the opportunity to work with their team & managers based on one of our 3 engagement
                                    models.</p>
                                <p class="text-[13px] pb-[8px]">You will submit weekly timesheets and receive payments
                                    from EASWORKS on a monthly basis.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex bg-white shadow-lg rounded-md mb-4">
                    <div class="p-4">
                        <div class="flex flex-row">
                            <div class="pr-4">
                                <span
                                    class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary text-white">06</span>
                            </div>
                            <div>
                                <h4 class="text-[16px] font-bold pb-[3px]">BE A PART OF OUR ENTERPRISE APPLICATION
                                    TALENT COMMUNITY</h4>
                                <p class="text-[13px] pb-[8px]">Engagement with the client team, you become part of
                                    EASWORKS, and you will be provided with the support of our community.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-[60px]">
    <div class="page">
        <div class="w-100">
            <h2 class="text-[1.25em] font-bold mb-5">ERP Ops - ERP Operations And Services (ERP Ops)
            </h2>
            <ul class="flex gap-2 items-center mb-3 flex-wrap">
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    <img src="https://eas-works.onrender.com//images/sap.png" alt="">
                </li>
                <li
                    class="bg-white border border-dashed border-primary flex flex-col gap-1 items-center justify-center p-1 relative rounded-md shadow-md text-[12px] text-center w-[130px]">
                    <i class="fa-solid fa-gear"></i>
                    Custom ERP Ops / Legacy Application
                </li>
            </ul>
            <div class="flex items-center justify-end">
                <a href="#" class="text-primary">+ See more ERP Ops skills </a>
            </div>
        </div>


        <div class="w-100">
            <h2 class="text-[1.25em] font-bold mb-5">Based on your career trajectory</h2>
            <ul class="flex gap-2 items-center mb-3 flex-wrap">
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    ERP Consultant
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    PLM Consultant
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    CRM Consultant
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Enterprise Architect
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    QMS Consultant
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Solution Architect
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Implementation Consultant
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Delivery Manager
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Software Engineer
                </li>
                <li
                    class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
                    Software Architect
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="py-[60px] bg-white">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">EASWORKS IS TWO WAY STREET - You Still Get to Choose</h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 relative">
            <div class="relative">
                <p class="my-4 text-base font-normal leading-8">We will only offer you Enterprise projects that match
                    your application expertise, tech stack, experience, and availability but you will always have the
                    last word for whatever and we truly know that you are more than just Resume. </p>
                <ul class="leading-9">
                    <li><i class="fa-solid fa-check"></i> The Enterprise task/project doesn't seem challenging enough?
                    </li>
                    <li><i class="fa-solid fa-check"></i> Didn't click with the client? </li>
                    <li><i class="fa-solid fa-check"></i> Expection is higher for the compensation paid?</li>
                </ul>
            </div>
            <div>
                <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_y8pfhcd0.json"
                    background="transparent" speed="1" style="width: 100%; height: 250px" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</section>

<section class="py-[60px]">
    <div class="page">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">Contractor FAQ </h2>
        </div>
        <div class="m-2 space-y-2">
            <div class="text-left mb-4">
                <h2 class="text-[1.563em] font-bold">Overview </h2>
            </div>

            <mat-accordion class="flex flex-col gap-4">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            Self aware panel
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black">EASWORK talent is another term for “freelancer.”
                        EASWORKS may interchangeably use the terms “freelance,” “EAS talent,” or “Expert” or
                        “contractor” or “consultant “ to describe the members of our EAS Talent Network. An Expert is an
                        individual that is skilled in one or more of our work categories. Experts perform specific tasks
                        related to work assignments for specific client. EAS Talent work with the Customer to agree upon
                        weekly or monthly deliverables and set expectations. EAS talent contracts generally track their
                        time hourly for each client and work closely with EASWORKS Customer success manager.</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            How do I join EASWORKS as a contractor?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black">Fill out the application at EASWORKS.com/join. Once we
                        have reviewed your application, Based on opportunity, we hand-select the most appropriate
                        candidates for each EAS project opportunity according to their professional skills, experience,
                        domain expertise and availability. Once you have been invited to a enterprise application role,
                        you will receive a link that allows you to apply for the position.</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            How does EASWORKS helps Enterprise Application Talent like you?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black pb-4">EASWORKS is platform for Enterprise Application
                        Tech
                        Talent and employers and its primary goal is to find you an Enterprise Application job you’ll
                        love. </p>

                    <p class="text-[16px] leading-8 text-black"> In addition to this goal, we have resources to help you
                        get there such as helpful articles in
                        the EASWORKS blog on interview tips as well as technical assessments to help you prove your
                        skills, and showcase your domain expertise and scores to employers who will interview you (and
                        make job offers), at a higher rate.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            If I complete my profile, how will EASWORKS use it?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black">First, a complete and approved profile is required in
                        order to be selected for any upcoming opportunities. That means that if you're looking for an
                        EAS job opportunity any time soon, it's a good idea to complete it in advance. Once complete,
                        our Technical team will reach out to schedule a profile approval meeting.</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            How do I apply for a position?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black pb-4">Once you’ve completed your profile & approved on
                        our platform and mark your status as "Actively looking for new jobs", we will actively promote
                        your profile to clients and your eligible to Apply for EAS job opportunities which will be
                        shared to you.

                    </p>
                    <p class="text-[16px] leading-8 text-black">We use your profile as a universal job application to
                        save, As soon as we have found any opportunity that fits your EAS skills, we will contact you to
                        see if you are interested. The vetting process begins after you have applied for the role by
                        answering a set of questions specific to the position along with work skill assessment.

                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            Who is a Customer Success Manager?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black">Our Customer Success Managers (CSM) work as the main
                        point of contact for both Customers and EAS Talent. CSMs are core team of EASWORKS who work with
                        EAS Talent and Customers to ensure projects, Customers, and EAS Talent are successful. </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    class="rounded-none bg-white text-black transition-all">
                    <mat-expansion-panel-header
                        class="h-[60px] flex cursor-pointer items-center bg-white p-5 justify-between hover:text-black">
                        <mat-panel-title class="text-[18px]">
                            Can I contact EASWORKS clients directly?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-[16px] leading-8 text-black pb-4">Here are some guidelines to be followed during
                        different engagement phase cycle:</p>
                    <p class="text-[16px] leading-8 text-black pb-4"><strong>When applying for New job role.</strong>
                        All communication with clients is handled by EASWORKS until you're selected to interview with
                        the client.</p>
                    <p class="text-[16px] leading-8 text-black pb-4"><strong>After an interview</strong>
                        When you sign on as a EASWORKS talent, you agree that you won't contact EASWORKS clients outside
                        of the platform until you begin working together. We ask that you don't message them on any
                        social platforms.</p>

                        <p class="text-[16px] leading-8 text-black pb-4"><strong>While working on an engagement</strong>Once a contract is in place, clients will determine how they'd like the work to unfold. You'll be put in touch directly with the client, and you'll be using one of the project collaboration tools preferably SLACK and you would align to that specific project cadence .</p>

                        <p class="text-[16px] leading-8 text-black pb-0"><strong>After an engagement</strong>Before working with you on the EASWORKS platform, clients sign a two-year non-solicitation agreement. If they're interested in working with you again after the initial engagement has ended, they'll reach out via EASWORKS, and we'll spin another engagement back up if you're interested and available. You're totally welcome to keep a professional relationship with your past EASWORKS clients, knowing that they've committed to a two-year non-solicitation</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</section>

<section class="py-[60px] relative z-10 bg-[#494b4e]">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="w-full h-full" src="../../assets/img/map.jpeg" alt="">
    </div>
    <div class="page">
        <div class="grid grid-cols-1 items-center relative">
            <h2 class="text-[26px] leading-[40px] text-white text-center">No problem, we'll try to get you a better one which excites you!</h2>
            

            <div class="flex justify-center mt-8 text-center">
                <button class="shaded-button primary">Apply to join</button>
            </div>
        </div>
    </div>
</section>