<section class="relative w-full h-full z-10 pb-10 bg-white">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="w-full h-full" src="../../assets/img/building.jpg" alt="">
  </div>
  <div class="lg:px-10 px-4 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 relative">
      <div>
        <h3 class="text-4xl font-bold leading-[50px]">
          Connecting Enterprise Application <span class="text-primary-500">Talent with Opportunity</span>
        </h3>
        <p class="my-4 text-base font-normal">We bridge the top Enterprise Application talent out there with a
          world of opportunity.</p>

        <p class="my-4 text-base font-normal">Our mission at EASWORKS is to build the world's first Enterprise
          Application talent network that connects innovative companies with highly skilled enterprise
          application engineers like yourself.</p>

        <p class="my-4 text-base font-normal">As an EASWORKS member, you get unlimited access to our in-house
          support and global community to grow your career with one of our flexible engagement models.</p>

        <div class="flex mt-[45px] gap-4">
          <button class="highlight-button primary">Apply As Freelancer</button>
        </div>
      </div>
      <div><lottie-player src="https://assets1.lottiefiles.com/packages/lf20_gm0l0bbp.json" background="transparent"
                       speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">Why join the <span class="text-primary-500">EASWORKS network</span></h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center">
      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_xoih8e2r.json" background="transparent"
                         speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">We see the person and the engineer.</h4>
        <p class="text-sm leading-6">You are more than your resume and deserve a dedicated Enterprise
          Application Platform to share your skills and do what you love.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_4ufjcjnn.json" background="transparent"
                         speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Grow your client base</h4>
        <p class="text-sm leading-6">We give you the ideal platform to build a client base without too much
          effort so that you can form long-lasting professional relationships in the enterprise software
          field.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ssmd5ixl.json" background="transparent"
                         speed="1" style="width: 100%; height: 100%;" loop autoplay>
          </lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">We match your paycheck with your experience and skill set.</h4>
        <p class="text-sm leading-6">Find the right opportunity at a salary that reflects your expertise and
          skills, with room for additional benefits via Deel.</p>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 items-center lg:pt-10">
      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_mlfv646z.json" background="transparent"
                         speed="1" style="width: 100%; height: 100px;" loop autoplay>
          </lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">We work with you.</h4>
        <p class="text-sm leading-6">We believe in working with each other and not for each other. We work with
          you to identify the client role with the best overall fit, catering to your work schedule, tech
          stacks, and team dynamics among other factors.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_6ln47dih.json" background="transparent"
                         speed="1" style="width: 100%; height: 100px;" loop autoplay>
          </lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">You’ll never get bored.</h4>
        <p class="text-sm leading-6">We work with innovative companies around the world and match our
          consultants with enterprise projects they're passionate about.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-10 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_eqez4yrv.json" background="transparent"
                         speed="1" style="width: 100%; height: 100px;" loop autoplay>
          </lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">We value our freelancers and clients equally.</h4>
        <p class="text-sm leading-6">We give our freelancers full transparency around the vetting and hiring
          process to ensure all parties are on the same page when it comes to how we work.</p>
      </div>
    </div>

    <div class="flex justify-center mt-10 text-center">
      <button class="highlight-button primary mt-5">Apply to Join</button>
    </div>

  </div>
</section>

<section class="py-[60px] bg-white">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">Getting started is <span class="text-primary-500">simple & easy!</span></h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
      <div>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tzqodrys.json" background="transparent"
                       speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        <div class="flex justify-center mt-10 text-center">
          <button class="highlight-button primary mt-5">Apply to Join</button>
        </div>
      </div>
      <div class="relative">
        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">01</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">CREATE AN ENTERPRISE APPLICATION TALENT
                  PROFILE</h4>
                <p class="text-[13px] pb-[8px]">Opportunity to work with elite global clients on
                  Enterprise Application projects. </p>
                <p class="text-[13px] pb-[8px]">Complete & accurate profile will help you to apply for
                  more jobs</p>
                <p class="text-[13px] pb-[8px]">Honestly assess your skills for suitability</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">02</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">WE INVITE YOU TO ENTERPRISE APPLICATION
                  PROJECTS</h4>
                <p class="text-[13px] pb-[8px]">Invitation by us to apply for a job that matches your
                  Enterprise Application skill set.</p>
                <p class="text-[13px] pb-[8px]">All the profiles will be screened for each opportunity.
                </p>
                <p class="text-[13px] pb-[8px]">Criteria to invite you will be based on skill set, time
                  zone and your availability.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">03</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">APPLY TO PROJECTS</h4>
                <p class="text-[13px] pb-[8px]">You always have the choice to apply for a job or accept
                  one that you’ve been invited to.</p>
                <p class="text-[13px] pb-[8px]">Based on the role & opportunity, you will need to answer
                  a few questions to help the client arrange interviews.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">04</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">INTERVIEWS</h4>
                <p class="text-[13px] pb-[8px]">Potential Enterprise Application candidates will go
                  through a three-part interview (Suitability/Assessment/Technical/Client Interview)
                </p>
                <p class="text-[13px] pb-[8px]">The Suitability Assessment & Technical will be conducted
                  by us.</p>
                <p class="text-[13px] pb-[8px]">The most promising Enterprise Application candidate who
                  passes the Suitability Assessment/Technical Interview will be presented to the
                  client</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">05</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">WORK DIRECTLY</h4>
                <p class="text-[13px] pb-[8px]">If you pass the client interview, you will work directly
                  with elite global clients</p>
                <p class="text-[13px] pb-[8px]">You will be part of the client's remote team and have
                  the opportunity to work with their team & managers based on one of our 3 engagement
                  models.</p>
                <p class="text-[13px] pb-[8px]">You will submit weekly timesheets and receive payments
                  from EASWORKS on a monthly basis.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative flex bg-white shadow-lg rounded-md mb-4">
          <div class="p-4">
            <div class="flex flex-row">
              <div class="pr-4">
                <span
                      class="w-[45px] h-[45px] flex items-center justify-center rounded-full text-[22px] font-bold bg-primary-500 text-white">06</span>
              </div>
              <div>
                <h4 class="text-[16px] font-bold pb-[3px]">BE A PART OF OUR ENTERPRISE APPLICATION
                  TALENT COMMUNITY</h4>
                <p class="text-[13px] pb-[8px]">Engagement with the client team, you become part of
                  EASWORKS, and you will be provided with the support of our community.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="page py-12 grid gap-8">
    <featured-domains></featured-domains>
  </div>

</section>

<section class="py-[60px] bg-white">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">EASWORKS IS TWO WAY STREET - You Still Get to Choose</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 relative">
      <div class="relative">
        <p class="my-4 text-base font-normal leading-8">We will only offer you Enterprise projects that match
          your application expertise, tech stack, experience, and availability but you will always have the
          last word for whatever and we truly know that you are more than just Resume. </p>
        <ul class="leading-9">
          <li><i class="fa-solid fa-check"></i> The Enterprise task/project doesn't seem challenging enough?
          </li>
          <li><i class="fa-solid fa-check"></i> Didn't click with the client? </li>
          <li><i class="fa-solid fa-check"></i> Expection is higher for the compensation paid?</li>
        </ul>
      </div>
      <div>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_y8pfhcd0.json" background="transparent"
                       speed="1" style="width: 100%; height: 250px" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="page">
    <h2 class="text-4xl font-bold">FAQs</h2>
    <p class="text-gray-500 mt-2">Answers to frequently asked questions from EASWORKS freelancers</p>
    <div *ngFor="let group of faqs$()">
      <h3 class="text-left mt-8 text-2xl font-bold">{{group.name}}</h3>
      <faq-list [faqs]="group.items" class="mt-4"></faq-list>
    </div>
  </div>
</section>

<section class="py-[60px] relative z-10 bg-[#494b4e]">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="w-full h-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page">
    <div class="grid grid-cols-1 items-center relative">
      <h2 class="text-[26px] leading-[40px] text-white text-center">No problem, we'll try to get you a better one which
        excites you!</h2>


      <div class="flex justify-center mt-8 text-center">
        <button class="shaded-button primary">Apply to join</button>
      </div>
    </div>
  </div>
</section>