<div class=" p-6 space-y-20">
    <div class=" flex flex-col space-y-4">
        <div class=" flex flex-row w-full items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold  transition-all">
                    Core Technical Skill
                </h2>
               
            </div>
            <div>
                <button class="   px-3 py-1 bg-purple-300 rounded-lg text-sm border-2 border-purple-400">
                    Update Core Skill
                </button>
               
            </div>
        
        </div>
        <div class=" flex flex-wrap space-x-4">
            <div class="   px-3 py-1 bg-white rounded-lg text-sm border-2 border-purple-200">
                Angular js
            </div>
            <div class="   px-3 py-1 bg-white rounded-lg text-sm border-2 border-purple-200">
                react js
            </div>
        </div>
    </div>

    <div class=" flex flex-col space-y-4">
        <div class=" flex flex-row w-full items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold  transition-all">
                    Additional Skill
                </h2>
               
            </div>
            <div>
                <button class="  px-3 py-1 bg-purple-300 rounded-lg text-sm border-2 border-purple-400">
                    Update Skill
                </button>
               
            </div>
        
        </div>
        <div class=" flex flex-wrap space-x-4">
            <div class="  px-3 py-1 bg-white rounded-xl text-sm border-2 border-purple-200">
                Ruby & Rail
            </div>
        </div>
    </div>

    <div class=" flex flex-col space-y-4">
        <div class=" flex flex-row w-full items-center justify-between">
            <div>
                <h2 class="text-lg font-semibold  transition-all">
                    Experience
                </h2>
               
            </div>
            <div>
                <button class="   px-3 py-1 bg-purple-300 rounded-lg text-sm border-2 border-purple-400">
                    Add
                </button>
               
            </div>
        
        </div>
        <div class=" flex flex-wrap space-x-4">
    <div
		class="w-3/5 bg-gray-50 rounded-lg shadow-sm p-5 border-b  border-gray-300 flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0">
		<div class="flex flex-col sm:flex-row justify-start items-center gap-4">
			<div class="bg-blue-200 flex p-2 rounded-full"><svg xmlns="http://www.w3.org/2000/svg"
					class="h-12 w-12 text-blue-500" viewBox="0 0 20 20" fill="#8b8b8b">
					<path fill-rule="evenodd"
						d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
						clip-rule="evenodd"></path>
				</svg>
            </div>
			<div class="text-center sm:text-left">
				<div class=" flex flex-row space-x-3">
                    <h1 class="text-gray-700 font-normal tracking-wider">Frontend</h1>
                    <div class=" w-5 h-5 text-gray-600">
                        <svg viewBox="0 0 24 24" fill="#8b8b8b" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 12V17" stroke="#8b8b8b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </div>

                    <div class=" w-5 h-5">
                        <svg viewBox="0 0 24 24" fill="#8b8b8b" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Edit / Edit_Pencil_Line_01"> <path id="Vector" d="M4 20.0001H20M4 20.0001V16.0001L12 8.00012M4 20.0001L8 20.0001L16 12.0001M12 8.00012L14.8686 5.13146L14.8704 5.12976C15.2652 4.73488 15.463 4.53709 15.691 4.46301C15.8919 4.39775 16.1082 4.39775 16.3091 4.46301C16.5369 4.53704 16.7345 4.7346 17.1288 5.12892L18.8686 6.86872C19.2646 7.26474 19.4627 7.46284 19.5369 7.69117C19.6022 7.89201 19.6021 8.10835 19.5369 8.3092C19.4628 8.53736 19.265 8.73516 18.8695 9.13061L18.8686 9.13146L16 12.0001M12 8.00012L16 12.0001" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                    </div>

                </div>
				<p class="text-gray-500 text-xs">angular</p>
			</div>
		</div>
		<div class=" flex flex-col">
            <div class=" flex flex-row space-x-2 text-xs text-gray-400">
                <h1>04/1/2023</h1>
                <h1>04/06/2024</h1>
            </div>
            <p class=" text-xs">1 year 5 months</p>
            
		</div>
	</div>
        </div>
    </div>
</div>
