<section class="page max-w-full">
  <div>
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black xl:mb-10 mx-auto"
    >
      Detailed <span class="text-primary-500"> Services</span>
    </h2>

    <div class="grid 7xl:grid-cols-5 5xl:grid-cols-4 3xl:grid-cols-3 lg:grid-cols-2 gap-y-10 my-24">
      <div class="h-96 pt-9 rounded-shape1">
        <img
          src="../../../../assets/public/use-cases/digital-transformation/details/assessment-img.svg"
          alt="Assessment"
          class="w-fit block mx-auto"
        />

        <div class="mt-1 text-center w-40 mx-auto">
          <h5 class="4xl:text-2xl text-xl font-bold text-primary-500">Assessment</h5>
          <p class="leading-5 2xl:text-base text-sm">Evaluate digital maturity and opportunities.</p>
        </div>
      </div>

      <div class="rounded-shape2 h-96 pt-14 lg:-translate-y-5">
        <img
          src="../../../../assets/public/use-cases/digital-transformation/details/strategy-img.svg"
          alt="Strategy
          Development"
          class="w-fit block mx-auto"
        />

        <div class="mt-1 text-center w-40 mx-auto">
          <h5 class="4xl:text-2xl text-xl font-bold text-primary-500">
            Strategy Development
          </h5>
          <p class="leading-5 2xl:text-base text-sm">Create a transformation roadmap.</p>
        </div>
      </div>

      <div class="h-96 pt-9 rounded-shape3">
        <img
          src="../../../../assets/public/use-cases/digital-transformation/details/implementation-img.svg"
          alt="Implementation"
          class="w-fit block mx-auto"
        />

        <div class="mt-1 text-center w-40 mx-auto">
          <h5 class="4xl:text-2xl text-xl font-bold text-primary-500">Implementation</h5>
          <p class="leading-5 2xl:text-base text-sm">Deploy advanced technologies.</p>
        </div>
      </div>

      <div class="h-96 pt-14 lg:-translate-y-5 rounded-shape4">
        <img
          src="../../../../assets/public/use-cases/digital-transformation/details/management-img.svg"
          alt="Change
          Management"
          class="w-fit block mx-auto"
        />

        <div class="mt-1 text-center w-40 mx-auto">
          <h5 class="4xl:text-2xl text-xl font-bold text-primary-500">Change Management</h5>
          <p class="leading-5 2xl:text-base text-sm">Support your team through the transition.</p>
        </div>
      </div>

      <div class="rounded-shape5 h-96 pt-9">
        <img
          src="../../../../assets/public/use-cases/digital-transformation/details/assurance-img.svg"
          alt="Testing and
          Quality
          Assurance"
          class="w-fit block mx-auto"
        />

        <div class="mt-1 text-center w-40 mx-auto">
          <h5 class="4xl:text-2xl text-xl font-bold text-primary-500">
            Testing and Quality Assurance
          </h5>
          <p class="leading-5 2xl:text-base text-sm">Ensure new solutions meet expectations.</p>
        </div>
      </div>
    </div>
  </div>
</section>
