<div>
    <div class=" flex flex-row w-full items-center justify-between">
        <div>
            <h2 class="text-xl lg:text-2xl font-bold  transition-all">
                All Matching Job
            </h2>
            <span class=" text-gray-400"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
    
    </div>

    <div class=" flex xl:flex-row space-y-2 flex-col xl:py-10 py-4 items-center justify-between">
        <div>
            <div class=" w-full">
               
                <div class="relative z-50">
                  <button class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                  </button>
                  <input aria-placeholder="Search" class="block w-full pl-4 pr-3 py-2 border border-gray-500 rounded-md leading-5 bg-gray-200 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out" placeholder="Search">
                </div>
              </div>
        </div>
        <div class=" flex flex-row space-x-4">
         
            <div class=" border-2 space-x-2 p-1 px-2 rounded-md flex flex-row items-center justify-center">
                <div class="flex flex-row items-center justify-center w-6 h-8">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M7 12L17 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11 17H13" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                
                </div>

                <p class="">Filter</p>

            </div>
            <div class=" border-2 px-4 space-x-2 p-1 rounded-md flex flex-row items-center justify-center">
                <p class="">Show saved job</p>
            </div>
        </div>

    </div>
</div>
