<div class="common-space">
    <section class="easwork-landing-wrap">
        <div class="container-full">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="land-content">
                        <h4 class="main-sub-title mb-4 text-white" data-aos="fade-up" data-aos-delay="200">High-Grade Enterprise Application Software Outsourcing and Staff Augmentation Services</h4>
                        <h3 class="main-title text-white mb-5" data-aos="fade-up" data-aos-delay="400">
                            Empowering Enterprise Application Excellence with EASWORKS
                        </h3>
                        <p class="mt-5 common-para text-white" data-aos="fade-up" data-aos-delay="600">
                            EASWORKS specializes in delivering tailored solutions for enterprise applications. Our comprehensive Enterprise Application services cover staff augmentation, software outsourcing, and support for various critical use cases including prototyping, enterprise
                            application design, business intelligence, application modernization, custom enterprise application development, integration, data migration, and ongoing support.
                        </p>
                        <p class="mt-2 common-para text-white" data-aos="fade-up" data-aos-delay="600">
                            Partner with us to excel in your software projects and drive digital transformation.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex justify-content-end">
                    <div class="easwork-loginland-card z-index-10 whyEasNavTabs">
                        <ul class="nav nav-tabs nav-eastabs" id="myTab" role="tablist">
                            <li class="nav-item nav-easitem" role="presentation">
                                <button class="nav-link active" id="company-tab" data-bs-toggle="tab" data-bs-target="#companies" type="button" role="tab" aria-controls="home" aria-selected="true">Companies</button>
                            </li>
                            <li class="nav-item nav-easitem" role="presentation">
                                <button class="nav-link" id="talent-tab" data-bs-toggle="tab" data-bs-target="#talent" type="button" role="tab" aria-controls="profile" aria-selected="false">Talent</button>
                            </li>
                        </ul>
                        <div class="tab-content eastab-content" id="myTabContent">
                            <div class="tab-pane eastab-pane fade show active" id="companies" role="tabpanel" aria-labelledby="company-tab">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">First Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="First Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Last Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Last Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Company Email</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Company Email" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Phone Number</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Phone Number" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Company Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Company Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Title / Position</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Title / Position" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <button type="button" class="loginbtn">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane eastab-pane fade" id="talent" role="tabpanel" aria-labelledby="talent-tab">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">First Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="First Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Last Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Last Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Email</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Email" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Phone Number</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Phone Number" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Company Name</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Company Name" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Title / Position</label>
                                            <div class="login-form-input">
                                                <input type="text" placeholder="Title / Position" class="inputview" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">Country</label>
                                            <div class="login-form-input">
                                                <select class="inputview">
                                                    <option value="1">India</option>
                                                    <option value="2">America</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">State</label>
                                            <div class="login-form-input">
                                                <select class="inputview">
                                                    <option value="1">Tamil Nadu</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="login-form-group">
                                            <label class="label-text">City</label>
                                            <div class="login-form-input">
                                                <select class="inputview">
                                                    <option value="1">Chennai</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="login-form-group">
                                            <button type="button" class="loginbtn">Apply To Join</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Clients section-->
    <section id="cliens" class="cliens section-bg pt-4 pb-4">
        <div class="container-full">
            <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-2.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-3.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-4.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-5.png" class="img-fluid clientsimg" alt="" />
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!--Clients section End-->

    <section class="how-understading-wraper">
        <div class="container-full">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
                    <div class="how-image w-100">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3JjXqKIhi-M" title="Testimonial: NextRoll shares their experience partnering with BairesDev" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
                    <div class="how-Under-content">
                        <h1 class="second-title font-style-italic"><span class="spantitlecolor">" Unleash Success with our Enterprise Application Platform. Connect with top talent in the enterprise application domain to drive your business forward "</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="eas-growth-landing section-bg">
        <div class="container-full">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="">
                        <h1 class="second-title">Fueling Enterprise Growth with On-Demand Scalable Enterprise Application Solutions</h1>
                        <p class="common-para">Your Expert Enterprise Application Services(EAS) Partner for Scalable, Innovative Enterprise Applications Choose us as your enterprise application partner for scalable, innovative solutions. We excel in end-to-end delivery, offering
                            fully managed Delivery Teams and expert enterprise application software engineers. Our tailor-made services ensure competitive results and drive your success</p>
                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-12">
                                <h2 class="secondary-title"><span class="spantitlecolor">Fully Managed Team</span></h2>
                                <p class="common-para">Proficient and Independent Team for Swift and Efficient Enterprise Application Services Delivery.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <h2 class="secondary-title"><span class="spantitlecolor">Augmented Team</span></h2>
                                <p class="common-para">Boost your Enterprise Application projects with an Extended Team: Access Top EAS Expertise, Fill Skills Gaps, Ensure Cost-Efficiency, and Manage Short-Term Projects.</p>
                            </div>
                        </div>
                        <div class="d-flex mt-5" data-aos="fade-up" data-aos-delay="500">
                            <a href="javascript:void(0)" class="btn-get-started mr-3">Book a meeting</a>
                            <a href="javascript:void(0)" class="btn-get-started bttnwbg">
                                Apply To Join</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <!-- <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_vneroaor.json" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay>
                    </lottie-player> -->
                </div>
            </div>
        </div>
    </section>

    <section class="eas-growth-landing">
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h1 class="second-title mb-4">3 Compelling Reasons to Choose EASWORKS</h1>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="costeffectBox">
                        <span>1</span>
                        <div class="costeffectContent">
                            <h1 class="subtitle text-left">Specialized Expertise</h1>
                            <p class="common-para">We specialize in enterprise applications, allowing us to understand your unique requirements. Our Talents are experts in their respective fields, delivering innovative and effective application solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="costeffectBox">
                        <span>2</span>
                        <div class="costeffectContent">
                            <h1 class="subtitle text-left">Tailored Matchmaking</h1>
                            <p class="common-para">Save time and effort by finding the perfect talents for your project. Our advanced algorithms connect enterprises with talents who best fit their project needs, ensuring a seamless and efficient talent selection process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="costeffectBox">
                        <span>3</span>
                        <div class="costeffectContent">
                            <h1 class="subtitle text-left">Quality Assurance</h1>
                            <p class="common-para">Trust in our commitment to excellence. Our rigorous vetting process ensures that only top-tier talents join our platform, guaranteeing high-quality results for your enterprise application projects.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-5 justify-content-center w-100" data-aos="fade-up" data-aos-delay="500">
                    <a href="javascript:void(0)" class="btn-get-started mr-3">Post Your Project Need</a>

                </div>
            </div>
        </div>
    </section>


    <section id="services" class="teams-wrapper services">
        <div class="container-full">
            <div class="text-center">
                <h2 class="second-title mb-5">Testimonials</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-card">
                        <div class="hideline"></div>
                        <div class="team-icon">
                            <figure>
                                <img src="../../assets/img/teams/team-1.jpg" alt="team" />
                            </figure>
                        </div>
                        <div class="team-name">
                            <h5>John</h5>
                            <span>CEO of a Manufacturing Company</span>
                            <label>ERP- SAP S/4HANA Deployment</label>
                        </div>
                        <div class="team-content">

                            <p class="common-para">“We chose EASWORKS for our ERP - SAP S/4HANA project. Their SAP S/4HANA development expertise exceeded our expectations, streamlining our business processes and optimizing our ERP system. The project was delivered on time and
                                within budget, leaving us thoroughly impressed with their capabilities”.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-card">
                        <div class="hideline"></div>
                        <div class="team-icon">
                            <figure>
                                <img src="../../assets/img/teams/team-2.jpg" alt="team" />
                            </figure>
                        </div>
                        <div class="team-name">
                            <h5>David</h5>
                            <span>Engineering Manager at an Automotive Company</span>
                            <label>PLM-Teamcenter Implementation</label>
                        </div>
                        <div class="team-content">

                            <p class="common-para">“ Choosing EASWORKS for our Teamcenter project was a game-changer. Their full-managed team seamlessly integrated with us, providing end-to-end support in implementing and optimizing Teamcenter. The collaboration was smooth,
                                and with their dedicated assistance, we successfully achieved our PLM goals ”.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-card">
                        <div class="hideline"></div>
                        <div class="team-icon">
                            <figure>
                                <img src="../../assets/img/teams/team-3.jpg" alt="team" />
                            </figure>
                        </div>
                        <div class="team-name">
                            <h5>Sarah</h5>
                            <span>Sales Director at a Technology Company</span>
                            <label>CRM - Salesforce Customization</label>
                        </div>
                        <div class="team-content">

                            <p class="common-para">“ We relied on EASWORKS for Salesforce customization, and their highly skilled expert made a significant impact. They understood our specific requirements and delivered a tailored solution that greatly enhanced our CRM system.
                                Thanks to their expertise, our sales and customer management processes have greatly improved ”.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-card">
                        <div class="hideline"></div>
                        <div class="team-icon">
                            <figure>
                                <img src="../../assets/img/teams/team-4.jpg" alt="team" />
                            </figure>
                        </div>
                        <div class="team-name">
                            <h5>Lisa</h5>
                            <span>CFO of a Retail Company</span>
                            <label>BI Tool - Tableau</label>
                        </div>
                        <div class="team-content">

                            <p class="common-para">“ EASWORKS guided us in selecting and implementing Tableau, a powerful BI tool. With Tableau's intuitive features and EASWORKS' expert guidance, we gained valuable insights and made data-driven decisions, resulting in significant
                                improvements in our business operations ”.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="apptalent-connect">
        <div class="container">
            <div class="apptalent-export-content">
                <p class="mb-4">Unleash Your Potential: Join EASWORKS and Revolutionize the Enterprise Application Landscape!</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="applytojoin-btn m-auto-inherit mr-3">Get started</a>
                    <a href="javascript:void(0)" class="applytojoin-btn bttn-outline m-auto-inherit">Work with Us</a>
                </div>
            </div>
        </div>
    </section>
</div>