@if(showSplashScreen$()) {
<app-splash class="z-[1000]"></app-splash>
}

<header id="app-header" class="z-10 sticky top-0">
  <app-header></app-header>

  @if(navigating$()) {
  <mat-progress-bar class="!absolute bottom-0 left-0" mode="indeterminate">
  </mat-progress-bar>
  }
</header>

<mat-sidenav-container class="flex-grow !flex flex-col !overflow-visible">
  <mat-sidenav #appSidenav fixedInViewport
               id="app-sidenav"
               [mode]="sideBarState.mode$()"
               [opened]="sideBarState.opened$()"
               position="start">
  </mat-sidenav>

  <mat-sidenav-content class="flex-grow !flex flex-col !overflow-visible bg-white">
    <router-outlet class="hidden [&_+_*]:flex-1"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>