<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
  <!--Why AppTalent-->
  <section class="gethire-wraper">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 order-2 pt-5">
          <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">
            True Enterprise Application <span class="spantitlecolor">Team Extension </span></h1>
          <p data-aos="fade-up" data-aos-delay="400" class="common-para mt-5">Our customers leverage the EASWORKS
            network
            of vetted Enterprise Application talent to use one or a combination of the flexible engagement models to
            supercharge their teams’ productivity and to achieve the enterprise project goals.</p>
          <div class="d-flex mt-5" data-aos="fade-up" data-aos-delay="500">
            <a href="javascript:void(0)" class="btn-get-started mr-3">Start Hiring</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 order-1 order-lg-2 hero-img" data-aos="fade-up"
          data-aos-delay="600">
          <!-- <img src="assets/img/how/bannerimg.png" class="img-fluid animated" alt=""> -->
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tacawejm.json" background="transparent"
            speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        </div>
      </div>
    </div>
  </section>

  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image">
            <img src="assets/img/how/understanding.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>01</span>
            </div>
            <h1>Understand your Enterprise Application Talent & Projects needs</h1>
            <p>Our Enterprise Application expert takes a deep dive into your technical needs, culture, and long-term
              goals to propose best suited engagement model.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-image">
            <img src="assets/img/how/sourcing.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>02</span>
            </div>
            <h1>Find matches in our Enterprise Application Network</h1>
            <p>We map your Enterprise Application project requirements to our network, and quickly shortlist the best
              candidates.</p>
            <p>With our deep roster and extensive network, chances are we can provide the Enterprise Application
              technical talent you need.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image">
            <!-- <img src="assets/img/how/review-candidate.png" class="img-fluid" /> -->
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ureyqxyw.json" background="transparent"
              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>03</span>
            </div>
            <h1>Review Potential candidate </h1>
            <p>We review most promising candidates with you
              to find the perfect fit based on their experience, enterprise application skill, specific Industry
              experience, cost, communication skills, personality, and availability.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-image h-auto">
            <img src="assets/img/how/engagement.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>04</span>
            </div>
            <h1>Engagement</h1>
            <p>After shortlisting Candidates, you decide who you want to interview, and we'll arrange a virtual
              meeting.</p>
            <p>Once matched & you're ready, we sign a contract, and each Enterprise Application Talent becomes a part
              of your team.</p>
            <p>o If you're not satisfied after working for a 1-week trial period, you have no obligation to pay.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image h-auto">
            <img src="assets/img/how/onboarding.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>05</span>
            </div>
            <h1>Facilitate Talent onboarding</h1>
            <p>Helping our clients onboard Enterprise Application talents is just something we do routinely.</p>
            <p>We have facilitated remote onboarding for hundreds of engineers for many companies of different size (
              large, small & start-ups).</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apptalent-connect grow-erpteam">
    <div class="container position-relative">
      <div class="apptalent-export-content talktous-content">
        <h1 class="text-white">Grow your Enterprise Application team on demand with EAS global talent today.</h1>
        <p class="mb-4">Tell us what you are looking for, we’ll take care of the rest.</p>
        <a href="javascript:void(0)" class="applytojoin-btn bg-white text-dark">Hire Talent</a>
      </div>
    </div>
  </section>

  <section class="apps-wraper">
    <div class="container">
      <div class="section-title text-center">
        <h2>EASWORKS flexible engagement model helps to scale on demand</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-shor-term.png" alt="image" /> -->
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_a2yyyhcw.json" background="transparent"
              speed="1" style="width: 120px; height: 120px" loop autoplay></lottie-player>
            <h1>Vetted Individuals</h1>
            <p class="common-para">Hire Individual EAS Talents on demand based on skill or role</p>
            <div class="apptalent-body d-none">
              <div class="twowaystreet-center">
                <ul class="twowaysstreet-type">
                  <li>
                    <i class="icofont-tick-mark"></i>Verified, Proven Talent
                  </li>
                  <li><i class="icofont-tick-mark"></i>Hard to Accesss Skills</li>
                  <li>
                    <i class="icofont-tick-mark"></i>Full or Fractional Time
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Work Directly with the Talent
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Drastically Reduce Ramp
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Remote Collaboration Experts
                  </li>
                </ul>
              </div>
            </div>
            <div class="get-startedbtn">
              <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-long-term.png" alt="image" /> -->
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4vswstcz.json" background="transparent"
              speed="1" style="width: 120px; height: 120px" loop autoplay></lottie-player>
            <h1>Full Teams</h1>
            <p class="common-para">Hire EAS dedicated full team to achieve your project goal.</p>
            <div class="apptalent-body d-none">
              <div class="twowaystreet-center">
                <ul class="twowaysstreet-type">
                  <li>
                    <i class="icofont-tick-mark"></i>Part or Full Projects, Done
                    Right
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Specialized Talent Throughout
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Collaboration Platform
                    Included
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Flat, Transparent Pricing
                  </li>
                  <li>
                    <i class="icofont-tick-mark"></i>Platform Success Manager
                    Provided
                  </li>
                  <li><i class="icofont-tick-mark"></i>3x Faster Delivery</li>
                </ul>
              </div>
            </div>
            <div class="get-startedbtn">
              <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-salaryemp.png" alt="image" class="img-defultSize" /> -->
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_aq4rhkki.json" background="transparent"
              speed="1" style="width: 170px; height: 148px" loop autoplay></lottie-player>
            <h1>Enterprise Application Projects</h1>
            <p class="common-para">Partner with niche reliable EAS development partner to deliver project on time,
              within
              the budget and quality, irrespective of the complexity of the EAS project’s requirement.</p>
            <div class="apptalent-body d-none">
              <div class="twowaystreet-center">
                <ul class="twowaysstreet-type">
                  <li>
                    <i class="icofont-tick-mark"></i>Competitive Compensation
                  </li>
                  <li><i class="icofont-tick-mark"></i>Available Benefits</li>
                  <li><i class="icofont-tick-mark"></i>Long-Term Engagements</li>
                  <li><i class="icofont-tick-mark"></i>Career Roadmap</li>
                </ul>
              </div>
            </div>
            <div class="get-startedbtn">
              <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-questions section-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>Client FAQ</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
          <h1 class="thirdTitle">Overview</h1>

          <div class="accordion" id="accordionExample">

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  What is EASWORKS ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">EASWORKS is a platform that connects top companies and
                    startups to network of thoroughly vetted enterprise software experts. Our
                    primary goal is to ensure that we find & hire the most suitable EAS technical
                    talent on-demand to give our client’s projects the highest chance of success.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does EASWORKS work?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our team of experienced technical professionals will
                    take
                    time to learn about your project and understand your hiring needs to guide you
                    through the process of finding qualified, high-caliber candidates to integrate
                    seamlessly into your team.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How is EASWORKS different from other platforms?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We understand that hiring can feel overwhelming,
                    especially
                    through staffing platforms that are distant and impersonal. Our team uses a
                    personal, high-touch approach to create the best possible hiring experience for
                    our clients. We do this because we’re devoted to building strong, cohesive teams
                    and long-term relationships with our clients.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  What type of projects can I hire EASWORKS for?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headerfour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The EASWORKS network consists of technical Enterprise
                    experts
                    in software development and design.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerfive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                  Is there a minimum contract duration?
                </button>
              </h2>
              <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headerfive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our minimum engagement is 150 hours or $7,500 USD
                    (approximately one developer for 1 month). If a project is smaller than that, it
                    typically doesn't make sense to go through our sourcing and vetting process.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headersix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                  What happens if I’m not satisfied with the services provided?
                </button>
              </h2>
              <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headersix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The vast majority of our projects run smoothly, but when
                    you’re dealing with humans occasionally things happen. Our goal is to make sure
                    you come out of the experience satisfied. We offer a trial period to make sure
                    things go well with your developer, and if issues arise later on, we are here to
                    mediate the situation, seek a fair resolution for all parties, and replace the
                    developer if needed.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerseven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                  What is EAS Talent?
                </button>
              </h2>
              <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headerseven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">EASWORKS talent is another term for “freelancer.”
                    EASWORKS
                    may interchangeably use the terms “freelance,” “EASWORK talent,” or “Expert” or
                    “EAS Talent” to describe the members of our EAS Expert Talent Network. An Expert
                    is an individual that is skilled in one or more of our work categories. Experts
                    perform specific tasks related to work assignments. Experts work with their
                    Customer Success Manager and the Customer. Experts who work as flexible talent
                    work closely with the Customer to agree upon weekly or monthly deliverables and
                    set expectations. EASWORKS talent contracts generally track their time hourly
                    for each client and each contract.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headereight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                  What is CSM?
                </button>
              </h2>
              <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headereight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para">Our Customer Success Managers (CSM) work as the main point of
                    contact for both Customers and Experts. CSMs are employees of EASWORKS who work
                    with Experts and Customers to ensure projects, Customers, and Experts are
                    successful.
                  </p>
                </div>
              </div>
            </div>

            <h1 class="thirdTitle mt-4 mb-4">Working with Global Talent</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingnine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                  Do EASWORKS developers speak English fluently?
                </button>
              </h2>
              <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Yes, every developer we select for our clients is fluent
                    in English. We conduct a thorough English language skills assessment and a video
                    interview to ensure that all developers in our network have strong written and
                    spoken English, are able to understand verbal instructions, and can participate
                    effectively in a standup meeting.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingten">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                  What’s your vetting process?
                </button>
              </h2>
              <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Each applicant goes through an initial screening
                    interview where we evaluate the candidate's experience, personality,
                    availability, and English communication skills. If the candidate passes, our
                    technical experts conduct a 1-hour technical screen-sharing interview where they
                    complete a real-world coding exercise relevant to the project they are applying
                    for. Only the best get presented to our clients, so you can feel confident that
                    each developer you work with will be at the top of their field and strongly
                    relevant to your needs.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                  Where are EASWORKS developers located?
                </button>
              </h2>
              <div id="collapseeleven" class="accordion-collapse collapse" aria-labelledby="headingeleven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our network is made up of global talent with freelancers
                    located in over 170 countries. We commonly work with software developers from
                    Latin America and Eastern Europe so that we can keep our rates low while
                    ensuring teams and clients remain in the same time zones.
                  </p>
                </div>
              </div>
            </div>

            <h1 class="thirdTitle mt-4 mb-4">Getting Started with EASWORKS</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingtwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
                  How do I start a project?
                </button>
              </h2>
              <div id="collapsetwelve" class="accordion-collapse collapse" aria-labelledby="headingtwelve"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">To get started, you can complete our <a href="javascript:void(0)">client
                      questionnaire </a> and one of our software
                    architects will be in touch to discuss your requirements and understand your
                    needs. We believe in a high-touch approach, so every project starts with a
                    conversation to make sure we’re aligned. We will then work with you to finalize
                    your Job Description in our platform so we can begin sourcing and vetting
                    potential candidates.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingthirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
                  How can I view candidates?
                </button>
              </h2>
              <div id="collapsethirteen" class="accordion-collapse collapse" aria-labelledby="headingthirteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The first step is to submit a role to be vetted by the
                    team and shared with the community. We'll send you the top candidates for your
                    role within 48 hours, typically.
                  </p>
                  <p class="common-para">All candidates will be viewable in your EASWORKS hiring
                    profile!
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingfourteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                  Can I interview candidates?
                </button>
              </h2>
              <div id="collapsefourteen" class="accordion-collapse collapse" aria-labelledby="headingfourteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Yes!
                  </p>
                  <p class="common-para">Once you are sent the top candidates for your role, you can
                    opt to request interviews with any of the candidates you'd like to talk to.
                  </p>
                  <p class="common-para">EASWORKS organizes the interviews, and one of us will also
                    sit in so we can answer any questions.
                  </p>
                  <p class="common-para">You're welcome to invite others from your team to join. If a
                    second interview is in order, we're happy to coordinate that, as well.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingfifteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                  When can I expect to see candidates?
                </button>
              </h2>
              <div id="collapsefifteen" class="accordion-collapse collapse" aria-labelledby="headingfifteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">It typically takes about a week to find and select the
                    right candidates for the role. In the best-case scenario, there will be a
                    contractor available immediately who has already been vetted and/or performed
                    well for another EASWORKS client. In other cases, we will have to go through our
                    full process which takes time to do right. Most clients see presented candidates
                    within 5-6 business days.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingsixteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
                  How soon can EASWORKS developers join my team?
                </button>
              </h2>
              <div id="collapsesixteen" class="accordion-collapse collapse" aria-labelledby="headingsixteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">In the best case scenario, where a pre-vetted candidate
                    is available immediately, the only limiting factor is how soon you can interview
                    them and want them to get started. Depending on the individual situation,
                    sometimes candidates will need to wait a week or two before they can fully
                    allocate themselves to your project if they are ramping down other
                    responsibilities.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingseventeen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseseventeen" aria-expanded="false" aria-controls="collapseseventeen">
                  What does a typical EASWORKS engagement look like?
                </button>
              </h2>
              <div id="collapseseventeen" class="accordion-collapse collapse" aria-labelledby="headingseventeen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <p class="common-para mt-0">Most EASWORKS clients hire freelancers from the platform
                    for
                    6-12 month engagements, ranging from 20-40 hours per week.</p>
                  <p class="common-para">Typical clients are profitable software companies and
                    recently-funded startups looking for their first few technical partners.</p>
                  <p class="common-para">Typical freelancers have upwards of ten years of experience
                    and speak English as either their native language or fluently.</p>
                </div>
              </div>
            </div>

            <h1 class="thirdTitle mt-4 mb-4">Intellectual Property</h1>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeighteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeighteen" aria-expanded="false" aria-controls="collapseeighteen">
                  How can I ensure that my IP is safe?
                </button>
              </h2>
              <div id="collapseeighteen" class="accordion-collapse collapse" aria-labelledby="headingeighteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We take your intellectual property issues very
                    seriously. EASWORKS is happy to get a mutual non-disclosure agreement in place
                    with you before discussing the details of your project. We have strict
                    confidentiality agreements in place with our contractors, and IP is never owned
                    by any freelancer.
                  </p>
                </div>
              </div>
            </div>

            <h1 class="thirdTitle mt-4 mb-4">Pricing and Payments</h1>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp1" aria-expanded="false" aria-controls="collapsepp1">
                  Do you offer a trial period?
                </button>
              </h2>
              <div id="collapsepp1" class="accordion-collapse collapse" aria-labelledby="headingpp1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We offer a choice of two trial period options. You can
                    either opt for a risk-free 20-hour trial where if you’re not satisfied, you pay
                    nothing, or a 40-hour low-risk trial where if you’re not satisfied you pay 50%
                    of the developer’s rate.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp2" aria-expanded="false" aria-controls="collapsepp2">
                  As a client, how do I get charged?
                </button>
              </h2>
              <div id="collapsepp2" class="accordion-collapse collapse" aria-labelledby="headingpp2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We don't have standard rates on EASWORKS. Enterprise
                    Application Developers on our platform have hourly rates ranging between
                    $75-$150+ per hour, largely depending on the expertise required.</p>
                  <p class="common-para">Here's how pricing works:</p>
                  <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                    <li><i class="icofont-tick-mark"></i> Applicants share their desired rate or
                      salary when they apply to your opportunity.</li>
                    <li><i class="icofont-tick-mark"></i> Based on your budget, EASWORKS helps you
                      find the best candidate for the job.</li>
                    <li><i class="icofont-tick-mark"></i> For freelance engagements, you pay one
                      flat hourly rate. EASWORKS’s fees are always already baked into the rates
                      you see. You'll never be charged a rate that you don't agree to</li>
                    <li><i class="icofont-tick-mark"></i> For salaried W2 engagements, EASWORKS's
                      placement fee is 15% of the yearly salary.</li>
                    <li><i class="icofont-tick-mark"></i> You don’t pay a dime until you start
                      working with a candidate you love.</li>
                  </ul>
                  <p class="common-para">Your EASWORKS engagement contract will detail the payment
                    terms of the agreement, including rate, number of hours, payment intervals and
                    due dates.</p>
                  <p class="common-para">We will send invoices to your billing contact in accordance
                    with upcoming payments, regardless of payment method. If you retain an ACH or
                    credit card payment method with us, we will process payment on the date
                    specified in the invoice (or after an approvals process, in some cases).</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp3" aria-expanded="false" aria-controls="collapsepp3">
                  Do you offer a trial period?
                </button>
              </h2>
              <div id="collapsepp3" class="accordion-collapse collapse" aria-labelledby="headingpp3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We offer a choice of two trial period options. You can
                    either opt for a risk-free 20-hour trial where if you’re not satisfied, you pay
                    nothing, or a 40-hour low-risk trial where if you’re not satisfied you pay 50%
                    of the developer’s rate.
                  </p>
                </div>
              </div>
            </div>


            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp4" aria-expanded="false" aria-controls="collapsepp4">
                  What is the cost of hiring a developer through EASWORKS?
                </button>
              </h2>
              <div id="collapsepp4" class="accordion-collapse collapse" aria-labelledby="headingpp4"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Although we have EASWORKS freelancers located all over
                    the world, we commonly work with remote developers from India , Latin America
                    and Eastern Europe. This keeps our rates low while ensuring teams and clients
                    are in overlapping time zones, which is optimal for collaboration. Rates vary
                    per developer but typically range between $50-$70 USD/hour. There are no hidden
                    or extra fees; you only pay for the hours worked by the candidates you select.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp5" aria-expanded="false" aria-controls="collapsepp5">
                  How do you handle payments and invoices?
                </button>
              </h2>
              <div id="collapsepp5" class="accordion-collapse collapse" aria-labelledby="headingpp5"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">You will be billed at the end of each month for work
                    performed that month. To track this, you can log into your account and review
                    the hours submitted by freelancers on your project. Payment is due on receipt of
                    the invoice.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp6" aria-expanded="false" aria-controls="collapsepp6">
                  What methods of payment do you accept?
                </button>
              </h2>
              <div id="collapsepp6" class="accordion-collapse collapse" aria-labelledby="headingpp6"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We accept payment via check, bank transfer, credit card
                    and PayPal.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="apptalent-connect">
    <div class="container">
      <div class="apptalent-export-content talktous-content">
        <h1 class="text-white">Looking for a Application Experts</h1>
        <a href="javascript:void(0)" class="applytojoin-btn">Get started</a>
      </div>
    </div>
  </section>
</div>

<!--Footer-->
<app-footer></app-footer>