<!----- Header ----->
<!-- <app-header></app-header> -->
<!----- Header ----->

<div class="common-space">
  <!--Why AppTalent-->
  <section class="gethire-wraper banner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">
            Achieve Enterprise Project <span class="spantitlecolor">Goals With Ease</span></h1>
          <p data-aos="fade-up" data-aos-delay="400" class="common-para">Dip into the EASWORKs talent pool of
            Enterprise Application developers and select one of our flexible engagement models so that we can recruit
            and execute for your next enterprise application project.</p>
          <div class="d-flex mt-2" data-aos="fade-up" data-aos-delay="500">
            <a href="javascript:void(0)" class="btn-get-started mr-3">Start Hiring</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 hero-img" data-aos="fade-up"
          data-aos-delay="600">
          <!-- <img src="assets/img/how/bannerimg.png" class="img-fluid animated" alt=""> -->
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tacawejm.json" background="transparent"
            speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        </div>
      </div>
    </div>
  </section>

  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image">
            <img src="assets/img/how/understanding.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>01</span>
            </div>
            <h1 class="second-title">Understand Your Enterprise Application Project & Talent Needs</h1>
            <p class="common-para">One of our Enterprise Application experts takes a deep dive into your company's
              technical needs, culture,
              and long-term goals to propose the best suited engagement model for your project.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-image">
            <img src="assets/img/how/sourcing.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>02</span>
            </div>
            <h1 class="second-title">We match you to members in Our Enterprise Application Network</h1>
            <p class="common-para">We map your Enterprise Application project requirements to our deep roster and
              extensive network to
              quickly shortlist the best candidates.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image">
            <!-- <img src="assets/img/how/review-candidate.png" class="img-fluid" /> -->
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ureyqxyw.json" background="transparent"
              speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>03</span>
            </div>
            <h1 class="second-title">Candidate Review in 4 steps</h1>
            <p class="common-para">We review the most promising candidates with you to find the perfect fit based on
              their enterprise
              application skill, specific industry experience, cost, communication skills, personality, and
              availability.</p>
            <ul class="treeview">
              <li>
                <div class="treeview-letter">
                  I
                </div>
                <div class="treeview-content">
                  <h4>Individual Assessment</h4>
                  <p class="common-para">Each applicant is evaluated on their language and communication skills before
                    participating in a
                    personality assessment to understand their motivations and work ethic..</p>
                </div>
              </li>

              <li>
                <div class="treeview-letter">
                  II
                </div>
                <div class="treeview-content">
                  <h4>Full Skills Evaluation</h4>
                  <p class="common-para">Applicants complete a series of assessments to test their enterprise
                    application skills &
                    problem-solving abilities.</p>
                </div>
              </li>

              <li>
                <div class="treeview-letter">
                  III
                </div>
                <div class="treeview-content">
                  <h4>Live Technical Interview</h4>
                  <p class="common-para">Senior-level Enterprise domain experts interview successful applicants from the
                    previous stage and
                    use live exercises to test how candidates apply their Enterprise Application expertise & domain
                    knowledge, creativity, problem-solving and communication skills in real-world scenarios.</p>
                  <p class="common-para">We conduct background checks of the applicants resume, portfolio and references
                    before moving onto
                    the final stage of vetting.</p>
                </div>
              </li>

              <li>
                <div class="treeview-letter">
                  IV
                </div>
                <div class="treeview-content">
                  <h4>Client Interview</h4>
                  <p class="common-para">Applicants who demonstrate outstanding domain knowledge and technical expertise
                    are presented to
                    our clients.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-image h-auto">
            <img src="assets/img/how/engagement.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>04</span>
            </div>
            <h1 class="second-title">Engagement</h1>
            <p class="common-para">After shortlisting Candidates, you decide who you want to interview, and we'll
              arrange a virtual
              meeting.</p>
            <p class="common-para">Once matched & you're ready, we sign a contract, and each Enterprise Application
              Freelancer you choose to
              hire becomes a part of your team.</p>
            <p class="common-para">o If you're not satisfied with the candidate after the trial period, you have no
              obligation to pay.</p>
            <p class="common-para">In the rare case that it’s not a good fit, we mediate the situation and replace the
              developer if needed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-understading-wraper section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
          <div class="how-image h-auto">
            <img src="assets/img/how/onboarding.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
          <div class="how-Under-content">
            <div class="plat-step text-center">
              <span>05</span>
            </div>
            <h1 class="second-title">Facilitate Talent Onboarding</h1>
            <p class="common-para">Helping our clients onboard the right Enterprise Application talent is part of our
              mission. </p>
            <p class="common-para">We have facilitated remote onboarding for hundreds of engineers for small - large
              sized companies
              including start-ups.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apptalent-connect grow-erpteam">
    <div class="container position-relative">
      <div class="apptalent-export-content">
        <h1 class="second-title mb-4 text-white text-center">Grow your Enterprise Application team on demand with EAS
          global talent today.</h1>
        <p class="common-para mb-4">Tell us what you are looking for, we’ll take care of the rest.</p>
        <div class="d-flex justify-content-center flex-wrap"><a href="javascript:void(0)"
            class="applytojoin-btn bg-white text-dark">Hire Talent</a></div>
      </div>
    </div>
  </section>

  <section class="apps-wraper">
    <div class="container">
      <div class="text-center">
        <h2 class="second-title mb-5">Accelerate Enterprise growth with EASWORKS <br>by using EAS TALENTS to benefit
          your entire organization</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-shor-term.png" alt="image" /> -->
            <div class="flexible-lottie">
              <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_7akav0kg.json" background="transparent"
                speed="1" style="width: 120px; height: 100%" loop autoplay></lottie-player>
            </div>
            <div class="perfectdiv">
              <h1 class="subtitle">Vetted Individuals</h1>
              <p class="common-para">Fill Enterprise Application talent gaps in your next project by hiring a pre-vetted
                EAS professional, who brings a niche skillset and industry-specific knowledge.</p>

              <div class="get-startedbtn">
                <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-long-term.png" alt="image" /> -->
            <div class="flexible-lottie">
              <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_kcovw7lp.json" background="transparent"
                speed="1" style="width: 120px; height: 100%" loop autoplay></lottie-player>
            </div>
            <div class="perfectdiv">
              <h1 class="subtitle">Full Teams</h1>
              <p class="common-para">With a fully-equipped EAS Team of professionals, you get the knowledge and support
                you need for Enterprise Software projects.
                We assemble your ideal team members, facilitate their on-boarding, and ensure everyone is off to a great
                start</p>

              <div class="get-startedbtn">
                <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="apptalents-flex">
            <!-- <img src="assets/img/work-with-freelancer-salaryemp.png" alt="image" class="img-defultSize" /> -->
            <div class="flexible-lottie">
              <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_agykieqg.json" background="transparent"
                speed="1" style="width: 170px; height: 170px" loop autoplay></lottie-player>
            </div>
            <div class="perfectdiv">
              <h1 class="subtitle">Enterprise Application Projects</h1>
              <p class="common-para">Partner with a distributed enterprise software team to handle a variety of projects
                including Configuration/Customization, Development , UI/UX design, analysis, project management, quality
                assurance, maintenance, and support</p>
              <div class="get-startedbtn">
                <a [routerLink]="['/vetted-individuals']" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-questions section-bg">
    <div class="container">
      <div class="text-center">
        <h2 class="second-title mb-5">Client FAQ</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
          <!--Overview-->
          <h1 class="fourthtitle">Overview</h1>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  What is EASWORKS ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">EASWORKS is a platform that connects a network of expert enterprise
                    software developers with top companies and startups. Our job is to ensure that we find the most
                    suitable technical talent to give our clients’ projects the highest chance of success.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does EASWORKS work?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our team of experienced technical professionals will take time to learn
                    about your EAS project and understand your hiring needs to guide you through the process of finding
                    qualified, high-caliber candidates to integrate seamlessly into your team.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How is EASWORKS different from other platforms?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Fundamentally there are three major differences when compared to other
                    platforms: </p>
                  <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                    <li><i class="icofont-tick-mark"></i> EASWORKS is world’s first niche Enterprise Application Talent
                      platform focusing on Enterprise Application which is heart & soul for any business function of an
                      organization which is built by enterprise architects.</li>
                    <li><i class="icofont-tick-mark"></i> We test and interview every EAS developer who applies to join
                      our network. Our rigorous screening & vetting process allows ensuring every client gets to work
                      with solid professionals who have strong work ethics and soft skills. and we curate & match you
                      with best enterprise application talent at a time.</li>
                    <li><i class="icofont-tick-mark"></i> Commitment to results -we always aim at candidates who is been
                      hand selected as right match for you & who we believe suit your EAS project best and are available
                      to start right away & the success of your projects is the only metric that really matters to us.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  What type of projects can I hire EASWORKS for?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headerfour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The EASWORKS network consists of enterprise domain & technical experts in
                    enterprise software development , design and deployment who can hired for any simple to complex
                    Enterprise Application software projects.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerfive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                  Does it cost anything to be matched with or interview candidates on EASWORKS?
                </button>
              </h2>
              <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headerfive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">No. There are no upfront fees on EASWORKS except the hourly rate you pay
                    to work with the EAS developer after signing the contract to onboard the selected talent of your
                    choice.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headersix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                  How long does the hiring process take at EASWORKS?
                </button>
              </h2>
              <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headersix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We typically move as quickly as you'd like. and Technical expert team is
                    right on the job after you have initiated your requirement on our platform. There are some candidate
                    specifications that take a bit longer to source than others, but on average, we'll have your first
                    candidate matches ready for you to review within next 3-6 days.</p>
                  <p class="common-para mt-0">From there, it's up to you how quickly you'd like to interview your
                    candidates, although we recommend making your interview selection within three days.
                    Waiting too long to make a selection will likely mean that the talent is no longer available or
                    found another opportunity, and we'll need to re-source for you.
                    Once you decide to hire a candidate, we can have them onboarded and ready to get started with you
                    within 24 hours</p>
                  <p class="common-para mt-0">We guarantee a perfect match within 3-6 days. Your matching experience
                    will reflect one of the following three scenarios below:</p>
                  <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                    <li><i class="icofont-tick-mark"></i> We have someone in our professional enterprise application
                      freelance talent network who is ready to work with you immediately.</li>
                    <li><i class="icofont-tick-mark"></i> A candidate is being vetted who matches your qualifications,
                      and we will notify you of completion of the vetting process to take forward on the interview.</li>
                    <li><i class="icofont-tick-mark"></i> We currently do not have a match for your Enterprise
                      Application job, so our team will be going through the recruiting process</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headerseven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                  Do you offer a trial period?
                </button>
              </h2>
              <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headerseven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We offer a choice of two trial period options. You can either opt for a
                    risk-free 20-hour trial where if you’re not satisfied, you pay nothing, or a 40-hour low-risk trial
                    where if you’re not satisfied you pay 50% of the developer’s rate.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headereight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                  Is there a minimum contract duration?
                </button>
              </h2>
              <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headereight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para">Our minimum engagement is 150 hours or $ xxx USD (approximately one developer
                    for 1 month). As they are lot of ground-up work and EASWORKS does the heavy lifting job of sourcing
                    and vetting process , lesser hour below 150 hours is not viable business option for us.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headereightextra1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseextra1" aria-expanded="false" aria-controls="collapseextra1">
                  Can I hire a full-time worker from EASWORKS and bring him/her into our company?
                </button>
              </h2>
              <div id="collapseextra1" class="accordion-collapse collapse" aria-labelledby="headereightextra1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para">For the most part, yes. We will work with you to fully understand your specific
                    requirements so that we can establish a mutually beneficial arrangement.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headereightextra2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseextra2" aria-expanded="false" aria-controls="collapseextra2">
                  How does payment work -when, how much & for what will be charged?
                </button>
              </h2>
              <div id="collapseextra2" class="accordion-collapse collapse" aria-labelledby="headereightextra2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para">EASWORKS engagement contract will detail the payment terms of the agreement,
                    including rate where EASWORKS fees are already baked into the rates you see, number of hours,
                    payment intervals and due dates.</p>
                  <p class="common-para">We will send invoices to your billing contact in accordance with upcoming
                    payments, regardless of payment method. If you retain an ACH or credit card payment method with us,
                    we will process payment on the date specified in the invoice (or after an approvals process, in some
                    cases).</p>
                  <p class="common-para">Most importantly, You don’t pay a dime until you start working with a candidate
                    you love.</p>
                </div>
              </div>
            </div>

            <!--Getting Started with EASWORKS -->
            <h1 class="fourthtitle mt-4 mb-4">Getting Started with EASWORKS</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingtwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
                  How Can I View Candidates after Registration?
                </button>
              </h2>
              <div id="collapsetwelve" class="accordion-collapse collapse" aria-labelledby="headingtwelve"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">To view candidates who are interested in working with you, you'll first
                    create a job post by filling Start Hiring Questionnaire. All members who are a skill match will be
                    alerted and invited to apply, and our Technical team will reach out directly to our top members who
                    are a fit and concurrence of candidate is obtained before we share the potential candidates. Be sure
                    to provide needed & full information for your requirement.</p>
                  <p class="common-para mt-0">It usually takes about 1-5 business days for candidates to view & start
                    interviewing the potential candidates based on current availability within the network and any
                    specific requirement.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingthirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
                  How do I start a project?
                </button>
              </h2>
              <div id="collapsethirteen" class="accordion-collapse collapse" aria-labelledby="headingthirteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">To get started, you can complete our Start Hiring Questionnaire and
                    provide all the needed requirement and one of our Technical experts will be in touch to discuss your
                    requirements and understand your needs. We believe in a high-touch approach, so every project starts
                    with a conversation to make sure we’re aligned. We will then work with you to finalize your Job
                    Description in our platform so we can begin sourcing and vetting potential candidates.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingfourteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                  How can I communicate with candidates?
                </button>
              </h2>
              <div id="collapsefourteen" class="accordion-collapse collapse" aria-labelledby="headingfourteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">While you're in the process of finding and interviewing candidates on our
                    platform, all communication is mediated by EASWORKS. That means that reaching out to candidates via
                    social media or personal email is not the way.</p>
                  <p class="common-para">Once a signed contract is in place and work begins with the candidate of your
                    choice, you're welcome to take communication off the platform!</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingfifteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                  How soon can EASWORKS developers join my team?
                </button>
              </h2>
              <div id="collapsefifteen" class="accordion-collapse collapse" aria-labelledby="headingfifteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">In the best-case scenario, where a pre-vetted candidate is available
                    immediately for onboarding, the only limiting factor is how soon you can interview them and want
                    them to get started. Depending on the individual situation, sometimes candidates will need to wait a
                    week or two before they can fully allocate themselves to your project and we always loop you in this
                    process to know where you stand during this onboarding.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingsixteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
                  If there isn’t talent currently available to fulfill the requirements of my work request, how long
                  should I expect to wait for the right talent?
                </button>
              </h2>
              <div id="collapsesixteen" class="accordion-collapse collapse" aria-labelledby="headingsixteen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">It typically takes 8-12 days to match the perfect Talent for your work. We
                    understand your immediate needs, but our focus is on quality. At EASWORKS, even if we feel we have
                    the right Talent, we will not match them until we are 100% confident in their ability to deliver.
                    EASWORKS vetting process is the most important reason we can guarantee our talent.</p>
                </div>
              </div>
            </div>

            <!--Testing & Screening-->
            <h1 class="fourthtitle mt-4 mb-4">Testing & Screening</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="testingscreen1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsescreen1" aria-expanded="false" aria-controls="collapsescreen1">
                  Do EASWORKS developers speak English fluently?
                </button>
              </h2>
              <div id="collapsescreen1" class="accordion-collapse collapse" aria-labelledby="testingscreen1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Yes, every developer we select for our clients is fluent in English which
                    is key for effective communication. We conduct a thorough English language skills assessment and a
                    video interview to ensure that all enterprise application developers in our network have strong
                    written and spoken English and are able to understand verbal instructions, and can participate
                    effectively in a scrum/standup meeting.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="testingscreen2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsescreen2" aria-expanded="false" aria-controls="collapsescreen2">
                  What’s your Screening process?
                </button>
              </h2>
              <div id="collapsescreen2" class="accordion-collapse collapse" aria-labelledby="testingscreen2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Each applicant cv & portfolio evaluation is performed, background and
                    identity check, Technical skills assessment, Work skill assessment to understand the work-related
                    behavior preference.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="testingscreen3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsescreen3" aria-expanded="false" aria-controls="collapsescreen3">
                  What’s your vetting process?
                </button>
              </h2>
              <div id="collapsescreen3" class="accordion-collapse collapse" aria-labelledby="testingscreen3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our vetting process allows us to guarantee our talent. All applicants are
                    required to undergo an extensive screening process that measures work skill assessment, domain
                    expertise, industry experience, and professional skills. To ensure every Talent meets our standards,
                    the process typically takes 2-4 weeks.</p>
                </div>
              </div>
            </div>

            <!--Working with Global Talent -->
            <h1 class="fourthtitle mt-4 mb-4">Working with Global Talent</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingnine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                  What are different engagement models to hire EAS talent?
                </button>
              </h2>
              <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">No one size fit All as no projects is same even within same organization,
                    we always create a unique team augmentation strategy with different engagement models based on your
                    project needs , your situation and your company goals.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingten">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                  Where are EASWORKS developers located?
                </button>
              </h2>
              <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Our network is made up of global talent with freelancers located in over
                    150 countries. We commonly work with software developers from Latin America, Asia , Eastern Europe
                    and United states, so that we can keep our rates low while ensuring teams and clients remain in the
                    same time zones.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                  Where do EASWORKS experts work?
                </button>
              </h2>
              <div id="collapseeleven" class="accordion-collapse collapse" aria-labelledby="headingeleven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The vast majority work remotely from their home, office or a co-working
                    space.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven1" aria-expanded="false" aria-controls="collapseeleven1">
                  How can I monitor & track EAS project work?
                </button>
              </h2>
              <div id="collapseeleven1" class="accordion-collapse collapse" aria-labelledby="headingeleven1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">On daily basis, EAS Talent will update the Activity log and status online
                    with EASWORKS propriety tools where you will be granted access to view them as well . And same is
                    used as well for weekly/monthly Timesheet submission.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven2" aria-expanded="false" aria-controls="collapseeleven2">
                  Why did you invite me to Slack -Project collaboration channel?
                </button>
              </h2>
              <div id="collapseeleven2" class="accordion-collapse collapse" aria-labelledby="headingeleven2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">When you begin an engagement with EASWORKS, we will set up shared Slack
                    channels for you to use to communicate with EASWORKS staff and Talent. These are optional and in
                    place to help streamline the project kick-off activities. If you already have your own Slack
                    workspace, you are certainly free to utilize that instead of our own!</p>
                  <p class="common-para mt-0">We typical set up two channels and would be discussed as part of initial
                    project kick-off: </p>
                  <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                    <li class="flex-wrap"><i class="icofont-tick-mark"></i><span>“-Prj Mgt”</span> The "- Prj Mgt "
                      channel includes you, your Customer success manager (CSM), and EASWORKS senior staff. This can be
                      used to contact us for any changes or questions you may have with respect to your current
                      engagement.</li>
                    <li class="flex-wrap"><i class="icofont-tick-mark"></i><span>"GO LIVE" (Production)</span> The "- GO
                      LIVE " channel includes everyone from the "- Prj Mgt " channel as well as your hired EAS
                      Talent(s),scrum team as needed. This can be used for regular project updates and discussions.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven3" aria-expanded="false" aria-controls="collapseeleven3">
                  What if I want to change my current engagement?
                </button>
              </h2>
              <div id="collapseeleven3" class="accordion-collapse collapse" aria-labelledby="headingeleven3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We are flexible and You can make changes to your EASWORKS engagement at
                    any time. Here are some of the adjustments that can be made:</p>
                  <ul class="twowaysstreet-type outcomeestalentsUL m-0">
                    <li><i class="icofont-tick-mark"></i>Raise or lower monthly hours</li>
                    <li><i class="icofont-tick-mark"></i>Transition between different engagement types</li>
                    <li><i class="icofont-tick-mark"></i>Add freelancers to your EAS project on demand</li>
                  </ul>
                  <p class="common-para mt-0">Contact your Customer Success manager to request any changes!</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven4" aria-expanded="false" aria-controls="collapseeleven4">
                  Can I bring EASWORKS experts on-site on need basis?
                </button>
              </h2>
              <div id="collapseeleven4" class="accordion-collapse collapse" aria-labelledby="headingeleven4"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Based on our vast experience while working on various simple and complex
                    Enterprise Application projects , this kind of requirement could arise rarely and If this is a
                    requirement, we can work with you to coordinate relocating Talent or a team to your location for a
                    specified period of time.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven5" aria-expanded="false" aria-controls="collapseeleven5">
                  What happens if I’m not satisfied with the EASWORKS services provided?
                </button>
              </h2>
              <div id="collapseeleven5" class="accordion-collapse collapse" aria-labelledby="headingeleven5"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">While we rigorously screen all applicants to ensure we have the top talent
                    & vast majority of our projects run smoothly, Our goal is to make sure you come out of the
                    experience satisfied. We offer a trial period to make sure things go well with your developer and we
                    also understand that not every contractor will be a perfect fit. If at any time customers are
                    unhappy with their Talent, the Customer Success Team will work to seek a fair resolution for all
                    parties which may also include replacing the EAS Talent at no additional cost to the customer.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingeleven6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseeleven6" aria-expanded="false" aria-controls="collapseeleven6">
                  What happens if my Talent is unavailable for the days or times, they are scheduled to work with me?
                </button>
              </h2>
              <div id="collapseeleven6" class="accordion-collapse collapse" aria-labelledby="headingeleven6"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We will go the extra mile to make sure this doesn’t happen. At EASWORKS,
                    we completely understand dependability is a top priority and could derail your entire EAS project
                    goals. We take measures to ensure that availability and reliability are a top priority for our
                    talent. However, in the unlikely circumstance that such a situation arises, we will match new Talent
                    and credit you the time.</p>
                </div>
              </div>
            </div>

            <!--Intellectual Property-->

            <h1 class="fourthtitle mt-4 mb-4">Intellectual Property</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="intellectualhead1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseintellectual1" aria-expanded="false" aria-controls="collapseintellectual1">
                  Who owns the legal rights to the work created by a EASWORKS expert?
                </button>
              </h2>
              <div id="collapseintellectual1" class="accordion-collapse collapse" aria-labelledby="intellectualhead1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">The client. EASWORKS only business is connecting world-class Enterprise
                    Application experts to the clients who want to work with them - not intellectual property. Our
                    contracts provide that all work created by a EASWORKS expert is the property of the client, not
                    EASWORKS or Talent.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="intellectualhead2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseintellectual2" aria-expanded="false" aria-controls="collapseintellectual2">
                  How can I ensure that my IP is safe?
                </button>
              </h2>
              <div id="collapseintellectual2" class="accordion-collapse collapse" aria-labelledby="intellectualhead2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We take your intellectual property issues very seriously. EASWORKS is
                    happy to get a mutual non-disclosure agreement in place with you before discussing the details of
                    your project. We have strict confidentiality agreements in place with our contractors, and IP is
                    never owned by any freelancer but don’t hold yourself back from signing MSA or any other necessary
                    documents with the developer if you wish.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="intellectualhead3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseintellectual3" aria-expanded="false" aria-controls="collapseintellectual3">
                  How do we ensure that our IP is protected?
                </button>
              </h2>
              <div id="collapseintellectual3" class="accordion-collapse collapse" aria-labelledby="intellectualhead3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">EASWORKS enters into talent agreements with every member of the talent
                    network. Through these agreements, EASWORKS obtains exclusive ownership of the work created by the
                    EASWORKS talent that works with you. We then provide you with the intellectual property for the work
                    that the EASWORKS talent creates for you under our client agreement. This clean, simple,
                    pass-through arrangement has worked well for our clients for many years. However, if you would like
                    the expert to enter into a direct agreement with you to affect the direct transfer of IP property,
                    we can work with you to ensure that your needs are met.</p>
                </div>
              </div>
            </div>

            <!--Pricing and Payments-->
            <h1 class="fourthtitle mt-4 mb-4">Pricing and Payments</h1>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp1" aria-expanded="false" aria-controls="collapsepp1">
                  What is the cost of hiring a developer through EASWORKS ?
                </button>
              </h2>
              <div id="collapsepp1" class="accordion-collapse collapse" aria-labelledby="headingpp1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">Although we have EASWORKS freelancers located all over the world, we
                    commonly work with remote developers from Latin America, South Asia and Eastern Europe. This keeps
                    our rates low while ensuring teams and clients are in overlapping time zones, which is optimal for
                    collaboration. Rates vary per developer but typically range between $40-$110 USD/hour depending upon
                    various other factor skills/technologies/experience/geographic location. There are no hidden or
                    extra fees; you only pay for the hours worked by the candidates you select.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp2" aria-expanded="false" aria-controls="collapsepp2">
                  How do you handle payments and invoices?
                </button>
              </h2>
              <div id="collapsepp2" class="accordion-collapse collapse" aria-labelledby="headingpp2"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">You will be billed at the end of each month for work performed that month.
                    To track this, you can log into your account and review the hours submitted by freelancers on your
                    project. Payment is due on receipt of the invoice.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingpp3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsepp3" aria-expanded="false" aria-controls="collapsepp3">
                  What payment method does EASWORKS accept?
                </button>
              </h2>
              <div id="collapsepp3" class="accordion-collapse collapse" aria-labelledby="headingpp3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="common-para mt-0">We accept ACH*, wire transfers, and credit card payments.</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="apptalent-connect">
    <div class="container">
      <div class="apptalent-export-content">
        <p class="mb-4">Looking for a Application Experts</p>
        <div class="d-flex justify-content-center flex-wrap"> <a href="javascript:void(0)" class="applytojoin-btn">Get started</a></div>
      </div>
    </div>
  </section>
</div>

<!--Footer-->
<!-- <app-footer></app-footer> -->