<section class="relative grid min-h-offset-screen">
  <div class="absolute inset-0 -z-10">
    <img class="w-full h-full opacity-5" src="../../assets/img/building.jpg" alt="">
  </div>
  <div class="flex items-center flex-col-reverse lg:flex-row gap-8 pb-8">
    <div class="max-w-screen-md p-4 sm:py-8 lg:mx-auto transition-all">
      <h3 class="text-2xl lg:text-3xl font-bold transition-all">
        Increase Enterprise resiliency with a dynamic, distributed team that combines technical skills with industry-specific knowledge.
      </h3>
      <p class="mt-4">Your organisation's greatest asset is its workforce. EASworks lets you invest in this asset by providing a platform of EAS developers on-demand who assist your existing team of Enterprise FTEs and contractors to deliver greater capacity and skills across the workplace.</p>

      <p class="mt-4">Our enterprise software developers bring domain expertise in finance, healthcare, manufacturing, retail, insurance and tech.</p>

      <p class="mt-4">We designed our talent profiles to answer the questions to know them 360 degrees from a technical and personality perspective, so you are one step closer to make hiring decision.</p>

      <div class="flex mt-12 gap-4 justify-center lg:justify-normal transition-all">
        <button class="shaded-button primary">Start Hiring</button>
      </div>
    </div>
    <div class="max-w-xl lg:max-w-3xl">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ureyqxyw.json"
                     background="transparent" speed="1" loop autoplay></lottie-player>
    </div>
  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">Know the person behind the resume section
      </h2>

      <p class="my-4 text-base font-normal"> designed our talent profiles to answer the questions to know them 360 degrees from technical and personality perspective, so you are one step closer to make hiring decision.</p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-10 items-center">
      <div class="bg-white shadow-lg rounded-md p-4 lg:p-5 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/5bf7837c-438a-4a4e-a94d-7a36e8b9562a/cMaf4XaF50.json"
                         background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Endorsements</h4>
        <p class="text-sm leading-6">Read what former clients have to say about their experience working with candidates from our network.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-5 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/3a6e85a5-efa3-4b74-8850-f8595245abd1/gfULmGWGsu.json"
                         background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Video Introduction</h4>
        <p class="text-sm leading-6">This short video highlights their communication style, career aspirations and what's important to them as a professional.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-5 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                         background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">WorkStyle Preference</h4>
        <p class="text-sm leading-6">WorkStyle preference helps to articulate the different ways people approach their work. This could be anything from core motivations to their ability to improve and adapt.</p>
      </div>

      <div class="bg-white shadow-lg rounded-md p-4 lg:p-5 text-center h-full">
        <div class="flex h-[80px] justify-center w-[80px] m-[auto] mb-5">
          <lottie-player src="https://lottie.host/e53c1145-18b9-42c3-9dd5-30ba9473df9e/XmL6zR3gAz.json"
                         background="transparent" speed="1" style="width: 100%; height: 100%;" loop
                         autoplay></lottie-player>
        </div>
        <h4 class="text-lg font-semibold my-5">Industry/Sector experience</h4>
        <p class="text-sm leading-6">Complex technical & regulatory industries rarely require candidates with relevant experience or knowledge of the specific industry or sector.</p>
      </div>
    </div>

  </div>
</section>

<section class="py-[60px] bg-white">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold">Browse by Enterprise Application Software (EAS) Talent</h2>
  </div>
  <div class="page">
    <div class="w-100">
      <h2 class="text-[1.25em] font-bold mb-5">ERP Ops - ERP Operations And Services (ERP Ops)
      </h2>
      <ul class="flex gap-2 items-center mb-3 flex-wrap">
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white flex items-center justify-center p-3 relative border-dashed border-primary border rounded-md shadow-md">
          <img src="https://eas-works.onrender.com//images/sap.png" alt="">
        </li>
        <li
            class="bg-white border border-dashed border-primary flex flex-col gap-1 items-center justify-center p-1 relative rounded-md shadow-md text-[12px] text-center w-[130px]">
          <i class="fa-solid fa-gear"></i>
          Custom ERP Ops / Legacy Application
        </li>
      </ul>
      <div class="flex items-center justify-end">
        <a href="#" class="text-primary">+ See more ERP Ops skills </a>
      </div>
    </div>

  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold">Sample Preview Profile</h2>
    </div>
  </div>
</section>

<section class="py-[60px] relative z-10 bg-[#494b4e]">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center relative">
      <div>
        <h2 class="text-[2rem] leading-[50px] mb-[20px] text-white text-left">Get Started with EASWORKS </h2>
        <div class="flex gap-3">
          <button class="shaded-button primary">HIRE NOW</button>
          <button class="shaded-button">APPLY AS FREELANCER</button>
        </div>

      </div>

      <div class="flex justify-center mt-8 text-center">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_i4kj2vtq.json" background="transparent"
                       speed="1" style="width: 100%; height: 100%" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>