<div class="quiz-wraper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 p-0 quiz-content-lft">
        <div class="quiz-lft-form">
          <div class="quiz-lft-form-center">
            <div class="qlf-imge talentquestionImg">
              <!--<img src="assets/img/Vertical_Enterprise_Application_Talents.png" /> -->
              <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ureyqxyw.json" background="transparent"
                speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>
            <h1 class="text-white">Welcome to EASWORKS</h1>
            <p class="text-white">Work With The World’s Leading Companies By applying to join EASWORKS Enterprise
              Application software Talent Network, you are one step closer to finding your next role, advancing your
              career, and connecting with other talented engineers in our community. Cheers to that!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-12 p-0 quiz-content-rht">
        <div class="quiz-form-wizard">
          <div class="quiz-start" *ngIf="currentPage === 0">
            <div class="quiz-logo">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_xxsz0pga.json" background="transparent"
                speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>
            <p>Please carefully and honestly answer the following questions to complete you Joining Application.</p>
            <button type="button" class="btn-get-started mt-3" (click)="changePage(1)">Get Started</button>
          </div>
          <div class="quiz-start-ans" *ngIf="currentPage >0 && currentPage<14">
            <div class="quiz-logo">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_xxsz0pga.json" background="transparent"
                speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>
            <!--Loading -->
            <div class="top-wizard mb-4" *ngIf="currentPage<14 && currentPage >0">
              <span>{{currentPage}} of 13 completed</span>
              <div class="progress-bar">
                <div class="ui-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  [style.width]="width+'%'"></div>
              </div>
            </div>
            <!--Loading -->
            <form>
              <div class="form-wizard-step">
                <div *ngFor="let data of talentQuestionData; let i = index">
                  <div class="question-steps"  *ngIf="data.type === 'textarea' &&  this.currentPage === data.id" >
                    <h2 class="main-question">Professional Summary</h2>
                    <div class="form-wizard-answer mt-3">
                      <div class="form-wizard-textarea">
                        <textarea name="summary"
                          [(ngModel)]="data.profileSummary"></textarea>
                      </div>
  
                    </div>
                    <h2 class="main-question mt-2 mb-2">Your Location TimeZone</h2>
                    <div class="form-wizard-answer ">
                      <div class="location-timezone">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="loc-timezone mb-2">
                              <label class="label-text">Country</label>
                              <div class="loc-inputgroup">
                                <select class="inputview" name='country' [ngModel]="selectedCountry" (ngModelChange)="onSelectCountry($event)">
                                  <ng-container *ngFor="let country of countries">
                                    <option value="{{country.code}}">{{country.name}}</option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                          </div>
  
                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="loc-timezone mb-2">
                              <label class="label-text">State</label>
                              <div class="loc-inputgroup">
                                <select class="inputview"  name='state' [ngModel]="selectedState" (ngModelChange)="onSelectState($event)">
                                  <ng-container *ngFor="let state of allState">
                                    <option value="{{state.iso}}">{{state.name}}</option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                          </div>
  
                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="loc-timezone">
                              <label class="label-text">City</label>
                              <div class="loc-inputgroup">
                                <select class="inputview" name='city' [ngModel]="selectedCity" (ngModelChange)="onSelectCity($event)">
                                  <ng-container *ngFor="let city of cities">
                                    <option value="{{city}}">{{city}}</option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                          </div>
  
                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="loc-timezone">
                              <label class="label-text">TimeZone</label>
                              <div class="loc-inputgroup">
                                <select class="inputview">
                                  <option value="1">TimeZone</option>
                                  <option value="2">TimeZone</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div *ngIf="data.type === 'mixed' && this.currentPage === data.id" class="question-steps">
                    <h2 class="main-question">{{data.question.first}}<span class="spantitlecolor">{{data.id==2? '' :enterpriseApplicationGroup}}</span> {{data.question.second}}  </h2>
                    <div class="form-wizard-answer mt-2">
                      <div class="multiselect-languge">
                        <div class="lang-list-box">
                          <app-talent-question-select-item [fieldArray]="fieldArray" (inputNoOfYear)="onInputNoOfYear($event)"
                            (inputNoOfSkill)="onInputSkill($event)" (deleteFieldValue)="deleteSelectedOption($event)">
                          </app-talent-question-select-item>
                          <div class="language-multiselect-dropdown mt-2">
                            <div class="lm-dropdown dropdown">
                              <input type="text" placeholder="Type the desired skills you need in your project"
                                class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" name="filterbasedon"
                                [(ngModel)]="filterString">
                              <div  aria-labelledby="dropdownMenuButton">
                                <ul>
                                  <li *ngFor="let option of data.option | datafilter:filterString">
                                    <ng-container *ngIf="data.id  === 2">
                                      <a class="dropdown-item" href="javascript:void(0)" class="pl-3 pr-3"
                                        [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                        (click)="selectOption(option)">
                                        {{option.value}}
                                      </a>
                                    </ng-container>
                                    <ng-container *ngIf="data.id  === 3 && enterpriseApplicationGroup && option.group === enterpriseApplicationGroup">
                                      <a class="dropdown-item" href="javascript:void(0)" class="pl-3 pr-3"
                                        [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                        (click)="selectOption(option)">
                                        {{option.value}}
                                      </a>
                                    </ng-container>
                                    <ng-container *ngFor="let subgroup of  enterpriseApplicationSubGroup">
                                    <ng-container *ngIf="data.id  === 4 && option.subgroup === subgroup && option.primaryDomain === enterpriseApplicationGroup">
                                      <a class="dropdown-item" href="javascript:void(0)" class="pl-3 pr-3"
                                        [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                        (click)="selectOption(option)">
                                        {{option.value}}
                                      </a>
                                    </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="data.id  === 5">
                                    <a class="dropdown-item" href="javascript:void(0)" class="pl-3 pr-3"
                                      [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                      (click)="selectOption(option)">
                                      {{option.value}}
                                    </a>
                                  </ng-container>
                                  <ng-container *ngFor="let subgroup of  enterpriseApplicationSubGroup">
                                  <ng-container *ngIf="data.id  === 6 && option.subgroup === subgroup && option.primaryDomain === enterpriseApplicationGroup">
                                    <a class="dropdown-item" href="javascript:void(0)" class="pl-3 pr-3"
                                      [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                      (click)="selectOption(option)">
                                      {{option.value}}
                                    </a>
                                  </ng-container>
                                  </ng-container>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="question-steps" *ngIf="data.type === 'specialProgrammingQuestion' &&  this.currentPage === data.id">
                    <h2 class="main-question">Tell us a bit about your experience</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type mt-4 p-0 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <div class="form-group-wizard d-flex  align-items-center">
                            <label class="qs-label-text">Total Number of Year of experience in this <span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> domain?</label>
                            <div class="form-input-group  qs-year">
                              <select class="com-select" name='freelancing' [(ngModel)]="data.startFreelancing">
                                <option value="0">Select Year</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                              </select>
                            </div>
                          </div>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <div class="form-group-wizard d-flex  align-items-center">
                            <label class="qs-label-text">Do you have <span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> - Development/Coding experience</label>
                            <div class="form-input-group">
                              <div class="d-flex w-100">
                                <div class="form-input-group position-relative w-50">
                                  <ul class="form-wizard-type mt-4 p-0 d-flex">
                                    <li class="w-auto" *ngFor="let opt of data.option">
                                      <a href="javascript:void(0)" class="d-block text-center" 
                                      [ngStyle]=" opt.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                      [style.background-color]="opt.selected ? '#4949fc': ''"
                                      [style.color]="opt.selected ? 'white': ''"
                                      (click)="selectOption(opt)">
                                        {{opt.value}}</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li *ngIf  = 'showProfessionalCodingExperience' class="col-lg-12 col-md-12 col-12">
                          <div class="form-group-wizard d-flex align-items-center">
                            <label class="qs-label-text">Total Year of professional coding experience?</label>
                            <div class="form-input-group qs-year">
                              <select class="com-select" name="workingProfessionally"
                                [(ngModel)]="data.startWorkingProfessionally">
                                <option value="0">Select Year</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                              </select>
                            </div>
                          </div>
                        </li>
  
  
                      </ul>
                    </div>
                  </div>

                  <div class="question-steps" *ngIf="data.type === 'specialtechquestion' &&  this.currentPage === data.id">
                    <h2 class="main-question">{{data.question}}<span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> </h2>
                    <div class="form-wizard-answer">
                      <ng-container *ngIf="data.id  === 8">
                      <app-talent-question-select-item [fieldArray]="fieldArray" (inputNoOfYear)="onInputNoOfYear($event)"
                      (inputNoOfSkill)="onInputSkill($event)" (deleteFieldValue)="deleteSelectedOption($event)">
                    </app-talent-question-select-item>
                    </ng-container>
                    <ng-container *ngIf="data.id  === 9">
                      <app-employer-select-item [fieldArray]="fieldArray" (deleteFieldValue)="deleteSelectedOption($event)">
                      </app-employer-select-item>
                      </ng-container>
                  <div  class="sidemenuTabsContent mt-3 p-0">
                    <div class="tabcontentside d-flex align-items-start w-100">
                      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <h1 class="tabtitle">{{data.subtitle}}</h1>
                        <button  *ngFor="let but of data.button" class="nav-link" id="v-pills-IoT-tab" data-bs-toggle="pill"
                          data-bs-target="#v-pills-IoT" type="button" role="tab" aria-controls="v-pills-settings"
                          aria-selected="false" (click)="buttonData(but)"> 
                          {{but.value}}
                        </button>
                      </div>
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-erpaf" role="tabpanel"
                          aria-labelledby="v-pills-erpaf-tab">
                          <div class="rightpanel-easworks">
                            <div class="easworkSearchbox">
                              <input type="text" name="filter" placeholder="Type a skill to filter the list below" [(ngModel)]="filterString" />
                            </div>
                            <ul class="easeworkssearchList scroll" [style.height.px]="getHeight()">
                              <li *ngFor="let opt of data.option | datafilter:filterString">
                                <ng-container *ngIf="opt.group === buttonDataFilter">
                                  <a href="javascript:void(0)" (click)="selectOption(opt)"
                                  [ngStyle]=" opt.disable ? {'pointer-events':'none','opacity':'0.6'}:{}"
                                  >{{opt.value}}</a>
                                </ng-container>
                                
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                    </div>
                  </div>
                  </div>


                    <div *ngIf="data.type === 'selectMultiselect' &&  this.currentPage === data.id">
                      <ng-container *ngFor = "let subValue of  data.data">
                        <div class="question-steps"  *ngIf = "subValue.visible">
                          <h2 class="main-question"><span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> {{subValue.question}}</h2>
                          <div class="form-wizard-answer">
                            <ul class="form-wizard-type jss-list selectarea  mt-3 row">
        
                              <li class="col-lg-12 col-md-12 col-12" *ngFor = "let option of  subValue.option">
                                <a href="javascript:void(0)" class="pl-3 pr-3" (click)="selectOption(option)"
                                [style.background-color]="option.selected ?'#4949fc' :''"
                                [style.color]="option.selected ? 'white': ''"
                                  [ngStyle]=" option.disable ? {'pointer-events':'none','opacity':'0.6'}:{}" >
                                  <span class="d-block text-uppercase">{{option.firstPart}}</span>
                                  <span *ngIf="option.secondPart">{{option.secondPart}}</span>
                                  <sub *ngIf="option.thirdPart">{{option.thirdPart}}</sub>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <div class="question-steps"  *ngIf="data.type === 'inputSelectMultiselect' &&  this.currentPage === data.id">
                        <h2 class="main-question">Hourly Rate Expectation</h2>
                        <div class="form-wizard-answer mb-3">
                          <ul class="form-wizard-type mt-4 p-0 row">
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Desired Hourly rate</label>
                                <div class="form-input-group position-relative w-50">
                                  <input type="text" name="desiredHourlyRate" class="inputview" appBlockCopyPaste (keypress)="onlyNumber($event)"
                                    [(ngModel)]="data.data.desiredHourlyRate">
                                  <span class="dollar">USD/Hour</span>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard  d-flex align-items-center">
                                <label class="qs-label-text">Monthly rate (Full Time Engagement)</label>
                                <div class="form-input-group position-relative w-50">
                                  <input type="text" name="monthlyRate" class="inputview" appBlockCopyPaste (keypress)="onlyNumber($event)"
                                    [(ngModel)]="data.data.monthlyRate">
                                  <span class="dollar">USD/Hour</span>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Target Annual Salary</label>
                                <div class="form-input-group position-relative w-50">
                                  <input type="text" name="annualSalary" class="inputview" appBlockCopyPaste (keypress)="onlyNumber($event)"
                                    [(ngModel)]="data.data.targetAnnualSalary">
                                  <span class="dollar">USD/Hour</span>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Preferred <span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> role</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name='preferredPLM' [ngModel]="preferredPLM" (ngModelChange)="selectOption($event,'preferredPLM')">
                                    <ng-container *ngFor="let role of jobRole">
                                      <option value="{{role.value}}">{{role.value}}</option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Current <span class="spantitlecolor">{{enterpriseApplicationGroup}}</span> role</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name='currentPLM' [ngModel]="currentPLM" (ngModelChange)="selectOption($event,'currentPLM')">
                                    <ng-container *ngFor="let role of jobRole">
                                      <option value="{{role.value}}">{{role.value}}</option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Weekly Hour Rate </label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name="preferredPLM" [(ngModel)]="data.data.weeklyHourlyRate">
                                      <option value="10hour/week">10hour/week</option>
                                      <option value="20hour/week">20hour/week</option>
                                      <option value="30hour/week">30hour/week</option>
                                      <option value="40hour/week">40hour/week</option>
                                  </select>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <h2 class="main-question">If you get an offer, how soon can you start working?</h2>
                        <div class="form-wizard-answer">
                          <ul class="form-wizard-type selectarea  mt-4 row">
                            <li class="col-lg-4 col-md-4 col-12" *ngFor="let option of data.startWorkingWithEasyWork">
                              <a href="javascript:void(0)" (click)='selectOption(option)'
                              [style.color]="option.selected ? 'white': ''"
                                [style.background-color]="option.selected ?'#4949fc' :''"
                                >
                                {{option.value}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="question-steps"  *ngIf="data.type === 'resumequestion' &&  this.currentPage === data.id" >
                        <h2 class="main-question">Hi <span class="spantitlecolor">{{name.firstName}},</span> Tell us about Yourself</h2>
                        <div class="form-wizard-answer mb-3">
                          <ul class="form-wizard-type mt-4 p-0 row">
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Contact Phone Number</label>
                                <div class="form-input-group position-relative w-50 d-flex flex-row-reverse">
                                  <input type="text" class="inputview" appBlockCopyPaste  (keypress)="onlyNumber($event)" maxlength="10" name="phonenumber" [(ngModel)]="data.phonenumber">
                                  <div class="cw-select">
                                    <select name="phonecode" [(ngModel)]="data.phoneCode">
                                      <ng-container *ngFor="let country of countries">
                                        <option value="{{country.dialcode}}">{{country.dialcode}}</option>
                                      </ng-container>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Whatsapp Number</label>
                                <div class="form-input-group position-relative w-50 d-flex flex-row-reverse">
                                  <input type="text" class="inputview" appBlockCopyPaste (keypress)="onlyNumber($event)"  maxlength="10" name="phonenumber2" [(ngModel)]="data.phonenumber2">
                                  <div class="cw-select">
                                    <select name="phonecode2" [(ngModel)]="data.phoneCode2">
                                      <ng-container *ngFor="let country of countries">
                                        <option value="{{country.dialcode}}">{{country.dialcode}}</option>
                                      </ng-container>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-baseline">
                                <label class="qs-label-text">Profile Photo</label>
                                <div class="form-input-group position-relative w-50">
                                  <div class="uploadProfile">
                                    <input type="file" id="profilephoto" accept=".png,.jpg" (change)="onImage($event)" />
                                    <label for="profilephoto">Drag or Upload an Image</label>
                                  </div>
                                  <p class="up-para">Please upload JPG or PNG file that is at least 380 X 380 pixels and no
                                    larger than 15mb.</p>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Resume</label>
                                <div class="form-input-group position-relative w-50 d-flex">
                                  <input type="text" class="inputview">
                                  <div class="uploadfiles">
                                    <input type="file" id="up-files" />
                                    <label for="up-files">Choose PDF</label>
                                  </div>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Upload Video</label>
                                <div class="form-input-group position-relative w-50 d-flex">
                                  <input type="text" class="inputview">
                                  <div class="uploadfiles">
                                    <input type="file" id="up-files-video" />
                                    <label for="up-files-video">Upload Video</label>
                                  </div>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Reasons to Apply for EASWORKS</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name="applyEasworks" [(ngModel)]="data.reasonToApply">
                                    <option value="Want to work on challenging enterprise application projects.">Want to work on challenging enterprise application projects.</option>
                                    <option value="Need extra work or income ($$)">Need extra work or income ($$)</option>
                                    <option value="Remote works provides flexibility & freedom">Remote works provides flexibility & freedom</option>
                                    <option value="Want to learn new enterprise application & associated technical skills">Want to learn new enterprise application & associated technical skills
                                    </option>
                                    <option value="Want to work with elite companies">Want to work with elite companies</option>
                                    <option value="Word of mouth reference">Word of mouth reference</option>
                                    <option value="Joining based on postive online review">Joining based on postive online review</option>
                                    <option value="Want to part of EAS community">Want to part of EAS community</option>
                                    <option value="Others">Others</option>
                                  </select>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Have you ever worked as Freelancer in past</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview"name="pastExperience" [(ngModel)]="data.workAsFreelancerInPast">
                                    <option value="YES">Yes</option>
                                    <option value="NO">No</option>
                                    </select>
                                </div>
                              </div>
                            </li>
      
                            <li class="col-lg-12 col-md-12 col-12" *ngIf="data.workAsFreelancerInPast=== 'YES'">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">Number of years of freelancer experience</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name="noOfYearExperience" [(ngModel)]="data.FreelancingExperience">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                  </select>
                                </div>
                              </div>
                            </li>
                            <li class="col-lg-12 col-md-12 col-12">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text"> Select your English fluency level</label>
                                <div class="form-input-group position-relative w-50">
                                  <select class="inputview" name="englishFluencyLevel"  [(ngModel)]="data.englishFluencyLevel">
                                    <option value="NO(N) Practical proficiency (Google translates me)">NO(N) Practical proficiency (Google translates me)</option>
                                    <option value="Basic(B) - I can Read,write & speak basic English">Basic(B) - I can Read,write & speak basic English </option>
                                    <option value="Fluent(F)-I can Read,write,understand,speak & comprehend English with no trouble">Fluent(F)-I can Read,write,understand,speak & comprehend English with no trouble</option>
                                    <option value="Professional(P)-I have Advance Level of proficiency  7 can communicate in complex and cognitively demading situation">Professional(P)-I have Advance Level of proficiency  7 can communicate in complex and cognitively demading situation 
                                    </option>
                                    <option value="Excellent Native/Billungal(E) - English is my primary and native language">Excellent Native/Billungal(E) - English is my primary and native language</option>
                                  </select>
                                </div>
                              </div>
                            </li>
      
                          </ul>
                        </div>
      
                        <div class="question-steps mt-2">
                          <div class="d-flex align-items-center">
                            <h2 class="main-question">Work Experience</h2>
                            <button type="button"
                              class="btn-get-started addworkhistorybtn mb-2 d-flex align-items-center ml-auto" (click)="onAddExperience()"><i
                                class="bx bx-plus-circle"></i> Add Experience</button>
                          </div>
                          <div class="form-wizard-answer">
                            <table class="defaultTable">
                              <thead>
                                <tr>
                                  <th>Roles</th>
                                  <th>Duration</th>
                                  <th>Developer Skills</th>
                                  <th>Client Name</th>
                                  <th class="text-center">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let expert of data.experience; let i = index">
                                  <td >
                                    <select class="inputview" [(ngModel)]="expert.role" #name="ngModel" name="expert{{i}}.role">
                                      <ng-container *ngFor="let role of jobRole">
                                        <option value="{{role.value}}">{{role.value}}</option>
                                      </ng-container>
                                    </select>
                                  </td>
                                  <td>
                                    <div class="d-flex">
                                      <input type="text" class="inputview mr-1"  #name="ngModel" name="expert{{i}}.startDuration" [(ngModel)]="expert.startDuration" />
                                      <input type="text" class="inputview"  #name="ngModel" name="expert{{i}}.endDuration"  [(ngModel)]="expert.endDuration" />
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" class="inputview"  #name="ngModel" name="expert{{i}}.skills"  [(ngModel)]="expert.skills" />
                                  </td>
                                  <td>
                                    <input type="text" class="inputview"  #name="ngModel" name="expert{{i}}.clientName" [(ngModel)]="expert.clientName" />
                                  </td>
                                  <td class="text-center">
                                    <button type="button" class="remoebtn" (click)="onRemoveExperience(expert,i)">
                                      <i class='bx bx-minus-circle'></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
      
                        <div class="question-steps mt-3">
                          <div class="d-flex align-items-center">
                            <h2 class="main-question">Education</h2>
                            <button type="button"
                              class="btn-get-started addworkhistorybtn mb-2 d-flex align-items-center ml-auto" (click)="onAddEducation()"><i
                                class="bx bx-plus-circle"></i> Add Education</button>
                          </div>
                          <div class="form-wizard-answer">
                            <table class="defaultTable">
                              <thead>
                                <tr>
                                  <th>Degree</th>
                                  <th>Specialization</th>
                                  <th>Duration</th>
                                  <th>School/ College/ University</th>
                                  <th>Country/ State/ City</th>
                                  <th class="text-center">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let education of data.education; let i = index">
                                  <td>
                                    <input type="text" class="inputview mr-1" #name="ngModel" name="education{{i}}.degree" [(ngModel)]="education.degree"/>
                                  </td>
                                  <td>
                                      <input type="text" class="inputview"  #name="ngModel" name="education{{i}}.specialization" [(ngModel)]="education.specialization"/>
                                  </td>
                                  <td>
                                    <div class="d-flex">
                                      <input type="text" class="inputview mr-1" #name="ngModel" name="education{{i}}.startDuration" [(ngModel)]="education.startDuration"/>
                                      <input type="text" class="inputview"  #name="ngModel" name="education{{i}}.endDuration" [(ngModel)]="education.endDuration" />
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" class="inputview mr-1" #name="ngModel" name="education{{i}}.school" [(ngModel)]="education.school"/>
                                  </td>
                                  <td>
                                    <input type="text" class="inputview mr-1" #name="ngModel" name="education{{i}}.address" [(ngModel)]="education.address"/>
                                  </td>
                                  <td class="text-center">
                                    <button type="button" class="remoebtn" (click)="onRemoveEducation(education,i)">
                                      <i class='bx bx-minus-circle'></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="question-steps" *ngIf="data.type === type.socialMedia &&  this.currentPage === data.id">
                        <h2 class="main-question">Hi <span class="spantitlecolor">{{name.firstName}},</span> Please Share Links That can  help us to get know you </h2>
                        <div class="form-wizard-answer">
                          <ul class="form-wizard-type mt-4 p-0 row">
                            <li class="col-lg-12 col-md-12 col-12"  *ngFor="let opt of data.option">
                              <div class="form-group-wizard d-flex align-items-center">
                                <label class="qs-label-text">{{opt.label}}</label>
                                <div class="form-input-group  w-100">
                                  <input type="text" class="inputview" name="{{opt.label}}" [(ngModel)]="opt.value">
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>



                </div>



                <div class="quiz-bttn-group border-top pt-3" *ngIf="currentPage<14 && currentPage >0">
                  <button type="button" class="btn-common-border" [disabled]="currentPage === 1"
                    (click)="changePage(-1)">Previous</button>
                  <div class="next-skip">
                    <button type="button" class="btn-common-border d-none">Skip</button>
                    <button type="button" class="btn-common-border nextbtn" [disabled]="disableNextButton"
                      (click)="changePage(1)">Next</button>
                  </div>

                </div>
              </div>
            </form>

          </div>
          <div class="congrtz-content" *ngIf="currentPage===14">
            <span>
              <i class='bx bx-check'></i>
            </span>
            <h3>Congrats {{name.firstName}}!</h3>
            <p>Looks like you could be a great fit for our platform!</p>
            <!-- <img class="congts-img" src="assets/img/Congrats_Talent.png" /> -->
            <div class="congrtzLottie"><lottie-player src="https://assets8.lottiefiles.com/packages/lf20_8uojpeha.json" background="transparent"
          speed="1" style="width: 100%; height: 100%" loop autoplay></lottie-player>
        </div>
            <div class="next-step-dashboard border-top pt-3">
              <h4 class="text-center mb-3">Next Steps</h4>
              <ul class="twowaysstreet-type text-center mt-2 row">
                <li class="col-lg-3 col-md-3 col-12 pr-0 d-block">
                  <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_mcqtv0qr.json"
                  background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                </lottie-player>
                  <h4>Profile review for completeness and feedback</h4>
                </li>
                <li class="col-lg-3 col-md-3 col-12 pl-0 d-block">
                  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_6ln47dih.json"
                  background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                </lottie-player>
                  <h4>Profile Approve</h4>
                </li>
                <li class="col-lg-3 col-md-3 col-12  pr-0 d-block">
                  <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_mlfv646z.json"
                  background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                </lottie-player>
                  <h4>Apply for elite companies</h4>
                </li>
                <li class="col-lg-3 col-md-3 col-12 d-block">
                  <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ssmd5ixl.json"
                  background="transparent" speed="1" style="width: 100%; height: 100px;" loop autoplay>
                </lottie-player>
                  <h4>Onboard and start working after interview selection</h4>
                </li>
              </ul>
            </div>
            <div class="d-flex justify-content-between w-100 mt-3">
              <a href="javascript:void(0)" (click)="goToMyProfile()" class="btn-common-border nextbtn">Take EAS skill Assessment Test</a>
              <a href="javascript:void(0)" (click)="goToMyProfile()" class="btn-common-border nextbtn">Go to My
                Profile</a>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>