<div class="h-screen p-5 bg-white">
  <h2 class="font-bold text-2xl text-black">My Account</h2>
  <p class="text-gray-400 font-bold text-sm">This Dashboard will help you to upload your prsonal information </p>
  <div class="w-full mt-6 ">
    <div class="border-b bg-white w-full border-gray-200 dark:border-gray-700 mb-4">
      <ul class="flex flex-wrap w-full -mb-px">
        <li class="mr-2">
          <button (click)="setActiveTab('myaccount')"
            [ngClass]="{'active': isActive('myaccount'), 'text-gray-500': !isActive('experience'), 'hover:text-gray-600': true, 'hover:border-gray-300': true, 'dark:text-gray-400': true, 'dark:hover:text-gray-300': true}"
            class="inline-block rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2">Account</button>
        </li>
        <li class="mr-2">
          <button (click)="setActiveTab('manage-collabrators')"
            [ngClass]="{'active': isActive('manage-collabrators'), 'text-gray-500': !isActive('manage-collabrators'), 'hover:text-gray-600': true, 'hover:border-gray-300': true, 'dark:text-gray-400': true, 'dark:hover:text-gray-300': true}"
            class="inline-block rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2">Manage Collaborators</button>
        </li>
        <li class="mr-2">
          <button (click)="setActiveTab('security')"
            [ngClass]="{'active': isActive('security'), 'text-gray-500': !isActive('jobReference'), 'hover:text-gray-600': true, 'hover:border-gray-300': true, 'dark:text-gray-400': true, 'dark:hover:text-gray-300': true}"
            class="inline-block rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2">Security</button>
        </li>

      </ul>
    </div>

    <div *ngIf="isActive('myaccount')">
      <div class=" flex flex-row items-center justify-between">
        <div class="flex items-center space-x-4 mt-3">
          <img class="w-24 h-24 rounded-full"
            src="https://thumbs.dreamstime.com/b/businessman-icon-vector-male-avatar-profile-image-profile-businessman-icon-vector-male-avatar-profile-image-182095609.jpg" />
          <div>
            <p class="font-bold text-2xl text-black">Steve</p>
            <p class="font-bold text-sm text-gray-600">Admin</p>
          </div>
        </div>
        <div *ngIf="!isEditPopupVisible">
          <button
            class="relative primary flex items-center px-6 py-3 font-bold text-white bg-teal-500 rounded-full shadow-lg transform transition-transform duration-300 hover:scale-105 focus:scale-105 focus:ring-4 focus:ring-teal-300"
            (click)="setIsEditPopupVisible(true)">
            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7.75 9.414l-.707.707-.707.707-1.537 1.537a1 1 0 00-.293.707V14a1 1 0 001 1h.293l1.537-1.537.707-.707.707-.707 6.836-6.836a2 2 0 000-2.828l-1.414-1.414zm-8.707 7.707L3 15h3.586l5.707-5.707-3.586-3.586zm5.293-5.293l1.414 1.414L14.414 8 13 6.586l1.414-1.414z">
              </path>
            </svg>

            Edit
          </button>
        </div>

        <div *ngIf="isEditPopupVisible" class="flex flex-row justify-between w-1/5">
          <button
          class="py-2 px-4 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            
            (click)="setIsEditPopupVisible(false)"
            >
            Save
          </button>

          <button
            class="py-2 px-4 bg-gray-500 text-white rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
            (click)="setIsEditPopupVisible(false)"
            >
            Cancel
          </button>
        </div>
      </div>

      <div class=" bg-white mt-6  rounded-md p-5">
        <h1 class="text-2xl">Contact information</h1>
        <div *ngIf="!isEditPopupVisible" class=" flex justify-between items-center mt-6 ">
          <div>

            <p class="text-xs text-gray-400 ">Date of birth (DOB)</p>
            <p class=" text-gray-900 text-lg font-semibold">07/09/1999</p>

          </div>
          <div>
            <p class="text-xs text-gray-400 ">Mobile Number</p>
            <p class=" text-gray-900 text-lg font-semibold">+32 0213 6548</p>
          </div>
          <div>
            <p class="text-xs text-gray-400 ">Email Id</p>
            <p class=" text-gray-900 text-lg font-semibold">easwork.contacteaswork.com</p>
          </div>
          <div>
            <p class="text-xs text-gray-400 ">Gendar</p>
            <p class=" text-gray-900 text-lg font-semibold">Male</p>
          </div>
          <div>
            <p class="text-xs text-gray-400 ">Linkedin</p>
            <img class="h-8 mt-2 items-center"
              src="https://blog.waalaxy.com/wp-content/uploads/2021/01/LinkedIn-Symbole.png" alt="linkedin" />
          </div>

        </div>
        <div *ngIf="isEditPopupVisible">
          <app-account-edit-popup></app-account-edit-popup>
        </div>
      </div>


    </div>
    <div *ngIf="isActive('security')">
      <!-- Content for Job Reference -->
      <app-account-security></app-account-security>

    </div>

    <div *ngIf="isActive('manage-collabrators')">
      <!-- Content for Job Reference -->
      <app-my-collabrator></app-my-collabrator>
    </div>

  </div>
  



</div>