.show {
  display: inline-block;
}
.hide {
  display: none;
}
.colorafedec {
  background: #afedec !important;
}
.colorb4c0ea {
  background: #b4c0ea !important;
}
.colorfec1ae {
  background: #fec1ae !important;
}
.colore9b0e5 {
  background: #e9b0e5 !important;
}
.colorffdaad {
  background: #ffdaad !important;
}
.color97c996 {
  background: #97c996 !important;
}
.cr-pointer{
  cursor: pointer;
}