<section class="page mx-auto py-12">
  <div>
    <h2
      class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mx-auto"
    >
      Process <span class="text-primary-500"> /Methodology</span>
    </h2>
  </div>

  <div
    class="grid 6xl:grid-cols-5 5xl:grid-cols-4 3xl:grid-cols-3 lg:grid-cols-2 py-12 w-11/12 mx-auto relative"
  >
    <div class="relative bg-img1 h-[550px] z-10">
      <img
        src="/assets/public/use-cases/modernization/process/assessment.svg"
        alt="Assessment"
        class="absolute left-2/4 -translate-x-2/4 top-10"
      />

      <div
        class="absolute top-2/4 -translate-y-2/4 w-36 mx-auto text-center left-2/4 -translate-x-2/4"
      >
        <h5 class="7xl:text-xl text-lg font-bold text-primary-500 mt-2 mb-1">
          Assessment
        </h5>
        <p class="!leading-5 7xl:text-base text-sm">
          Evaluate existing systems and identify areas for improvement.
        </p>
      </div>
    </div>

    <div class="relative bg-img2 h-[550px] z-10">
      <img
        src="/assets/public/use-cases/modernization/process/strategy.svg"
        alt="Strategy"
        class="absolute left-2/4 -translate-x-2/4 top-10"
      />

      <div
        class="absolute top-2/4 -translate-y-2/4 w-36 mx-auto text-center left-2/4 -translate-x-2/4"
      >
        <h5 class="7xl:text-xl text-lg font-bold text-primary-500 mt-2 mb-1">
          Strategic Planning
        </h5>
        <p class="!leading-5 7xl:text-base text-sm">
          Develop a detailed modernization strategy.
        </p>
      </div>
    </div>

    <div class="relative bg-img3 h-[550px] z-10">
      <img
        src="/assets/public/use-cases/modernization/process/migration.svg"
        alt="Migration and
        Upgrades"
        class="absolute left-2/4 -translate-x-2/4 top-10"
      />

      <div
        class="absolute top-2/4 -translate-y-2/4 w-36 mx-auto text-center left-2/4 -translate-x-2/4"
      >
        <h5 class="7xl:text-xl text-lg font-bold text-primary-500 mt-2 mb-1">
          Migration and Upgrades
        </h5>
        <p class="!leading-5 7xl:text-base text-sm">
          Transition to modern platforms and technologies.
        </p>
      </div>
    </div>

    <div class="relative bg-img4 h-[550px] z-10">
      <img
        src="/assets/public/use-cases/modernization/process/ui-ux.svg"
        alt="UI/UX
        Enhancements"
        class="absolute left-2/4 -translate-x-2/4 top-10"
      />

      <div
        class="absolute top-2/4 -translate-y-2/4 w-36 mx-auto text-center left-2/4 -translate-x-2/4"
      >
        <h5 class="7xl:text-xl text-lg font-bold text-primary-500 mt-2 mb-1">
          UI/UX Enhancements
        </h5>
        <p class="!leading-5 7xl:text-base text-sm">
          Improve user interfaces for better usability.
        </p>
      </div>
    </div>

    <div class="relative bg-img5 h-[550px] z-10">
      <img
        src="/assets/public/use-cases/modernization/process/assurance.svg"
        alt="Testing and
Quality
Assurance"
        class="absolute left-2/4 -translate-x-2/4 top-10"
      />

      <div
        class="absolute top-2/4 -translate-y-2/4 w-36 mx-auto text-center left-2/4 -translate-x-2/4"
      >
        <h5 class="7xl:text-xl text-lg font-bold text-primary-500 mt-2 mb-1">
          Testing and Quality Assurance
        </h5>
        <p class="!leading-5 7xl:text-base text-sm">
          Validate performance and compatibility.
        </p>
      </div>
    </div>

    <img
      src="/assets/public/use-cases/modernization/process/connector-img1.png"
      alt="connector img"
      class="absolute left-[15%] -translate-x-[15%] bottom-5 6xl:block hidden"
    />

    <img
      src="/assets/public/use-cases/modernization/process/connector-img2.png"
      alt="connector img"
      class="absolute left-[38%] -translate-x-[38%] top-5 6xl:block hidden"
    />

    <img
      src="/assets/public/use-cases/modernization/process/connector-img3.png"
      alt="connector img"
      class="absolute left-[63%] -translate-x-[63%] bottom-5 6xl:block hidden"
    />

    <img
      src="/assets/public/use-cases/modernization/process/connector-img2.png"
      alt="connector img"
      class="absolute right-[15%] translate-x-[15%] top-5 6xl:block hidden"
    />
  </div>
</section>
