<img class="h-8 block mx-auto" src="/assets/brand/logo-full-dark.png" alt="App Logo" loading="lazy" />

<div class="mt-4 rounded-md bg-surface p-4 px-8 pb-8 max-w-3xl w-screen">
  <p class="text-lg text-center">
    RESET PASSWORD
  </p>

  @switch (step$()) {
  @case ('send verification code') {

  <p class="mt-4 text-sm">
    We will send a code the email address you have registered with us.
    You will be needed to enter that code on this page to proceed with resetting you password.
  </p>

  <form class="mt-4"
        [formGroup]="emailForm.form"
        (ngSubmit)="emailForm.submit()">
    <div *ngrxLet="emailForm.form.controls.email as control"
         [formFieldControl]="control">
      <input type="email" [formControl]="control" placeholder="Email">
      @if(control.hasError('required')) { <span class="error">Required</span> }
      @if(control.hasError('email')) { <span class="error">Invalid Email</span> }
      @if(control.hasError('notRegistered')) { <span class="error">Email not registered</span> }

    </div>

    <button type="submit" class="shaded-button primary" mat-ripple
            [disabled]="emailForm.disabled$()">
      <replace-spinner [showSpinner]="emailForm.loading$()">
        Send Verification Code
      </replace-spinner>
    </button>
  </form>
  }

  @case ('validate verification code') {
  <p class="mt-4 text-sm">
    A code has been sent to the email address you specified before.
    Please enter the code you received here to reset your password.
  </p>

  <form class="mt-4"
        [formGroup]="otpForm.form"
        (ngSubmit)="otpForm.submit()">
    <div *ngrxLet="otpForm.form.controls.code as control"
         [formFieldControl]="control">
      <input type="text" inputmode="numeric" [formControl]="control" placeholder="Code">
      @if(control.hasError('required')) {<span class="error">Required</span>}
      @if(control.hasError('minlength')) {<span class="error">Invalid code</span>}
      @if(control.hasError('maxlength')) {<span class="error">Invalid code</span>}
      @if(control.hasError('invalid')) {<span class="error">Invalid code</span>}

    </div>

    <button type="submit" class="shaded-button primary" mat-ripple
            [disabled]="otpForm.disabled$()">
      <replace-spinner [showSpinner]="otpForm.loading$()">
        Verify
      </replace-spinner>
    </button>
  </form>
  }

  @case ('change password') {
  <form class="mt-4"
        [formGroup]="passwordForm.form"
        (ngSubmit)="passwordForm.submit()">
    <div *ngrxLet="passwordForm.form.controls.password as control"
         [formFieldControl]="control" class="mb-12">
      <label>Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Enter your Password">
      @if(control.hasError('required')){<span class="error">Required</span>}
      @if(control.hasError('pattern')){<span class="error">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>}
      @if(control.hasError('passwordMismatch')){<span class="error">Passwords do not match</span>}
      <span class="hint">Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
    </div>

    <div *ngrxLet="passwordForm.form.controls.confirmPassword as control"
         [formFieldControl]="control">
      <label>Confirm Password</label>
      <input type="password" [formControl]="control" [crossValidate]="['passwordMismatch']"
             placeholder="Confirm your Password">
      @if(control.hasError('required')){<span class="error">Required</span>}
      @if(control.hasError('passwordMismatch')){<span class="error">Passwords do not match</span>}
    </div>

    <button type="submit" class="shaded-button primary" mat-ripple
            [disabled]="passwordForm.disabled$()">
      <replace-spinner [showSpinner]="passwordForm.loading$()">
        Set Password
      </replace-spinner>
    </button>
  </form>
  }

  @case ('redirect to signin') {
  <p class="mt-4 text-sm text-center">
    You have succesfully changed your password.
    You can now <a routerLink="/sign-in" class="underline text-primary-500">sign in</a> with your new password.
  </p>

  <p class="mt-4 text-sm text-on-surface-variant italic text-center">
    This page will automatically redirect to the sign in page in {{postSuccess.counter$()}} seconds
  </p>
  }

  @case ('restart process') {
  <p class="mt-4 text-sm text-center">
    We were unable to complete your request.
    Please <a routerLink="./" (click)="postFailure.click()" class="underline text-primary-500">refresh</a> the page and try again.
  </p>

  <p class="mt-4 text-sm text-on-surface-variant italic text-center">
    This page will automatically refresh in {{postFailure.counter$()}} seconds
  </p>
  }
  }


</div>