<section class="page mx-auto py-12">
    <div class="7xl:max-w-7xl mx-auto">
        <h2
            class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mx-auto  mb-20">
            Detailed <span class="text-primary-500"> Services</span>
        </h2>
    </div>

    <div
        class="grid mt-12 lg:gap-y-20 gap-y-7 mx-auto justify-center grid-cols-1 lg:grid-cols-2 5xl:grid-cols-3 7xl:max-w-7xl">
        <div class="bg-img bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -top-16 left-12 w-full">
                <img src="/assets/public/use-cases/software-dev/details/icon1.svg" alt="Image Shape" />
            </div>

            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Requirement
                    <br />
                    Analysis
                </h6>
                <p class="mb-0 px-4">Understand your needs to
                    define
                    <br />
                    clear project
                    requirements.
                </p>
            </div>
        </div>
        <div class="bg-img bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -top-16 left-12 w-full">
                <img src="/assets/public/use-cases/software-dev/details/icon2.svg" alt="Image Shape" />
            </div>
            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Custom
                    <br />
                    Development
                </h6>
                <p class="mb-0 px-4">Build tailored applications <br />
                    that fit seamlessly into <br />
                    your system.
                </p>
            </div>

        </div>
        <div class="bg-img bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -top-16 left-12 w-full">
                <img src="/assets/public/use-cases/software-dev/details/icon3.svg" alt="Image Shape" />
            </div>
            <div class="text-center mt-16">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">User-Centric <br />
                    Design</h6>
                <p class="mb-0 px-4">Create intuitive,
                    <br />
                    user-friendly interfaces.
                </p>
            </div>
        </div>
    </div>

    <div> <img src="/assets/public/use-cases/software-dev/details/section-divider.png" class=" w-9/12 mx-auto"
            alt="Image Shape" /></div>

    <div
        class="grid mb-12 lg:gap-y-20 gap-y-7 mx-auto justify-center grid-cols-1 lg:grid-cols-2 5xl:grid-cols-2 7xl:max-w-7xl">
        <div class="bg-img1 bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -bottom-14 right-28 w-full">
                <img src="/assets/public/use-cases/software-dev/details/icon4.svg" alt="Image Shape" class="ms-auto" />
            </div>

            <div class="text-center mt-20">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Scalability and <br />
                    Flexibility
                </h6>
                <p class="mb-0 px-4">Design adaptable <br />
                    applications for future <br />
                    growth.
                    interfaces.

                </p>
            </div>
        </div>
        <div class="bg-img1 bg-contain bg-center bg-no-repeat relative">
            <div class="absolute -bottom-14 right-28 w-full">
                <img src="/assets/public/use-cases/software-dev/details/icon5.svg" alt="Image Shape" class="ms-auto" />
            </div>
            <div class="text-center mt-20">
                <h6 class="3xl:text-2xl text-xl font-bold text-primary-500 mb-0">Testing and
                    <br />
                    Quality Assurance
                </h6>
                <p class="mb-0 px-4">Ensure functionality, security, <br />
                    and compatibility through <br />
                    rigorous testing.
                </p>
            </div>
        </div>
    </div>
</section>