<!-- Hero section start -->
<section class="relative">
  <div class="text-white">
    <div class="why-eas-hero-sec pb-20 bg-no-repeat bg-center bg-cover">
      <div
        class="py-20 text-center page 6xl:w-4/6 w-11/12 mx-auto z-10 relative"
      >
        <h2
          class="7xl:text-5xl 3xl:text-4xl text-3xl 7xl:leading-tight transition-all font-bold"
        >
          Why EASWORKS
        </h2>

        <p>
          As a niche enterprise application freelancing platform, EASWORKS
          enables you to deliver customized and specialized enterprise
          application services to businesses and freelancers within a specific
          domain/industry. Our platform fosters a community of EAS experts,
          ensuring successful project outcomes in the field of enterprise
          application development.
        </p>
        <p>
          Traditional Enterprise software hiring is slow and expensive. Typical
          Developer Freelancer marketplace are mostly generic technical skills &
          cluttered with poor performers. EASWORKS focuses on niche Enterprise
          Application software talent market & addresses the problems with other
          staffing approaches to scale on demand.
        </p>
      </div>
    </div>
  </div>

  <div class="tabs-wrapper">
    <div>
      <mat-tab-group animationDuration="0">
        <mat-tab label="Why">
          <service-type-why-tab-content-section></service-type-why-tab-content-section>
        </mat-tab>


        <mat-tab label="How">
          <service-type-how-tab-content-section></service-type-how-tab-content-section>
        </mat-tab>

        <mat-tab label="What">
          <service-type-what-tab-content-section></service-type-what-tab-content-section>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<!-- Hero section end -->
