<div class="group relative overflow-hidden bg-white shadow hover:shadow-md rounded-md h-fit">
  <div class="p-6">
    <div class="flex items-center">
      <div>
        <a class="inline-block text-[16px] font-semibold hover:text-primary-600 me-1"
          href="/job-detail-three">{{cardData.title}}</a>
        <span class="inline-block text-sm text-slate-400 opacity-80">{{cardData.Applicants}}</span>
        <div>
          <span class="bg-primary-600/10 inline-block 
                    text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full me-1">
            {{cardData.workEnvironment}}
          </span>
          <span class="text-sm font-medium inline-block me-1">
            Est. time:
            <span class="text-slate-400 opacity-80"> {{cardData.engagementPeriod}}</span>
          </span>
          <span class="text-sm font-medium inline-block me-1">
            Hourly:
            <span class="text-slate-400 opacity-80">{{cardData.noOfHours}}</span>
          </span>
        </div>
      </div>
    </div>
    <p class="text-slate-400 opacity-80 py-3">Looking for an experienced Web Designer for an our company.
    </p>
    <div>
      @for(chip of cardData.chipList; track chip){
      <span
        class="bg-slate-100 inline-block text-slate-900 text-xs px-2.5 py-0.5 font-medium rounded-full me-1">{{chip}}</span>
      }

    </div>
  </div>
  <div class="px-6 py-2 bg-slate-50 lg:flex justify-end items-center">
    <a class="btn btn-sm rounded-md border-primary-600 hover:border-primary-700 text-primary-500 md:ms-2 w-full lg:w-auto lg:mt-0 mt-4 py-1 px-3"
      routerLink="../view" [queryParams]="{ id: cardData.id}">Apply Now</a>
  </div>

</div>