<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<!--Banner section-->
<section id="banner-here" class="gethire-wraper d-flex align-items-center">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="
        col-lg-7 col-md-7 col-sm-7 col-12
          pt-5 pt-lg-0
          order-2 order-lg-1
          d-flex
          flex-column
          justify-content-center
        ">
        <h1 data-aos="fade-up" data-aos-delay="200">
          One platform with everything you need with <span class="spantitlecolor">{{prd?.Product?.name}} -
            {{prd?.prefix}}</span> implementation
        </h1>
        <p data-aos="fade-up" data-aos-delay="400">
          EASWORKS is a platform for top {{prd?.Product?.name}} {{prd?.prefix}} Application Consultant,
          Engineers, Analyst, Solution Architects, Consultants and Project
          managers. Elite companies and start-ups hire freelance {{prd?.Product?.name}} {{prd?.prefix}}
          Developers from EASWORKS for their critical Enterprise projects.
        </p>
        <h2 class="normal-title" data-aos="fade-up" data-aos-delay="200">
          <span class="spantitlecolor">{{prd?.Product?.name}} - {{prd?.prefix}}</span> Roles
          <div class="roles-hm-btn">
            <a href="javascript:void(0)" class="btn-get-started mr-3">Hire for <span class="spantitlecolor">{{prd?.prefix}}</span> Role</a>
            <a href="javascript:void(0)" class="btn-common-border">
              Apply for <span class="spantitlecolor">{{prd?.prefix}} </span> Jobs</a>
          </div>
          <!-- <div class="d-flex" data-aos="fade-up" data-aos-delay="500">
            
          </div> -->

        </h2>
        <ul class="developer-type aerolestype" data-aos="fade-up" data-aos-delay="200">
          <ng-container *ngFor="let list of prd?.Job_Roles;let i = index;">
            <li class="developer-list" *ngIf="show ? i < 12 : i">
              <a href="javascript:void(0)"><i class="icofont-simple-right"></i>{{prd?.Product?.name}} -
                {{prd?.prefix}}
                {{list}}</a>
            </li>
          </ng-container>
          <!-- <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM Developer</a>
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM Analyst</a>
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM Solution
              Architect</a>
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM Support
              Analyst</a>
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM
              Administrator</a>
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"><i class="icofont-simple-right"></i>Teamcenter PLM Trainer</a>
          </li> -->
        </ul>
        <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="500">
          <a href="javascript:void(0)" class="see-more-btn" (click)="showMore()">See {{ show ? "more" : "less" }}</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-12 order-1 order-lg-2 hero-img animated" data-aos="fade-up"
        data-aos-delay="600">
        <div class="dynamic-content">
          <span>{{prd?.Product?.name}} <strong>{{prd?.prefix}} Skills</strong></span>
        </div>
        <img src="assets/img/AESkills.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!--Banner section End-->

<!--Clients section-->
<section id="cliens" class="cliens section-bg pt-4 pb-4">
  <div class="container">
    <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-2.png" class="img-fluid clientsimg" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-3.png" class="img-fluid clientsimg" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-4.png" class="img-fluid clientsimg" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-5.png" class="img-fluid clientsimg" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-1.png" class="img-fluid clientsimg" alt="" />
      </div>
    </div>
  </div>
</section>
<!--Clients section End-->

<section class="team-dna services">
  <div class="container">
    <div class="section-title text-center">
      <h2>Hire top <span class="spantitlecolor">{{prd?.Product?.name}} {{prd?.prefix}}</span> talent</h2>
    </div>
    <div class="row plat-items hiringenterprise">
      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>01</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-joinforfree.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Post your <span class="spantitlecolor">{{prd?.Product?.name}} {{prd?.prefix}}</span> Job needs.
            </h2>
            <p class="common-para">
              Simply post your enterprise application hiring requirement and
              talk to our industry expert.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>02</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-revieandshorlist.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Thoroughly Vetted <span class="spantitlecolor"> {{prd?.Product?.name}} {{prd?.prefix}}</span>

            </h2>
            <p class="common-para">
              We will provide you the best suited {{prd?.Product?.name}} {{prd?.prefix}} Developer to
              interview based on your requirement from our talent network.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>03</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-pay.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Pay <span class="spantitlecolor"> {{prd?.Product?.name}} {{prd?.prefix}}</span> when you’re satisfied
              (Risk Free)
            </h2>
            <p class="common-para">
              Try a AppTalents {{prd?.Product?.name}} {{prd?.prefix}} Developer for up to 20 hours of
              trial work, Release payments when it has been completed and you're
              100% satisfied.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Service Section -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title text-center">
      <h2>Hiring for a specific <br><span class="spantitlecolor">{{prd?.name}}
          skills?</span>
      </h2>
      <p class="common-para">The EASWORKS platform includes experts across a very wide array of Enterprise Application
        Software (EAS) development languages and technologies. See the list below to find EAS freelance developer
        profiles and contractors with your desired skill.</p>
    </div>
    <form>
      <div class="row align-items-end justify-content-center">
        <div class="contact-form-group cfg-skills">
          <label>Primary Enterprise Application Domain</label>
          <div class="contact-input-group">
            <select class="inputview" (change)="changeDomain($event?.target)" [(ngModel)]="domainInput" name="domainInput">
              <option *ngFor="let list of domains" [value]="list?.domain">{{list?.domain}}</option>
              <!-- <option value="2">Big Data Analytics Tools</option>
              <option value="3">Business Analytics Tools</option>
              <option value="4">Business Intelligence Tools</option>
              <option value="5">EAM Software</option>
              <option value="6">CRM Software</option>
              <option value="7">ERP Software</option>
              <option value="8">MES Software</option> 
              <option value="9">PLM Software</option>
              <option value="10">LMS Software</option>
              <option value="11">CMS Software</option>
              <option value="12">Project Management Software</option>
              <option value="13">Supply Chain Management Software</option>
              <option value="14">Quality Management Software</option> -->
            </select>
          </div>
        </div>
        <div class="contact-form-group cfg-skills">
          <label>Enterprise Application Software</label>
          <div class="contact-input-group">
            <select class="inputview">
              <option *ngFor="let list of softwareList" [value]="list.name">{{list.name}}</option>
              <!-- <option value="1">JD Edwards</option> -->
            </select>
          </div>
        </div>
        <div class="contact-form-group d-flex flex-wrap">
          <a href="javascript:void(0)" class="btn-get-started mr-3">Get Started</a>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- How it Works -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title text-center">
      <h2><span class="spantitlecolor">Scale your EAS team</span> with EASWORKS experts Works</h2>
      <p class="common-para">Get access to specialized set of skilled resources for your unique requirements on
        enterprise application projects</p>
      <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="500">
        <a href="javascript:void(0)" class="btn-get-started">Hire Now</a>
      </div>
      <span class="rftrail mt-1">Risk free trial, pay only if satisfied</span>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box pt-3 pb-3">

          <h4><a href="">Flawless Design</a></h4>
          <p>Enrich your digital experience with top-notch designs and practical creativity</p>
          <ul class="designToolIcons">
            <li>
              <img src="assets/img/tools/photoshop.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/illustrator.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/xd.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/invision.png" alt="logo" />
            </li>

          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex align-items-stretch mt-md-0" data-aos="fade-up"
        data-aos-delay="400">
        <div class="icon-box pt-3 pb-3">
          <h4><a href="">Effective Code</a></h4>
          <p>Employ suitable framework and code effectively to individual business needs</p>
          <ul class="designToolIcons">
            <li>
              <img src="assets/img/tools/photoshop.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/illustrator.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/xd.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/invision.png" alt="logo" />
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex align-items-stretch mt-lg-0" data-aos="fade-up"
        data-aos-delay="200">
        <div class="icon-box pt-3 pb-3">
          <h4>
            <a href="">Effortless communication</a>
          </h4>
          <p>
            Hassle-free communicate with our developers for daily status and update
          </p>
          <ul class="designToolIcons">
            <li>
              <img src="assets/img/tools/photoshop.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/illustrator.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/xd.png" alt="logo" />
            </li>
            <li>
              <img src="assets/img/tools/invision.png" alt="logo" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our apps Section -->
<section class="apptalent-connect bgblue-connect">
  <div class="container">
    <div class="apptalent-export-content talktous-content text-center">
      <h1 class="text-white">
        Have an Enterprise Application Development challenge to address?
      </h1>
      <p class="mb-4">
        Let’s see if we can help
      </p>
      <a href="javascript:void(0)" class="applytojoin-btn whyapp-applytojoin bg-white text-dark mr-auto ml-auto">Talk to
        Us</a>
    </div>
  </div>
</section>

<!-- Our apps Section -->
<section class="signUpFreesection">
  <div class="container">
    <div class="apptalent-export-content talktous-content">
      <h1 class="text-black">
        <span class="spantitlecolor">Sign up - Free</span> to see more EAS Profiles.
      </h1>
      <a href="javascript:void(0)" class="applytojoin-btn">Talk to Us</a>
      <span class="rftrail text-black mt-1">Risk free trial, pay only if satisfied</span>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>