<section class="relative w-full h-[650px] z-10 pb-10 bg-white">
    <div
        class="absolute inset-0 w-full h-full before:content-[''] before:top-0 before:left-0 before:absolute before:h-full before:w-full before:bg-black/50">
        <img class="w-full h-full object-cover" src="../../assets/img/land5.jpg" alt="">
    </div>
    <div class="flex h-full lg:px-10 mx-auto p-5">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 relative">
            <div>
                <h4 class="lg:text-[1.6rem] text-white">
                    High-Grade Enterprise Application Software Outsourcing and Staff Augmentation Services
                </h4>
                <h3 class="lg:text-[2.5rem] text-2xl font-extrabold leading-[50px] text-white my-5">Empowering
                    Enterprise Application Excellence with EASWORKS</h3>
                <p class="my-4 text-base font-normal text-white"> EASWORKS specializes in delivering tailored solutions
                    for enterprise applications. Our comprehensive Enterprise Application services cover staff
                    augmentation, software outsourcing, and support for various critical use cases including
                    prototyping, enterprise application design, business intelligence, application modernization, custom
                    enterprise application development, integration, data migration, and ongoing support.

                </p>
                <p class="my-4 text-base font-normal text-white">Partner with us to excel in your software projects and
                    drive digital transformation.</p>
            </div>
            <div class="col-start-1 lg:col-auto">
                <div class="demo-placeholder h-[400px]"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-100">
    <div class="page py-8 flex flex-wrap justify-around gap-4">
        <div *ngFor="let logo of customerLogos">
            <img class="w-32" [src]="logo" alt="">
        </div>
    </div>
</section>


<section class="py-[60px]">
    <div class="page p-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center relative">
            <div>
                <h3 class="text-3xl font-bold mb-10 italic text-primary-700">
                    " Unleash Success with our Enterprise Application Platform. Connect with top talent in the
                    enterprise application domain to drive your business forward "
                </h3>
            </div>
            <div>
                <iframe width="100%" height="300px" src="https://www.youtube.com/embed/3JjXqKIhi-M"
                    title="Testimonial: NextRoll shares their experience partnering with BairesDev" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="py-[60px] bg-gray-50">
    <div class="page p-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center relative">
            <div>
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_vneroaor.json"
                    background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay>
                </lottie-player>
            </div>
            <div>
                <h3 class="lg:text-[1.5rem] text-2xl font-bold leading-[40px] text-black">Fueling Enterprise Growth with
                    On-Demand Scalable Enterprise Application Solutions</h3>

                <p class="my-4 text-base font-normal">Your Expert Enterprise Application Services(EAS) Partner for
                    Scalable, Innovative Enterprise Applications Choose us as your enterprise application partner for
                    scalable, innovative solutions. We excel in end-to-end delivery, offering fully managed Delivery
                    Teams and expert enterprise application software engineers. Our tailor-made services ensure
                    competitive results and drive your succes</p>

                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 relative mt-5">
                    <div class="relative">
                        <h2 class="text-lg font-bold mb-5 text-primary-500">Fully Managed Team</h2>
                        <p class="my-4 text-base font-normal">Proficient and Independent Team for Swift and Efficient
                            Enterprise Application Services Delivery.</p>

                    </div>
                    <div class="relative">
                        <h2 class="text-lg font-bold mb-5 text-primary-500">Augmented Team</h2>
                        <p class="my-4 text-base font-normal">Boost your Enterprise Application projects with an
                            Extended Team: Access Top EAS Expertise, Fill Skills Gaps, Ensure Cost-Efficiency, and
                            Manage Short-Term Projects.</p>
                    </div>
                </div>
                <div class="flex gap-4 pt-10">
                    <button class="stroked-button text-black"> Book a meeting </button>
                    <button class="stroked-button text-black"> Apply To Join </button>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-[60px]">
    <div class="page p-0">
        <div class="text-left mb-12">
            <h2 class="text-4xl font-bold">3 Compelling Reasons to Choose EASWORKS</h2>
        </div>
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 items-center">
            <div class="relative">
                <div class="flex items-center">
                    <span class="text-[70px] text-primary-500 block">1</span>
                    <div class="text-black pl-8">
                        <h4 class="text-[18px] mb-4 font-bold">Specialized Expertise</h4>
                        <p class="text-[16px]">We specialize in enterprise applications, allowing us to understand your
                            unique requirements. Our Talents are experts in their respective fields, delivering
                            innovative and effective application solutions.</p>
                    </div>
                </div>
            </div>

            <div class="relative">
                <div class="flex items-center">
                    <span class="text-[70px] text-primary-500 block">2</span>
                    <div class="text-black pl-8">
                        <h4 class="text-[18px] mb-4 font-bold">Tailored Matchmaking</h4>
                        <p class="text-[16px]">Save time and effort by finding the perfect talents for your project. Our
                            advanced algorithms connect enterprises with talents who best fit their project needs,
                            ensuring a seamless and efficient talent selection process.</p>
                    </div>
                </div>
            </div>

            <div class="relative">
                <div class="flex items-center">
                    <span class="text-[70px] text-primary-500 block">3</span>
                    <div class="text-black pl-8">
                        <h4 class="text-[18px] mb-4 font-bold">Quality Assurance</h4>
                        <p class="text-[16px]">Trust in our commitment to excellence. Our rigorous vetting process
                            ensures that only top-tier talents join our platform, guaranteeing high-quality results for
                            your enterprise application projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center mt-10">
            <button class="stroked-button text-black"> Post Your Project Need </button>
        </div>
    </div>
</section>

<section class="py-[60px] relative bg-white w-full h-full">
    <div class="absolute inset-0 w-full h-full opacity-5">
        <img class="w-full h-full object-cover" src="/assets/img/building.jpg" alt="">
    </div>

    <div class="page p-0">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold">Testimonials</h2>
        </div>

        <div class="grid lg:grid-cols-4 grid-cols-1 gap-8 items-center">
            <div *ngFor="let testi of testimonials" class="relative bg-white rounded-2xl text-center py-8 px-4 border border-primary-500 h-full">
                <div class="w-[100px] h-[100px] m-auto">
                    <img class="w-full h-full rounded-full" [src]="testi.UserImage" alt="">
                </div>
                <div class="py-4">
                    <h5 class="font-bold text-black text-lg">{{testi.title}}</h5>
                    <span class="block mb-2 text-[#667488]">{{testi.position}}</span>
                    <label class="block text-primary-500">{{testi.department}}</label>
                </div>
                <div>
                    <p class="text-base font-normal">{{testi.content}}</p>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="py-[60px] relative z-10 bg-[#494b4e]">
    <div class="absolute inset-0 w-full h-full opacity-5">
      <img class="w-full h-full" src="../../assets/img/map.jpeg" alt="">
    </div>
    <div class="page">
      <div class="grid grid-cols-1 items-center relative">
        <h2 class="text-[26px] leading-[40px] text-white text-center">Unleash Your Potential: Join EASWORKS and Revolutionize the Enterprise Application Landscape!</h2>
  
  
        <div class="flex justify-center mt-8 text-center gap-5">
          <button class="shaded-button primary">Get started</button>
          <button class="shaded-button primary">Work with Us</button>
        </div>
      </div>
    </div>
  </section>