<section class="relative w-full h-full z-10 pb-10 bg-white">
    <div class="absolute inset-0 w-full h-full">
        <img class="w-full h-full object-cover" src="../../assets/img/land5.jpg" alt="">
    </div>
    <div class="lg:px-10 p-5 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-6 relative">
            <div>
                <h4 class="lg:text-[1.5rem]">
                    High-Grade Enterprise Application Software Outsourcing and Staff Augmentation Services
                </h4>
                <h3 class="lg:text-[2rem] text-2xl font-bold leading-[60px] text-[#3e4450]">Empowering Enterprise Application Excellence with EASWORKS</h3>
                <p class="my-4 text-base font-normal"> EASWORKS specializes in delivering tailored solutions for enterprise applications. Our comprehensive Enterprise Application services cover staff augmentation, software outsourcing, and support for various critical use cases including prototyping, enterprise application design, business intelligence, application modernization, custom enterprise application development, integration, data migration, and ongoing support.

                </p>
                <p class="my-4 text-base font-normal">Partner with us to excel in your software projects and drive digital transformation.</p>
            </div>
            <div class="col-start-1 lg:col-auto">
                <div class="demo-placeholder h-[400px]"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-300">
    <div class="page py-8 flex flex-wrap justify-around gap-4">
        <div *ngFor="let logo of customerLogos">
            <img class="w-32" [src]="logo" alt="">
        </div>
    </div>
</section>


<section class="py-[60px] border-b">
    <div class="page">
      <div class="grid grid-cols-1 lg:grid-cols-2 items-center relative">
        <div>
          <h3 class="text-2xl font-bold mb-10">
            " Unleash Success with our Enterprise Application Platform. Connect with top talent in the enterprise application domain to drive your business forward "
          </h3>
        </div>
        <div>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/3JjXqKIhi-M" title="Testimonial: NextRoll shares their experience partnering with BairesDev" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="py-[60px] border-b">
    <div class="page">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center relative">
        <div>
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_vneroaor.json" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay>
            </lottie-player>
        </div>
        <div>
            <h3 class="lg:text-[2rem] text-2xl font-bold leading-[40px] text-[#3e4450]">Fueling Enterprise Growth with On-Demand Scalable Enterprise Application Solutions</h3>

            <p class="my-4 text-base font-normal">Your Expert Enterprise Application Services(EAS) Partner for Scalable, Innovative Enterprise Applications Choose us as your enterprise application partner for scalable, innovative solutions. We excel in end-to-end delivery, offering fully managed Delivery Teams and expert enterprise application software engineers. Our tailor-made services ensure competitive results and drive your succes</p>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 relative mt-5">
                <div class="relative">
                    <h2 class="text-2xl font-bold mb-5">Fully Managed Team</h2>
                    <p class="my-4 text-base font-normal">Proficient and Independent Team for Swift and Efficient Enterprise Application Services Delivery.</p>
                    <div class="flex items-center">
                        <div class="flex gap-4">
                            <button class="stroked-button text-black"> Book a meeting </button>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <h2 class="text-2xl font-bold mb-5">Augmented Team</h2>
                    <p class="my-4 text-base font-normal">Boost your Enterprise Application projects with an Extended Team: Access Top EAS Expertise, Fill Skills Gaps, Ensure Cost-Efficiency, and Manage Short-Term Projects.</p>
                    <div class="flex items-center">
                        <div class="flex gap-4">
                            <button class="stroked-button text-black"> Apply To Join </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
  </section>