<div class="question-section">
    <div class="question-center">
        <div class="cong-tickIcon congrtz-content">
            <span>
                <i class='bx bx-check'></i>
            </span>
            <h3>Demo Test - Easworks</h3>
            <p>Congratulations! you've successfully completed the test.</p>
        </div>
        <div class="eas-demotest-experience">
            <ul class="d-flex flex-row justify-content-center emoji-exp-type">
                <li><img src="https://img.icons8.com/fluent/48/000000/sad.png" />
                    <div class="tooltip1">Unstatisfied</div>
                </li>
                <li><img src="https://img.icons8.com/emoji/48/000000/smiling-face.png" />
                    <div class="tooltip1">Good</div>
                </li>
                <li><img src="https://img.icons8.com/color/48/000000/lol.png" />
                    <div class="tooltip1">Great</div>
                </li>
            </ul>
            <p class="experienceCont">Can you spare 2 mins to give us your valuable feedback?</p>
            <ul class="feedback-submit">
                <li>
                    <p>Were the questions easy to understand?</p>
                    <div class="raidobttn-group">
                        <div class="checkbox-group">
                            <input type="radio" value="yes" name="feedback1" [(ngModel)]="feedback1"  id='feedbackyes1'>
                            <label for="feedbackyes1">Yes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="radio" value="no" name="feedback1" [(ngModel)]="feedback1"  id ='feedbackno2'>
                            <label for="feedbackno2">No</label>
                        </div>
                    </div>
                </li>

                <li>
                    <p>Were the questions relevant to the test</p>
                    <div class="raidobttn-group">
                        <div class="checkbox-group">
                            <input type="radio"  value="yes" name="feedback2" [(ngModel)]="feedback2" id="feedbackyes3" />
                            <label for="feedbackyes3">Yes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="radio"  value="no" name="feedback2" [(ngModel)]="feedback2" id="feedbackno4" />
                            <label for="feedbackno4">No</label>
                        </div>
                    </div>
                </li>

                <li>
                    <p>Was the time allatted to complete the test sufficient?</p>
                    <div class="raidobttn-group">
                        <div class="checkbox-group">
                            <input type="radio" value="yes" name="feedback3" [(ngModel)]="feedback3" id="feedbackyes5" />
                            <label for="feedbackyes5">Yes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="radio" value="no" name="feedback3" [(ngModel)]="feedback3" id="feedbackno6" />
                            <label for="feedbackno6">No</label>
                        </div>
                    </div>
                </li>

                <li>
                    <p>Were the instructions before & during the test helpful?</p>
                    <div class="raidobttn-group">
                        <div class="checkbox-group">
                            <input type="radio" value="yes" name="feedback4" [(ngModel)]="feedback4" id="feedbackyes7" />
                            <label for="feedbackyes7">Yes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="radio" value="no" name="feedback4" [(ngModel)]="feedback4" id="feedbackno8" />
                            <label for="feedbackno8">No</label>
                        </div>
                    </div>
                </li>

                <li>
                    <p>Did the coding editor mirror your actual programming style?</p>
                    <div class="raidobttn-group">
                        <div class="checkbox-group">
                            <input type="radio" value="yes" name="feedback5" [(ngModel)]="feedback5" id="feedbackyes9" />
                            <label for="feedbackyes9">Yes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="radio" value="no" name="feedback5" [(ngModel)]="feedback5" id="feedbackno10" />
                            <label for="feedbackno10">No</label>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="experienceCont text-left">Before you go, would you like to add something else?</p>
            <textarea class="inputview textarea"></textarea>
            <div class="text-center"><button type="button" class="btn-get-started mt-3" (click)="onSubmitFeedback()">Submit Feedback</button></div>
        </div>
    </div>
</div>