<div class="flex flex-col gap-8 2xl:flex-row 6xl:max-w-6xl mx-auto">
  <!-- search -->
  <div class="">
    <div class="shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900 sticky top-24">
      <form>
        <div class="grid grid-cols-1 gap-3">
          <div><label for="searchname" class="font-semibold">Search Company</label>
            <div class="relative mt-2"><svg stroke="currentColor" fill="none" stroke-width="2"
                   viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                   class="text-lg absolute top-[10px] start-3" height="1em" width="1em"
                   xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
              </svg><input name="search" id="searchname" type="text"
                     class="form-input border border-slate-100 dark:border-slate-800 ps-10"
                     placeholder="Search" fdprocessedid="n3t3se"></div>
          </div>
          <div><label class="font-semibold">Categories</label><select
                    class="form-select form-input border border-slate-100 dark:border-slate-800 block w-full mt-1"
                    fdprocessedid="poiq8l">
              <option value="WD">Web Designer</option>
              <option value="WD">Web Developer</option>
              <option value="UI">UI / UX Desinger</option>
            </select></div>
          <div><label class="font-semibold">Location</label><select
                    class="form-select form-input border border-slate-100 dark:border-slate-800 block w-full mt-1"
                    fdprocessedid="qmilkkq">
              <option value="NY">New York</option>
              <option value="MC">North Carolina</option>
              <option value="SC">South Carolina</option>
            </select></div>
          <div><label class="font-semibold">Job Types</label>
            <div class="block mt-2">
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"
                         checked=""><span class="ms-2 text-slate-400">Full
                    Time</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">3</span>
              </div>
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"><span
                        class="ms-2 text-slate-400">Part Time</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">7</span>
              </div>
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"><span
                        class="ms-2 text-slate-400">Freelancing</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">4</span>
              </div>
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"><span
                        class="ms-2 text-slate-400">Fixed Price</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">6</span>
              </div>
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"><span
                        class="ms-2 text-slate-400">Remote</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">7</span>
              </div>
              <div class="flex justify-between"><label class="inline-flex items-center"><input
                         type="checkbox"
                         class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2"><span
                        class="ms-2 text-slate-400">Hourly Basis</span></label><span
                      class="bg-primary-600/10 text-primary-600 text-xs px-2.5 py-0.5 font-semibold rounded-full h-5">44</span>
              </div>
            </div>
          </div>
          <div><label class="font-semibold">Salary</label>
            <div class="block mt-2">
              <div><label class="inline-flex items-center"><input type="radio"
                         class="form-radio border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50"
                         name="radio-colors" value="1" checked=""><span
                        class="ms-2 text-slate-400">10k - 15k</span></label></div>
              <div><label class="inline-flex items-center"><input type="radio"
                         class="form-radio border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50"
                         name="radio-colors" value="2"><span class="ms-2 text-slate-400">15k -
                    25k</span></label></div>
              <div><label class="inline-flex items-center"><input type="radio"
                         class="form-radio border-gray-200 dark:border-gray-800 text-primary-600 focus:border-primary-300 focus:ring focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50"
                         name="radio-colors" value="3"><span class="ms-2 text-slate-400">more
                    than
                    25K</span></label></div>
            </div>
          </div>
          <div><input type="submit"
                   class="btn bg-primary-600 hover:bg-primary-700 border-primary-600 hover:border-primary-700 text-white rounded-md w-full"
                   value="Apply Filter" fdprocessedid="7zsn6k"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="flex-1">
    <!-- list -->
    <div class="grid gap-4">
      @for(post of list$(); track post._id){
      <list-card [post]="post"></list-card>
      }
    </div>
    <!-- paginator -->
    <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
      <div class="md:col-span-12 text-center">
        <nav aria-label="Page navigation example">
          <ul class="inline-flex items-center -space-x-px">
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four"><svg stroke="currentColor" fill="currentColor"
                     stroke-width="0" viewBox="0 0 24 24"
                     class="text-[20px] rtl:rotate-180 rtl:-mt-1" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" d="M0 0h24v24H0V0z"></path>
                  <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path>
                </svg></a></li>
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four">1</a></li>
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four">2</a></li>
            <li><a aria-current="page"
                 class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-primary-600 border border-primary-600"
                 href="/job-list-four">3</a></li>
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four">4</a></li>
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four">5</a></li>
            <li><a class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-primary-600 dark:hover:border-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600"
                 href="/job-list-four"><svg stroke="currentColor" fill="currentColor"
                     stroke-width="0" viewBox="0 0 24 24"
                     class="text-[20px] rtl:rotate-180 rtl:-mt-1" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" d="M0 0h24v24H0V0z"></path>
                  <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                </svg></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>