<!----- Header ----->
<!-- <app-header></app-header> -->
<!----- Header ----->

<div class="common-space">
    <section class="help-center-wrapper section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <h1 class="main-title text-center">How can we help you today?</h1>
                    <p class="common-para">Get information about setting up and using EASWORKS to its fullest.</p>
                    <div class="help-search">
                        <input type="text" placeholder="Search for answers" />
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="helpcenter-list">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-5">
                    Help by Category
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Clients Overview</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What is EASWORKS ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How does EASWORKS  work?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How is EASWORKS  different from other platforms?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What type of projects can I hire EASWORKS  for?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Getting Started with EASWORKS</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How Can I View Candidates after Registration?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I start a project?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How can I communicate with candidates?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How soon can EASWORKS  developers join my team?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Testing & Screening</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">Do EASWORKS  developers speak English fluently?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What’s your Screening process?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What’s your vetting process?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Working with Global Talent</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What are different engagement models to hire EAS talent?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Where are EASWORKS developers located?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Where do EASWORKS experts work?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How can I monitor & track EAS project work?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Intellectual Property</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">Who owns the legal rights to the work created by a EASWORKS expert?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How can I ensure that my IP is safe?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do we ensure that our IP is protected?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Pricing and Payments</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What is the cost of hiring a developer through EASWORKS ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do you handle payments and invoices?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What payment method does EASWORKS accept?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Contractors Overview</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What is EASWORK talent?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I join EASWORKS  as a contractor?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How does EASWORKS helps Enterprise Application Talent like you?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">If I complete my profile, how will EASWORKS use it?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Requirements</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What are the prerequisites for working as a developer through EASWORKS ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How does the vetting process work?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Why do I have to go through a vetting process?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Selection & Shortlist process with EASWORKS clients</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How can I improve my chances of getting selected for an interview?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What happens once I apply to a job based on invitation?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How will I know if a client wants to interview me after registration?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Why was I declined or rejected for a job?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Candidature Finalization process with EASWORKS clients</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How can I improve my chances of getting selected for an interview?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Is there a standard interview process with clients for jobs on EASWORKS?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How soon after an interview will I hear back from a client?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Working as a EASWORKS  Freelancer</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">I’m new to freelance work, how should I choose my hourly rate?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What happens after a contract is signed with an EASWORKS client?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What's the process for logging my hours?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I set up my EASWORKS  profile?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Contractors Payments</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">Does EASWORKS  take a cut from the hourly rate that I set?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How to expect payment and EASWORKS billing policies</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">When can I expect to get paid?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0"><a [routerLink]="['/help-center-view']">Work skill Assessments (WSA)</a></h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What is a Work skill Assessment (WSA) ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Is Work skill Assessment (WSA) a test ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Why use Work skill Assessment (WSA) in workplace?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How does a Work skill Assessment (WSA) work?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a [routerLink]="['/help-center-view']">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!----- Footer ----->
<!-- <app-footer></app-footer> -->
<!----- Footer ----->