<!----- Header ----->
<app-header></app-header>
<!----- Header ----->

<div class="common-space">
    <section class="help-center-wrapper section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <h1 class="main-title text-center">How can we help you?</h1>
                    <div class="help-search">
                        <input type="text" placeholder="Search for answers" />
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="helpcenter-list">
        <div class="container">
            <div class="text-center">
                <h2 class="second-title mb-5">
                    Help by Category
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Overview</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">What is EASWORKS ?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What is EAS Talent?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What is CSM?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">What are the prerequisites for working as a developer
                                    through Scalable Path?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Join for free</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How do I join as a contractor?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I Join & set up my Scalable Path profile?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Matching & vetting process</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How can I improve my chances of getting selected for an
                                    interview?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How can I improve my chances of being hired for a
                                    project?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How does the vetting process work?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I choose work ?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Payments</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">Does Scalable Path take a cut from the hourly rate that I set?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">As a freelancer, how do I get paid?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">How do I get paid?</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">When can I expect to get paid?</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Chatbots</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How to Use the App Store</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Integration Directory</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> Amazon Lex Bot</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex">
                    <div class="helpbox">
                        <h4 class="subtitle text-left mt-0">Dashboard</h4>
                        <ul class="help-type mt-4">
                            <li>
                                <a href="javascript:void(0)">How to Use the App Store</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Integration Directory</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> Amazon Lex Bot</a>
                            </li>
                        </ul>
                        <div class="morelink">
                            <a href="javascript:void(0)">View All Articles <i class='bx bxs-right-arrow-circle'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!----- Footer ----->
<app-footer></app-footer>
<!----- Footer ----->