<section class="relative w-full h-full z-10 pb-10 bg-white">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="w-full h-full" src="../../assets/img/building.jpg" alt="">
  </div>
  <div class="lg:px-10 p-5 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-6 relative">
      <div>
        <h3 class="lg:text-[3rem] text-2xl font-bold leading-[60px] text-[#3e4450]">
          One platform with everything you need with <span class="text-primary">Oracle ERP Cloud - ERP
            Ops</span> implementation
        </h3>
        <p class="my-4 text-base font-normal">Work with top pre-vetted enterprise application software experts
          with deep industry knowledge, extensive project experience, strong collaboration skills, and
          understanding of project requirements. </p>

        <div class="flex items-center justify-between">
          <h2 class="font-bold text-[20px]"><span class="text-primary">Oracle ERP Cloud - ERP Ops</span> Roles
          </h2>
          <div class="flex gap-4">
            <button class="highlight-button primary">Hire for ERP Ops Role</button>
            <button class="stroked-button">Apply for ERP Ops Jobs</button>
          </div>
        </div>

        <!-- TODO: REMOVE THIS SECTION AND REPLACE WITH COMPONENT 'role-link-list-container'-->

        <role-link-list-container class="mt-6"></role-link-list-container>
      </div>
      <div>
        <div class="demo-placeholder h-[500px]"></div>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="page">
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-1.png" alt="">
      </div>
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-2.png" alt="">
      </div>
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-3.png" alt="">
      </div>
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-4.png" alt="">
      </div>
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-5.png" alt="">
      </div>
      <div>
        <img class="w-[120px] m-[auto]" src="../../assets/img/client-1.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- TODO: REMOVE THIS SECTION AND REPLACE WITH COMPONENT 'role-software-talent'-->
<section class="py-[60px] bg-white">
  <div class="page">
    <div class="text-center mb-12">
      <h2 class="lg:text-4xl text-2xl font-bold">Hire top <span class="text-primary">Oracle ERP Cloud ERP
          Ops</span> talent
      </h2>
    </div>

    <div class="relative before:content-[''] before:text-red-500 before:absolute before:h-[5px] before:bg-primary before:top-[19px] before:left-0 before:right-0 before:m-[auto] before:w-[70%]">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">01</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">Post your <span class="text-primary">Oracle ERP
                  Cloud ERP Ops</span> Job needs.</h3>
            </div>
            <p class="text-base font-normal">Simply post your enterprise application hiring requirement and talk
              to our industry expert.</p>
          </div>
        </div>

        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">02</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">Post your <span class="text-primary">Oracle ERP
                  Cloud ERP Ops</span> Job needs.</h3>
            </div>
            <p class="text-base font-normal">Simply post your enterprise application hiring requirement and talk
              to our industry expert.</p>
          </div>
        </div>


        <div class="relative">
          <div class="before:absolute before:bg-primary before:content-[''] before:h-100 before:rounded-full before:top-0 before:w-100 bg-primary flex font-bold h-[40px] items-center justify-center m-[auto] relative rounded-full text-[1.2rem] text-white w-[40px]"><span class="relative">03</span></div>

          <div class="bg-white rounded-sm text-center px-5 py-8 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem]">
            <div class="demo-placeholder w-[100px] h-[100px] text-center m-[auto]"></div>
            <div class="py-5">
              <h3 class="text-[1.25rem] font-bold leading-5">Post your <span class="text-primary">Oracle ERP
                  Cloud ERP Ops</span> Job needs.</h3>
            </div>
            <p class="text-base font-normal">Simply post your enterprise application hiring requirement and talk
              to our industry expert.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="py-[60px]">
  <div class="page">
    <div class="text-center">
      <h2 class="lg:text-4xl text-2xl font-bold pb-3">Hiring for a specific</h2>
      <h2 class="lg:text-4xl text-2xl font-bold text-primary mb-[40px]">ERP Operations and Services (ERP Ops) skills?
      </h2>

      <p class="text-base font-normal">The EASWORKS platform includes experts across a very wide array of Enterprise Application Software (EAS) development languages and technologies. See the list below to find EAS freelance developer profiles and contractors with your desired skill. </p>

      <!-- TODO: REMOVE THIS SECTION AND REPLACE WITH COMPONENT 'domain-software-selector'-->
      <div class="flex gap-5 justify-center items-center mt-[40px]">
        <div class="demo-placeholder w-[285px] h-[50px]"></div>
        <div class="demo-placeholder w-[285px] h-[50px]"></div>
        <div class="demo-placeholder w-[100px] h-[50px] bg-primary"></div>
      </div>
    </div>
  </div>
</section>

<section class="py-[60px] bg-white">
  <div class="page">
    <div class="text-center">
      <h2 class="lg:text-4xl text-2xl font-bold pb-3"><span class="text-primary">Scale your EAS team</span> with EASWORKS experts Works</h2>

      <p class="text-base font-normal">Get access to specialized set of skilled resources for your unique requirements on enterprise application projects</p>

      <div class="text-center mt-10 flex justify-center flex-col">
        <div class="relative mb-6">
          <button class="highlight-button primary m-[auto]">Hire Now</button>
        </div>
        <p>Risk Free Trial, Pay Only If Satisfied
        </p>
      </div>
    </div>


    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      <div class="bg-white rounded-sm text-center pt-0 p-5 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem] mb-[20px]">
        <div class="py-5">
          <h3 class="text-[1.25rem] font-bold leading-5">Flawless Design</h3>
        </div>
        <p class="text-base font-normal">Enrich your digital experience with top-notch designs and practical creativity</p>

        <ul class="flex justify-center mb-[-38px] mt-[20px] w-100 gap-3">
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/photoshop.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/illustrator.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/xd.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/invision.png" alt="">
          </li>
        </ul>
      </div>

      <div class="bg-white rounded-sm text-center pt-0 p-5 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem] mb-[20px]">
        <div class="py-5">
          <h3 class="text-[1.25rem] font-bold leading-5">Effective Code</h3>
        </div>
        <p class="text-base font-normal">Employ suitable framework and code effectively to individual business needs</p>

        <ul class="flex justify-center mb-[-38px] mt-[20px] w-100 gap-3">
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/photoshop.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/illustrator.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/xd.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/invision.png" alt="">
          </li>
        </ul>
      </div>

      <div class="bg-white rounded-sm text-center pt-0 p-5 shadow-[0px_0px_20px_0px_#3e1c831a] mt-[1.5rem] mb-[20px]">
        <div class="py-5">
          <h3 class="text-[1.25rem] font-bold leading-5">Effortless communication</h3>
        </div>
        <p class="text-base font-normal">Hassle-free communicate with our developers for daily status and update</p>

        <ul class="flex justify-center mb-[-38px] mt-[20px] w-100 gap-3">
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/photoshop.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/illustrator.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/xd.png" alt="">
          </li>
          <li class="min-w-[45px] h-[45px] bg-white border flex justify-center items-center shadow-[0px_0px_20px_0_#3e1c831a] rounded-full">
            <img src="../../assets/img/invision.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="py-[60px] relative z-10 bg-primary">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page">
    <div class="grid grid-cols-1 lg:grid-cols-1 items-center relative">
      <div>
        <h2 class="text-[2rem] leading-[50px] mb-[20px] text-white text-center">Have an Enterprise Application Development challenge to address?</h2>

        <p class="text-base font-normal py-5 text-center text-white">Let’s see if we can help</p>

        <div class="text-center flex justify-center flex-col">
          <div class="relative mb-6">
            <button class="shaded-button m-[auto]">TALK TO US</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="py-[60px] relative z-10 bg-white">
  <div class="page">
    <div class="grid grid-cols-1 lg:grid-cols-1 items-center relative">
      <div>
        <h2 class="text-[2rem] leading-[50px] mb-[20px] text-black font-semibold text-center"><span class="text-primary">Sign up - Free</span> to see more EAS Profiles.</h2>

        <div class="text-center flex justify-center flex-col">
          <div class="relative mb-2">
            <button class="shaded-button m-[auto] primary">TALK TO US</button>
          </div>
        </div>

        <p class="text-base font-normal text-center text-black">Risk Free Trial, Pay Only If Satisfied </p>

      </div>
    </div>
  </div>
</section>