<section class="relative w-full h-full z-10 pb-10 bg-white">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="w-full h-full" src="../../assets/img/building.jpg" alt="">
  </div>
  <div class="lg:px-10 p-5 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-6 relative">
      <div>
        <h3 class="lg:text-[3rem] lg:leading-[3.5rem] text-2xl font-bold  text-[#3e4450]">
          Hire {{text.combo$()}} And Start Building A <span class="text-primary-500">Winning {{domain$()?.key}} Team</span> Remotely
        </h3>
        <p class="my-4 text-base font-normal">EASWORKS is a platform for top ERP Ops Back-end Developer, Application Consultant, Developers, Engineers, programmers, coders, Analyst, Solution Architects, Consultants, QA and Project managers. Elite companies and start-ups hire top freelance ERP Ops Back-end Developer experts from EASWORKS for their mission critical ERP Ops - ERP Operations and Services (ERP Ops). </p>

        <div class="flex items-center justify-between">
          <div class="flex gap-4">
            <button class="highlight-button primary"> Apply for ERP Ops Back-end Developer Jobs</button>
            <button class="stroked-button"> Apply for ERP Ops Back-end Developer Jobs</button>
          </div>
        </div>
      </div>
      <div>
        <div class="demo-placeholder h-[500px]"></div>
      </div>
    </div>
  </div>
</section>

<section class="page py-8 flex flex-wrap justify-around gap-4">
  <div *ngFor="let logo of customerLogos">
    <img class="w-32" [src]="logo" alt="">
  </div>
</section>

<role-software-talent [comboText]="text.combo$()"></role-software-talent>

<section class="page py-8">
  <div class="text-center">
    <h2 class="lg:text-4xl text-2xl font-bold pb-3">Hiring for a specific</h2>
    <h2 class="lg:text-4xl text-2xl font-bold text-primary-500 mb-[40px]">{{domain$()?.longName}} skills?
    </h2>

    <p class="text-base font-normal">The EASWORKS platform includes experts across a very wide array of Enterprise Application Software (EAS) development languages and technologies. See the list below to find EAS freelance developer profiles and contractors with your desired skill. </p>

    <domain-software-selector class="mt-8"></domain-software-selector>
  </div>
</section>

<section *ngIf="domain$() as domain" class="page py-8">
  <software-tiles-container [domain]="domain"></software-tiles-container>
</section>


<section class="py-[60px] relative z-10 bg-primary-500">
  <div class="absolute inset-0 w-full h-full opacity-5">
    <img class="h-full object-cover w-full" src="../../assets/img/map.jpeg" alt="">
  </div>
  <div class="page">
    <div class="grid grid-cols-1 lg:grid-cols-1 items-center relative">
      <div>
        <h2 class="text-[2rem] leading-[50px] mb-[20px] text-white text-center">Have an Enterprise Application Development challenge to address?</h2>

        <p class="text-base font-normal py-5 text-center text-white">Let's see if we can help</p>

        <div class="text-center flex justify-center flex-col">
          <div class="relative mb-6">
            <button class="shaded-button m-[auto]">TALK TO US</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="py-[60px] relative z-10 bg-white">
  <div class="page">
    <div class="grid grid-cols-1 lg:grid-cols-1 items-center relative">
      <div>
        <h2 class="text-[2rem] leading-[50px] mb-[20px] text-black font-semibold text-center"><span class="text-primary-500">Sign up - Free</span> to see more EAS Profiles.</h2>

        <div class="text-center flex justify-center flex-col">
          <div class="relative mb-2">
            <button class="shaded-button m-[auto] primary">TALK TO US</button>
          </div>
        </div>

        <p class="text-base font-normal text-center text-black">Risk Free Trial, Pay Only If Satisfied </p>

      </div>
    </div>
  </div>
</section>