<div class="p-2 px-4 flex gap-4 justify-between">
  {{featuredDomain$().longName}}
  <button class="icon-button small" mat-ripple (click)="remove()">
    <fa-icon [icon]="icons.faXmark"></fa-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div class="p-2 px-4">
  <label>Roles</label>
  @if(featuredRoles.empty$()){
  <p class="mt-4 p-2 px-4 text-on-surface-variant text-sm text-center border rounded-md">
    No Roles Added
  </p>
  }
  <div class="mt-4 flex flex-wrap gap-2 items-center relative">
    @for(role of featuredRoles.list$(); track role) {
    <div class="chip">
      <span>{{role}}</span>
      <button type="button" mat-ripple class="icon-button"
              (click)="removeRole(role)">
        <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
      </button>
    </div>
    }
  </div>

  <div class="mt-4">
    <mat-select [(ngModel)]="addRole.query$" [ngModelOptions]="{ standalone: true }">
      @for (role of addRole.options$(); track role) {
      <mat-option [value]="role"> {{role}} </mat-option>
      }
    </mat-select>

    <button class="tonal-button
        mt-4 mb-2 md:mt-6 whitespace-nowrap
        flex-grow md:flex-none" mat-ripple (click)="addRole.click(addRole.query$())" [disabled]="addRole.disabled$()">
      Add Role
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="p-2 px-4">
  Software
  @if(featuredSoftwareProduct.empty$()){
  <p class="mt-4 p-2 px-4 text-on-surface-variant text-sm text-center border rounded-md">
    No Software Products Added
  </p>
  }
  <div class="mt-4 flex flex-wrap gap-2 items-center relative">
    @for(sp of featuredSoftwareProduct.list$(); track sp.id) {
    <div class="chip">
      <span>{{sp.name}}</span>
      <button type="button" mat-ripple class="icon-button"
              (click)="removeSoftwareProduct(sp)">
        <fa-icon [icon]="icons.faSquareXmark"></fa-icon>
      </button>
    </div>
    }
  </div>

  <div class="mt-4">
    <mat-select [(ngModel)]="addSoftwareProduct.query$" [ngModelOptions]="{ standalone: true }">
      @for (sp of addSoftwareProduct.options$(); track sp.id) {
      <mat-option [value]="sp"> {{sp.name}} </mat-option>
      }
    </mat-select>

    <button class="tonal-button 
        mt-4 mb-2 md:mt-6 whitespace-nowrap
        flex-grow md:flex-none" mat-ripple (click)="addSoftwareProduct.click(addSoftwareProduct.query$())"
            [disabled]="addSoftwareProduct.disabled$()">
      Add Software Product
    </button>
  </div>
</div>