.bg-img {
  background-image: url(../../../../assets/sign-up/slide1/bg-dark.png);
}

.bg-pink-img {
  background-image: url(../../../../assets/sign-up/slide1/lightpink-bg.png);
  background-size: 100% 100%;
}

.custom-border {
  &:before {
    background: linear-gradient(91.96deg,
        #ffffff 2.5%,
        rgba(255, 255, 255, 0) 100.46%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}