<!----- Header ----->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="logo mr-auto">
            <a class="black-logo" [routerLink]="['/index']">
                <img src="assets/img/white-logo.png" />
            </a>
            <a class="white-logo" [routerLink]="['/index']">
                <img src="assets/img/black-logo.png" />
            </a>
        </h1>
        <nav class="nav-menu profile-creat-nav d-none d-lg-block">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="workstyle.html">WorkStyle</a></li>
                <li><a class="" href="yourjobs.html">Your Jobs</a></li>
                <li><a href="interviewsList.html">Interviews</a></li>
                <li class="emailNotify">
                    <a [routerLink]="['/talent-message']">
                        <i class='bx bxs-envelope'></i>
                        <span class="notification-count">2</span>
                    </a>
                </li>
                <li class="emailNotify">
                    <a [routerLink]="['/notifications']">
                        <i class='bx bxs-bell'></i>
                        <span class="notification-count">2</span>
                    </a>
                </li>
                <li class="emailNotify">
                    <a [routerLink]="['/saved-favourite']">
                        <i class='bx bxs-heart' ></i>
                    </a>
                </li>
                <li class="user-details dropdown">
                    <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxs-user-circle'></i>
                    </a>
                    <div class="user-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bxs-cog'></i>Settings</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-help-circle'></i>Help</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-log-in'></i>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="common-space">
    <section class="notification-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h5 class="second-title mb-3">Notifications</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="notifiy-box">
                        <h4 class="subtitle text-left">Today</h4>
                        <div class="notify-body">
                            <ul class="nofity-type">
                                <li>
                                    <div class="notify-card">
                                        <div class="notify-content">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. </p>
                                            <span class="notify-time">00:00:30</span>
                                        </div>
                                        <button type="button" class="closebtn"><i class='bx bx-x'></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="notifiy-box">
                        <h4 class="subtitle text-left">Earlier</h4>
                        <div class="notify-body">
                            <ul class="nofity-type">
                                <li>
                                    <div class="notify-card">
                                        <div class="notify-content">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. </p>
                                            <span class="notify-time">00:00:30</span>
                                        </div>
                                        <button type="button" class="closebtn"><i class='bx bx-x'></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-card">
                                        <div class="notify-content">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. </p>
                                            <span class="notify-time">00:00:30</span>
                                        </div>
                                        <button type="button" class="closebtn"><i class='bx bx-x'></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-card">
                                        <div class="notify-content">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. </p>
                                            <span class="notify-time">00:00:30</span>
                                        </div>
                                        <button type="button" class="closebtn"><i class='bx bx-x'></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="notify-card">
                                        <div class="notify-content">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. </p>
                                            <span class="notify-time">00:00:30</span>
                                        </div>
                                        <button type="button" class="closebtn"><i class='bx bx-x'></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>