<!-- Employer Questionaire Section Start -->
<section class="grid 5xl:grid-cols-12 min-h-screen bg-effect bg-cover bg-no-repeat">
    <div class="page 5xl:col-span-7">
        <div class="rounded-md md:ps-10 py-6 ps-5 7xl:w-11/12 ms-auto">
            <h2 class="5xl:text-[40px] 3xl:text-4xl text-3xl xl:!leading-[50px] font-black text-center 3xl:mt-5">
                How EASWORKS can help you with
                <span class="text-primary-500">Enterprise app development.</span>
            </h2>

            <div class="grid 3xl:grid-cols-4 xl:grid-cols-3 sm:grid-cols-2 mt-16 gap-2.5 3xl:items-start">
                <div class="p-3 bg-white rounded-lg shadow-[0px_0px_13px_-2px_#00000040]">
                    <div class="flex justify-between items-start">
                        <img src="../../../../assets/public/talent-questionaire/hire-contractors.svg"
                            alt="Contractor" />

                        <div class="border border-primary-400 rounded-full">
                            <img src="../../../../assets/public/talent-questionaire/ic-upright-arrow.svg"
                                alt="Up Right Arrow" />
                        </div>
                    </div>

                    <h6 class="mt-6 font-bold">Hire Contractors</h6>
                </div>

                <div class="p-3 bg-white rounded-lg shadow-[0px_0px_13px_-2px_#00000040] 3xl:mt-20">
                    <div class="flex justify-between items-start">
                        <img src="../../../../assets/public/talent-questionaire/hire-fulltime.svg" alt="Full-Time" />

                        <div class="border border-primary-400 rounded-full">
                            <img src="../../../../assets/public/talent-questionaire/ic-upright-arrow.svg"
                                alt="Up Right Arrow" />
                        </div>
                    </div>

                    <h6 class="mt-6 font-bold">Hire Full-Time</h6>
                </div>

                <div class="p-3 bg-white rounded-lg shadow-[0px_0px_13px_-2px_#00000040]">
                    <div class="flex justify-between items-start">
                        <img src="../../../../assets/public/talent-questionaire/hire-team.svg" alt="Hire Fully Managed 
              Team" />

                        <div class="border border-primary-400 rounded-full">
                            <img src="../../../../assets/public/talent-questionaire/ic-upright-arrow.svg"
                                alt="Up Right Arrow" />
                        </div>
                    </div>

                    <h6 class="mt-6 font-bold leading-5">Hire Fully Managed Team</h6>
                </div>

                <div class="p-3 bg-white rounded-lg shadow-[0px_0px_13px_-2px_#00000040] 3xl:mt-20">
                    <div class="flex justify-between items-start">
                        <img src="../../../../assets/public/talent-questionaire/end-solution.svg" alt="Managed end-to-end 
              Solution" />

                        <div class="border border-primary-400 rounded-full">
                            <img src="../../../../assets/public/talent-questionaire/ic-upright-arrow.svg"
                                alt="Up Right Arrow" />
                        </div>
                    </div>

                    <h6 class="mt-6 font-bold leading-5">Managed end-to-end Solution</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-img bg-no-repeat bg-cover 5xl:col-span-5 relative 5xl:py-0 py-20 w-full">
        <!-- First UI Start -->
        <div class="p-4 z-10 relative hidden">
            <div class="border-b border-slate-500 pb-2">
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                    Quick Tips
                </h2>

                <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                    <img src="../../../../assets/public/employer-questionaire/ic-user.svg" alt="Profile Icon" />
                    Optimize Your Profile:
                </div>

                <p class="text-sm text-slate-400">
                    Highlight your skills and experiences.
                </p>
            </div>

            <div>
                <div>
                    <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                        Benefits
                    </h2>

                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-top-client.svg"
                            alt="Top Client Icon" />
                        Top Clients:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Connect with highly skilled professionals specializing in enterprise
                        applications across various industries.
                    </p>
                </div>

                <div class="3xl:my-10 my-7">
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-clock.svg" alt="Clock Icon" />
                        Flexible Work:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Set your own hours and choose projects that fit your personal
                        schedule and preferences.
                    </p>
                </div>

                <div>
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-notification.svg"
                            alt="Notification Icon" />
                        Jobs Come to You:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Receive direct job offers based on your profile and skills, saving
                        you time and effort.
                    </p>
                </div>
            </div>

            <div class="mt-8">

                <marquee scrollamount="5" loop="infinite" class="py-3.5 px-7">
                    <div class="flex items-center gap-14">
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />G
                    </div>
                </marquee>

                <div class="mt-4 grid grid-cols-4 items-center gap-3">
                    <div class="relative lg:col-span-1 col-span-2">
                        <img src="../../../../assets/public/employer-questionaire/profile-pic1.png"
                            alt="Profile Picture" class="w-full" />

                        <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                            class="absolute bottom-1 left-1" />
                    </div>

                    <div class="col-span-2">
                        <h5 class="7xl:text-2xl text-xl font-bold text-white">
                            John Smith
                        </h5>
                        <h6 class="text-sm text-white font-medium !leading-4">
                            ABC CORP <br />
                            <span class="text-xs text-gray-400">
                                New York, USA (ERP - SAP)
                            </span>
                        </h6>

                        <p class="2xl:mt-3 mt-1 text-white text-xs">
                            Joining EASWORKS was a game-changer. I landed a project with a top retail company and the
                            flexibility has been amazing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- First UI End -->

        <!-- Second UI Start -->
        <div class="p-4 z-10 relative hidden">
            <div class="border-b border-slate-500 pb-2">
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                    Quick Tips
                </h2>

                <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                    <img src="../../../../assets/public/talent-questionaire/ic-document.svg" alt="Document Icon" />
                    Complete Your Profile:
                </div>

                <p class="text-sm text-slate-400">
                    Ensure all sections are filled out.
                </p>
            </div>

            <div>
                <div>
                    <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                        Benefits
                    </h2>

                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-tools.svg" alt="Tools Icon" />
                        Specialization in Enterprise Applications:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Focus on in-demand skills, boosting your marketability and expertise.
                    </p>
                </div>

                <div class="3xl:my-10 my-7">
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-stats.svg" alt="Stats Icon" />
                        Career Advancement:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Expand your professional network and access opportunities that
                        enhance your career.
                    </p>
                </div>

                <div>
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-globe.svg"
                            alt="Notification Icon" />
                        Global Community:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Connect with talents worldwide, gaining new perspectives and
                        opportunities for collaboration.
                    </p>
                </div>
            </div>

            <div class="mt-8">

                <marquee scrollamount="5" loop="infinite" class="py-3.5 px-7">
                    <div class="flex items-center gap-14">
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />G
                    </div>
                </marquee>

                <div class="mt-4 grid grid-cols-4 items-center gap-3">
                    <div class="relative lg:col-span-1 col-span-2">
                        <img src="../../../../assets/public/employer-questionaire/profile-pic2.png"
                            alt="Profile Picture" class="w-full" />

                        <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                            class="absolute bottom-1 left-1" />
                    </div>

                    <div class="col-span-2">
                        <h5 class="7xl:text-2xl text-xl font-bold text-white">
                            Lisa Johnson
                        </h5>
                        <h6 class="text-sm text-white font-medium !leading-4">
                            TECH FIRM <br />
                            <span class="text-xs text-gray-400">
                                San Francisco, USA (CRM - Salesforce):
                            </span>
                        </h6>

                        <p class="2xl:mt-3 mt-1 text-white text-xs">
                            “EASWORKS connected me with a major tech firm. The support and opportunities for growth have
                            been phenomenal."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second UI End -->

        <!-- Third UI Start -->
        <div class="p-4 z-10 relative">
            <div class="border-b border-slate-500 pb-2">
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                    Quick Tips
                </h2>

                <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                    <img src="../../../../assets/public/employer-questionaire/ic-medal.svg" alt="Medal Icon" />
                    Showcase Your Expertise:
                </div>

                <p class="text-sm text-slate-400">
                    Add certifications and past projects.
                </p>
            </div>

            <div>
                <div>
                    <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                        Benefits
                    </h2>

                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-dashboard.svg"
                            alt="Dashboard Icon" />
                        Enterprise Community:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Tap into a network of experts for insights and potential partnerships.
                    </p>
                </div>

                <div class="3xl:my-10 my-7">
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-hat.svg" alt="Hat Icon" />
                        Continuous Learning:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Keep your skills updated with ongoing learning opportunities.
                    </p>
                </div>

                <div>
                    <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                        <img src="../../../../assets/public/employer-questionaire/ic-share.svg" alt="Share Icon" />
                        Diverse Opportunities:
                    </div>

                    <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                        Work on varied projects across different domains, enhancing
                        your experience.
                    </p>
                </div>
            </div>

            <div class="mt-8">

                <marquee scrollamount="5" loop="infinite" class="py-3.5 px-7">
                    <div class="flex items-center gap-14">
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/okta-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/deckers-brand-logo.svg"
                            alt="Image not found" />
                        <img src="../../../../assets/public/employer-questionaire/hearst-brand-logo.svg"
                            alt="Image not found" />G
                    </div>
                </marquee>

                <div class="mt-4 grid grid-cols-4 items-center gap-3">
                    <div class="relative lg:col-span-1 col-span-2">
                        <img src="../../../../assets/public/employer-questionaire/profile-pic3.png"
                            alt="Profile Picture" class="w-full" />

                        <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                            class="absolute bottom-1 left-1" />
                    </div>

                    <div class="col-span-2">
                        <h5 class="7xl:text-2xl text-xl font-bold text-white">
                            Maria Garcia
                        </h5>
                        <h6 class="text-sm text-white font-medium !leading-4 uppercase">
                            São Paulo, Brazil (HCM - Workday)
                        </h6>

                        <p class="2xl:mt-3 mt-1 text-white text-xs">
                            “Through EASWORKS, I found consistent work with global clients. The platform's ease of use
                            and support are top-notch.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Third UI End -->
    </div>
</section>
<!-- Employer Questionaire Section End -->