<section class="page max-w-full">
  <h2 class="7xl:text-6xl 3xl:text-5xl text-4xl 7xl:leading-tight transition-all text-center font-bold text-black mb-5">
    Overview <span class="text-primary-500"> EASWORKS</span>
  </h2>

  <div class="7xl:w-3/4 mx-auto">
    <h5 class="4xl:text-2xl xl:text-xl text-lg text-gray-700 text-center">
      <span class="text-primary-500 font-bold 4xl:text-3xl text-2xl">At EASWORKS,</span>
      we connect you with top talents who can provide comprehensive testing and quality assurance services for
      enterprise applications. Our expert talents ensure your systems meet the highest standards of performance and
      reliability.
    </h5>

    <img src="/assets/public/use-cases/qa-and-testing/overview/border-btm.svg" alt=""
      class="block mx-auto mb-10 mt-3" />

    <div class="grid 8xl:grid-cols-4 7xl:grid-cols-2 grid-cols-1 gap-y-5 mt-3">
      <div class="relative">
        <div class="w-fit mx-auto">
          <img src="/assets/public/use-cases/qa-and-testing/overview/enhance-re.png" class="test" alt="" />
          <div class="px-10 absolute bottom-14 text-center">
            <h5 class="text-xl text-primary-500 font-bold">
              Enhanced Reliability
            </h5>
            <p class="text-gray-700 text-lg">
              Ensure system stability
              and performance.
            </p>
          </div>
        </div>

      </div>

      <div class="relative w-fit mx-auto">
        <img src="/assets/public/use-cases/qa-and-testing/overview/security.png" class="test" alt="" />
        <div class="px-10 absolute bottom-14 text-center">
          <h5 class="text-xl text-primary-500 font-bold">
            Improved Security
          </h5>
          <p class="text-gray-700 text-lg">
            Identify and mitigate
            vulnerabilities.
          </p>
        </div>
      </div>


      <div class="relative w-fit mx-auto">
        <img src="/assets/public/use-cases/qa-and-testing/overview/cost.png" class="test" alt="" />
        <div class="px-10 absolute bottom-14 text-center">
          <h5 class="text-xl text-primary-500 font-bold">
            Cost Savings
          </h5>
          <p class="text-gray-700 text-lg">
            Reduce costs by
            catching issues early.
          </p>
        </div>
      </div>

      <div class="relative w-fit mx-auto">
        <img src="/assets/public/use-cases/qa-and-testing/overview/user-satisfaction.png" class="test"
          alt="" />
        <div class="px-10 absolute bottom-14 text-center">
          <h5 class="text-xl text-primary-500 font-bold">
            User Satisfaction
          </h5>
          <p class="text-gray-700 text-lg">
            Deliver high-quality,
            reliable applications.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>