<!-- sidebar starts -->
<div class="m-10 flex items-center">
  <div class="w-96 h-[790px] bg-black me-2 rounded-3xl relative flex panel-shadow">
    <img src="/assets/public/sidebar/side-bg.png" alt="Side BG Image" class="rounded-3xl w-full h-full">
    <div class="absolute top-0 p-5 right-0 left-0">
      <img class="h-8 hidden 5xl:block" src="/assets/brand/logo-full-light.png" alt="App Logo" loading="lazy" />
      <div>
        <ul class="list-style-none text-white mt-8">
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Hire Talent</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">For Client</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Join EASWORKS</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">For Freelancers</a>
          </li>
        </ul>
      </div>
      <div class="mt-8">
        <h5 class="text-white text-3xl text-right">About Us</h5>
        <ul class="list-style-none text-white">
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Resources</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Blog</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Press Center</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">About EASWORKS</a>
          </li>
          <li class="pb-2 mt-4 border-b border-[#989898]">
            <a href="#" class="text-base">Careers</a>
          </li>
        </ul>
      </div>

      <div class="text-center">
        <button class="get-in-touch my-10 mx-auto">
          Get in Touch
        </button>
      </div>

      <div class="flex">
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-linkedin.svg" alt="LindedIn Icon">
        </a>
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-fb.svg" alt="Facebook Icon">
        </a>
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-github.svg" alt="Github Icon">
        </a>
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-twitter.svg" alt="twitter Icon">
        </a>
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-instagram.svg" alt="Instagram Icon">
        </a>
        <a href="#" class="mx-auto">
          <img src="/assets/public/footer/ic-youtube.svg" alt="Youtube Icon">
        </a>
      </div>
    </div>
  </div>

  <div class="h-[790px] bg-black w-20 rounded-3xl relative text-center panel-shadow">
    <img src="/assets/public/sidebar/side-close-bg.png" alt="Side BG Image" class="rounded-3xl w-full h-full">
    <div class="absolute top-0 p-5 right-0 left-0">
      <img src="/assets/public/sidebar/cross.svg" alt="Cross Icon" class="mx-auto mb-5 cursor-pointer mt-3 cross-img">
      <div class="text-white rotate-90">Close</div>
    </div>
  </div>
</div>
<!-- sidebar end -->