<!-- Talent Questionaire Section Start -->

<section class="bg-img bg-no-repeat bg-cover relative w-full">
    <!-- First UI Start -->
    <div class="p-4 z-10 relative">
        <div class="border-b border-slate-500 pb-2">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                Quick Tips
            </h2>

            <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                <img src="../../../../assets/public/talent-questionaire/ic-document.svg" alt="Document Icon" />
                Optimize Job Descriptions:
            </div>

            <p class="text-sm text-slate-400">
                Write clear and detailed job descriptions to attract the right talent.
            </p>
        </div>

        <div>
            <div>
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                    Benefits
                </h2>

                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-trophy.svg" alt="Trophy Icon" />
                    Access to Top Talent:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Connect with highly skilled professionals specializing in enterprise
                    applications across various industries.
                </p>
            </div>

            <div class="3xl:my-10 my-7">
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-two-way.svg" alt="Two Way Icon" />
                    Flexible Hiring Options:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Choose from hiring contractors, full-time employees, fully managed
                    teams, or end-to-end project management.
                </p>
            </div>

            <div>
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-check.svg" alt="Checked Icon" />
                    High-Quality Candidates:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    All talents are pre-vetted to ensure they meet the highest standards
                    of expertise and professionalism.
                </p>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                Industries
            </h2>

            <div
                 class="grid gap-3 8xl:grid-cols-4 6xl:grid-cols-3 5xl:grid-cols-2 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2">
                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/popular.png" alt="Popular Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Popular</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/ecom.svg" alt="Ecom Image" height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">E-commerce</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/healthcare.png" alt="Healthcare Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Healthcare</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/automob.svg" alt="Automobile Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Automobile</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 grid grid-cols-4 items-center gap-3">
                <div class="relative lg:col-span-1 col-span-2">
                    <img src="../../../../assets/public/talent-questionaire/profile-pic1.png" alt="Profile Picture"
                         class="w-full" />

                    <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                         class="absolute bottom-1 left-1" />
                </div>

                <div class="col-span-2">
                    <h5 class="7xl:text-2xl text-xl font-bold text-white">
                        Michael Thompson
                    </h5>
                    <h6 class="text-sm text-white font-medium !leading-4">
                        ABC Corp <br />
                        <span class="text-xs text-gray-400">
                            New York, USA (ERP - SAP)
                        </span>
                    </h6>

                    <p class="2xl:mt-3 mt-1 text-white text-xs">
                        "EASWORKS provided us with the perfect team to manage our SAP
                        implementation. The process was seamless and efficient."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- First UI End -->

    <!-- Second UI Start -->
    <div class="p-4 z-10 relative hidden">
        <div class="border-b border-slate-500 pb-2">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                Quick Tips
            </h2>

            <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                <img src="../../../../assets/public/talent-questionaire/ic-set-goal.svg" alt="Goal Icon" />
                Set Clear Expectations:
            </div>

            <p class="text-sm text-slate-400">
                Define project goals, timelines, and deliverables upfront.
            </p>
        </div>

        <div>
            <div>
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                    Benefits
                </h2>

                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-cost.svg" alt="Money Icon" />
                    Cost-Effective Solutions:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Competitive rates and flexible engagement models to suit your budget
                    and project requirements.
                </p>
            </div>

            <div class="3xl:my-10 my-7">
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-globe.svg" alt="Global Icon" />
                    Global Reach:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Access a diverse pool of talent from around the world, offering a
                    wide range of skills and experiences.
                </p>
            </div>

            <div>
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-handshake.svg"
                         alt="Hand Shake Icon" />
                    Trusted by Leading Companies:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                     EASWORKS is trusted by Fortune 500 companies, tech giants, and
                    innovative start-ups.
                </p>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                Industries
            </h2>

            <div
                 class="grid gap-3 8xl:grid-cols-4 6xl:grid-cols-3 5xl:grid-cols-2 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2">
                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/aerospace.svg" alt="Aerospace Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Aerospace</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/banking.svg" alt="Banking Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Banking</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/hire-contractors/cases-sec/consulting.svg" alt="Consulting Image"
                             height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">Consulting</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="../../../../assets/public/hire-contractors/cases-sec/retail.svg"
                             alt="Retail Image" height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">Retail</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 grid grid-cols-4 items-center gap-3">
                <div class="relative lg:col-span-1 col-span-2">
                    <img src="../../../../assets/public/talent-questionaire/profile-pic2.png" alt="Profile Picture"
                         class="w-full" />

                    <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                         class="absolute bottom-1 left-1" />
                </div>

                <div class="col-span-2">
                    <h5 class="7xl:text-2xl text-xl font-bold text-white">
                        Laura Williams
                    </h5>
                    <h6 class="text-sm text-white font-medium !leading-4">
                        XYZ Inc
                        <br />
                        <span class="text-xs text-gray-400">
                            Los Angeles, USA (CRM - Salesforce)
                        </span>
                    </h6>

                    <p class="2xl:mt-3 mt-1 text-white text-xs">
                        "We found the ideal Salesforce experts through EASWORKS. The
                        project was a huge success, thanks to their professionalism and
                        expertise."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Second UI End -->

    <!-- Third UI Start -->
    <div class="p-4 z-10 relative hidden">
        <div class="border-b border-slate-500 pb-2">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                Quick Tips
            </h2>

            <div class="flex items-center gap-1 text-white font-bold 5xl:text-xl text-lg my-1">
                <img src="../../../../assets/public/talent-questionaire/ic-msg.svg" alt="Message Icon" />
                Engage Actively:
            </div>

            <p class="text-sm text-slate-400">
                Stay in regular communication with your hired talent to ensure
                alignment and progress.
            </p>
        </div>

        <div>
            <div>
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                    Benefits
                </h2>

                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-applications.svg"
                         alt="Trophy Icon" />
                    Specialized in Enterprise Applications:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Expertise in high-demand enterprise applications like ERP, CRM, PLM,
                    HCM, BI, and more.
                </p>
            </div>

            <div class="3xl:my-10 my-7">
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-scale.svg" alt="Scale Icon" />
                    Scalable Solutions: 
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                     Scale your team up or down based on project demands with ease.
                </p>
            </div>

            <div>
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-boost.svg" alt="Boost Icon" />
                    Efficient Hiring:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Quickly find and hire the right talent, reducing time-to-fill for
                    critical roles.
                </p>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                Industries
            </h2>

            <div
                 class="grid gap-3 8xl:grid-cols-4 6xl:grid-cols-3 5xl:grid-cols-2 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2">
                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/popular.png" alt="Popular Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Popular</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/ecom.svg" alt="Ecom Image" height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">E-commerce</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/healthcare.png" alt="Healthcare Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Healthcare</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/automob.svg" alt="Automobile Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Automobile</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 grid grid-cols-4 items-center gap-3">
                <div class="relative lg:col-span-1 col-span-2">
                    <img src="../../../../assets/public/talent-questionaire/profile-pic3.png" alt="Profile Picture"
                         class="w-full" />

                    <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                         class="absolute bottom-1 left-1" />
                </div>

                <div class="col-span-2">
                    <h5 class="7xl:text-2xl text-xl font-bold text-white">
                        David Miller
                    </h5>
                    <h6 class="text-sm text-white font-medium !leading-4">
                        123 Enterprises
                        <br />
                        <span class="text-xs text-gray-400">
                            Chicago, USA (PLM - Siemens Teamcenter)
                        </span>
                    </h6>

                    <p class="2xl:mt-3 mt-1 text-white text-xs">
                        "EASWORKS helped us find skilled PLM specialists who significantly
                        improved our product lifecycle management processes."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Third UI End -->

    <!-- Fourth UI Start -->
    <div class="p-4 z-10 relative hidden">
        <div class="border-b border-slate-500 pb-2">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500">
                Quick Tips
            </h2>

            <div class="flex items-center gap-0.5 text-white font-bold 5xl:text-xl text-lg my-1">
                <img src="../../../../assets/public/talent-questionaire/ic-msg.svg" alt="Message Icon" />
                 Specify Enterprise App Needs:
            </div>

            <p class="text-sm text-slate-400">
                Clearly mention the specific enterprise application (e.g., SAP,
                Salesforce) and related skills required.
            </p>
        </div>

        <div>
            <div>
                <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                    Benefits
                </h2>

                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-end-management.svg"
                         alt="Project Icon" />
                    End-to-End Project Management:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Benefit from comprehensive project management services, ensuring
                    timely delivery and quality results.
                </p>
            </div>

            <div class="3xl:my-10 my-7">
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-community.svg"
                         alt="Community Icon" />
                     Community Engagement:
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Use the EASWORKS community to post upcoming webinars, new release
                    features, and other updates to engage with a wider audience.
                </p>
            </div>

            <div>
                <div class="flex items-center gap-1.5 text-white font-bold 5xl:text-xl text-lg">
                    <img src="../../../../assets/public/talent-questionaire/ic-trophy.svg" alt="Trophy Icon" />
                    Access to Top Talent: 
                </div>

                <p class="text-sm text-slate-400 mt-1.5 6xl:w-10/12 w-11/12">
                    Connect with highly skilled professionals specializing in enterprise
                    applications across various industries.
                </p>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="5xl:text-3xl text-2xl font-black text-primary-500 mb-4 mt-2">
                Industries
            </h2>

            <div
                 class="grid gap-3 8xl:grid-cols-4 6xl:grid-cols-3 5xl:grid-cols-2 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2">
                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/aerospace.svg" alt="Aerospace Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Aerospace</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="/assets/public/home/cases/banking.svg" alt="Banking Image" height="24px"
                             width="24px" />
                        <p class="text-white text-sm font-semibold">Banking</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="../../../../assets/public/hire-contractors/cases-sec/consulting.svg"
                             alt="Consulting Image" height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">Consulting</p>
                    </div>
                </div>

                <div class="p-3 rounded-xl case-card">
                    <div class="flex items-center gap-1.5">
                        <img src="../../../../assets/public/hire-contractors/cases-sec/retail.svg"
                             alt="Retail Image" height="24px" width="24px" />
                        <p class="text-white text-sm font-semibold">Retail</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 grid grid-cols-4 items-center gap-3">
                <div class="relative lg:col-span-1 col-span-2">
                    <img src="../../../../assets/public/talent-questionaire/profile-pic4.png" alt="Profile Picture"
                         class="w-full" />

                    <img src="../../../../assets/public/talent-questionaire/eastalent-logo-sm.svg" alt="Logo"
                         class="absolute bottom-1 left-1" />
                </div>

                <div class="col-span-2">
                    <h5 class="7xl:text-2xl text-xl font-bold text-white">
                        Sarah Brown
                    </h5>
                    <h6 class="text-sm text-white font-medium !leading-4">
                        DEF Ltd, Houston

                        <br />
                        <span class="text-xs text-gray-400"> USA (HCM - Workday)  </span>
                    </h6>

                    <p class="2xl:mt-3 mt-1 text-white text-xs">
                        "Our Workday integration project was executed flawlessly with the
                        help of EASWORKS. Their talent pool is top-notch."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fourth UI End -->
</section>
<!-- Talent Questionaire Section End -->