<mat-progress-spinner *ngIf="isLoadingProfile$()" diameter="32" mode="indeterminate" class="mx-auto"></mat-progress-spinner>

<ng-container *ngIf="data.profile$() as profile">
  <section class="section">
    <h1 class="font-bold">{{profile.orgName}}</h1>
    <mat-divider></mat-divider>
    <div class="p-4 flex gap-4 flex-col md:flex-row text-sm">
      <div class="flex-none h-32 w-32 rounded bg-divider grid place-content-center
          mx-auto">
        <fa-icon [icon]="icons.faUser" class="text-white text-8xl"></fa-icon>
      </div>
      <div class="flex-grow grid gap-4">
        <div class="grid gap-4"
             style="grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));">

          <div class="form-field mb-0">
            <label>Industry Group</label>
            <input class="field" readonly [value]="profile.industry.group">
          </div>

          <div class="form-field mb-0">
            <label>Industry</label>
            <input class="field" readonly [value]="profile.industry.name">
          </div>

          <div class="form-field mb-0">
            <label>Email</label>
            <input class="field" readonly [value]="profile.contact.email">
          </div>

          <div class="form-field mb-0">
            <label>Phone Number</label>
            <input class="field" readonly [value]="profile.contact.phone">
          </div>

          <div class="form-field mb-0">
            <label>Website URL</label>
            <input class="field" readonly [value]="profile.contact.website">
          </div>
        </div>

        <div class="form-field mb-0">
          <label>About the Organition</label>
          <div class="field">
            <textarea readonly class="resize-none" rows="10" [value]="profile.description"></textarea>
          </div>
        </div>

      </div>
    </div>
  </section>
</ng-container>